$form-lable-color: $header-font-color;
$form-lable-color-focus: $theme-color;
$form-bg-color: rgba($second-border-color, .2);
$form-border-color: $border-color;
$form-border-color-focus: $theme-color;
$form-color: $header-font-color;

.tribe-bar-views-inner {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.tribe-bar-views-list {
  display: none;
}

.tribe-bar-date-filter {
  @include padding-start(0);
}

/*--------------------------------------------------------------
1 - border
--------------------------------------------------------------*/
#tribe-events-content .tribe-events-calendar td,
.tribe-events-grid .tribe-scroller,
.tribe-grid-allday,
.tribe-week-grid-block div,
.tribe-events-grid .tribe-grid-content-wrap .column,
.tribe-events-grid .tribe-grid-content-wrap .column {
  border-color: $border-color;
}

.tribe-week-grid-block div {
  border-bottom-style: dashed;
}

/*--------------------------------------------------------------
2 - Typo
--------------------------------------------------------------*/
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
  font-weight: normal;
  color: $blog-header-color;
  line-height: 30px;
}

.single-tribe_events .tribe-events-single-event-title {
  @extend %h3;
}

.tribe-events-schedule h2 {
  @extend %h5;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
  position: relative;
  font-size: 27px;
  line-height: 27px;
  @include text_align_start();
  left: 0;
  padding: 0;
  top: 0;
  color: $header-font-color;
  margin-top: 10px;
}

#tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
  @extend %h3;
}

#tribe-events .tribe-events-content p,
.tribe-events-after-html p,
.tribe-events-before-html p,
.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
  line-height: px-to-rem($base-line-height);
}

.tribe-events-event-cost span {
  border-color: $header-font-color;
  color: $header-font-color;
}

.tribe-events-list-event-title a {
  color: $header-font-color;
}

/*--------------------------------------------------------------
3 - List
--------------------------------------------------------------*/

#tribe-events-footer {
  margin: 30px 0;
}

.tribe-events-day .tribe-events-day-time-slot h5 {
  background-color: $header-font-color;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: initial;
}

.tribe-updated.published.time-details,
.tribe-event-schedule-details {
  color: $header-font-color;
  font-weight: 400;
}

.tribe-event-schedule-details {
  margin-bottom: 20px;
}

.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap {
  background-color: #ffffff;
  border: 1px solid $border-color;
  transition: all 320ms ease-out;
  &:hover {
    -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .07);
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .07);
  }
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details {
  padding: 20px;
}

.tribe-events-list.tribe-events-photo .tribe-events-loop .tribe-events-event-image {
  margin-bottom: 20px;
  @include margin-end(0);
  width: 100%;
}

.single-tribe_events .tribe-events-event-meta {
  padding: 10px 0;
}

.tribe-events-notices {
  background-color: #e3f2fd;
  color: #2196f3;
  position: relative;
  margin-bottom: px-to-rem(30);
  padding: px-to-rem(25);
  clear: both;
  border: none;
  border-radius: 0;
}

/*--------------------------------------------------------------
4 - form
--------------------------------------------------------------*/
#tribe-bar-form {
  background-color: rgba(255, 255, 255, 0);
}

.tribe-bar-geoloc-filter,
.tribe-events-uses-geolocation .tribe-bar-date-filter,
.tribe-events-uses-geolocation .tribe-bar-search-filter,
.tribe-events-uses-geolocation .tribe-bar-submit {
  padding: 30px;
}

#tribe-events-bar .tribe-bar-date-filter,
#tribe-events-bar .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-search-filter,
#tribe-events-bar .tribe-bar-submit {
  padding-top: 0;
  padding-bottom: 0;
}

#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit,
#tribe-events-bar .tribe-bar-date-filter,
#tribe-events-bar .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-search-filter {
  @include padding-start(0);
}

#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {
  @include float_end();
  padding-top: 30px;
  min-width: 25%;
  width: auto;
}

#tribe-bar-form label,
#tribe-bar-form .tribe-bar-views-inner label {
  margin: 0 0 10px;
  padding: 0;
  display: inline-block;
  color: $header-font-color;
  font-family: $font-family-headings;
  @include font-size(14, 14);
  font-weight: 400;
}

input[name*=tribe-bar-]::-webkit-input-placeholder {
  color: $header-font-color;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

#tribe-bar-form input[type=text] {
  margin: 0;
  padding: px-to-rem(15.5) px-to-rem($sp_conected_elms);
  background-color: $form-bg-color;
  border-width: 0;
  outline: none;
  @include font-size($p, $base-line-height);
  font-weight: 400;
  height: 50px;
  @include transition(all 320ms ease-out);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: $header-link-color;
  @include box-sizing(border-box);
  @include text_align_start();
}

.tribe-events-read-more {
  margin-top: 5px;
  color: #ffffff;
}

.tribe-events-list .type-tribe_events {
  margin-bottom: px-to-rem($sp_small);
}

#tribe-events .tribe-events-button, .tribe-events-button {
  min-width: 110px;
}

.tribe-events-read-more,
#tribe-events .tribe-events-button, .tribe-events-button,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
  position: relative;
  display: inline-block;
  font-family: $font-family-btn;
  outline: none;
  margin: 0;
  min-height: 1em;
  padding: 0 10px;
  background-color: $default-btn-bg-color;
  font-weight: $btn-weight;
  @include btn_size(170, 50);
  font-style: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  letter-spacing: 1.5px;
  border-radius: 0;
  @if $global-direction == "rtl" {
    letter-spacing: 0;
  } @else {
    letter-spacing: 1.5px;
  }
  @include user-select(none);
  @include box-sizing(order-box);
  @include transition(all 320ms ease-out);
  text-transform: uppercase;
  white-space: nowrap;
  &:hover {
    color: $fill-btn-color-hover;
    background-color: lighten($default-btn-bg-color, 8.2%);
  }
}

/*--------------------------------------------------------------
5 - table
--------------------------------------------------------------*/
.tribe-events-calendar thead {
  border-bottom: 0;
  th {
    background-color: $header-font-color;
    border-width: 0;
    font-weight: 400;
    font-size: 16px;
    text-transform: initial;
    &:nth-child(odd) {
      background: darken($header-font-color, 20%);
    }
  }
}

.tribe-events-calendar td div[id*=tribe-events-daynum-] {
  font-weight: 400;
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button, .tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive, .tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background-color: $theme-color;
}

.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
  background-color: #e1e1e1;
  color: $header-font-color;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] > a {
  background-color: #eeeeee;
  color: $header-font-color;
}

#tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-gcal,
.single-tribe_events a.tribe-events-ical {
  color: $header-font-color;
  @extend %h5;
}

#tribe-events {
  .tribe-events-cal-links {
    .tribe-events-button {
      @include margin-end(25px);
    }
  }
}

/*--------------------------------------------------------------
6 - Pro
--------------------------------------------------------------*/
.tribe-grid-header {
  background: darken($header-font-color, 20%);
  font-weight: 400;
  font-size: 16px;
  .tribe-grid-content-wrap {
    > div {
      &:nth-child(odd) {
        background-color: $header-font-color;
      }
    }
  }
}

.tribe-events-grid .tribe-grid-header .tribe-week-today {
  background-color: $theme-color;
}

.tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
  border-width: 0;
  text-transform: initial;
}

.tribe-events-grid .column.first, .tribe-week-grid-hours {
  margin-right: -70px;
  width: 70px;
  text-align: center;
  color: $header-font-color;
}

.tribe-grid-content-wrap {
  padding-left: 70px;
}

.tribe-grid-allday .tribe-events-week-allday-single,
.tribe-grid-body .tribe-events-week-hourly-single {
  background-color: rgba($theme-color, 0.7);
  border-color: $theme-color;
  border-radius: 0;
}

.tribe-grid-allday .tribe-events-week-allday-single:hover,
.tribe-grid-body .type-tribe_events .tribe-events-week-hourly-single:hover {
  background-color: $theme-color;
}

.tribe-grid-header .column a {
  font-weight: 400;
}

.tribe-events-grid .type-tribe_events a {
  color: #ffffff;
}

.tribe-grid-allday {
  background-color: #ffffff;
}