/*---- Widget*/

body {
  .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .duration,
  .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .tribe-venue {
    line-height: 25px;
  }
}

.tribe-this-week-widget-wrapper .tribe-events-page-title,
.tribe-events-meta-group .tribe-events-single-section-title {
  @extend %h5;
}

.tribe-events-adv-list-widget .tribe-events-widget-link a,
.tribe-events-back a,
.tribe-events-list-widget .tribe-events-widget-link a,
ul.tribe-events-sub-nav a {
  font-weight: normal;
}

body {
  .tribe-mini-calendar {
    thead {
      border: none;
    }
    td {
      background-color: #EEEEEE;
    }

    .tribe-mini-calendar-nav {
      td {
        background-color: $header-font-color;
        border-color: $header-font-color;
        padding-top: 15px;
      }
      span {
        font-weight: 400;
        font-size: 18px;
      }
    }

    th {
      background-color: $header-font-color;
      border-color: $header-font-color;
      font-weight: 400;
      font-size: 14px;
      padding: 10px 0;
    }

  }
  .tribe-mini-calendar .tribe-events-past {
    opacity: 0.8;
  }
  .tribe-mini-calendar-no-event {
    font-weight: 400;
    font-size: 14px;
    padding: 8px 0 8px 0;
    color: #c2c2c2;
  }

  .tribe-mini-calendar .tribe-events-present,
  .tribe-mini-calendar .tribe-mini-calendar-today {
    background-color: $theme-color;
    span {
      color: #ffffff;
    }
  }

  .tribe-events-countdown-widget {
    div.tribe-countdown-time,
    div.tribe-countdown-text {
      padding: 15px;
      border: 1px solid $border-color;
    }
    div.tribe-countdown-text {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: none;
    }
    div.tribe-countdown-time {
      border-top: none;
    }
    div.tribe-countdown-number {
      color: $header-font-color;
      font-size: 36px;
      font-family: $font-family-headings;
    }
  }

  .this-week-past .tribe-this-week-widget-header-date {
    background-color: #e1e1e1;
    color: $header-font-color;
    font-weight: normal;
  }

  .tribe-this-week-widget-vertical .tribe-this-week-widget-day {
    color: $header-font-color;
    font-size: 14px;
  }

  .tribe-this-week-widget-header-date,
  .this-week-today .tribe-this-week-widget-header-date {
    background-color: $theme-color;
    font-weight: normal;
  }

  .tribe-this-week-event {
    border-color: $header-font-color;
    line-height: 30px;
  }

  .this-week-today .tribe-this-week-event {
    border-color: $theme-color;
    line-height: 30px;
  }

}

.tribe-events-venue-widget .tribe-event-featured {
  background-color: $theme-color;
}

.tribe-venue-widget-list .type-tribe_events {
  margin-bottom: px-to-rem($sp_elms);
}

.tribe-events-venue-widget .tribe-event-title {
  padding-top: 15px;
  font-size: 18px;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a {
  color: $header-font-color;
  &:hover {
    color: $header-font-color;
  }
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-duration,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-event-meta,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-duration,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-event-meta,
.tribe-events-adv-list-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured a {
  color: $body-text-color;
  &:hover {
    color: $body-link-color;
  }
}

.tribe-events-adv-list-widget .tribe-event-featured .list-info {
  padding: 0;
  line-height: 30px;
}

.tribe-events-adv-list-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured {
  border-color: $border-color;
  border-style: solid;
}

/*---- !Widget*/