/*Border wrapper*/
header {
  position: relative;
}

.dima_space {
  height: px-to-rem($framed_border + $a-height);
  width: 100%;
  display: block;
}

.framed {
  &.dima-transparent-navigation-active {
    .tp-banner-container {
      padding-top: px-to-rem($framed_border);
    }
  }

  .dima-navbar {
    border: px-to-rem($framed_border) solid transparent;
    border-bottom-width: 0;
  }
  .footer-container {
    margin-bottom: px-to-rem($framed_border);
    color: $footer-color;
  }
  .dima-main {
    padding: 0 px-to-rem($framed_border);
  }
  .title_container {
    @include border-start(px-to-rem($framed_border) solid transparent);
    @include border-end(px-to-rem($framed_border) solid transparent);
    .page-section-content {
      box-shadow: inset 0 0 0 1px $border-color;
      border-bottom-width: 0;
      border-top-width: 0;
      margin-top: -1px;
    }
  }

  .dima-framed-line.line-top,
  .dima-framed-line.line-bottom {
    position: fixed;
    left: 0;
    right: 0;
    display: block;
    height: px-to-rem($framed_border - 1);
    background: $framed_border_bg;
    z-index: 1050;
  }

  .dima-framed-line.line-left,
  .dima-framed-line.line-right {
    position: fixed;
    top: 0;
    bottom: 0;
    display: block;
    width: px-to-rem($framed_border);
    background: $framed_border_bg;
    z-index: 1050;
  }
  .dima-framed-line.line-bottom {
    bottom: 0;
  }
  .dima-framed-line.line-right {
    @include end(0)
  }
  &.vertical-menu {
    .title_container {
      border-top: $framed_border+px solid transparent;
    }
  }
  &.x10 {
    .dima-framed-line.line-top, .dima-framed-line.line-bottom {
      height: 10px;
    }
    .dima-framed-line.line-left, .dima-framed-line.line-right {
      width: 10px;
    }
    .logo-bottom,
    .dima-navbar {
      border-width: 10px;
      border-bottom-width: 0;
    }
    .dima-main {
      padding: 0 10px;
    }
    .footer-container {
      margin-bottom: 10px;
    }
    .title_container,
    .vertical-menu .title_container {
      border-top: 10px solid transparent;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
    }
    .loader-animation-container {
      padding: 10px;
    }
    .loader-line-left, .loader-line-right {
      width: 10px;
    }
    .tp-banner-container {
      padding-top: 10px;
    }
  }
}

@include break(xsd-min-sd-max) {
  .framed.x10,
  .framed {
    .dima-navbar {
      border: $framed_border_small+px solid transparent;
      border-bottom-width: 0;
    }
    .dima-framed-line.line-top,
    .dima-framed-line.line-bottom {
      position: fixed;
      left: 0;
      right: 0;
      display: block;
      height: ($framed_border_small)+px;
      background: $framed_border_bg;
      z-index: 1050;
    }

    .dima-framed-line.line-left,
    .dima-framed-line.line-right {
      position: fixed;
      top: 0;
      bottom: 0;
      display: block;
      width: $framed_border_small+px;
      background: $framed_border_bg;
      z-index: 1050;
    }
    .dima-framed-line.line-bottom {
      bottom: 0;
    }
    .dima-framed-line.line-right {
      right: 0;
    }
  }
}

@include break(xsd-min) {
  .framed.x10,
  .framed {

    .dima-navbar {
      border: 0 solid transparent;
    }

    .dima-framed-line.line-top,
    .dima-framed-line.line-bottom {
      height: 0;
    }

    .dima-framed-line.line-left,
    .dima-framed-line.line-right {
      width: 0;
    }

    .title_container {
      border-width: 0;
      .page-section-content {
        border-width: 0;
      }
    }

    &.dima-transparent-navigation-active {
      .tp-banner-container {
        padding-top: 0;
      }
    }

    .tp-banner-container,
    .dima-main {
      padding: 0;
    }
  }
}