/*2) Mobile menu */
.mobile-nav {
  .dima-tag-primary-menu {
    svg {
      margin-top: 0;
    }
  }
  .svg-sub-icon {
    display: none;
  }
  .col-2, .col-3, .col-4, .col-5 {
    > .sub-menu > li {
      width: 100% !important;
    }
  }

  &.dima-navbar-wrap {
    height: auto;
    .mobile-nav-head {
      overflow: hidden;
      background: $nav-bg-color;
      box-shadow: inset 0 0 0 1px $border-color;
    }
    .dima-navbar {
      height: auto;
      background: transparent;
      box-shadow: none;
      .logo {
        @include float_start();
        height: px-to-rem($a-height-tablet);
        .dima-brand {
          display: block;
          height: 100%;
          img {
            position: relative;
            top: 50%;
            display: block;
            width: auto;
            max-height: $a-height-tablet - 10 + px;
            @include transition($nav_translation);
            transform: translateY(-50%);
          }
        }

        p {
          height: $a-height-tablet + px;
          margin: 0;
        }

        img {
          max-width: 110px !important;
        }
      }

      .dima-sub-toggle {
        position: absolute;
        top: 0;
        @include end(0);
        bottom: 0;
        @include text_align_end();
        width: 46px;
        height: 46px;
        cursor: pointer;
        transition: transform 0.3s, -webkit-transform 0.3s;
        svg {
          width: 20px;
          height: 20px;
          margin: 0;
          top: 13px;
          @include end(13px);
        }

        &.dima-active {
          transform: rotate(180deg);
        }

      }

      .dima-nav-tag {
        position: absolute;
        display: none;
        padding: px-to-rem(30) 0;
        background: #ffffff;
        border: 1px solid $border-color;
        width: 95%;
        margin-top: 2px;
        @include start(2.5%);
        overflow: hidden;

        .li-shop-search {
          margin: 0 !important;
        }

        form {
          input[type="text"] {
            padding: px-to-rem(40) px-to-rem(30);
          }
          .search_icon {
            svg {
              position: absolute;
              top: 0;
              @include end(px-to-rem(15));
              width: px-to-rem(25);
              fill: $header-font-color;
              height: px-to-rem(80);
            }
          }
        }

        .shopping-btn {
          .dima-menu-span {
            display: none;
          }
          .shop-icon {
            position: initial;
            width: 100%;
            display: block;
          }

          svg {
            width: px-to-rem(22);
          }

          .shopping-btn {
            width: 100%;
            display: block;
            position: relative;
          }

          .badge-number {
            position: absolute;
            width: 20px;
            height: 20px;
            font-size: 12px;
            line-height: 22px;
            color: #FFF;
            display: block;
            text-align: center;
            background: $theme-color;
            top: 21px;
            @include end(13px);
            @include border-radius(50%);
          }

        }

        .product_list_widget {
          display: none;
        }

        .icon-menu > li > a .dima-menu-span {
          font-size: $base-font-size+px;
          text-indent: initial;
          @include padding-start(25px);
        }
        .icon-menu > li > a .menu_icon_item {
          @include start(30px);
        }

        .icon-menu {
          margin-top: 0;
          > li {
            @include border-start(none);
            width: auto;
          }
        }

        .dima-nav {
          > li {
            position: relative;
            display: block !important;
            margin-bottom: 0 !important;
            margin: 0 px-to-rem(10);
            &.dima-active {
              background: rgba($second-border-color, .2);
            }
            > a {
              position: relative;
              display: block;
              color: $nav-text-color;
              padding: px-to-rem(15) px-to-rem(20);
              @include transition($nav_translation);
              @include text_align_start;
              &:before {
                display: none;
              }
            }
            .line-hr {
              display: none;
            }
          }

          .sub-menu {
            list-style: none;
            li {
              position: relative;
              margin: 0;
              padding: 0;
              width: 100% !important;
              background: rgba($second-border-color, .2);
              a {
                padding: px-to-rem(15) px-to-rem(30);
                font-size: 14px;
                line-height: 14px;
                margin: 0;
                color: $nav-text-color;
              }
            }
          }
        }
      }
    }

    .dima-btn-nav {
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      @include float_end;
      @include border-start(1px solid $border-color);
      height: px-to-rem(80);
      width: px-to-rem(80);
      text-align: center;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        height: 50px;
      }
      svg {
        fill: $header-font-color;
        width: px-to-rem(24);
      }

      .menu_icon_item {
        &.sort_ic {
          svg {
            opacity: 0;
            transition-delay: 0s;
            transform: rotate3d(1, 1, 1, 0deg) scale3d(0, 0, 0);
            pointer-events: none;
            transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s;
            width: 30px;
          }
        }
        svg {
          opacity: 1;
          pointer-events: auto;
          transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s;
        }
      }

      &.btn-active {
        .menu_icon_item {
          &.sort_ic {
            svg {
              opacity: 1 !important;
              transform: rotate3d(1, 1, 1, 0deg) scale3d(1, 1, 1) !important;
              pointer-events: auto !important;
              transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s !important;
            }
          }
        }
        .menu_icon_item:not(.sort_ic) {
          svg {
            transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 0, 0) !important;
            opacity: 0 !important;
            pointer-events: none !important;
            transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s !important;
          }
        }
      }

    }
  }
}

.collapse {
  display: none;

  &.in {
    display: block;
  }
}

.collapsed {
  background-color: #fff;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
}