.dima-navbar-wrap.desk-nav {
  &.dima-navbar-center {
    .dima-navbar {
      nav {
        text-align: center;
      }
      .logo-cenetr {
        .logo {
          padding: 0 25px;
        }
      }
    }
  }
}