@mixin padding-btn($a-height) {
  $top: $a-height / 2 - 20 + px;

  @if $global-direction == "ltr" {
    padding: $top 0 0 ($menu-itms-gutter * 2);
  } @else {
    padding: $top ($menu-itms-gutter * 2) 0 0;
  }
}

$nav_translation: all 0.3s ease-in;
$nav_translation-out: all 0.3s ease-out;

/* 0) Mobile & Desktop Menu*/

.dima-navbar-wrap {
  &.mobile-nav {
    .dima-navbar {
      .logo {
        .dima-brand {
          img {
            &.dima-logo-2x {
              display: none;
            }
          }
        }
      }
    }
  }

  &.desk-nav {
    .dima-navbar {
      &:not(.dima-navbar-vertical) {
        width: 100%;
      }
      &.fix_nav {
        .no-fixed-logo {
          display: none;
        }
        .fixed-logo {
          display: block;
        }
      }
      .dima-brand {
        .no-sticky-logo,
        .no-fixed-logo,
        .fixed-logo {
          .dima-logo-2x {
            display: none;
          }
        }
      }
      .fixed-logo {
        display: none;
      }
    }
  }
}

.dima-tag-primary-menu {
  svg {
    position: relative;
    top: 5px;
    width: 1.7rem;
    height: 100%;
    margin-top: -4px;
    @include margin-end(5px);
    fill: currentColor;
    &.svg-inline--fa {
      top: 0;
    }
  }
}

.dima-navbar {
  position: relative;
  overflow: visible;
  background-color: $nav-bg-color;
  transform: translate3d(0, 0, 0);
  height: inherit;
  @include box-shadow(inset 0 0 0 1px $border-color);
  z-index: 1030;
  &.fix_nav {
    @include transition($nav_translation);
  }

  .full-wrapper {
    padding: 0;
    .logo {
      @include padding-start(30px);
    }
  }
}

.dima-nav {
  a {
    font-weight: $nav-weight;
    letter-spacing: px-to-em(0.25);
  }
  > li {
    position: relative;
    @include transition($nav_translation);

    display: inline-block;
    vertical-align: middle;

    > a {
      color: $nav-text-color;
      font-style: normal;
      @include font-size($font-size, $font-size + 2);
      padding: 0 $menu-itms-gutter 0 $menu-itms-gutter;
      vertical-align: middle;
      i {
        @include padding-end(10px);
      }
      svg {
        fill: currentcolor;
      }
    }
  }

  .sub-menu {
    .dima-megamenu-item {
      &:hover {
        a {
          &.dima-menu-title {
            .line-hr {
              &:before {
                width: 100%;
              }
            }
          }
        }
      }
    }

    a {
      position: relative;
      display: block;
      clear: both;
      padding: 11px 20px;
      line-height: 1.7;
      font-size: 14px;
      white-space: nowrap;
      color: rgba($nav-text-color, .5);
      -webkit-transition: none;
      transition: none;
      margin: 0 10px;

      &.dima-menu-title {
        @include font-size(18, 18);
        color: $header-font-color;
        .line-hr {
          margin: 15px 0 0 0;
          &:before {
            @include transition(width, 0.3s);
            position: absolute;
            top: 0;
            left: 0;
            height: 2px;
            width: 0;
            display: block;
            content: '';
            background: $header-font-color;
          }
        }
        &:before {
          content: none;
        }
        &:hover {
          background: none;
        }
      }

      &:hover {
        text-decoration: none;
        color: $nav-text-hover-color;
      }

      i {
        @include padding-end(10px);
        width: 20px;
      }
    }
  }

  &.icon-menu {

    > li {
      @include border-start(1px solid $border-color);
      width: 80px;
      > a {
        padding: 0;

        .dima-menu-span {
          font-size: 0;
          text-indent: -9999px;
          white-space: nowrap;
        }
        i {
          position: relative;
          font-size: px-to-em(21);
          top: 2px;
          @include padding-end(0);
        }
        svg {
          position: relative;
          top: 5px;
          width: px-to-rem(23.8);
          height: 100%;
          margin-top: -4px;
          &.svg-inline--fa {
            width: px-to-rem(12) !important;
          }
        }

        .menu_icon_item {
          position: absolute;
          @include start(50%);
          top: 50%;
          @if ($global-direction == "rtl") {
            transform: translate(50%, -50%);
          } @else {
            transform: translate(-50%, -50%);
          }
        }
      }
    }

    .badge-number {
      position: absolute;
      width: 20px;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      color: $nav-text-color;
      display: block;
      text-align: center;
      background: $border-color;
      top: -15px;
      @include start(px-to-rem(20));
      @include border-radius(50%);
    }

  }
}

.admin-bar {
  .dima-navbar-wrap.desk-nav.fixed .fix_nav {
    top: 31px !important;
  }
}

.mobile-nav {
  display: none;
}

.dima-custom-item-image {
  display: none;
}

/* 0!) Mobile & Desktop Menu*/

/*1) desktop menu */
.dima-navbar-wrap.desk-nav {
  position: relative;
  .dima-navbar-global {
    display: table;
  }

  .menu-social-media {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    @include padding-start(30px);
    ul {
      height: px-to-rem(40);
    }
    .inline > li {
      margin-bottom: 0;
    }
  }

  .start-burger-menu {
    display: table-cell;
    vertical-align: middle;
    white-space: nowrap;
    text-align: center;
    @include border-end(1px solid $border-color);
    a {
      width: $a_height+px;
      @include float_end();
      line-height: 0;
      svg {
        top: 0;
      }
    }
  }

  .dima-navbar-transparent {
    &.dima-navbar {
      background-color: rgba($nav_bg-color, 0);
    }

    &.fix_nav {
      background: $nav_bg-color;
    }
  }

  .dima-navbar {

    .logo {
      display: table-cell;
      vertical-align: middle;
      position: relative;
      @include start(0);
      z-index: 1;
      @include transition($nav_translation);

      p {
        margin-bottom: 0;
        height: 100%;

        @include font-size(0, 0);

        img {
          display: inline-block;
          vertical-align: middle;
          max-width: 225px;
          width: auto;
          max-height: 150px;
          height: auto \9
        ;
        }
      }
    }

    .dima-nav-tag {
      display: table-cell;
      vertical-align: middle;
      white-space: nowrap;
      width: 100%;
      ul {
        list-style: none;
        &.sub-menu {
          a {
            font-weight: $font-weight-regular;
          }
        }
      }

      &.dima-tag-btn-menu {
        height: px-to-rem($a-height);
        .dima-button {
          height: $a-height +px;
          line-height: $a-height +px;;
          width: px-to-rem(160);
          min-width: px-to-rem(160);
        }
      }

      .dima-nav {
        position: static;
        margin: 0;
        z-index: 1030;
        line-height: 0;
        display: inline;
        font-size: 0;
        letter-spacing: 0;
        word-spacing: 0;
        &.nav-primary {
          @include padding-end(25px);
          @include padding-start(5px);
        }

        .sub-menu {
          position: absolute;
          visibility: hidden;
          opacity: 0;
          @include end(0);

          @include float_start;

          min-width: $sub-menu;
          padding: 25px 0;
          margin: 0;
          background-color: #ffffff;
          -webkit-background-clip: padding-box;
          background-clip: padding-box;

          @include box-shadow(inset 0 0 0 1px $sub-border-color);

          z-index: 99999;

          li {
            position: relative;
          }
          &.product_list_widget {
            min-width: px-to-rem(400);
            padding: 0;
            padding-bottom: 10px;
            @include end(-2px);
            @include start(auto);
            a {
              padding: 0 px-to-rem(25);
              margin: 0;
            }
          }
        }

        .dima-mega-menu {
          &.dima-megamenu-masonry {
            .dima-megamenu-masonry-inited {
              position: absolute !important;
              .dima-megamenu-item {
                margin-bottom: px-to-rem(15);
              }
            }
          }

          .dima-menu-title {
            @extend %h6;
            font-size: 16px;
            margin-bottom: 5px;
            i {
              @include padding-end(10px);
              width: 20px;
            }
          }
          > .sub-menu {
            &.is_open {
              .sub-menu {
                opacity: 1;
                visibility: visible;
                background: transparent;
              }
            }
            > li {
              &.dima-megamenu-new-row {
                display: block;
                font-size: 0;
                line-height: 1;
                height: 0;
                margin: 0 0 25px 0;
              }
              > a {
                &:after {
                  display: none;
                }
              }
            }

            > li {
              display: inline-block;
              vertical-align: top;
              border: 0;
              .line-hr {
                background: $border-color;
              }
              & > .sub-menu, & > ul {
                position: static;
                width: 100%;
                min-width: 0;
                padding: 0;
                box-shadow: none;
              }
            }
          }
        }

        > li {
          position: relative;
          line-height: $a-height + px;;
          @include transition($nav_translation);
          &.sfHover, &.current {
            > a {
              color: $theme-color;
            }
          }

          > .sub-menu {
            @include start(-(30 - $menu-itms-gutter) + 3);
            @include end(auto);
            top: $a-height - $sup-menu-top + 2 + px;
            a, li {
              @include text_align_start;
            }

            .sub-menu {
              @include start(auto);
              @include end(100%);
              @include margin-end(2px);
              top: -25px;
            }
          }
          .svg-sub-icon {
            position: absolute;
            @include end(10px);
            @include margin-start(0.35em);
            top: 9px;
            svg {
              height: px-to-rem(25);
              width: px-to-rem(20);
            }
          }
        }
      }
    }
  }
}

/*1!) desktop menu */

a {
  .link-backdrop {
    background: #eeeeee;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    @include start(0);
    transition: all 320ms ease-out;
    opacity: 0;
    transform: scale(1.06);
    z-index: -1;
  }
  &:hover {
    .link-backdrop {
      opacity: 1;
      transform: none;
    }
  }
}

/*2!) Mobile menu */

/* 3!) One Pqge */

/*!!!!!!!!!!!!!!!!!!!!!*/
//Top Menu & footer menu
.dima-menu {
  @include text_align_end;

  li {
    display: inline-block;
    padding: 0 15px;
    &:last-child {
      @include border-end(none);
      @include padding-end(0);
    }

    a {
      padding: 0;
    }

    &:first-child {
      @include padding-start(0);
    }

    &:last-child {
      @include padding-end(0);
    }
  }
}

.dima-navbar {

  &.dima-navbar-line {
    .dima-nav.nav-primary {
      > li {
        > a {
          &:before {
            content: '';
            position: absolute;
            display: block;
            top: 50%;
            @include start(px-to-rem(25));
            margin-top: 15px;
            width: px-to-rem(20);
            height: 2px;
            background: $theme-color;
            transform: scale3d(0, 1, 1);
            transform-origin: 0 50%;
            transition: all 320ms ease;
          }
        }

        &:hover {
          > a {
            &:before {
              transform: scale3d(1, 1, 1);
              transform-origin: 0 50%;
              transition-timing-function: ease;
            }
          }
        }
      }
    }
  }

  &.dima-navbar-vertical {
    &.dima-navbar-line {
      .dima-nav.nav-primary {
        > li {
          > a {
            &:before {
              content: '';
              @include start(px-to-rem(50));
            }
          }
        }
      }
      .dima-nav-tag.text-end {
        .dima-nav.nav-primary {
          > li {
            > a {
              &:before {
                content: '';
                @include end(px-to-rem(50));
                @include start(auto);
              }
            }
          }
        }
      }
      .dima-nav-tag.text-center {
        .dima-nav.nav-primary {
          > li {
            > a {
              &:before {
                content: '';
                @include start(50%);
                @include margin-start(px-to-rem(-10))
              }
            }
          }
        }
      }

    }
  }
}

.dima-topbar {
  position: relative;
  @include float_end();
  height: px-to-rem($a-height);
  .icon_text {
    position: relative;
    display: table;
    line-height: px-to-rem($a-height);
    @include text_align_start();
    @include float_start();
    @if $global-direction == "rtl" {
      padding: 0 0 0 px-to-rem(50);
    } @else {
      padding: 0 px-to-rem(50) 0 0;
    }

    .dima-topbar-icon {
      display: inline-block;
      text-align: center;
      background-color: $border-color;
      box-shadow: none;
      width: px-to-rem(40);
      height: px-to-rem(40);
      position: relative;
      border-radius: 99rem;
      top: 20px;
      @include float_start();
      @include margin-end(px-to-rem(10));
      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        fill: $header-font-color;
        width: px-to-rem(25);
        @if $global-direction == "ltr" {
          transform: translateX(-50%) translateY(-50%);
        } @else {
          transform: translateX(50%) translateY(-50%);
        }
      }
    }
    .dima-topbar-txt {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      color: $header-link-color;
    }
  }
}

.dima-lan {
  &:hover {
    & > ul {
      visibility: visible;
      opacity: 1;
      -webkit-transform: translate(0, 25px) scale(1);
      transform: translate(0, 25px) scale(1);
      pointer-events: auto;
    }
  }
  & > ul {
    &::after, &::before {
      content: " ";
      display: table;
    }
    &::after {
      position: absolute;
      top: -20px;
      @include start(50%);
      @include margin-start(-10px);
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 10px;
      border-bottom-color: #EEEEEE;
      content: '';
      pointer-events: none;
    }
    background: #eeeeee;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 45px;
    @include start(-10px);
    width: 125px;
    line-height: 1.46667;
    transform: translate(0, 0) scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
    z-index: 100;
    padding: 10px 0;

    > li {
      float: none;
      a {
        display: block;
        position: relative;
        font-size: 14px;
        letter-spacing: 1px;
        cursor: pointer;
        text-decoration: none;
        outline: none;
        padding: 10px 20px;
        color: rgba($nav-text-color, .5);
        &:hover {
          text-decoration: none;
          color: $nav-text-hover-color;
        }
      }
    }
  }

  & a {
    .flag {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      background-size: initial;
      background-position: center center;
      background-repeat: no-repeat;
      @include float_start();
    }
  }
  & > a {
    .flag {
      top: 30px;
    }
  }
}

.menu-absolute {
  left: 0;
  right: 0;
  z-index: 1000;
  position: absolute;
}

/*!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: $screen-sd-max + 1) {
  .dima-navbar-wrap.desk-nav {
    .dima-btn-nav {
      display: none;
    }
    // AFTER FIX NAVBAR
    &.fixed {
      max-height: $a-height-small + px;

      .fix_nav {
        position: fixed;
        @include start(0);
        @include end(0);
        margin: 0 auto;
      }

      .dima-nav-tag {
        .dima-nav {
          > li {
            > .sub-menu.nav-menu {
              padding: 20px 0;

              li {
                a {
                  padding: 8px 30px;
                }
              }

              .sub-menu {
                top: -20px;
              }
            }

          }
        }
      }
    }
    .fixed-not-top {
      transform: translateY(-100%);
      will-change: transform;
      transition: transform 320ms linear;
    }

    .fixed-headroom {
      position: fixed;
      will-change: transform;
      transition: transform 320ms linear;
    }
    .fixed-pinned {
      &.fixed-not-top {
        position: fixed;
      }
      transform: translateY(0%);
    }
    .fixed-unpinned {
      transform: translateY(-100%);
    }
  }
}

@include break(sd-max) {
  body:not(.dima-transparent-navigation-active) {
    .menu-absolute {
      position: relative;
    }
  }

  .dima-btn-nav {
    display: block !important;
  }
  .desk-nav {
    display: none;
  }
  .mobile-nav {
    display: block;
  }
  #menu-fixer {
    display: none;
  }
  .vertical-menu {
    &.framed .dima-framed-line.line-left,
    &.framed .dima-framed-line.line-right,
    .all_content, .fixed-footer-container {
      @include margin-start(0px !important);
      @include margin-end(0px !important);
    }
    &.framed {
      #header {
        z-index: 1040 !important;
      }
    }
  }
}

//retina display
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .dima-navbar-wrap {
    &.mobile-nav {
      .dima-navbar {
        .logo {
          .dima-brand {
            img {
              &.dima-logo-2x {
                display: inline-block;
              }
            }
            img {
              &.dima-logo-1x {
                display: none;
              }
            }
          }
        }
      }
    }

    &.desk-nav {
      .dima-navbar {

        &.fix_nav {
          .no-fixed-logo {
            display: none;
          }
          .fixed-logo {
            display: block;
          }
        }
        .dima-brand {
          .no-sticky-logo,
          .no-fixed-logo,
          .fixed-logo {
            .dima-logo-1x {
              display: none;
            }
            .dima-logo-2x {
              display: inline-block;
            }
          }
        }

        .fixed-logo {
          display: none;
        }

      }
    }
  }
}