/**
* 1 - framed
* 2 - vertical-menu
**/

/* 1 - framed*/
.framed {

  &.vertical-menu {
    #header {
      z-index: 1060;
    }
  }
  &.vertical-menu-start {
    .title_container .page-section-content {
      @include border-start-width(0);
    }
  }

  &.vertical-menu-end {
    .dima-main {
      @include padding-end(px-to-rem($framed_border));
    }
    .title_container .page-section-content {
      @include border-end-width(0);
    }
  }

  .dima-navbar-wrap.desk-nav {
    .dima-navbar-vertical {
      &.dima-navbar {
        border: 0;
      }
    }
  }
}
/* !1 - framed*/

/*2 - vertical-menu*/
.vertical-menu {
  .dima-navbar-wrap.desk-nav .dima-navbar.dima-navbar-vertical .dima-copyright,
  .dima-navbar-wrap.desk-nav .dima-navbar.dima-navbar-vertical .logo {
    background: $navbar-vertical-bg;
  }

  .dima-navbar-wrap.desk-nav {
    .dima-navbar {
      &.dima-navbar-vertical {
        position: fixed;
        @include start(0);
        @include end(0);
        height: 100%;
        overflow: visible !important;
        background: $navbar-vertical-bg;

        .dima-nav-tag {
          display: inline-block;
          //white-space: normal;
          margin-bottom: px-to-rem(25);
          &.dima-tag-icon-menu {
            > ul:first-child {
              > li:last-child {
                border-bottom: 1px solid $border-color;
              }
            }
            > ul:nth-child(2) {
              > li:first-child {
                border-top-width: 0;
              }
              > li:last-child {
                border-bottom: 1px solid $border-color;
              }
            }
          }
          .dima-nav {
            display: block;
            &.nav-primary {
              padding: 0;
            }

            &.icon-menu {
              > li {
                height: $a-height+px;
                display: table;
                width: 100%;
                > a {
                  vertical-align: middle;
                  white-space: nowrap;
                  display: table-cell;
                  font-size: 16px;
                }
              }
            }

            > li {
              display: block;
              line-height: normal;
              > a {
                display: block;
                padding: 15px 50px;
              }
            }
          }
          &.text-end {
            .icon-menu > li > a .menu_icon_item {
              @include start(auto);
              @include end(px-to-rem(50));
            }
          }
          &.text-start {
            .icon-menu > li > a .menu_icon_item {
              @include end(auto);
              @include start(px-to-rem(55));
            }

          }
        }

        .logo {
          position: relative;
          display: block;
          margin: 0 auto;
          height: auto;
          z-index: 1;
          border-bottom: 1px solid $navbar-vertical-bordre-color;
          padding: px-to-rem(80) px-to-rem(50);
          margin-bottom: px-to-rem(25);
          img {
            padding: 0;
          }
        }

        .dima-nav-tag {
          .dima-nav {
            &.icon-menu > li {
              border-top: 1px solid $border-color;
              @include border-end-width(0);
              @include border-start-width(0);
              > .sub-menu {
                top: 0;
              }
            }
            .sub-menu {
              @include start(100%);
              @include end(auto);
              @include margin-start(2px);
              top: px-to-rem(-25);
              .sub-menu {
                @include start(100%);
                @include end(auto);
              }
            }
            .dima-mega-menu {
              position: relative;
              .sub-menu {
                @include start(100%);
                top: -20px;
              }
            }
          }
        }
        .header-vertical {
          position: relative;
          > ul {
            li, a {
              color: $nav-text-color;
              i {
                color: $header-font-color;
                @include font-size(18, 18);
                @include margin-end(10px);
              }
            }
          }
          .social-media {
            border-top: 1px solid $navbar-vertical-bordre-color;
            padding-top: 20px;
            margin-top: 20px;
          }
        }

        .product_list_widget {
          display: none;
        }
        .dima-copyright {
          position: absolute;
          width: 100%;
          bottom: px-to-rem(30);
          .menu-social-media {
            display: table;
            padding: px-to-rem(25) px-to-rem(50) px-to-rem(7) px-to-rem(50);
            white-space: normal;
            width: 100%;
            .inline {
              display: table-cell;
              > li {
                margin-bottom: 8px;
              }
            }
          }
          .copyright {
            padding: px-to-rem(25) px-to-rem(50);
            border-top: 1px solid $border-color;
          }
        }
        &.left-small, &.right-small {

          .dima-copyright {
            width: 80px;
            .menu-social-media {
              padding: 0;
              .inline {
                display: inline-block;
                > li {
                  display: block;
                  @include margin-end(0);
                }
              }
            }
            .copyright {
              display: none;
            }
          }
        }
      }
    }
  }

  .dima-navbar-wrap.desk-nav {
    height: auto;
  }
  /**/
  &.vertical-menu-end {
    .dima-framed-line.line-right,
    .fixed-footer-container,
    .all_content {
      @include margin-end($navbar-vertical-w + px);
      @include margin-start(0);
    }
    .dima-navbar-vertical {
      @include start(auto !important);
    }
    .scroll-to-top {
      @include start(20px !important);
    }
    .dima-navbar-wrap.desk-nav {
      .dima-navbar.dima-navbar-vertical {
        .dima-nav {

          > li {
            .svg-sub-icon {
              @include start(10px);
              @include end(auto);
            }
          }

          .sub-menu {
            @include end(100%);
            @include start(auto);
            @include margin-end(2px);
            a {
              @include text_align_end;
              i {
                position: relative;
                @include padding-end(0px);
                @include float-end;
              }
            }
            .sub-menu {
              @include end(100%);
              @include start(auto);
            }
          }
          .dima-mega-menu {
            .sub-menu {
              .sub-menu {
                @include box-shadow(none);
              }
            }
            .menu-section {
              @include float-end;
            }
          }
        }
        .product_list_widget {
          display: none;
        }
      }
    }

    .dima-nav .sub-menu a.dima-menu-title .line-hr {
      @include margin-end(0);
      @include margin-start(auto);
    }
    &.small-menu {
      .dima-framed-line.line-right,
      .fixed-footer-container,
      .all_content {
        @include margin-end(80px);
        @include margin-start(0);
      }
    }
  }
  ul.with-border li {
    border-color: $navbar-vertical-bordre-color;
  }

  &.vertical-menu-start {
    .dima-framed-line.line-left,
    .fixed-footer-container,
    .all_content {
      @include margin-start($navbar-vertical-w + px);
      @include margin-end(0);
    }
    &.small-menu {
      .dima-framed-line.line-left,
      .fixed-footer-container,
      .all_content {
        @include margin-end(0);
        @include margin-start(80px);
      }
    }
  }

  &.vertical-menu-start, &.vertical-menu-end {

    .dima-navbar-wrap.desk-nav {
      .dima-navbar {
        &.dima-navbar-vertical {
          width: $navbar-vertical-w + px;
        }
      }
    }

    &.small-menu {
      .dima-navbar-wrap.desk-nav {
        .dima-navbar {
          &.dima-navbar-vertical {
            width: 80px;

            .dima-tag-primary-menu {
              display: none;
            }

            .logo {
              padding: 35px 0;
              border-bottom-width: 0;
            }

            &.left-small, &.right-small {
              .dima-nav-tag .dima-nav > li > a {
                padding: 0 5px;
              }
            }
          }
        }
      }
    }
  }

  .shop-icon {
    position: relative;
  }
  .full-screen-menu {
    z-index: 999999;
  }
}

.nav-holder {
  position: absolute;
  width: 100%;
  height: 50%;
  overflow: visible !important;
}