/**
This CSS contains the style for the menu dark ( mobile and desktop ).
 */
$dark-bg: #333333;
$dark-border: rgba(#fff, .1);
$dark-bg-hover: #292929;

.navbar_is_dark {

  /*border color*/

  .dima-navbar-wrap.desk-nav .start-burger-menu,
  &.desk-nav .dima-navbar.dima-navbar-vertical .dima-nav-tag.dima-tag-icon-menu > ul:nth-child(2) > li:last-child,
  .dima-navbar.dima-navbar-vertical .dima-nav-tag .dima-nav.icon-menu > li,
  .dima-navbar.dima-navbar-vertical .dima-copyright .copyright,
  .dima-navbar.dima-navbar-vertical .dima-nav-tag.dima-tag-icon-menu > ul:first-child > li:last-child,
  .dima-navbar.dima-navbar-vertical .logo,
  .dima-nav.icon-menu > li {
    border-color: $dark-border;
  }

  /* > vertical menu */
  &.vertical-menu {

    .dima-navbar-wrap.desk-nav {
      .dima-navbar.dima-navbar-vertical .dima-copyright .copyright,
      .dima-navbar.dima-navbar-vertical .logo,
      .dima-navbar.dima-navbar-vertical .dima-nav-tag.dima-tag-icon-menu > ul:first-child > li:last-child,
      .dima-navbar.dima-navbar-vertical .dima-nav-tag.dima-tag-icon-menu > ul:nth-child(2) > li:last-child,
      .dima-navbar.dima-navbar-vertical .dima-nav-tag .dima-nav.icon-menu > li {
        border-color: $dark-border;
      }
    }
    &.vertical-menu .dima-navbar-wrap.desk-nav .dima-navbar.dima-navbar-vertical .dima-copyright,
    &.vertical-menu .dima-navbar-wrap.desk-nav .dima-navbar.dima-navbar-vertical .logo,
    .dima-navbar-wrap.desk-nav .dima-navbar.dima-navbar-vertical {
      background-color: $dark-bg;
    }
    .copyright {
      a {
        color: #ffffff;
        @include transition(all 320ms ease-out);
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
  /* ! vertical menu */

  .dima-navbar-wrap {
    /*Desktop Only*/
    &.desk-nav {
      .dima-navbar {
        background-color: $dark-bg;
        box-shadow: inset 0 0 0 1px $dark-border;
      }
    }

    .big_nav {
      box-shadow: inset 0 0 0 1px $dark-border;
    }

    .dima-nav > li > a {
      color: #ffffff;
    }
    .dima-nav.nav-primary > li > a {
      color: #ffffff;
      @include transition(all 320ms ease-out);
    }

    /* Mobile Only*/
    &.mobile-nav.dima-navbar-wrap .dima-navbar.dima-navbar-transparent .mobile-nav-head {
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $dark-border;
    }

    &.mobile-nav.dima-navbar-wrap .dima-navbar:not(.dima-navbar-transparent) .mobile-nav-head {
      background-color: $dark-bg;
      box-shadow: inset 0 0 0 1px $dark-border;
    }

    &.mobile-nav.dima-navbar-wrap .dima-btn-nav {
      border-color: $dark-border;
    }

    &.mobile-nav.dima-navbar-wrap .dima-btn-nav svg {
      fill: #FFFFFF;
    }

  }
  .dima-nav.icon-menu .badge-number {
    background-color: rgba(#FFF, .5);
    color: $second-theme-color;
  }

  .dima-navbar.dima-navbar-line .dima-nav.nav-primary > li > a:before {
    background: #FFFFFF;
  }

  .dima-navbar-wrap.desk-nav {
    .dima-navbar-transparent {
      &.dima-navbar {
        background-color: rgba(247, 247, 247, 0);
      }
      @include transition(320ms ease-out);
      &.fixed-pinned.fixed-not-top,
      &.fix_nav {
        background-color: $dark-bg;
      }
    }
  }

  /*TopBar*/
  .dima-topbar .icon_text .dima-topbar-txt {
    color: #ffffff;
  }

  .dima-topbar .icon_text .dima-topbar-icon {
    background-color: rgba($border-color, 0.2);
  }

  .dima-topbar .icon_text .dima-topbar-icon svg {
    fill: #FFFFFF;
  }

  .dima-lan > ul {
    background-color: darken($dark-bg, 5%);
  }
  .dima-lan > ul > li a {
    color: rgba(#fff, 0.7);
    &:hover {
      color: #ffffff;
    }
  }
  .dima-lan > ul::after {
    border-bottom-color: darken($dark-bg, 5%);
  }
}

//Page Title
.bre_is_dark {

  .title_container {
    background-color: $dark-bg;
    hr {
      border-color: rgba(255, 255, 255, .1);
    }
    .header-title {
      color: #ffffff;
      a {
        color: rgba(255, 255, 255, 0.5);
        @include transition(all 320ms ease-out);
        &:hover {
          color: #FFFFFF;
        }
      }
    }
  }

  &.framed .title_container .page-section-content {
    box-shadow: inset 0 0 0 1px $dark-border;
  }

  .title_container.start-style .dima-breadcrumbs,
  .title_container.center-style .dima-breadcrumbs {
    color: #ffffff;
    a {
      color: rgba(255, 255, 255, 0.5);
      @include transition(all 320ms ease-out);
      &:hover {
        color: #FFFFFF;
      }
    }
  }

  .dima-subtitle {
    color: #FFFFFF;
  }
  .sep {
    svg {
      fill: rgba(#fff, .5);
    }
  }
}

//Sub Menu
.sub_menu_is_dark {

  .dima-navbar-wrap {

    &.mobile-nav .dima-navbar .dima-nav-tag .shopping-btn .badge-number {
      background-color: rgba(#FFF, .5);
      color: $second-theme-color;
    }

    &.desk-nav .dima-navbar .dima-nav-tag .dima-nav .sub-menu {
      background-color: $dark-bg;
      box-shadow: inset 0 0 0 1px $dark-border;
    }

    .product_list_widget li a .title,
    .product_list_widget li,
    .dima-nav .sub-menu a.dima-menu-title {
      color: #FFFFFF;
    }

    .product_list_widget li {
      border-color: $dark-border;
    }

    .dima-nav .sub-menu a {
      color: rgba(255, 255, 255, 0.5);
      &:before {
        background: $dark-bg;
      }
      &:hover {
        color: #ffffff;
      }
    }

    a {
      .link-backdrop {
        background: rgba(0, 0, 0, 0.25);
      }
    }

    .line-hr {
      background: rgba(#fff, .2);
    }

    .dima-nav .sub-menu a.dima-menu-title .line-hr:before {
      background: #ffffff;
    }

    .product_list_widget li.sub-subtotal p {
      color: #FFF;
      background: $dark-bg-hover;
      margin-bottom: px-to-rem(10);
    }

    .sub-menu {
      .dima-button {
        background-color: #ffffff;
        color: $header-font-color !important;
      }
    }

    // Mobile
    &.mobile-nav .dima-navbar .dima-nav-tag .dima-nav .sub-menu li a,
    &.mobile-nav .dima-navbar .dima-nav-tag .dima-nav > li > a {
      color: rgba(#ffffff, 1);
      &:hover {
        color: #ffffff;
      }
    }

    &.mobile-nav .dima-navbar .dima-nav-tag {
      background: $dark-bg;
      border-color: $dark-border;
    }

    &.mobile-nav .dima-navbar .dima-nav-tag .dima-nav .sub-menu li,
    &.mobile-nav .dima-navbar .dima-nav-tag .dima-nav > li.dima-active {
      background: rgba($dark-bg-hover, .5);
    }

    &.mobile-nav.dima-navbar-wrap .dima-navbar .dima-sub-toggle svg,
    &.mobile-nav .dima-navbar .dima-nav-tag form .search_icon svg {
      fill: #ffffff;
    }

    &.mobile-nav .dima-navbar {
      background-color: transparent !important;
      box-shadow: inset 0 0 0 0 #222222 !important;
    }

    ::-webkit-input-placeholder {
      color: #ffffff;
    }
    ::-moz-placeholder {
      color: #ffffff;
    }
    :-ms-input-placeholder {
      color: #ffffff;
    }
    :-moz-placeholder {
      color: #ffffff;
    }
    input[type="text"] {
      background: $dark-bg-hover;
      color: #fff;
    }
    input[type="text"]:focus {
      background: $dark-bg-hover;
    }

  }

}