.logo-bottom {
  display: table;
  width: 100%;
  text-align: center;
  @include border-start(px-to-rem($framed_border) solid transparent);
  @include border-end(px-to-rem($framed_border) solid transparent);

  .logo {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    @include start(0);
    z-index: 1;
    @include transition($nav_translation);
    padding: px-to-rem(100) 0;
    background-color: #ffffff;
    P {
      margin-bottom: 0;
      height: 100%;
      img {
        display: inline-block;
        vertical-align: middle;
        max-width: 500px;
        max-height: 500px;
        width: auto;
        height: auto \9
      ;
      }
    }
  }
}