.admin-bar {
  .full-screen-menu, .burger-menu-side {
    margin-top: 30px;
  }
}

.full-screen-menu {
  &.dark-bg {
    color: $footer-bottom-color;
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333333;
  z-index: 1040;
  background-clip: padding-box;
  transform: translateY(-100%);
  display: none;
  cursor: svg-uri('<svg fill="#FFFFFF" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>'), default;
  a {
    color: #ffffff;
  }
  .container,
  .dima-menu,
  .social-copyright {
    cursor: default;

  }
  /*Search*/
  .form-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 100%;
    .container {
      opacity: 0;
    }
    input[type="text"] {
      border: 0 solid #eeeeee;
      color: #ffffff;
      font-size: px-to-em(27);
      height: 100px;
      padding: px-to-rem(10) px-to-rem(40);
      font-weight: 300;
      &:focus + .placeholder {
        color: rgba(#fff, 0.7);
        font-size: 12px;
        top: 20px;
        span {
          display: none;
        }
      }
      &:focus {
        background-color: rgba($second-border-color, .2);
      }
    }

    .search-svg-icon svg,
    .placeholder {
      position: absolute;
      top: 50%;
      @include start(px-to-rem(40));
      color: #ffffff;
      font-size: px-to-em(27);
      transform: translate3d(0, -50%, 0);
      transition: all 320ms ease-out;
      font-weight: $font-weight-light;
      span {
        animation: blink .7s infinite;
      }
    }
    .search-svg-icon {
      svg {
        @include end(px-to-rem(40));
        @include start(auto);
        fill: #FFFFFF;
      }
    }
  }
  /*! Search*/

  /*burger full*/
  .burger-full {
    position: absolute;
    bottom: 50%;
    width: 100%;
    .dima-menu {
      text-align: center;
      > li {
        opacity: 0;
        > a {
          font-size: px-to-em(33);
          font-weight: 300;
          color: rgba(#ffffff, 0.5);
          transition: all 320ms ease-out;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .sub-menu {
      display: none;
    }
  }

  .social-copyright {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    .social-media {
      margin-bottom: px-to-rem(25);
    }
    > div {
      opacity: 0;
    }
  }

  /*burger full*/

  &.info-box {
    .social-copyright {
      position: absolute;
      top: 50%;
      bottom: auto;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
}

#sly-frame-menu {
  height: 100%;
  width: 100%;
}

.framed {
  .burger-menu-side {

    &.burger-side-pos-start {
      .burger-menu-content {
        @include border-start(px-to-rem($framed_border) solid transparent);
        border-bottom: px-to-rem($framed_border) solid transparent;
        border-top: px-to-rem($framed_border) solid transparent;
      }
      .scrollbar {
        @include start(0);
        @include end(auto);
      }
    }

    &.burger-side-pos-end {
      .burger-menu-content {
        @include border-end(px-to-rem($framed_border) solid transparent);
        border-bottom: px-to-rem($framed_border) solid transparent;
        border-top: px-to-rem($framed_border) solid transparent;
      }
    }

  }
}

.burger-menu-pos-start,
.burger-menu-pos-end {
  .menu_icon_item {
    &.sort_ic {
      svg {
        opacity: 0;
        transition-delay: 0s;
        transform: rotate3d(1, 1, 1, 0deg) scale3d(0, 0, 0);
        pointer-events: none;
        transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s;
        width: 30px;
      }
    }
    svg {
      opacity: 1;
      pointer-events: auto;
      transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s;
    }
  }

  &:hover {
    .menu_icon_item {
      &.sort_ic {
        svg {
          opacity: 1 !important;
          transform: rotate3d(1, 1, 1, 0deg) scale3d(1, 1, 1) !important;
          pointer-events: auto !important;
          transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s !important;
        }
      }
    }
    .menu_icon_item:not(.sort_ic) {
      svg {
        transform: rotate3d(0, 0, 1, 45deg) scale3d(0, 0, 0) !important;
        opacity: 0 !important;
        pointer-events: none !important;
        transition: transform 0.35s ease-in-out 0s, opacity 0.35s ease-in-out 0s !important;
      }
    }
  }

}

.burger-menu-side {
  position: fixed;
  z-index: 1040;
  top: 0;
  bottom: 0;
  width: px-to-rem(315);
  box-shadow: 10px 0 25px -15px transparent;
  transition: transform 0.2s ease-in-out 0.125s, box-shadow 0.65s ease-in-out 0.125s;
  transform: translate3d(110%, 0, 0);

  &.burger-side-pos-start {
    @include start(0);
    @if ($global-direction != "ltr") {
      transform: translate3d(110%, 0, 0);
    } @else {
      transform: translate3d(-110%, 0, 0);
    }
  }

  &.burger-side-pos-end {
    @include end(0);
    @if ($global-direction != "rtl") {
      transform: translate3d(110%, 0, 0);
    } @else {
      transform: translate3d(-110%, 0, 0);
    }
  }

  &.open {
    visibility: visible;
    transform: translate3d(0, 0, 0);
    pointer-events: auto;
    box-shadow: -10px 0px 25px -15px rgba(0, 0, 0, 0.25);
  }

  .menu-slidee {
    opacity: 0;
  }

  .burger-menu-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 315px;
    background: #333333;
    padding: 0 px-to-rem($sp_elms);
    &:hover {
      .scrollbar {
        opacity: 1;
      }
    }
    .scrollbar {
      background-color: #5C5C5C;
      .handle {
        background-color: #919191;
      }
    }
  }

  .dima-side-area-mask {
    content: "";
    width: 9000px;
    height: 9000px;
    position: absolute;
    top: 0;
    visibility: hidden;
    background: transparent;
    z-index: 10000;
    zoom: 1;
    transition: background .3s ease, visibility .3s ease;
    cursor: svg-uri('<svg fill="#FFFFFF" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>'), default;
  }
  &.open {
    .dima-side-area-mask {
      visibility: visible;
      background: rgba(27, 27, 27, 0.5);
    }
  }

  &.burger-side-pos-start {
    .dima-side-area-mask {
      @include end(-9000px);
    }
  }

  &.burger-side-pos-end {
    .dima-side-area-mask {
      @include start(-9000px);
    }
  }

  background: rgba(#000, .2);
  &.end-burger {
    @include end(0);
    @include start(auto);
    .burger-menu-content {
      @include end(0);
    }
    &:before {
      content: '';
      background: rgba(#000, .5);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      @include start(0);
    }
  }

  .burger-full {
    position: relative;
    margin-top: 100px;
    margin-bottom: 30px;
    .dima-menu {
      text-align: center;
      > li {
        padding: 10px 0;
        display: block;
        @include text_align_start();
        > a {
          font-size: px-to-em(14);
          font-weight: 300;
          color: rgba(#ffffff, 0.5);
          transition: all 320ms ease-out;
          &:hover {
            color: #ffffff;
          }
        }
      }
    }
    .sub-menu {
      display: none;
    }
  }

  .widget {
    margin-bottom: 30px;
    @include text_align_start();
    .widget-title {
      color: #ffffff;
      @include text_align_start();
    }
    &.widget_recent_entries a,
    &.widget_categories a,
    &.widget_meta a,
    &.widget_layered_nav a,
    &.widget_nav_menu a,
    &.widget_archive a,
    &.widget_pages a,
    &.twitter-widget a,
    &.widget_rss a,
    &.widget_product_categories a,
    &.widget_recent_comments a {
      color: rgba(#ffffff, 0.5);
      &:hover {
        color: #ffffff;
      }
    }
  }
}

@include keyframes(blink) {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}