ul.dima-accordion {
  margin: 0;
  @include padding-start(0);
  list-style: none;
  &.no-active-accordion {
    .dima-accordion-group .dima-accordion-header .dima-accordion-toggle {
      background: rgba(#fff, 0);
      color: $header-font-color;
    }
  }

  .dima-accordion-title {
    width: 90%;
    display: inline-block;
    line-height: px-to-rem($base-line-height);
  }

  .dima-accordion-group {
    position: relative;
    margin-bottom: 10px;

    &.double_icon {
      .dima-accordion-header {
        .dima-accordion-toggle {
          .icon_two {
            opacity: 1;
            svg, i {
              @include transition(all 320ms ease-out);
              transform: scale(1, 1);
            }
          }
          .icon_one {
            opacity: 0;
            svg, i {
              transform: scale(0, 0);
            }

          }
          &.collapsed {
            .icon_two {
              opacity: 0;
              svg, i {
                transform: scale(0, 0);
              }
            }
            .icon_one {
              opacity: 1;
              svg, i {
                @include transition(all 320ms ease-out);
                transform: scale(1, 1);
              }
            }
          }
        }
      }
    }
    .dima-accordion-header {

      .dima-accordion-toggle {
        display: block;
        padding: 0 30px;
        font-family: $font-family-headings;
        line-height: px-to-rem(52);
        font-weight: $font-weight-regular;
        color: #fff;
        background: $theme-color;
        @include transition(all 0.25s ease-in);
        @include text-align-start;

        &.collapsed {
          background-color: $tab-nav-bg;
          color: $tab-nav-color;
        }

        i {
          line-height: px-to-rem(52);
        }
        svg {
          fill: currentcolor;
          height: px-to-em(24);
          position: relative;
          top: 8px;
        }
        span {
          &.icon_one,
          &.icon_two {
            position: absolute;
            top: 0;
            @include end(1px);
            width: px-to-rem(52);
            height: px-to-rem(52);
            text-align: center;
          }
        }
      }
    }

    .dima-accordion-content {
      &.collapse {
        position: relative;
        height: 0;
        overflow: hidden;
        @include transition(all 0.25s ease-in);
        &.in {
          height: auto;
        }
        &.width {
          height: auto;
          -webkit-transition: width 0.35s ease;
          -moz-transition: width 0.35s ease;
          -o-transition: width 0.35s ease;
          transition: width 0.35s ease;
        }
      }

      .dima-accordion-inner {
        padding: 18px 0 10px 0;
      }
    }
  }

  &.acc-with-border {
    .dima-accordion-group {
      .dima-accordion-header {
        .dima-accordion-toggle {
          border: 1px solid $border-color;
          line-height: px-to-rem(50);
          &.collapsed {
            background: transparent;
          }
        }
      }
      .dima-accordion-content {
        .dima-accordion-inner {
          border: 1px solid $border-color;
          border-top-width: 0;
          padding: px-to-rem(25) px-to-rem(30);
        }
      }
    }
  }

  &.dima-acc-clear {
    .dima-accordion-group {
      border-bottom: 1px solid $border-color;
      margin-bottom: 0;
      .dima-accordion-header {
        position: relative;
        .dima-accordion-toggle {
          border-bottom: 1px solid $border-color;
          span {
            &.icon_one,
            &.icon_two {
              width: 40px;
              @include text_align_end();
            }
          }
          &.collapsed {
            border-bottom-width: 0;
            color: $header-font-color;
          }
          padding: 0;
          background: none;
          color: $header-font-color;
        }
      }
      .dima-accordion-content {
        .dima-accordion-inner {
          border: none;
          padding: 13px 0 25px;
        }
      }
    }
  }
}

.dark-bg {

  ul.dima-accordion {

    &.acc-with-border {
      .dima-accordion-group .dima-accordion-content .dima-accordion-inner {
        border-color: rgba(255, 255, 255, 0.2);
      }
    }

    &.acc-default {
      .dima-accordion-group .dima-accordion-header .dima-accordion-toggle.collapsed {
        background-color: rgba(#fff, .2);
      }
    }

    &.dima-acc-clear {
      .dima-accordion-group {
        border-color: rgba(255, 255, 255, 0.2);
        .dima-accordion-header {
          .dima-accordion-toggle {
            border-color: rgba(255, 255, 255, 0.2);
            color: #ffffff;
            &.collapsed {
              background-color: transparent;
              color: #ffffff;
            }
          }
        }
      }
    }

    .dima-accordion-group {
      .dima-accordion-header {
        .dima-accordion-toggle {
          border-color: rgba(255, 255, 255, 0.2);
          color: #fff;
          &.collapsed {
            color: #ffffff;
          }
        }
      }
    }

  }

}

