//       Boxes
.box {
  border: 1px solid $border-color;
  padding: px-to-rem(60);
  @include transition(all 320ms ease-out);
  position: relative;
  z-index: 5;
  .box-titel {
    margin-bottom: px-to-rem($sp_elms);
  }
  &.box-with-marge {
    margin-bottom: px-to-rem($sp_elms);
  }
  &.coupon-box {
    overflow: hidden;
  }
}


.shadow-hover {
  &:hover {
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.07);
    z-index: 10;
  }
  &.dima-iconbox-shadow {
    &:hover {
      box-shadow: 0 19px 30px 0 rgba(0, 0, 0, 0.07);
    }
  }
}

.box-with-shadow {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.07);
  border-width: 0;
  padding: px-to-rem(30);
}

.dima-shadow {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.07);
  border-width: 0;
}

.dima-no-box {
  padding: 0 !important;
  border: none !important;
}

.dima-box {
  background: $box-bg;
  border: 2px solid $border-color;
  padding: px-to-rem($sp_elms);
  margin-bottom: px-to-rem($sp_elms);
  overflow: hidden;
  .box-titel {
    margin-bottom: px-to-rem($sp_elms);
  }
}

.last-menu {
  ul {
    list-style: none;
    margin: 0;
    li {
      padding: 30px 0;
      overflow: hidden;
    }
  }

  h5 {
    position: relative;
    display: table;
    width: 100%;
    a {
      display: table-cell;
    }
  }
  .menu-title {
    display: table-cell;
    @include padding-end(px-to-rem(25));
  }

  .menu-price {
    color: $theme-color;
    display: table-cell;
    @include padding-start(px-to-rem(25));
  }

  .menu-notification {
    position: absolute;
    @include end(0);
    font-family: $font-family-base;
    font-size: $base-font-size+px;
    top: px-to-rem(33);
  }

  .menu_dots {
    display: table-cell;
    width: 100%;
    &:after {
      content: '';
      position: relative;
      border-bottom: 1px dashed $second-border-color;
      left: 0;
      right: 0;
      display: block;
      top: -5px;
    }
  }
}

/*
* Popup
*/
.dima-popup {
  position: fixed;
  z-index: 99999;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(27, 27, 27, 0.5);
  display: none;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.dima-popup-container {
  position: relative;
  z-index: 100;
  width: 90%;
  max-width: 370px;
  margin: -162px auto 0;
  display: none;
  top: 50%;
  .container-wrapper {
    background-color: #ffffff !important;
    border-radius: 2px !important;
  }
}

#dima-popup-adblock {
  .dima-popup-container {
    background-color: #ffffff !important;
    max-width: 570px;
    min-height: 325px;
    padding: 50px;
    svg {
      width: 90px;
      height: auto;
      margin-bottom: 10px;
      fill: #f44336;
    }
  }
  .dima-popup-container .container-wrapper {
    text-align: center;
    color: $body-text-color;
  }
}

.dima-popup-is-opend {
  .all_content {
    transition: -webkit-filter 0.2s;
    transition: filter 0.2s;
    transition: filter 0.2s, -webkit-filter 0.2s;
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}