@import "waves";

$button-color: (
        di_header: $btn_bg_header,
        di_white: #FFFFFF,
        di_green: #4caf50,
        di_blue: #2196f3,
        di_purple: #673ab7,
        di_red: #f44336,
        di_yellow: #ffc107,
        di_orange: #ff9800,
);

[type="submit"] {
  color: $fill-btn-color;
  border: none;
  &:hover {
    color: $fill-btn-color-hover;
    background-color: lighten($default-btn-bg-color, 8.2%);
  }
}

.widget .button,
[type="submit"], .dima-button {
  position: relative;
  cursor: pointer;
  display: inline-block;
  font-family: $font-family-btn;
  outline: none;
  margin: 0;
  min-height: 1em;
  padding: 0 10px;
  background-color: $default-btn-bg-color;
  font-weight: $btn-weight;
  @include btn_size(170, 50);
  font-style: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  @if $global-direction == "rtl" {
    letter-spacing: 0;
  } @else {
    letter-spacing: 1.5px;
  }
  @include user-select(none);
  @include box-sizing(order-box);
  @include transition(all 320ms ease-out);
  text-transform: uppercase;
  white-space: nowrap;
  @include border-radius($radius-var);
  -webkit-backface-visibility: hidden;
  i {
    @include padding-end(15px);
    @include margin-start(-15px);
  }
  svg {
    @include padding-end(10px);
    @include margin-start(-10px);
    position: relative;
    fill: currentColor;
    height: px-to-em(18);
    top: px-to-em(4);
    width: px-to-em(28) !important;
  }
}

//--- button fill ---
.widget .button,
[type="submit"],
.fill {
  color: $fill-btn-color;
  &:hover {
    color: $fill-btn-color-hover;
    background-color: lighten($default-btn-bg-color, 8.2%);
  }
}

//--- button stroke ---

.stroke {
  background: rgba(255, 255, 255, 0);
  color: $btn-stroke-color;
  box-shadow: inset 0 0 0 2px $btn-border-color;
  @include transition(all 320ms ease-out);
  z-index: 10;

  &:hover {
    background: $theme-color;
    color: $second-theme-color;
  }
}

//--- button block ---*/

.button-block {
  display: block;
  width: 100%;
}

// --- button Disabled ---*/

.disabled.dima-button,
.disabled.dima-button:hover,
.disabled.dima-button.active {
  background-color: #DDDDDD !important;
  cursor: default;
  color: rgba(0, 0, 0, 0.5) !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
  opacity: 0.3 !important;
}

//    icons

.icon {
  @include padding-start(2em !important);

  @include padding-end(1.4em !important);
}

//    Color

@each $ClassNmae, $color in $button-color {
  .#{$ClassNmae}.dima-button.fill {
    background-color: $color;
    @if $ClassNmae == "di_white" {
      color: $btn_bg_header;
      &:hover {
        color: $header-font-color;
      }

    } @else {
      color: $default-btn-color;
    }
  }

  .#{$ClassNmae}.stroke {
    @if $border != "0" {
      box-shadow: inset 0 0 0 2px $color;
    }
    color: $color;
    &:hover {
      background: $color;
      color: $second-theme-color;
    }
    @if $ClassNmae == "di_white" {
      &:hover {
        color: $header-font-color !important;
      }
    }
  }

  .#{$ClassNmae}.fill:hover {
    color: $fill-btn-color-hover;
    background-color: darken($color, 10%);
  }
}

.dima-btn-mini {
  @include btn_size(150, 40);
}

.dima-btn-large {
  @include btn_size(180, 60);
}

.dima-btn-big {
  @include btn_size(190, 70);
}

.dima-btn-huge {
  @include btn_size(200, 80);
}

//      Rounded

.dima-btn-rounded {
  @include border-radius(6px);
}

.dima-btn-pill {
  @include border-radius(18em);
}