.dima-callout {
  overflow: hidden;
  position: relative;
  border: 5px solid $border-color;
  padding: 55px;
  @include transition(all 320ms ease-out);
  display: table;
  box-sizing: border-box;
  width: 100%;
  z-index: 40;

  .p-callout, p {
    color: $body-text-color;
    @include font-size($base-font-size + 2, $base-line-height);
    margin-bottom: 0;
    font-weight: $font-weight-light;
  }

  &.dima-callout-btn-bottom {
    .p-callout, p {
      margin-bottom: px-to-rem(30);
    }
  }

  &.dima-full-callout {
    padding: 55px 0;
  }
}

.dima-callout-clm2,
.dima-callout-clm1 {
  display: table-cell;
  vertical-align: middle;
}

.dima-callout-clm1 {
  width: 75%;
}

.dima-callout-clm2 {
  width: 25%;
}

.h-callout {
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
  z-index: 10;
}

.p-callout {
  position: relative;
  color: inherit;
  z-index: 10;
}

.b-callout {
  margin-top: 20px;

  @include float-end;

  z-index: 10;
}

.hover-callout {

  &:hover {
    .h-callout, .p-callout, p {
      color: #FFF;
    }
    background: $theme-color;
    border-color: rgba(0, 0, 0, 0);
  }
}

.dima-banner {
  .banner-inner {
    white-space: normal;
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0 auto;
    &.start {
      @include end(auto);
      @include start(10%);
    }
    &.end {
      @include start(auto);
      @include end(10%);
    }

  }
}

@include break(sd-min) {
  .dima-callout {
    .dima-callout-clm2,
    .dima-callout-clm1 {
      display: block;
      width: 100%;
      text-align: center;
    }
    .dima-callout-clm2 {
      margin-top: 30px;
    }
  }
}