.clients-wrapper {
  position: relative;
  img {
    display: block;
    margin: 0 auto;
    width: auto;
    @include transition(all 320ms ease-out);
    -webkit-backface-visibility: hidden;
  }
  a {
    img {
      opacity: .6;
    }
    &:hover {
      img {
        opacity: 1;
      }
    }
  }
  &.grid {
    &.client-clm-3 {
      li {
        width: calc(96% / 3);
        &:nth-child(3n) {
          @include margin-end(0 !important);
        }

      }
    }
    &.client-clm-4 {
      li {
        width: calc(94% / 4);
        &:nth-child(4n) {
          @include margin-end(0 !important);
        }
      }
    }
    &.client-clm-5 {
      li {
        width: calc(92% / 5);
        &:nth-child(5n) {
          @include margin-end(0 !important);
        }
      }
    }
    &.client-clm-6 {
      li {
        width: calc(90% / 6);
        &:nth-child(6n) {
          @include margin-end(0 !important);
        }
      }
    }
    &.client-clm-7 {
      li {
        width: calc(88% / 7);
        &:nth-child(7n) {
          @include margin-end(0 !important);
        }
      }
    }
    li {
      border: 1px solid $border-color;
      padding-bottom: px-to-rem(40);
      padding-top: px-to-rem(40);
      @include margin-end(2% !important);
      margin-bottom: 2%;
      @include float-start();
      min-height: px-to-rem(115);
    }
  }
}

.clients-wrapper {
  position: relative;
  clear: both;
  ul {
    margin: 0 !important;
    list-style: none !important;
    @include padding-start(0);
  }
}

.dark-bg {
  .clients-wrapper.grid li {
    border-color: rgba(255, 255, 255, 0.2);
  }
}

@include break(sd-min) {
  .clients-wrapper[class*="client-clm-"] {
    &.grid li {
      width: 48%;
    }
  }
}