.ll-skin-melon {
    font-size: 90%;
    .ui-widget {
        font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
        background: #ffffff;
        border: none;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
    }
    .ui-datepicker {
        padding: 20px;
        border: 1px solid $border-color;
        border-top: none;
        z-index: 99 !important;
        display: none;
        .ui-datepicker-title {
            margin-bottom: 20px;
            color: $header-font-color;
            text-align: center;
            font-size: 14px;
        }
        .ui-datepicker-prev-hover {
          @include start(2px);
        }
        .ui-datepicker .ui-datepicker-next-hover {
            @include end(2px);
        }
        .ui-datepicker-prev span {
            background-position: -96px 0;
        }
        table {
            margin: 0;
            background: #fff;
        }
        th {
            padding: 1em 0;
            color: $header-font-color;
            font-size: 13px;
            font-weight: normal;
            border: none;
            text-align: center;
        }
        td {
            padding: 0.79em;
            text-align: center;
        }
    }
    .ui-datepicker-header {
        border: none;
        background: transparent;
        font-weight: normal;
        font-size: 15px;
        .ui-state-hover {
            background: transparent;
            border-color: transparent;
            cursor: pointer;
            border-radius: 0;
            -webkit-border-radius: 0;
            -moz-border-radius: 0;
        }
    }
    .ui-datepicker .ui-datepicker-next {
        @include float-end;
        &:before {
            content: '\f105';
            font-family: $FontAwesome;
            font-weight: 900;
            display: inline-block;
        }
    }
    .ui-datepicker .ui-datepicker-prev {
        @include float-start;
        &:before {
            content: '\f104';
            font-family: $FontAwesome;
            font-weight: 900;
            display: inline-block;
        }
    }
    .ui-datepicker .ui-datepicker-prev-hover,
    .ui-datepicker .ui-datepicker-next-hover,
    .ui-datepicker .ui-datepicker-next,
    .ui-datepicker .ui-datepicker-prev {
        top: .9em;
        border: none;
    }
    .ui-datepicker .ui-datepicker-next span,
    .ui-datepicker .ui-datepicker-prev span {
        margin-top: 0;
        top: 0;
        font-size: 0;
    }
    td .ui-state-default {
        text-align: center;
        margin: 0;
        color: $body-text-color;
        font-size: 12px;
        .ui-state-active,
        .ui-state-hover {
            background: #2e3641;
        }
    }
    .ui-state-disabled {
        opacity: 1;
        .ui-state-default {
            color: lighten($body-text-color, 20%);
        }
    }
    .ui-datepicker-today, td:hover {
        @include box-shadow(0px 0px 0px 1px $border-color);
    }
      .ui-datepicker-current-day{
        background: $theme-color;
        @include box-shadow(0px 0px 0px 1px $theme-color);
        a{
          color: #fff;
        }        
      }
      .ui-datepicker-other-month{
        a{
          color: lighten($body-text-color, 20%);
        }
        
      }
}

[data-datepicker=true] {
    background: url(../images/date.svg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 27px;
    @include padding-end(35px);
}