hr {
  position: relative;
  float: none;
  display: block;
  width: 100%;
  height: 1px;
  border-color: $hr-color;
  border-style: solid;
  margin: 0 0 sp_dima($sp_elms, $base-font-size, $base-line-height);;
  padding: 25px 0 0;
  border-width: 0;
  border-bottom-width: 1px;
  clear: both;
}

.topaz-line {
  position: relative;
  color: $theme-color;
  width: 160px;
  margin: sp_dima($sp_elms, $base-font-size, $base-line-height) auto;
  @include font-size(16, 20);
  text-align: center;
  overflow: hidden;
  height: 20px;

  &:before, &:after {
    content: '';
    position: absolute;
    width: 50%;
    top: 50%;
    display: block;
    border-bottom: 2px solid $hr-color;
    margin-top: -2px;
  }
  &:before {
    @include end(-15px);
  }

  &:after {
    @include start(-15px);
  }

  &.hr-left {
    @include float_start();
    @include start(-6px);
    position: absolute;
    top: -9px;

    &:after {
      content: '';
      position: absolute;
      background: $hr-color;
      height: 2px;
      display: block;
      width: 60px;
      top: 4px;
    }

    &:before {
      content: none;
      top: 4px;
    }
  }

}

.dima-divider {
  position: relative;
  display: block;
  svg {
    position: relative;
    width: px-to-rem(20);
    height: px-to-rem(20);
    fill: currentColor;
  }
}

.line-hr {
  margin-bottom: 30px;
  width: px-to-rem(70);
  background: $hr-color;
  height: 2px;
  @include margin-end(auto);
  @include margin-start(auto);
  &.line-start {
    @include margin-start(0);
    @include margin-end(auto);
  }
  &.line-end {
    @include margin-end(0);
    @include margin-start(auto);
  }
  &.small-line {
    width: px-to-rem(20);
  }
}

a {
  .line-hr {
    &:before {
      transform: scale3d(0, 1, 1);
      transform-origin: 0 50%;
      transition: all 320ms ease;
      position: absolute;
      top: 0;
      left: 0;
      height: 2px;
      width: 100%;
      display: block;
      content: '';
      background: $theme-color;
    }
  }
  &:hover {
    .line-hr {
      &:before {
        transform: scale3d(1, 1, 1);
        transform-origin: 0 50%;
        transition-timing-function: ease;
      }
    }
  }
}

.noor-line {
  border-bottom: 1px solid $hr-color;
  margin-bottom: 30px;
  &:before {
    content: '';
    position: absolute;
    background: $header-font-color;
    height: 2px;
    width: px-to-rem(70);
  }

  &.noor-start {
    &:before {
      @include start(0);
    }
  }
  &.noor-end {
    &:before {
      @include end(0);
    }
  }
  &.noor-center {
    &:before {
      @include start(50%);
      @if ($global-direction == "rtl") {
        transform: translate(50%, 0);
      } @else {
        transform: translate(-50%, 0);
      }
    }
  }

}

.hr-start, .hr-end {
  position: relative;
  display: block;
  padding-bottom: 25px;
  margin-top: 25px;
  clear: both;
  i {
    position: relative;
    color: $theme-color;
    @include font-size(13, 12);
  }
}

.hr-start {
  i {
    @include float_start();
  }
  width: 100%;
  &:after {
    content: '';
    position: absolute;
    border-bottom: 2px solid $hr-color;
    display: block;
    width: 150px;
    @include start(15px);
    top: 5px;
  }

}

.hr-end {
  i {
    @include float_end();
  }
  width: 100%;
  &:before {
    content: '';
    position: absolute;
    border-bottom: 2px solid $hr-color;
    display: block;
    width: 150px;
    @include end(15px);
    top: 5px;
  }
}

.divider {
  padding: 25px 0 0;
  margin: 0 0 25px;
  border-bottom: 2px solid transparent;
  clear: both;
  .dashed {
    border-bottom: 2px dashed $hr-color;
  }
  .double {
    border-bottom: 3px double $hr-color;
  }
}

.dark-bg {
  hr {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .divider {
    .dashed, .double {
      border-color: rgba(255, 255, 255, 0.2);
    }
  }
  .hr-start,
  .hr-end {
    &:before, &:after {
      border-bottom-color: rgba(255, 255, 255, 0.2);
    }
  }
  .line-hr {
    background: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(255, 255, 255, 0.2);
  }
  a .line-hr:before {
    background: #ffffff;
  }
  .topaz-line:before, .topaz-line:after,
  .noor-line {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .noor-line:before {
    background: #FFFFFF;
  }
}