//Topaz Hover - Topaz border*/
$over-icon-color: #FFF;

.apply-gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  filter: grayscale(100%);

  @include transition(all 320ms ease-out);

  -webkit-backface-visibility: hidden;
  &:hover {
    @include opacity(1);

    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
  }
}

.apply-opacity {
  img {
    -webkit-backface-visibility: hidden;
    @include transition(opacity 320ms ease-out);
  }
  &:hover {
    img {
      opacity: .3;
    }
  }
}

// hover mine class
.post-icon, .link_overlay {
  position: absolute;
  top: 0;
  @include start(0);
  &.on_the_front {
    li {
      opacity: 1 !important;
      top: -10px;
      @include start(-10px);
    }
  }
}

.link_overlay {
  background: rgba(0, 0, 0, 0);

  @include box-sizing(order-box);

  @include transition(all 320ms ease-out);

  z-index: 50;

  @if $border-radius != 0 {
    @include border-radius($border-radius);
  }
}

#popup-with-something {
  width: 700px;
  height: 500px;
  margin: 0 auto;
}

// Apply Hover link_overlay
.post-icon {

  .icons-media {
    position: relative;
    display: inline-block;
    text-align: center;
    @include padding-start(0);
    margin: 0;
    z-index: 99;
    li {
      @include opacity(0);
      transform: translateY(0%) translateX(0%);
      @include transition(transform 0.6s, opacity 0.6s);
      &.dima_go_audio,
      &.dima_go_video {
        @include opacity(1);
        @if $global-direction == "ltr" {
          transform: translateY(px-to-rem(-10)) translateX(px-to-rem(-10));
        } @else {
          transform: translateY(px-to-rem(-10)) translateX(px-to-rem(10));
        }
      }
    }
    &.media-button {
      li {
        a {
          width: 160px;
          font-size: 1rem;
          font-family: $font-family-headings;
        }
      }
    }
    li {
      position: relative;
      display: flex;
      @include margin-end(5px);
      margin-bottom: 5px;

      a {
        background: $theme-color;
        display: inline-block;
        width: px-to-rem(50);
        height: px-to-rem(50);
        color: $over-icon-color;
        svg {
          fill: #FFF;
          width: 24px;
          height: px-to-rem(50);
        }
        i {
          font-size: 18px;
          line-height: px-to-rem(50);
        }
        &.format-audio {
          background: #f50057;
        }
        &.format-video {
          background: #2962ff;
        }
      }
    }
  }
}

.dima_go_inside .dima-product {
  &:hover {
    .post-icon {
      .icons-media {
        li:not(.dima_go_audio),
        li:not(.dima_go_video) {
          @include opacity(1);
          @if $global-direction == "ltr" {
            transform: translateY(px-to-rem(30)) translateX(px-to-rem(30));
          } @else {
            transform: translateY(px-to-rem(30)) translateX(px-to-rem(-30));
          }
          &:first-child {
            transition-delay: 0.1s;
          }
          &:last-child {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }
}

.work-item,
.dima-team-member,
.post-img,
.dima-product {
  &.dima_go_inside {
    &:hover {
      .post-icon {
        .icons-media {
          li:not(.dima_go_audio),
          li:not(.dima_go_video) {
            @include opacity(1);
            @if $global-direction == "ltr" {
              transform: translateY(px-to-rem(30)) translateX(px-to-rem(30));
            } @else {
              transform: translateY(px-to-rem(30)) translateX(px-to-rem(-30));
            }

            &:first-child {
              transition-delay: 0.1s;
            }
            &:last-child {
              transition-delay: 0.2s;
            }
          }
        }
      }
    }
  }
  &:hover {
    .post-icon {
      .icons-media {
        li:not(.dima_go_audio),
        li:not(.dima_go_video) {
          @include opacity(1);

          @if $global-direction == "ltr" {
            transform: translateY(px-to-rem(-10)) translateX(px-to-rem(-10));
          } @else {
            transform: translateY(px-to-rem(-10)) translateX(px-to-rem(10));
          }

          &:first-child {
            transition-delay: 0.1s;
          }
          &:last-child {
            transition-delay: 0.2s;
          }
        }
      }
    }
  }
}

.overlay {
  position: relative;
  display: block;

  &.circle {
    &:before {
      @include border-radius(100%);
    }
  }

  &.rounded {
    &:before {
      @include border-radius(6px);
    }
  }

  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;

    @include start(0);

    @include opacity(0);

    @include transition(all 0.3s ease-in);

    background-color: $theme-color;
    cursor: pointer;
    z-index: 99;
  }

  &:hover {
    &:before {
      @include opacity(0.5);
    }
  }
}

.effect-julia, .effect-roxy {
  position: relative;
  overflow: hidden;
  height: 100%;
}

.effect-roxy {

  img {
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }

  &:hover {

    img {
      -webkit-transform: scale(1);
      transform: scale(1);
    }

  }
}

.effect-julia img {
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.effect-julia:hover img {
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}

.gray-opacity {

  img {
    opacity: .6;

    @include transition(all 320ms ease-out);

    -webkit-backface-visibility: hidden;
    width: auto;

    &:hover {
      opacity: 1;
    }
  }

}