$twitter: #00aced;
$facebook: #3b5998;
$googleplus: #dd4b39;
$pinterest: #cb2027;
$linkedin: #007bb6;
$youtube: #bb0000;
$vimeo: #1ab7ea;
$tumblr: #32506d;
$instagram: #bc2a8d;
$flickr: #ff0084;
$dribbble: #ea4c89;
$quora: #a82400;
$foursquare: #0072b1;
$forrst: #5B9A68;
$vk: #45668e;
$wordpress: #21759b;
$stumbleupon: #EB4823;
$yahoo: #7B0099;
$blogger: #fb8f3d;
$soundcloud: #ff3a00;

$s_icon_colors: $twitter, $facebook, $googleplus, $pinterest,
$linkedin, $youtube, $vimeo, $tumblr, $instagram,
$flickr, $dribbble, $quora, $foursquare, $forrst, $vk,
$wordpress, $stumbleupon, $yahoo, $blogger, $soundcloud;

$s_icon_colors_name: "twitter", "facebook", "googleplus", "pinterest",
"linkedin", "youtube", "vimeo", "tumblr", "instagram",
"flickr", "dribbble", "quora", "foursquare", "forrst", "vk",
"wordpress", "stumbleupon", "yahoo", "blogger", "soundcloud";

$zoo: zip($s_icon_colors, $s_icon_colors_name);

@each $s_icon_colors, $s_icon_colors_name in $zoo {
  .social-media.fill-icon li.#{$s_icon_colors_name}_icon a {
    background-color: $s_icon_colors !important;
    color: #ffffff !important;
    &:hover {
      background-color: darken($s_icon_colors,12%) !important;
    }
  }
}

.social-media {

  li {
    cursor: pointer;
    text-align: center;
    a {
      display: table;
      font-family: $FontAwesome;
      font-weight: 900;
      position: relative;
      color: $header-font-color;
      @include transition(all 320ms ease-out);

      svg {
        fill: currentcolor;
        position: absolute;
        @include start(50%);
        top: 50%;
        @if $global-direction == "ltr" {
          transform: translateX(-50%) translateY(-50%);
        } @else {
          transform: translateX(50%) translateY(-50%);
        }
        width: px-to-rem(24);
      }
    }
  }

  &.dima_add_hover {
    li {
      &:hover {
        a {
          color: $second-theme-color;
          background-color: $theme-color;
          box-shadow: none;
          svg {
            fill: $second-theme-color;
          }
        }
      }
    }
  }

  &.dima_colored_style li a {
    color: #FFFFFF !important;
    svg {
      fill: currentcolor !important;
    }
  }

  &.fill-icon {
    li {
      cursor: pointer;
      text-align: center;
      box-shadow: none;
      a {
        position: relative;
        display: table;
        font-family: $FontAwesome;
        font-weight: 900;
        color: $header-font-color;
        background-color: $border-color;
      }
      @include transition(all 320ms ease-out);
    }
  }

  &.outline-icon {
    li {
      a {
        box-shadow: inset 0 0 0 2px $border-color;
      }

      &:hover {
        a {
          box-shadow: inset 0 0 0 2px $theme-color;
        }
      }
    }
  }

  &.social-small li {
    a {
      font-size: 18px;
      line-height: px-to-rem(40);
      width: px-to-rem(40);
      height: px-to-rem(40);
    }
  }

  &.social-medium li {
    a {
      font-size: 22px;
      line-height: px-to-rem(50);
      width: px-to-rem(50);
      height: px-to-rem(50);
    }
  }

  &.social-big li {
    a {
      font-size: 30px;
      line-height: px-to-rem(70);
      width: px-to-rem(70);
      height: px-to-rem(70);
    }
    svg {
      width: px-to-rem(34);
    }
  }

  &.dima-social-author {
    margin-bottom: 1px;
    @include margin-start(1px);
  }

  &.dima-show {
    li {
      @include margin-end(10px);
      a {
        color: $header-font-color;
      }
    }
  }

}

.navbar_is_dark .dima-navbar-wrap,
.dark-bg {
  .social-media {
    &.fill-icon {
      li {
        color: #ffffff;
        a {
          background-color: rgba(255, 255, 255, .2);
          color: $second-theme-color;
        }
        svg {
          fill: currentcolor;
        }
        &:hover {

          a {
            color: $header-font-color !important;
            background-color: #ffffff !important;
            box-shadow: none;
            svg, path {
              fill: $header-font-color;
            }
          }
        }
      }
    }

    &.outline-icon {
      li {
        a {
          box-shadow: inset 0 0 0 2px rgba($border-color, 0.2);
          color: #ffffff;
          svg {
            fill: currentcolor;
          }
          &:hover {
            box-shadow: inset 0 0 0 2px #ffffff;
          }
        }
      }
    }
  }
}

.circle-social {
  ul {
    li {
      a {
        @include border-radius(50%);
      }
    }
  }
}