
.icon-box-header {
  span {
    color: $header-font-color;
    font-size: 32px;
    @include transition(background 320ms ease-out, box-shadow 320ms ease-out);
  }

  svg {
    width: 32px;
    height: auto;
  }

  svg:not([fill="none"]) {
    fill: currentColor;
    path:not([fill="none"]) {
      fill: currentColor;
    }
  }

  svg[stroke] {
    stroke: currentColor;
    path[stroke],
    polyline[stroke] {
      stroke: currentColor;
    }
  }

  .box-square, .box-circle {
    text-align: center;
    background: $content-bg-color;
    @include box-shadow(0 0 0 2px $border-color);
    svg {
      position: absolute;
      @include start(50%);
      top: 50%;
      @if ($global-direction == "rtl") {
        transform: translate(50%, -50%);
      } @else {
        transform: translate(-50%, -50%);
      }
    }

  }
  &.dima_grd {
    .box-square, .box-circle {
      box-shadow: none !important;
      &:before {
        content: '';
        position: absolute;
        width: px-to-rem(104);
        height: px-to-rem(104);
        top: -2px;
        left: -2px;
        z-index: -1;
      }
    }
  }

  &.text-center {
    .icon-box-header i {
      margin: 0 auto;
      margin-bottom: 35px;
    }
  }

  .box-circle {
    @include border-radius(50%);
    &:before {
      @include border-radius(50%);
    }
  }

  &:hover {
    .box-square, .box-circle {
      &.icon-box-hover {
        background: $theme-color !important;
        color: $second-theme-color !important;
        @include box-shadow(0 0 0 2px $theme-color !important);
        svg {
          fill: currentColor;
        }
      }
      &.icon-box-border-hover {
        @include box-shadow(0 0 0 2px $theme-color !important);
      }
    }
  }
}

.icon_pos_end,
.icon_pos_start {
  position: absolute;
  width: auto;
  top: px-to-rem(-12);
  .box-square,
  .box-circle {
    width: px-to-rem(50) !important;
    height: px-to-rem(50) !important;
    border-radius: 0;
    i {
      line-height: px-to-rem(50) !important;
    }
  }
}

.icon_pos_start {
  @include start(px-to-rem(-12));

}

.icon_pos_end {
  @include end(px-to-rem(-12));

}

.dima-iconbox {
  &:hover {
    .box-square, .box-circle {
      &.icon-box-hover {
        background: $theme-color !important;
        color: $second-theme-color !important;
        @include box-shadow(0 0 0 2px $theme-color !important);
        svg {
          fill: currentColor;
        }
      }
      &.icon-box-border-hover {
        @include box-shadow(0 0 0 2px $theme-color !important);
      }
    }

    .icon-box-header {
      &.icon-box-hover {
        color: $theme-color;
        &.box-circle, &.box-square {
          color: $second-theme-color !important;
        }
      }
    }
  }
  .dima-maps {
    margin-bottom: 30px;
  }
}

.features-content {
  .dima-divider {
    margin-bottom: 10px;
  }
}

/*
 * Features BOX
 */
.features-box {
  text-align: center;
  padding: px-to-rem(40) px-to-rem(30);
  border-top: 2px solid $header-font-color;
  @include box-shadow(0 0 0 1px $border-color);
  @include box-sizing(order-box);
  @include transition(all 320ms ease-out);
  position: relative;
  &.no-box {
    @include box-shadow(none);
    padding: 0;
    border: 0;
    .icon-box-header {
      position: relative;
      margin-bottom: 35px;
      i {
        position: relative;
        @include transition(all 320ms ease-out);
      }
      @include headings {
        margin-bottom: 0;
      }
    }

    .features-content {
      p {
        padding: 0;
      }
    }
    .icon-box-header {
      .box-square, .box-circle {
        @include box-shadow(0 0 0 2px $border-color);
      }
    }
  }

  .features-content {
    color: $body-text-color;
    .features-title {
      margin-bottom: 13px;
    }
    p {
      padding: 0 40px;
      @include transition(all 320ms ease-out);
      margin-bottom: 0;
    }
  }
  &.dima-iconbox-shadow {
    box-shadow: 0 6px px-to-rem(20) 0 rgba(0, 0, 0, 0.07);
  }

}

.features-start, .features-end {
  position: relative;
  .icon-box-header {
    width: auto;
  }

  &.no-box {
    padding: 0;
    .icon-box-header {
      i {
        position: relative;
        top: 0;
        z-index: 10;
      }
    }
  }
  padding: 30px;
  .icon-box-header {
    i {
      color: $header-font-color;
      margin-bottom: 35px;
      display: block;
      @include transition(all 320ms ease-out);
    }
  }
}

.icon-box-header {
  margin-bottom: px-to-rem(30);
  i, svg {
    margin: 0 auto;
    display: block;
    @include transition(all 320ms ease-out);
  }

  .box-square, .box-circle {
    @include box-shadow(0 0 0 1px $border-color);
  }
}

.features-end {
  &.no-box {
    .icon-box-header {
      i {
        @include end(0px);
      }
    }
  }
  .dima-divider {
    @include margin-start(auto);
    @include margin-end(0);
  }

  .icon-box-header {
    @include margin-start(35px);
    @include float-end;
    i {
      position: relative;
    }
  }
  .features-content {
    overflow: hidden;
    .features-title {
      @include text-align-end;
    }
    p {
      @include text-align-end;
      padding: 0;
    }
  }
  &.box-square, &.box-circle {
    &:hover {
      i {
        color: #FFF;
        background: $theme-color;
      }
    }
  }
}

.features-start {
  &.no-box {
    i {
      @include start(0px);
    }
  }
  .dima-divider {
    @include margin-start(0);
    @include margin-end(auto);
  }
  .icon-box-header {
    @include margin-end(35px);
    @include float-start;
    i {
      position: relative;
    }
  }
  .features-content {
    overflow: hidden;
    .features-title {
      @include text-align-start;
    }
    p {
      @include text-align-start;
      padding: 0;
    }
  }
  &.box-square, &.box-circle {
    &:hover {
      i {
        color: #FFF;
        background: $theme-color;
      }
    }
  }
}

// CountUp
.countUp {
  @include text_align_start;
  padding: px-to-rem(30);
  i {
    margin-bottom: px-to-rem(35);
  }
  .icon-count {
    color: $theme-color;
    display: block;
    font-size: 27px;
    svg {
      fill: currentColor;
      height: 34px;
      margin-bottom: px-to-rem(30);
      path {
        fill: currentColor;
      }
    }
  }
  .line-hr {
    margin-top: px-to-rem(15);
    margin-bottom: px-to-rem(15);
  }
  .number {
    position: relative;
    font-weight: $h1_weight;
    display: inline-block;
    color: $header-font-color;
    @include font-size(36, 30);
    @include start(0px);
  }
  .text {
    @include font-size($font-size, $font-size);
    @include margin-start(0px);
    color: $body-text-color;
    font-weight: $p-weight;
  }
  &.add-border {
    border: 5px solid $border-color;
  }
}

//Icons Box Size

.icon-normal {
  @include margin-end(5px);
  color: $header-font-color;
  @include text_align_start;
  display: inline-block;
}

.icon-box-larg {
  position: relative;
  display: inline-block;
  &.box-square, &.box-circle {
    width: px-to-rem(150);
    height: px-to-rem(150);
    margin-bottom: 0;
    i {
      line-height: px-to-rem(150);
    }
  }
}

.icon-box-medium {
  position: relative;
  display: inline-block;
  &.box-square, &.box-circle {
    width: px-to-rem(100);
    height: px-to-rem(100);
    margin-bottom: 0;
    i {
      line-height: px-to-rem(100);
    }
  }
}

.icon-box-small {
  position: relative;
  display: inline-block;
  &.box-square, &.box-circle {
    width: px-to-rem(50);
    height: px-to-rem(50);
    margin-bottom: 0;
    i {
      font-size: 22px;
      line-height: px-to-rem(50);
    }
    svg {
      width: 24px;
    }
  }
}

.image-cropper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  top: 0;
  bottom: 0;
  margin-bottom: 30px;

  &.box-circle {
    border-radius: 99em;
  }
  img {
    position: absolute;
    top: 50%;
    @include start(50%);
    @if ($global-direction == "rtl") {
      transform: translate(50%, -50%);
    } @else {
      transform: translate(-50%, -50%);
    }
  }
  &.larg {
    width: px-to-rem(150);
    height: px-to-rem(150);
  }
  &.medium {
    width: px-to-rem(100);
    height: px-to-rem(100);
  }
  &.small {
    width: px-to-rem(50);
    height: px-to-rem(50);
  }
}

.img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}

.dima_grd_orange {
  &:before {
    content: '';
    @include linear-gradient(to top, #ff3d00 0%, #ffca28 100%);
  }
}

.dima_grd_blue {
  &:before {
    content: '';
    @include linear-gradient(to top, #3d5afe 0%, #26c6da 100%);
  }
}

.dima_grd_burple {
  &:before {
    content: '';
    @include linear-gradient(to top, #651fff 0%, #ec407a 100%);
  }
}

.dima_grd_green {
  &:before {
    content: '';
    @include linear-gradient(to top, #00c853 0%, #ffca28 100%);
  }
}

.gradient-vertical {
  &.v_dima_grd_orange {
    @include linear-gradient(to right, #ff3d00 0%, #ffca28 100%);
  }

  &.v_dima_grd_blue {
    @include linear-gradient(to right, #3d5afe 0%, #26c6da 100%);
  }

  &.v_dima_grd_burple {
    @include linear-gradient(to right, #651fff 0%, #ec407a 100%);
  }

  &.v_dima_grd_green {
    @include linear-gradient(to right, #00c853 0%, #ffca28 100%);
  }

}

.svg_animated {
  svg {
    stroke: currentColor;
    polyline, path {
      stroke: currentColor;
    }
  }

  polyline, path, circle, line, rect {
    stroke-dasharray: 100;
  }
}

.dark-bg {
  .countUp {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .features-box.dima-iconbox-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  }
  .shadow-hover.dima-iconbox-shadow:hover {
    box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .2);
  }
  .features-box {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
  }
}
