//  Nottification
.wpcf7-response-output, .dima-alert {
  position: relative;
  margin-bottom: px-to-rem(30);
  padding: px-to-rem(25);
  clear: both;
  color: $header-font-color;

  &.alert_style_one {
    padding: px-to-rem($sp_conected_elms - 5) px-to-rem($sp_conected_elms);
  }
  &.alert_style_two {
    padding: px-to-rem(30);
    .header-alert {
      display: block;
    }
  }

  &.alert_style_three {
    padding: px-to-rem(30);
    background-color: transparent;
    border: 5px solid $border-color;
    .header-alert {
      display: block;
    }
    &.dima-alert-warning {
      border: 5px solid $warning-color;
    }
    &.dima-alert-info {
      border: 5px solid $info-color;
    }
    &.dima-alert-error {
      border: 5px solid $error-color;
    }
    &.dima-alert-success {
      border: 5px solid $success-color;
    }
  }

  &.alert_style_four {
    padding: px-to-rem(0);
    background-color: transparent !important;
  }

  i {
    @include font-size(21, 25);
    @include float_start();
    @include padding-end(15px);
  }
  svg {
    position: relative;
    top: 5px;
    fill: currentColor;
    width: 22px;
    height: 22px;
    @include margin-end(15px);
  }
  .header-alert {
    margin: 0.05em 0 0.25em;
    font-weight: $font-weight-semibold;
    letter-spacing: 0;
    text-transform: none;
    display: inline;
    font-style: normal;
    @include margin-end(5px)
  }
  p {
    color: inherit;
    display: inline;
  }

  .close {
    font-weight: $font-weight-semibold;
    position: absolute;
    top: 5px;
    @include end(10px);
    line-height: 1;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    svg {
      margin: 0;
      width: 16px;
      height: 16px;
    }
  }

  a {
    color: inherit;
    border-bottom: 1px dotted $info-color-txt;
    &:hover {
      color: inherit !important;
      border-bottom: none;
    }
  }
}

.dima_alert_side {
  position: relative;
  background: transparent !important;
  .dima_alert_icon {
    i {
      font-size: 18px;
    }
    i, svg {
      position: absolute;
      top: 5px;
    }
    svg {
      fill: currentColor;
      width: 22px;
      height: 22px;
      @include margin-end(15px);
    }
  }
  .dima-alert {
    position: relative;
    display: block;
    @include margin-start(px-to-rem(40));
  }
}

.dima-alert-warning {
  background-color: $warning-color;
  color: $warning-color-txt;
  a {
    border-bottom: 1px dotted $warning-color-txt;
  }
}

.dima-alert-custom {
  color: $header-font-color;
}

.dima-alert-info {
  background-color: $info-color;
  color: $info-color-txt;
  a {
    border-bottom: 1px dotted $info-color-txt;
  }
}

.wpcf7-validation-errors,
.dima-alert-error {
  background-color: $error-color;
  color: $error-color-txt;
  a {
    border-bottom: 1px dotted $error-color-txt;
  }
}

.dima-alert-success {
  background-color: $success-color;
  color: $success-color-txt;
  a {
    border-bottom: 1px dotted $success-color-txt;
  }

}