// Pagination*/
.pagination,
.dima-pagination {
  position: relative;
  margin-top: px-to-rem(30);
  padding-top: px-to-rem(30);
  border-top: 1px solid $border_color;
  ul {
    display: inline-block;
    margin: 0;

    li {
      display: inline;

      .pages {
        display: none;
      }

      .expand {
        margin: 0 5px;
        position: relative;
        letter-spacing: 5px;
      }

      > span, a:not(.next,.dima-next,.dima-previous,.prev) {
        @include font-size(14, 32);
        margin: 0 2px;
        padding: 0 px-to-rem(11);
        min-width: px-to-rem(35);
        @include float_start;
        height: px-to-rem(35);
        text-align: center;
        font-weight: $p-weight;
        text-decoration: none;
        color: $header-font-color;
        @include transition(all 320ms ease-out);
        border: 2px solid $border-color;
        &:hover {
          border-color: $header-font-color;
        }
        &.current,
        &.current-page {
          border-color: $header-font-color;
        }
      }

      .prev,
      .dima-previous,
      .next,
      .dima-next {
        position: relative;
        span {
          position: absolute;
          width: 0;
          overflow: hidden;
          transition: width 320ms ease;
          white-space: nowrap;
          line-height: px-to-rem(35);
        }
        svg {
          fill: $header-font-color;
          width: 25px;
          height: 36px;
          transition: all 320ms ease;
        }
        &:hover {
          span {
            width: px-to-rem(50);
          }
        }
      }

      .next,
      .dima-next {
        @include float_end();
        span {
          @include float_start();
          @include start(0);
        }
        &:hover {
          svg {
            @if ($global-direction == "ltr") {
              transform: translateX(px-to-rem(50));
            } @else {
              transform: translateX(px-to-rem(-50));
            }
          }
        }
      }

      .prev,
      .dima-previous {
        @include float_start();
        span {
          @include float_end();
          @include end(0);
        }
        &:hover {
          svg {
            @if ($global-direction == "ltr") {
              transform: translateX(px-to-rem(-50));
            } @else {
              transform: translateX(px-to-rem(50));
            }
          }
        }
      }

    }
  }

}

.page-links {
  @include clear_start();
  margin-top: 30px;
  a {
    .page-number {
      transition: all 320ms ease-out;
      border: 2px solid $border-color;
    }
  }
  > .page-number {
    border: 2px solid $theme-color;
    color: $theme-color;
  }
  .page-number {
    display: inline-block;
    font-size: 14px;
    line-height: 30px;
    min-width: 32px;
    height: 32px;
    margin: 0 2px;
    padding: 0 11px;
    text-align: center;
    font-weight: $p-weight;
    text-decoration: none;
    @include transition(all 320ms ease-out);

    &:hover {
      border: 2px solid $theme-color;
      color: $theme-color;
    }

  }
}

