// Pricing Table

.dima-pricing-table {
  width: 100%;
  @include float_start;

  &.featured {
    margin-top: px-to-rem(-35);
  }

  &.table_icon {
    .dima-header-col-info {
      i {
        font-size: px-to-rem(32);
        color: $header-font-color;
      }
      svg {
        width: 35px;
        fill: $header-font-color;
      }
    }

    .dima-pricing-row {
      padding-top: px-to-rem(50);
      margin-bottom: px-to-rem(-20);
    }
  }

  .featured_icon {
    display: block;
    text-align: center;
    svg {
      fill: #ff3d00;
    }
  }

  .add_border_btm {
    .icon-list {
      border-bottom: 1px solid $border-color;
      margin-bottom: px-to-rem(40) !important;
    }
  }

  .pricing-style-callout {
    .dima-header-col-info {
      position: relative;
      height: px-to-rem(100);
      padding: px-to-rem(65) px-to-rem(30) px-to-rem(25) px-to-rem(30);

      .dima-pricing-row {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @include end(px-to-rem(30));
      }
      .dima-table-title {
        top: 50%;
        transform: translateY(-50%);
      }
    }
    .dima-table-content {
      padding: px-to-rem(45) px-to-rem(30) px-to-rem(10) px-to-rem(30);

    }

  }

  .dima-pricing-col {
    width: 100%;
    @include float_start;
    text-align: center;
    position: relative;
    .dima-pricing-col-info {
      &.box-with-shadow {
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.07);
        padding: 0;
      }
      border-top: 2px solid $header-font-color;
      background: $pricing-body-bg;
      color: $body-text-color;
      @include box-shadow(0 0 0 1px $border-color);
      @include box-sizing(order-box);
      @include transition(all 320ms ease-out);

      .icon-list {
        padding: px-to-rem(30) 0 px-to-rem(30) 0;
        li {
          padding: 15px 0;
          margin-bottom: 0;
          @include font-size(14, 20);
          i {
            position: relative;
            top: 0;
            @include margin-end(5px);
          }
        }
      }
      .dima-button {
        margin-bottom: px-to-rem(40);
      }
    }

    .dima-pricing-row {
      .pricing {
        position: relative;
        font-size: px-to-rem(45);
        .currency {
          position: absolute;
          top: 0;
          font-size: px-to-rem(32);
          @include start(-22px);
        }
      }
      .interval {
        @include font-size(16, 16);
      }
    }

    &.dima-offers {
      margin: 0;
      @include border-start(none !important);
      .dima-pricing-col-info {
        border: none;
        margin-top: px-to-rem(70);
        @include box-shadow(none);
        background: transparent;
      }
      .icon-list {
        box-shadow: 0 0 0 1px $border-color;
      }
    }

  }
  .dima-header-col-info {
    border-bottom: 1px solid $border-color;
    padding: px-to-rem(65) 0 px-to-rem(25) 0;

    .dima-table-title {
      position: absolute;
      top: px-to-rem(20);
      @include start(px-to-rem(30));
    }
    .dima-pricing-row {
      margin-bottom: 0;
    }
  }
}

.dark-bg {
  .dima-pricing-table .dima-pricing-col .dima-pricing-col-info {
    background: rgba(#ffffff, .1);
    border-top-color: #ffffff;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .2);
  }
  .dima-pricing-table.table_icon .dima-header-col-info i,
  .dima-table-title, h2,
  .dima-pricing-table .dima-pricing-col .dima-pricing-col-info {
    color: #ffffff;
  }
  .dima-pricing-table.table_icon .dima-header-col-info svg {
    fill: #ffffff;
  }
  .dima-pricing-table .dima-pricing-col .dima-pricing-col-info.box-with-shadow {
    box-shadow: 0 10px 20px 0 rgba(0, 0, 0, .2);
  }
  .dima-pricing-table .add_border_btm .icon-list,
  .dima-pricing-table .dima-header-col-info {
    border-color: rgba(255, 255, 255, .2);
  }
}

@include break(sd-max) {
  .dima-pricing-table.featured {
    margin-top: 0
  }
  .ok-no-margin {
    .dima-pricing-table.featured {
      margin-top: px-to-rem(30);
    }
  }
}