.progress {
  height: 1px;
  margin-bottom: px-to-rem(25);
  background: $border-color;

  .progress-bar {
    position: relative;
    @include float_start();
    width: 0;
    height: 3px;
    top: -1px;
    font-size: 12px;
    line-height: 20px;
    color: $second-theme-color;
    text-align: center;
    background-color: $theme-color;
    transition: width 0.6s ease;
  }
}

.h-skill, .h-skill-bar {
  color: $body-text-color;
  margin-bottom: px-to-rem(10);
  font-weight: $font-weight-light;
}

.h-skill {
  position: relative;
  .percent-end {
    position: absolute;
    @include end(0);
    bottom: -2px;
    font-size: 14px;
    line-height: 21px;
    color: $header-font-color;
    font-weight: $font-weight-regular;
  }
}

.progress.active .progress-bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}

//circular
.circular-bar {
  position: relative;
  &.pc_icon {
    .circular-bar-content {
      label {
        position: absolute;
        top: 0;
        @include end(px-to-rem(-25));
        color: $header-font-color;
        font-weight: $font-weight-regular;
      }
    }
    .circular-bar-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -15px;
      color: $header-font-color;
      svg {
        fill: currentColor;
        width: px-to-rem(23);
      }
      i {
        color: $header-font-color;
        font-size: px-to-rem(20);
      }
    }
  }
  &.no_pc_icon {
    .circular-bar-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      margin-top: -5px;
      label {
        position: relative;
        display: block;
        color: $header-font-color;
        font-weight: $font-weight-light;
        @include font-size(27, 30);
        top: px-to-rem(5);
      }
    }
  }

  .pc-circle {
    width: 149px;
    height: 149px;
    display: block;
    position: absolute;
    top: 1px;
    @include start(50%);
    @if $global-direction == "ltr" {
      transform: translateX(-50%);
    } @else {
      transform: translateX(50%);
    }

    border-radius: 99rem;
    z-index: -1;
  }

  span {
    display: block;
    font-weight: $font-weight-light;
    @include font-size(14, 24);
  }
  .circular-bar-heading {
    margin-top: px-to-rem(10);
  }
}

.dark-bg {
  .progress {
    background: rgba(#fff, 0.2);
  }

  .h-skill-bar, .h-skill, .percent-end {
    color: rgba(#fff, 0.8);
  }
  .circular-bar span,
  .circular-bar.pc_icon .circular-bar-content label,
  .circular-bar.no_pc_icon .circular-bar-content label {
    color: #fff;
  }

}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}