.scroll-to-top {
  @include font-size(20, 50);
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  @include end(20px);
  bottom: 20px;
  text-align: center;
  text-decoration: none;
  width: px-to-em(50, 20);
  height: px-to-em(50, 20);
  @include transition(all 0.5s ease-in-out);
  @include transform(perspective(300px) rotateY(-120deg) translateZ(-10px));
  z-index: 1040;

  &.on {
    opacity: 1 !important;
    transition-delay: 0s !important;
    @include transform(perspective(300px) rotateY(0deg));
  }
  &.off {
    opacity: 0;
  }
  svg {
    fill: #FFF;
    height: px-to-rem(50);
    width: px-to-rem(30);
  }
  &:hover {
    background: rgba(0, 0, 0, 0.7);
  }

}
