.dima-data-table-wrap table, table {
  position: relative;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  margin-bottom: px-to-rem(60);
  @include box-sizing(content-box);

  tbody {
    tr {
      th {
        vertical-align: middle;
        @include text_align_start();
        font-weight: $font-weight-regular;
        @if $global-direction == "rtl" {
          padding: px-to-rem(30) px-to-rem(30) px-to-rem(30) 0;
        } @else {
          padding: px-to-rem(30) 0 px-to-rem(30) px-to-rem(30);
        }
      }
    }
  }
  tr {
    border-bottom: 1px solid $border-color;
    color: $header-font-color;
    td {
      @include text_align_start();
      font-weight: $font-weight-regular;
      @if $global-direction == "rtl" {
        padding: px-to-rem(30) px-to-rem(30) px-to-rem(30) 0;
      } @else {
        padding: px-to-rem(30) 0 px-to-rem(30) px-to-rem(30);
      }
      &.label {
        background-color: transparent;
        color: $header-font-color;
      }
      vertical-align: middle;
      svg {
        fill: $header-font-color;
        width: 24px;
      }
      del {
        font-weight: $font-weight-regular;
      }

      .amount,
      &.product-subtotal,
      &.product-price {
        font-weight: $font-weight-bold;
      }
    }
  }

  thead {
    border-bottom: 2px solid $header-font-color;
    th {
      background-color: lighten($border-color, 10%);
      text-align: center;
      vertical-align: middle;
      font-size: 18px;
      padding-bottom: px-to-rem(25);
      color: $header-font-color;
      font-weight: $p-weight;
      font-family: $font-family-headings;
      @include text_align_start();
      @if $global-direction == "rtl" {
        padding: px-to-rem(30) px-to-rem(30) px-to-rem(30) 0;
      } @else {
        padding: px-to-rem(30) 0 px-to-rem(30) px-to-rem(30);
      }
    }
  }

  &.zibra_table {
    tr {
      border: none;
    }
    thead th {
      background: $header-font-color;
      color: #FFF;
    }
    tbody {
      tr.even {
        background: $section-bg-color;
      }
    }
  }

}