.dima-tabs {
  display: block;
  ul {
    @include padding-start(0);
  }
  &.tabs_float_end,
  &.tabs_float_start {
    .dima-tab-content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
      min-width: 0;
    }
    &.tabs_style_1 {
      .dima-tab-nav {
        li {
          margin-bottom: 2px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.columns-2-tab {
    ul.dima-tab-nav {
      li {
        width: 50%;
      }
    }
  }
  &.columns-3-tab {
    ul.dima-tab-nav {
      li {
        width: 33.333333%;
      }
    }
  }
  &.columns-4-tab {
    ul.dima-tab-nav {
      li {
        width: 25%;
      }
    }
  }
  &.columns-5-tab {
    ul.dima-tab-nav {
      li {
        width: 20%;
      }
    }
  }
  &.columns-6-tab {
    ul.dima-tab-nav {
      li {
        width: 16.6666666%;
      }
    }
  }
}

/*TAB*/
ul.dima-tab-nav {
  display: table;
  width: 100%;
  margin: 0;

  &.float-start, &.float-end {
    width: px-to-rem(180);
    .tab {
      width: 100%;
      max-width: px-to-rem(180);
      border-bottom: none;
    }
  }

  .tab {
    position: relative;
    @include float_start;
    margin-bottom: 0;
    text-align: center;
    font-family: $font-family-headings;
    font-weight: $font-weight-regular;
    display: block;
    @include transition(all 320ms ease-out);
    z-index: 5;
    &.active {
      z-index: 10;
    }
    > a {
      display: inline-block;
      width: 100%;
      background-color: $tab-nav-bg;
      color: $tab-nav-color;
      padding: px-to-rem(10) px-to-rem(30);
      @include transition(all 320ms ease-out);
    }
    i {
      @include margin-end(10px);
    }
  }
}

//2-Content*/

.dima-tab-content {
  position: relative;
  margin-bottom: 30px;
  z-index: 2;
  margin-top: -1px;
  overflow: auto;
  @include transition(all 0.3s ease-in);
  .dima-tab_content {
    padding: px-to-rem(30) 0;
    display: none;
    min-height: 160px;
    @include transition(opacity 320ms ease-out);
    overflow: hidden;
    opacity: 0;
    &.active {
      display: block;
    }
  }
  &.float-start, &.float-end {
    width: 75%;
    margin-top: 0;
    z-index: 5;
  }

  &.float-end {
    @include start(-1px);
  }

  &.float-start {
    @include end(-1px);
  }
}

.tabs_style_1 {
  ul.dima-tab-nav {
    .tab {
      &.active {
        a {
          background-color: $theme-color;
          color: #ffffff;
        }
      }
    }
  }

  ul.dima-tab-nav {
    &.top {
      .tab {
        padding: 0 1px;
        &:first-child {
          @include padding-start(0);
        }
        top: 0;
        &.active {
          top: -10px;
          cursor: default;
        }
      }
    }
  }

  &.tabs_float_end,
  &.tabs_float_start {
    .dima-tab_content {
      padding: 0 px-to-rem(30);
    }
  }
}

.tabs_style_2 {
  ul.dima-tab-nav {
    &.float-start {
      @include margin-end(30px)
    }
    &.float-end {
      @include margin-start(30px)
    }

    .tab {
      border: 1px solid $border-color;
      @include box-shadow(inset 0 0 0 $tab-nav-border-color);
      &:last-child {
        @include border-end-width(1px);
      }
      &.active {
        a {
          @include box-shadow(inset 0 -2px 0 $tab-nav-border-color);
        }
      }
    }
  }
  &.tabs_float_top {
    ul.dima-tab-nav {
      .tab {
        @include border-end-width(0);
      }
    }
  }
  &.tabs_float_start {
    ul.dima-tab-nav {
      .tab {
        border-bottom-width: 0;
        &:last-child {
          border-bottom-width: 1px;
        }
        &.active {
          a {
            @if $global-direction == "rtl" {
              @include box-shadow(inset 2px 0 0 $tab-nav-border-color);
            } @else {
              @include box-shadow(inset -2px 0 0 $tab-nav-border-color);
            }
          }
        }
      }
    }
  }
  &.tabs_float_end {
    ul.dima-tab-nav {
      .tab {
        &.active {
          a {
            @if $global-direction == "rtl" {
              @include box-shadow(inset -2px 0 0 $tab-nav-border-color);
            } @else {
              @include box-shadow(inset 2px 0 0 $tab-nav-border-color);
            }
          }
        }
      }
    }
  }
  &.tabs_float_start,
  &.tabs_float_end {
    .dima-tab_content {
      padding-top: 0;
    }
  }
}

.tabs_style_3 {
  ul.dima-tab-nav {
    .tab {
      a {
        background: rgba(0, 0, 0, 0);
      }
      &.active {
        a {
          background: $theme-color;
          color: #ffffff;
        }
      }
    }
  }
  .dima-tab-content {
    .dima-tab_content {
      padding: px-to-rem(30);
      background: $nav-bg-color;
    }
  }
}

.tabs_style_4 {
  ul.dima-tab-nav {
    .tab {
      @include border-end-width(0);
      @include box-shadow(inset 0 0 0 $tab-nav-border-color);
      a {
        background: rgba(0, 0, 0, 0);
      }
      &.active {
        a {
          @include box-shadow(inset 0 -2px 0 $tab-nav-border-color);
        }
      }
    }
  }
  .dima-tab-content {
    .dima-tab_content {
      padding: px-to-rem(30);
      background: $nav-bg-color;
    }
  }
  &.tabs_float_start {
    ul.dima-tab-nav {
      .tab {
        &.active {
          a {
            @if $global-direction == "rtl" {
              @include box-shadow(inset 2px 0 0 $tab-nav-border-color);
            } @else {
              @include box-shadow(inset -2px 0 0 $tab-nav-border-color);
            }
          }
        }
      }
    }
  }
  &.tabs_float_end {
    ul.dima-tab-nav {
      .tab {
        &.active {
          a {
            @if $global-direction == "rtl" {
              @include box-shadow(inset -2px 0 0 $tab-nav-border-color);
            } @else {
              @include box-shadow(inset 2px 0 0 $tab-nav-border-color);
            }
          }
        }
      }
    }
  }
}

.tabs_style_5 {

  ul.dima-tab-nav {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 1200px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    .tab {
      border: 1px solid $border-color;
      text-align: center;
      margin: 0 px-to-rem(15);
      a {
        background: rgba(0, 0, 0, 0);
        width: px-to-rem(170);
        height: px-to-rem(170);
        font-size: 18px;
        padding: px-to-rem(45) px-to-rem(5);
        i, svg {
          display: block;
        }
        i {
          margin: 0 0 px-to-rem(20) 0;
          font-size: 35px;
        }
        svg {
          fill: currentColor;
          margin: 0 auto px-to-rem(20) auto;
          height: px-to-rem(32);
          width: px-to-rem(32);
          path {
            fill: currentColor;
          }
        }
      }

      &.active {
        border-color: $theme-color;
        a {
          background: $theme-color;
          color: $second-theme-color;
          &::after {
            position: absolute;
            top: 100%;
            left: 50%;
            @include margin-start(-10px);
            width: 0;
            height: 0;
            border: solid transparent;
            border-width: 10px;
            border-top-color: $theme-color;
            content: '';
            pointer-events: none;
          }
        }
      }
    }
  }
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.9s ease;
  transition: opacity 0.9s ease;
}

/*DARK*/
.dark-bg {
  ul.dima-tab-nav {
    .tab {
      border-color: rgba($border-color, 0.25);
      a {
        color: #ffffff;
      }
    }
  }

  .tabs_style_3, .tabs_style_4 {
    .dima-tab-content .dima-tab_content {
      background-color: rgba(#ffffff, .1);
    }
  }

  .tabs_style_2,
  .tabs_style_1 {
    ul.dima-tab-nav {
      .tab {
        &.active {
          a {
            background: $theme-color;
          }
        }
        a {
          background-color: rgba(#ffffff, .1);
        }
      }
    }
  }

}

@include break(sd-max) {
  .dima-tabs {
    &.tabs_style_1 {
      &.columns-5-tab,
      &.columns-6-tab {
        ul.dima-tab-nav {
          &.top {
            li.tab {
              width: auto;
            }
          }
        }
      }
    }
  }
}

//responsive
@include break(sd-min) {

  .dima-tabs {

    ul.dima-tab-nav {
      &.top {
        li.tab {
          @include border-end-width(1px);
          border-bottom-width: 0;
          &:last-child {
            border-bottom-width: 1px;
          }
        }
      }
    }

    &.tabs_style_2, &.tabs_style_4 {
      li.tab {
        width: 100% !important;
        &.active {
          border-color: $border-color !important;
          a {
            box-shadow: inset 0 -2px 0 #333333 !important;
          }
        }
      }
    }

    ul.dima-tab-nav {
      width: 100% !important;
      li.tab {
        width: 100%;
      }
    }

    &.tabs_style_5 {
      li.tab {
        width: px-to-rem(70) !important;
        height: px-to-rem(70);
        margin: 0 2.5px;
        border-bottom-width: 1px !important;
        a {
          width: px-to-rem(70);
          height: px-to-rem(70);
          padding: px-to-rem(17) px-to-rem(0);
          font-size: 0;
          i {
            font-size: 28px;
            margin: 0;
          }
        }
      }
    }
  }

  .tabs_style_1.tabs_float_end .dima-tab_content,
  .tabs_style_1.tabs_float_start .dima-tab_content {
    padding: px-to-rem(25) 0;
  }

  .tabs_style_1 ul.dima-tab-nav.top .tab.active {
    top: 0;
  }

  .dark-bg {
    .dima-tabs {
      &.tabs_style_2, &.tabs_style_4 {
        li.tab {
          &.active {
            border-color: rgba($border-color, 0.25) !important;;
          }
        }
      }
    }
  }

}