.dima-team-member {
  .team-img {
    .fix-chrome {
      position: relative;
    }
    img {
      width: 100%;
    }
  }

}

.dima-team-content {
  padding: 1em;
  padding-top: 30px;
  .line-hr {
    margin-bottom: 5px;
  }
}

.member-function {
  @include font-size($base-font-size, $base-line-height);
  display: inline-block;
  margin-bottom: 5px;
}

.dima-team {
  &.box-with-shadow {
    padding: 0;
  }
}