$testimonial-text-size: $base-font-size + 10;
$testimonial-line-height: $testimonial-text-size + 6;
.dima-testimonial {
  position: relative;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;

  &.icon_quote_start {
    svg {
      position: relative;
      @include float_start();
      height: 48px;
      width: 48px;
      top: -6px;
      @include margin-end(10px);
      @include start(-8px);
    }
  }
  &.icon_quote_end {
    svg {
      position: relative;
      @include float_end();
      height: 48px;
      width: 48px;
      top: -6px;
      @include margin-start(10px);
      @include end(-8px);
    }
  }

  blockquote {
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include border-start(none);
    @include padding-start(0);
    .box-with-shadow {
      padding: px-to-rem(21) px-to-rem(30);
    }
    &:not(.box-with-shadow) {
      @include box-shadow(none);
    }

    .quote-content {
      overflow: hidden;

      p {
        @include font-size(16, 32);
        margin-bottom: 0;
        color: $header-font-color;
      }

      .dima-testimonial-meta {
        font-size: px-to-em($base-font-size);
        line-height: px-to-em($base-line-height);
        color: $header-link-color;
        display: block;
        margin-top: px-to-rem(10);
        a {
          color: $header-link-color;
          &:hover {
            color: $header-font-color;
          }
        }
      }
    }
  }

  &.testimonial-side {
    position: relative;

    blockquote {
      background: $testimonial-bg;
      box-shadow: 0 0 0 5px $border-color;
      padding: px-to-rem(21) 0;
      width: 100%;
    }

    .dima-testimonial-image {
      margin-top: px-to-rem(30);
    }
  }

  &.quote-start, &.quote-end,
  &.quote-top-center-arrow, &.quote-start-top,
  &.quote-end-top,
  &.quote-start-bottom,
  &.quote-end-bottom, &.quote-top-bottom,
  &.quote-bottom-center-arrow {
    .dima-testimonial-image {
      margin-top: px-to-rem(9);
      width: px-to-rem(100);
      height: px-to-rem(100);
      background-repeat: no-repeat;
      background-position: center !important;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      background-size: cover;
    }
  }

  &.quote-start {
    .dima-testimonial-image {
      @extend .start-image;
      margin-top: 0 !important;
    }
  }

  &.quote-end {
    .dima-testimonial-image {
      @extend .end-image;
      @include margin-end(0);
    }
  }

  .dima-testimonial-image {
    @extend .start-image;
    margin-top: px-to-rem(9);
  }
}

.quote-text {
  font-size: px-to-em(16);
  @include border-start(none);
  position: relative;
  margin-bottom: px-to-rem(30);
  .dima-testimonial-image {
    margin-top: px-to-rem(20) !important;
  }

  &.quote-start {
    blockquote {
      width: auto;
    }
    blockquote > span {
      svg {
        position: relative;
        @include float_start();
        height: 48px;
        width: 48px;
        top: -6px;
        @include margin-end(10px);
        @include start(-8px);
      }
    }
  }
  &.quote-end {
    blockquote > span {
      svg {
        position: relative;
        @include float_end();
        height: 48px;
        width: 48px;
        top: -6px;
        @include margin-start(10px);
        @include end(-8px);
      }
    }
  }

  &.quote-end-bottom {
    .dima-testimonial-image {
      @include float-end;
      @include margin-end(0px);
    }
  }

  &.quote-start-top {
    margin-top: 25px;
    .dima-testimonial-image {
      @include float-start;
      @include margin-start(0px);
      margin-bottom: px-to-rem(35);
      margin-top: 0 !important;
    }
    blockquote {
      @include float-start;
    }
  }

  &.quote-end-top {
    margin-top: 25px;
    .dima-testimonial-image {
      @include float-end;
      @include margin-end(0px);
      margin-bottom: px-to-rem(35);
      margin-top: 0 !important;
    }

    blockquote {
      @include float-end;
    }

  }

  &.quote-top-center {
    .dima-testimonial-image {
      display: block;
      position: relative;
      margin-bottom: px-to-rem(35);
      margin-top: 0 !important;
      @include start(50%);
      @if ($global-direction == "rtl") {
        transform: translate(50%, 0);
      } @else {
        transform: translate(-50%, 0);
      }
    }

    blockquote {
      @include float-end;
      width: 100%;
    }
  }

  &.quote-bottom-center {
    .dima-testimonial-image {
      display: block;
      position: relative;
      margin-top: px-to-rem(35) !important;
      margin-bottom: 0 !important;
      @include start(50%);
      @if ($global-direction == "rtl") {
        transform: translate(50%, 0);
      } @else {
        transform: translate(-50%, 0);
      }
    }

    blockquote {
      @include float-end;
      width: 100%;
    }
  }

  &.no-arrow {
    &.quote-start-bottom,
    &.quote-end-bottom {
      .dima-testimonial-image {
        margin-bottom: 0 !important;
        margin-top: px-to-rem(35) !important;
      }
    }
  }

  &.quote-top-center-arrow {
    .dima-testimonial-image {
      display: block;
      position: relative;
      margin-bottom: px-to-rem(35) !important;
      margin-top: 0 !important;
      @include start(50%);
      @if ($global-direction == "rtl") {
        transform: translate(50%, 0);
      } @else {
        transform: translate(-50%, 0);
      }
    }
    blockquote {
      @include float-end;
      width: 100%;
    }
  }

  &.quote-bottom-center-arrow {
    .dima-testimonial-image {
      display: block;
      position: relative;
      margin-top: 20px !important;
      margin-bottom: 0 !important;
      @include start(50%);
      @if ($global-direction == "rtl") {
        transform: translate(50%, 0);
      } @else {
        transform: translate(-50%, 0);
      }
    }

    blockquote {
      @include float-end;
    }

  }
}

.dark-bg {
  .no-arrow {
    .quote-content {
      .dima-testimonial-meta strong {
        color: #ffffff;
      }

      .dima-testimonial-meta {
        color: rgba(255, 255, 255, 0.5);
        span {
          color: rgba(255, 255, 255, 0.8);
        }
      }
      p {
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

@include break(xsd-min) {
  .quote-start,
  .quote-end {
    .dima-testimonial-image {
      display: none;
    }
  }
}