.dima-timeline {
  position: relative;
  margin: 0 auto 50px;

  .post-icon .icons-media li {
    opacity: 1;
  }

  .timeline_element_start {
    position: relative;
    width: 100%;
    @include float-start;
    @include clear-start;
    .box {
      @include margin-end(px-to-rem((40)));
    }
    .date {
      position: absolute;
      top: 0;
      @include end(-30px);
      @if $global-direction == "ltr" {
        transform: translateX(100%);
      } @else {
        transform: translateX(-100%);
      }

    }
  }
  .timeline_element_end {
    position: relative;
    @include float-end;
    @include clear-end;
    width: 100%;
    article, .timeline_element-content {
      &:before {
        @include start(50%);
        top: 50%;
      }
    }
    .box {
      @include margin-start(px-to-rem((40)));
    }
    .date {
      position: absolute;
      top: 0;
      @include start(-30px);
      @if $global-direction == "ltr" {
        transform: translateX(-100%);
      } @else {
        transform: translateX(100%);
      }

    }
  }
  article, .timeline_element-content {
    float: inherit;
    &:after {
      content: '';
      position: absolute;
      display: block;
      top: 50%;
      @include end(50%);
      @include margin-end(-6px);
      @include margin-start(-6px);
      margin-top: -20px;
      @include transition(all 320ms ease-out);
    }
    &:hover {
      &:after {
        border-color: $theme-color;
      }
      .dima-custom-heading, h5 {
        a, i {
          color: $theme-color;
        }
      }
    }
  }
  // Blog Style
  &.dima-timeline-date,
  &.dima-timeline-blog {

    .timeline_element_end,
    .timeline_element_start {
      article {
        position: relative;
        width: 50%;
        margin-bottom: px-to-rem(75);
      }
    }

    .timeline_element_end {
      article {
        &:after {
          @include start(-10px);
        }
      }
    }
    .timeline_element_start {
      article {
        &:after {
          @include end(-8px);
        }
      }
    }
    article {
      &:after {
        content: '';
        position: absolute;
        display: block;
        background: $body-bg-color;
        top: 15px;
      }
      &:after {
        width: 20px;
        height: 20px;
        border: 5px solid $border-color;
        @include border-radius(99rem);
      }

      &:hover {
        &:after {
          border-color: $theme-color;
        }
      }
    }

  }
}

.dima-timeline-list {
  position: relative;
  @include float_start();

  .dima-iconbox {
    @include float_start();
    .icon-box-header .box-square, .icon-box-header .box-circle {
      box-shadow: 0 0 0 2px $theme-color;
    }
    &:hover {
      .icon-box-header .box-square,
      .icon-box-header .box-circle {
        background: $theme-color;
        color: $second-theme-color;
      }
    }
  }

  &.process-v {
    .dima-iconbox {
      margin-bottom: px-to-rem(70);
      .icon-box-header {
        &:after {
          content: "";
          height: 40%;
          position: absolute;
          background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{$header-link-color}" height="13" viewBox="0 0 24 24" width="8">
    <path d="M24 24H0V0h24v24z" fill="none"/>
    <circle cx="12" cy="12" fill="#010101" r="8"/>
</svg>');
          background-repeat: repeat-y;
          width: 10px;
          top: 107%;
          @include start(50%);
          @if $global-direction == "ltr" {
            transform: translateX(-50%);
          } @else {
            transform: translateX(50%);
          }
        }
      }
      &:last-child {
        .icon-box-header {
          &:after {
            display: none;
          }
        }
      }
    }
  }

  &.process-h {
    .dima-iconbox {
      .icon-box-header {
        &:after {
          content: "";
          width: 20%;
          position: absolute;
          background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{$header-font-color}" height="9" viewBox="0 0 24 24" width="12">
    <path d="M24 24H0V0h24v24z" fill="none"/>
    <circle cx="12" cy="12" fill="#{$header-font-color}" r="8"/>
</svg>');
          background-repeat: repeat-x;
          height: 9px;
          top: 50%;
          @include start(100%);
          @if $global-direction == "ltr" {
            transform: translateX(-50%);
          } @else {
            transform: translateX(50%);
          }
          margin-top: -7px;
        }
      }

      &:last-child {
        .icon-box-header {
          &:after {
            display: none;
          }
        }
      }
    }
    &.columns-3 {
      .dima-iconbox {
        width: 33.33%;
      }
    }
    &.columns-4 {
      .dima-iconbox {
        width: 25%;
      }
    }
    &.columns-5 {
      .dima-iconbox {
        width: 20%;
      }
    }

    .features-content {
      padding: 0 px-to-rem(15);
    }
  }

}

.h-line {
  @include start(50%);
  @include margin-start(-2px);
  position: absolute;
  top: 0;
  bottom: 100%;
  @include border-start(2px solid $border-color);
  height: 100%;

  &:after {
    content: '';
    width: 20px;
    height: 20px;
    border: 5px solid $border-color;
    border-radius: 99rem;
    bottom: -25px;
    position: absolute;
    left: -15px;
    background: #fff;
  }
}

//responsive
@include break(sd-min) {
  .dima-timeline {
    .h-line {
      display: none;
    }
  }
  //TimeLine
  .dima-timeline-list li:before {
    @include start(32.5px);
    padding-top: 65px;
  }
  .dima-timeline {

    .timeline_element-content {
      article {
        width: 100%;
      }
      float: none;
      margin: 30px 0;

      &:after, &:before {
        display: none;
      }
      .post {
        margin: 0;
      }
    }
    .date {
      display: none;
    }
  }
  .dima-timeline.dima-timeline-blog {
    [class^="timeline_element_"] {
      article {
        width: 100%;
        .box {
          @include margin-end(0);
          @include margin-start(0);
        }
      }
      margin-top: 0;
      .post {
        &:after,
        &:before {
          display: none;
        }
        @include padding-end(0%);
        @include padding-start(0%);
      }
    }
  }

  .dima-timeline-list {
    &.process-h {
      &.columns-4,
      &.columns-5,
      &.columns-6,
      &.columns-3 {
        .dima-iconbox .icon-box-header:after {
          display: none;
        }
        .dima-iconbox {
          width: 50%;
          margin-bottom: px-to-rem(30);
        }
      }
    }
  }
}

@include break(xsd-min) {
  .dima-timeline-list {
    &.process-h {
      .dima-iconbox .icon-box-header:after {
        display: none;
      }

      &[class*="columns-"] {
        .dima-iconbox {
          width: 100%;
        }
      }
    }
  }
}

.dark-bg {
  .dima-timeline-list.process-h .dima-iconbox .icon-box-header {
    &:after {
      background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="9" viewBox="0 0 24 24" width="12">
    <path d="M24 24H0V0h24v24z" fill="none"/>
    <circle cx="12" cy="12" fill="#FFFFFF" r="8"/>
</svg>');
    }
  }

  .dima-timeline-list.process-v .dima-iconbox .icon-box-header {
    &:after {
      background-image: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#FFFFFF" height="13" viewBox="0 0 24 24" width="8">
    <path d="M24 24H0V0h24v24z" fill="none"/>
    <circle cx="12" cy="12" fill="#FFFFFF" r="8"/>
</svg>');

    }
  }
}
