.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  line-height: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.2s ease-in;
  transition: opacity 0.2s ease-in;

  &.top {
    margin-top: -3px;
    padding: 5px 0;
  }
  &.bottom {
    margin-top: 3px;
    padding: 5px 0;
  }
  &.right {
    @include margin-end(-3px);
    padding: 0 5px;
  }
  &.left {
    @include margin-start(3px);
    padding: 0 5px;
  }
}

.tooltip-inner {
  max-width: 200px;
  padding: 15px;
  color: $tooltip-color;
  text-align: center;
  text-decoration: none;
  background-color: $tooltip-bg;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  @include start(50%);
  @include margin-start(-5px);
  border-width: 5px 5px 0;
  border-top-color: $tooltip-boredr-color;
}

.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  @include start(5px);
  border-width: 5px 5px 0;
  border-top-color: $tooltip-boredr-color;
}

.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  @include end(5px);
  border-width: 5px 5px 0;
  border-top-color: $tooltip-boredr-color;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  @if $global-direction == "ltr" {
    @include start(0);
    @include border-end-color($tooltip-boredr-color);
  } @else {
    @include end(0);
    @include border-start-color($tooltip-boredr-color);
  }
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;

  @if $global-direction == "rtl" {
    @include start(0);
    @include border-end-color($tooltip-boredr-color);
  } @else {
    @include end(0);
    @include border-start-color($tooltip-boredr-color);

  }
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  @include start(50%);
  @include margin-start(-5px);
  border-width: 0 5px 5px;
  border-bottom-color: $tooltip-boredr-color;
}

.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  @include start(5px);
  border-width: 0 5px 5px;
  border-bottom-color: $tooltip-boredr-color;
}

.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  @include end(5px);
  border-width: 0 5px 5px;
  border-bottom-color: $tooltip-boredr-color;
}
