@mixin waves-transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin waves-transform($string) {
  -webkit-transform: $string;
  -moz-transform: $string;
  -ms-transform: $string;
  -o-transform: $string;
  transform: $string;
}

@mixin waves-box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

.waves-effect {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(218, 218, 218, 0.3);
    $gradient: rgba(218, 218, 218, 0.3) 0, rgba(218, 218, 218, .3) 40%, rgba(218, 218, 218, .4) 50%, rgba(218, 218, 218, .5) 60%, rgba(255, 255, 255, 0) 70%;
    background: -webkit-radial-gradient($gradient);
    background: -o-radial-gradient($gradient);
    background: -moz-radial-gradient($gradient);
    background: radial-gradient($gradient);
    @include waves-transition(all 0.5s ease-out);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    @include waves-transform(scale(0) translate(0, 0));
    pointer-events: none;
  }

  &.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.2);
    $gradient: rgba(255, 255, 255, 0.2) 0, rgba(255, 255, 255, .3) 40%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .5) 60%, rgba(255, 255, 255, 0) 70%;
    background: -webkit-radial-gradient($gradient);
    background: -o-radial-gradient($gradient);
    background: -moz-radial-gradient($gradient);
    background: radial-gradient($gradient);
  }

  &.waves-classic .waves-ripple {
    background: rgba(218, 218, 218, 0.3);
  }

  &.waves-classic.waves-light .waves-ripple {
    background: rgba(255, 255, 255, 0.2);
  }
}

.waves-notransition {
  @include waves-transition(none #{"!important"});
}

.waves-button {
  @include waves-transform(translateZ(0));
}

.waves-input-wrapper {
  vertical-align: bottom;

  .waves-button-input {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    @include float_start();
    width: 100%;
  }
}

.waves-float {
  -webkit-mask-image: none;
  @include waves-box-shadow(0px 1px 1.5px 1px rgba(0, 0, 0, 0.12));
  @include waves-transition(all 300ms);

  &:active {
    @include waves-box-shadow(0px 8px 20px 1px rgba(0, 0, 0, 0.30));
  }
}

