//Products page
//* 0 - GRID & LIST
.products-grids, .products-list {
  &.products-slide {
    .dima-product {
      margin-bottom: 0 !important;
      border-bottom: 0 !important;
      list-style: none;
      width: 100%;
    }
  }

  .dima-product {
    position: relative;
    display: table;
    z-index: 3;

    &.isotope-item {
      margin-bottom: 50px !important;
      padding-bottom: 0;
    }

    .product-img {

      .fix-chrome {
        position: relative;
        z-index: 99;
      }

      &:hover {
        .product-change-images {
          opacity: 1;
        }
      }
    }

    .product-img {
      figure {
        position: relative;

        &.product-change-images {
          position: absolute;
          top: 0;

          @include start(0);

          opacity: 0;
          filter: alpha(opacity=0);

          @include transition(all ease-in-out 0.3s);

          -webkit-backface-visibility: hidden;
          width: 100%;
        }

        img {
          height: auto;
          width: 100%;
        }
      }
    }
    .out_of_stock_flash,
    .onsale {
      span {
        position: absolute;
        @include end(0);
        top: -32px;
        z-index: 10;
        -webkit-backface-visibility: hidden;
      }
    }
    .out_of_stock_flash {
      color: $header-font-color;
    }

    .onsale {
      color: $sale-theme-color;
    }
    &.outofstock {
      .product-img {
        figure {
          opacity: .3;
          &.product-change-images {
            display: none;
          }
        }
      }
    }

    .rating span:before {
      @include font-size(16, 16);
    }

    .product-content {
      padding-top: sp_dima($sp_conected_elms, $h5, $h5_lh);
    }

    .product-name {
      margin-bottom: sp_dima($sp_conected_elms, $h5, $h5_lh);
    }
  }
}

//* 1 - LIST
.products-list {
  &.ok-row {
    margin: 0;
  }
  .social-media {
    .inline {
      @include float_start;
    }
  }
  .entry-header {
    overflow: hidden;
    width: auto;
  }
  .post-content {
    overflow: hidden;
  }

  .dima-product {
    margin-bottom: px-to-rem(90);

    &[class*="ok-xsd"],
    &[class*="ok-sd"],
    &[class*="ok-md"],
    &[class*="ok-ld"],
    &[class*="ok-xld"] {
      width: 100%;

      @include margin-start(0);
    }

    &.recipes {
      padding: 0;
      background: $body-bg-color;

      .product-content {
        position: static;
        padding: 30px;
      }

      p {
        margin-bottom: 10px;
      }
    }
    .product-img {
      width: 270px;
    }

    &.start {
      .product-img {
        @include margin-end(30px);

        @include margin-start(0px);
      }

      .product-img, .rating {
        @include float-start;
      }

      .product-content {
        @include text_align_start;
      }
    }

    &.end {
      .product-img {
        @include margin-start(30px);

        @include margin-end(0px);
      }

      .product-img, .rating {
        @include float-end;
      }

      .product-content {
        @include text_align_end;
      }
    }

    .link_overlay {
      display: none;
    }

    .product-img {
      //overflow: hidden;
      display: table;

      @include float-start;

      @include margin-end(30px);

      figure {
        position: relative;

        img {
          @include float-start;
        }

        &.product-change-images {
          width: auto;
        }
      }
    }

    .product-content {
      padding: 0;
      .product-name {
        font-size: px-to-rem(18);
        margin-bottom: px-to-rem(25);
      }
    }

    .price {
      @include text_align_start;
      @include font-size(18, 18);
      top: 0;
    }

    .product-excerpt-container {
      margin-bottom: px-to-rem(50)
    }
  }
}

//* 2 - GRIDS
.products-grids {
  .star-rating {
    margin-bottom: 0;
  }
  .post-content {
    display: none;
  }
  .line-hr {
    margin-bottom: 10px;
  }
  .isotope-item {
    .dima-product {
      width: 99.9%;
      list-style: none;
    }
  }
  .dima-product {
    @include float-start();
    .review-link, p, .social-media {
      display: none;
    }
    .product-name {
      font-size: px-to-rem($font-size);
    }
  }
  .price {
    font-weight: $font-weight-semibold;
  }
}