.dima-ordering {
  margin-bottom: px-to-rem(70);
}

.price {
  position: absolute;
  top: sp_dima($sp_conected_elms, $h5, $h5_lh);;
  @include end(0);
  font-family: $font-family-headings;
  color: $header-font-color;
}

.amount, ins {
  text-decoration: none;
}

del {
  @include margin-end(10px);
  color: $header-link-color;
}

//* SINGL PAGE

.order-products {
  img {
    @include margin-start(10px);
  }

  .radio {
    @include margin-end(10px);
  }
}

.myaccount_user {
  margin-bottom: 30px;
}

table.my_account_orders {

  margin-bottom: 30px;
  tbody {
    td {
      text-align: center;
    }
  }
}

//woo
.woocommerce-message .button {
  display: block;
  margin: 0 0 0 30px;
  @include float-end;
  font-size: inherit;
  font-weight: inherit;
  &:hover {
    color: #FFFFFF;
  }
}

//woo sort
.woocommerce-ordering {
  @include float-end;

  margin-bottom: 30px;
  width: 240px;
}

.woocommerce-result-count {
  @include float-start;

  line-height: 50px;
}

a.added_to_cart.wc-forward,
.woocommerce li.product-img .added_to_cart,
.woocommerce-page li.product-img .added_to_cart {
  display: none !important;
}

.add_to_cart_button {
  &.loading {
    &:before {
      display: inline-block;
      -webkit-animation: fa-spin 2s infinite linear;
      animation: fa-spin 2s infinite linear;
    }

    .svg_basket,
    .svg_circle {
      display: none;
    }
    .svg_circle {
      display: block;
    }
  }

  &.added {
    .svg_basket,
    .svg_circle {
      display: none;
    }
    .svg_check {
      display: block;
    }
  }
  .msg,
  .svg_circle,
  .svg_check {
    display: none;
  }
  span {
    display: inline-block;
  }
}

li.dima_add_to_card_btn {
  a {
    box-shadow: none !important;
  }
}

td.dima_add_to_card_btn, li.dima_add_to_card_btn {
  @include float_start();
  border: none;
  padding: 0;
  a {
    display: block;
    width: px-to-rem(170) !important;
    line-height: px-to-rem(47) !important;
    color: $second-theme-color;
    svg {
      fill: $second-theme-color;
      @include margin-start(0);
    }
    circle {
      stroke: $second-theme-color;
    }

    span {
      font-family: $font-family-btn;
      font-weight: $btn-weight;
      font-size: $base-font-size+px;
    }
  }

  .add_to_cart_button {
    &.loading {
      &:before {
        display: inline-block;
        -webkit-animation: fa-spin 2s infinite linear;
        animation: fa-spin 2s infinite linear;
      }
      .msg,
      .svg_basket,
      .svg_circle {
        display: none;
      }
      .svg_circle {
        display: block;
      }
    }
    &.added {
      .msg,
      .svg_basket,
      .svg_circle {
        display: none;
      }
      .svg_check {
        display: block;
      }
    }
  }
  .svg_basket,
  .svg_circle,
  .svg_check {
    display: none;
  }
  .add_to_cart_button {
    .msg {
      display: inline-block;
      color: #ffffff;
    }
  }
}

#slider {
  &.flexslider .slides img {
    border: 1px solid $border-color;
  }
}

#carousel {
  &.flexslider .slides > li {
    height: auto;
    margin-left: 0; //;ust be left*/
    margin-bottom: 0;
    margin-top: 2px;
    @include margin-start(0px);
    box-sizing: border-box;
  }

  .slides {
    padding: 1px;
  }

  .slide-item {
    opacity: .7;
    @include transition(0.3s ease-in-out);
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    img {
      width: 100%;
      display: block;
      cursor: pointer;
    }
  }

  .flex-active-slide {
    &.slide-item {
      opacity: 1;
      cursor: default;
    }
  }
}

.dima-product-content, .woocommerce-page, .woocommerce {
  form {
    &.track_order {
      .form-row-last {
        margin-top: px-to-rem(25);
      }
    }
    p {
      margin-bottom: px-to-rem(25);
    }
    p, .field {
      @include margin-end(0);
    }
  }
}

p.stars {
  a {
    position: relative;
    font-weight: $h-weight;
    @include margin-end(30px);
    text-indent: -9999px;
    display: inline-block;
    $ratingSize: 115px;
    $starsize: 23px;
    &:before {
      background-image: svg-uri('<svg fill="#{$header-link-color}" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
    <path d="M0 0h18v18H0z" fill="none"/>
</svg>');
      opacity: .3;
      background-repeat: repeat-x;
      background-size: $starsize;
      bottom: 0;
      content: "";
      display: block;
      height: $starsize;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      @include transition(all 320ms ease-out);
    }
    &:hover, &.active {
      &:before {
        background-image: svg-uri('<svg fill="#{$header-font-color}" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
    <path d="M0 0h18v18H0z" fill="none"/>
</svg>');
        opacity: 1;
      }
    }
  }
}

.star-1 {
  width: 25px;
  z-index: 10;
  &:before {
    width: 25px;
  }
}

.star-2 {
  width: 42px;
  z-index: 8;
  &:before {
    width: 42px;
  }

}

.star-3 {
  width: 70px;
  z-index: 6;
  &:before {
    width: 70px;
  }

}

.star-4 {
  width: 90px;
  z-index: 4;
  &:before {
    width: 90px;
  }

}

.star-5 {
  width: 110px;
  z-index: 2;
  &:before {
    width: 110px;
  }
}

.comment-form-rating {
  label {
    margin-bottom: 20px;
  }
}

.dima-reviews-header {
  margin-bottom: 20px;
}

.shop_attributes {
  th {
    @include text_align_start();
    width: 30%;
    font-weight: bold;
  }
  tr > td {
    @include text-align-start();
    width: 70%;
  }
}

.woocommerce {
  .update {
    &.action-group {
      margin-bottom: 10px;
    }
  }
  .coupon {
    &.action-group {
      margin-bottom: 30px;
    }

    .input-text {
      margin-bottom: 10px;
    }
  }
  .order_details .amount,
  .order-total td {
    font-size: 18px;
    line-height: 18px;
    color: $header-font-color;
  }
}

/* for chrome */
.woocommerce input[type=number]::-webkit-inner-spin-button,
.woocommerce input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for mozilla */
.woocommerce input[type=number] {
  -moz-appearance: textfield;
}

.quantity {
  .qty {
    padding: 0;
    text-align: center;
    height: 50px;
    width: px-to-rem(65);
    @include float_start();
    margin: 0 2px;
  }
  &.buttons_added .plus {
    background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') center center no-repeat;
  }
  &.buttons_added .minus {
    background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 13H5v-2h14v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') center center no-repeat;
    background-position: 47% 47%;
  }
  &.buttons_added .plus,
  &.buttons_added .minus {
    @include font-size(0, 0);
    position: relative;
    display: block;
    @include float_start();
    text-align: center;
    border: 0;
    color: $header-font-color;
    vertical-align: text-top;
    line-height: 44px;
    font-weight: $font-weight-semibold;
    width: 50px;
    height: 50px;
    overflow: visible;
    text-decoration: none;
    cursor: pointer;
    background-color: rgba($second-border-color, .2);
  }
}

.shipping-calculator-button {
  margin-bottom: 5px;
  display: inline-block;
}

.dima-billing p {
  display: inline-block;
  width: 100%;
  clear: none;

  #account_password_field {
    margin-bottom: 0;
  }
}

#billing_address_1_field {
  margin-bottom: 10px;
}

#shipping_first_name_field,
#shipping_last_name_field,
#billing_first_name_field,
#billing_last_name_field,
#billing_email_field,
#billing_phone_field {
  width: 48%;
  @include float-start;
}

#shipping_first_name_field,
#billing_phone_field,
#billing_first_name_field {
  @include margin-end(4%);
}

.select2-container .select2-choice {
  border-radius: 0;
  padding: 12px;
}

.woocommerce-password-strength {
  padding: 10px;

  &.strong {
    color: $success-color-txt !important;
  }

  &.good {
    color: $warning-color-txt !important;
  }

  &.bad, &.short {
    color: $error-color-txt !important;
  }
}

.wc_payment_methods.payment_methods {
  margin: 30px 0;

  li {
    display: block;
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px solid $second-border-color;

    p {
      margin-bottom: 0;
    }
  }
}

.woocommerce-invalid input,
.woocommerce-invalid input,
input.woocommerce-invalid,
.woocommerce-invalid textarea,
textarea.woocommerce-invalid {
  background-color: #ffebee;
  border-color: $error-color;
  @include border-start(none);
  color: #f44336;
  @include padding-start(1.2em);
}

.about_paypal {
  @include margin-start(10px);
}

.order-actions {
  .dima-button {
    min-width: 60px;
    margin: 0 auto;
  }
}

.myaccount_address {
  margin-bottom: 30px;
}

.address {
  h3 {
    @extend %h4;
    margin-bottom: 30px;
  }

  h2 {
    @extend %h3;
    margin-top: 30px;
  }
}

address {
  font-style: italic;
}

.col-1.address {
  @include margin-end(4%);
}

.col-1.address, .col-2.address {
  position: relative;
  border: 1px solid $border-color;
  padding: 15px;
  width: 48%;

  @include float-start;

  .edit {
    position: absolute;
    top: 15px;

    @include end(10px);
  }
}

.woocommerce-tabs {
  margin-top: 60px;
  clear: both;
  h2 {
    @include font-size(22, 22);
    margin-bottom: 30px;
    margin-top: 0;
  }
  &.columns-2-tab {
    ul.dima-tab-nav li {
      width: 49%;
    }
  }
  &.columns-3-tab {
    ul.dima-tab-nav li {
      width: 32.33%;
    }
  }
}

// Widget
.visually-hidden, .screen-reader-text {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.widget_product_search input[type="submit"] {
  display: none;
}

.widget_price_filter {
  .price_slider_amount {
    padding-top: 10px;
    .button {
      width: auto;
      height: px-to-rem(40);
      min-width: px-to-rem(100);
      @include float_start();
      line-height: px-to-rem(40);
      min-height: px-to-rem(40);
    }
    .price_label {
      line-height: px-to-rem(40);
      @include text_align_end();
      font-weight: $font-weight-bold;
      color: $header-font-color;
    }
  }
}

// Side Bar*/

.widget_shopping_cart {
  .total {
    position: relative;
    display: block;
    padding: 20px 0;
    overflow: hidden;
    border-top: 1px solid $widget-border-color;
    border-bottom: 1px solid $widget-border-color;
    margin-bottom: 20px;
    @include font-size(18, 18);
    font-weight: bold;
    font-family: $font-family-headings;
    color: $header-font-color;

    .amount {
      @include float-end;
    }
  }

  a {
    &.button {
      display: block;
      width: 100%;
      color: #FFF;

      @include padding-start(0);

      @include padding-end(0);

      @include box-sizing(border-box);

      margin-bottom: 0;

      &:first-child {
        background: $header-font-color;
        //border: $border solid $header-font-color;
        margin-bottom: 10px;

        &:hover {
          background: darken($header-font-color, 7%);
        }
      }
    }
  }
}

.widget_shopping_cart_content,
.product_list_widget {

  .reviewer,
  .woocommerce-Price-amount,
  .product-title {
    display: block;
  }
  .reviewer {
    margin-top: 5px;
  }

  ins,
  del {
    span {
      display: inline !important;
    }
  }
  .star-rating {
    display: inline-block;
    margin-top: px-to-rem(10);
    margin-bottom: 0;
  }

  .total, li {
    position: relative;
    display: block;
    padding: px-to-rem(20) 0;
    border-bottom: 1px solid $sub-border-color;
    font-size: $base-font-size + px;
    line-height: 22px;
    color: $header-font-color;
    overflow: hidden;

    &:last-child {
      border-bottom: none;
    }
    a {
      display: block;
      .title {
        display: inline-block;
        color: $header-font-color;
        margin-top: 5px;
      }
      img {
        @include float_start();
        width: px-to-rem(70);
        @include margin-end(px-to-rem(25));
      }
    }
    .item-mount {
      position: absolute;
      top: px-to-rem(25);
      @include end(px-to-rem(20))
    }
    .item-quantity {
      line-height: px-to-rem(30);
    }
    &.sub-subtotal {
      padding: 0 px-to-rem(10);
      p {
        padding: px-to-rem(15) px-to-rem(10);
        color: $header-font-color;
        background: $border-color;
        margin-top: px-to-rem(10);
      }
    }
    &.sub-cart {
      padding: 2px 10px;
      align-items: center;
      display: flex;
      justify-content: center;
      a {
        color: #fff;
        text-align: center !important;
        line-height: px-to-rem(50);
      }
      .dima-button {
        width: 50%;
      }
      .dima-cart {
        @include margin-end(2px !important);
      }
    }
  }
}

.attachment-shop_thumbnail {
  img {
    @include start(px-to-rem(20));
    width: px-to-rem(70);
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.entry-summary {
  @extend %clearfix;
}

//NaveBar
.dima-navbar-wrap.desk-nav .dima-navbar {
  nav {
    .cart_wrapper {
      .sub-menu {
        min-width: 360px;
        padding: 30px;

        @include start(-150px !important);

        box-sizing: border-box;

        li {
          a {
            padding: 0;
          }

          &:last-child {
            padding-bottom: 0;
          }

          .attachment-shop_thumbnail {
            width: 65px;

            @include margin-end(20px);
          }

          .dima-close {
            top: -20px;
            position: absolute;

            @include end(0);

            color: lighten($border-color, 8%);
          }
        }
        p {

          @include font-size(18, 18);
          color: $header-font-color;
          font-weight: bold;
        }
      }

      .total {
        .amount {
          font-weight: $font-weight-semibold;
          @include margin-start(25px);
        }
      }
    }
  }
}

//Top logo
.dima-navbar-wrap.desk-nav.dima-navbar-center .dima-navbar nav,
.dima-navbar-wrap.desk-nav.dima-navbar-top .dima-navbar nav {

  .cart_wrapper .total .amount {
    @include margin-start(10px);
    font-family: $font-family-headings;
  }
}

.products-list {
  .add_to_cart_button {
    svg {
      width: px-to-rem(30) !important;
      height: px-to-rem(30);
    }
    .svg_circle svg {
      margin-top: px-to-rem(-15);
      @include margin-start(px-to-rem(-15));
    }
  }

}

fieldset {
  margin: 0 0 30px;
}

.woocommerce-MyAccount-navigation {
  margin: 0 0 20px 0;
  ul {
    list-style: none;
    margin: 0;
    @include padding-start(0);
  }
}

.widget_shopping_cart_content {
  .mini_cart_item {
    a {
      display: block;
      &.remove {
        color: darken($border-color, 20%);
      }
    }
  }
}

.widget_rating_filter {
  .star-rating {
    display: inline-block;
    margin-bottom: 0;
    top: 6px;
  }
  li {
    a {
      line-height: px-to-rem(45);
    }
  }
}

.top-footer {
  .widget {
    .product_list_widget .total,
    .product_list_widget li {
      border-top: 1px solid $footer-bordre-color;
    }
  }
  .widget_shopping_cart_content .amount,
  .product_list_widget .amount {
    color: $footer-color;
  }
  .widget_shopping_cart_content a,
  .product_list_widget .product-title {
    color: $footer-link;
    transition: all 320ms ease-out;
    &:hover {
      color: #ffffff;
    }
  }
}

//Loading
.svg_circle {
  svg {
    animation: rotate 2s linear infinite;
    transform: none !important;
    padding: 0 !important;
    circle {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
      animation: dash 1.5s ease-in-out infinite;
      stroke-linecap: round;
      stroke: $second-theme-color;
      stroke-width: 5px;
    }
  }
}

.dima-plus {
  &:before {
    content: "";
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.dima-orderby-container {
  .dima-click-dropdown {
    @include padding-end(px-to-rem(10));
  }
}

/**
Woo v 3
 */

.slider-nav,
.slider-for {
  margin: 0;
}

.slider-nav {
  .slick-slide {
    margin: 2px 1px;
    opacity: .3;
    cursor: pointer;
    @include transition(opacity 320ms ease-out);
    &.slick-current {
      opacity: 1;
    }
  }
}

.woocommerce-product-gallery__trigger {
  img {
    display: none;
  }
}

.woocommerce-NoticeGroup {
  margin-bottom: px-to-rem($sp_blocks);
  ul {
    @include margin-start(0);
  }
  .fa-times {
    display: none;
  }
}

//responsive
//(xsd)
@include break(xsd-min) {
}

@include break(sd-min) {
  .wishlist_table,
  .shop_table.cart {
    thead {
      display: none;
    }
    tr {
      display: block;
      margin-bottom: px-to-rem($sp_blocks);
      &:last-child {
        margin-bottom: 0;
      }
      td {
        display: inline-block;
        width: 100% !important;
        padding: 10px !important;
        img {
          width: 100%;
        }
        &.product-remove {
          svg {
            display: none;
          }
          span {
            font-size: px-to-rem($base-font-size);
          }
        }
      }
    }
  }

  .products-list .dima-product .product-img {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .dima-ordering {
    .social-medium {
      display: none;
    }
  }
}

.woocommerce-review__author {
  @include margin-end(15px);
}