//*  5 - product details
.product-details {

  //shearicon
  .a2a_kit,
  .a2a_menu,
  .a2a_modal,
  .a2a_overlay {
    margin-top: px-to-rem($sp_elms);
    display: block;
  }
  .star-rating {
    top: -5px;
  }
  margin-bottom: 55px;
  overflow: hidden;

  .flex-direction-nav a {
    &:before {
      color: $header-font-color;
    }
    &:hover {
      &:before {
        color: $theme-color;
      }
    }
  }

  .product-shop {
    .product-name {
      margin-bottom: sp_dima($sp_elms, $h4, $h4_lh);;
    }

    .price {
      position: relative;
      @include font-size(27, 27);
      @include text_align_start;
      @include start(0);
      padding: 0;
      top: 0;
      @include end(px-to-rem(15));
      margin-bottom: sp_dima($sp_blocks, $base-font-size, $base-line-height);
    }

    .cart {
      margin-top: 55px;
      margin-bottom: 40px;
      display: block;
      .quantity {
        width: 175px;
        @if ($global-direction == "rtl") {
          margin: 0 0 10px 15px;
        } @else {
          margin: 0 15px 10px 0;
        }
        @include float_start();
      }
      .single_add_to_cart_button {
        @include float_start();
      }
    }

    .posted_in,
    .tagged_as,
    .product_meta {
      margin-top: 5px;
      display: block;
      color: $header-font-color;

      a {
        color: $header-link-color;
        &:hover {
          color: $theme-color;
        }
      }
    }
  }
}

$ratingSize: 115px;
$starsize: 23px;
.star-rating {
  height: $starsize;
  position: relative;
  width: $ratingSize;
  @include start(-4px);
  margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);

  &:before {
    background-image: svg-uri('<svg fill="#{$header-link-color}" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
    <path d="M0 0h18v18H0z" fill="none"/>
</svg>');
    opacity: .3;
    background-repeat: repeat-x;
    background-size: $starsize;
    bottom: 0;
    content: "";
    display: block;
    height: $starsize;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: $ratingSize;
  }
  > span {
    display: block;
    text-indent: -10000px;
    width: $ratingSize;
    height: $starsize;
    position: absolute;
    overflow: hidden;
    &:before {
      background-image: svg-uri('<svg fill="#{$body-text-color}" height="18" viewBox="0 0 18 18" width="18" xmlns="http://www.w3.org/2000/svg">
    <path d="M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z"/>
    <path d="M0 0h18v18H0z" fill="none"/>
</svg>');
      background-repeat: repeat-x;
      background-size: $starsize;
      bottom: 0;
      content: "";
      display: block;
      height: $starsize;
      left: 0;
      position: absolute;
      right: 0;
      text-indent: 10000px;
      top: 0;
    }
  }
}

.single-product {
  table {
    tr {
      border-bottom: none;
      td {
        padding: 0 0 2px 0;
        .dk-select {
          width: px-to-rem(250);
        }
      }
    }
  }
  .woocommerce-variation-price {
    border-top: 1px solid $border_color;
    margin-top: px-to-rem(-10);
    margin-bottom: px-to-rem(25);
    padding-top: px-to-rem(32);
    max-width: px-to-rem(333);
    .price {
      position: relative;
    }
  }
  .reset_variations {
    position: absolute;
    line-height: px-to-rem(40);
  }
}

.comment-respond {
  .comment-reply-title {
    @extend %h5;
  }
}