.place-order {
  .button {
    display: block;
    width: 100%;
    @include padding-end(0);
    @include padding-start(0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

#rememberme {
  @include margin-start(10px);
}

.lost_password {
  margin-top: sp_dima($sp_conected_elms, $base-font-size, $base-line-height);
}

.shop_table {

  &.shop_attributes,
  &.order_details,
  &.customer_details,
  &.woocommerce-checkout-review-order-table {
    tfoot, tbody {
      tr {
        border-top: 1px solid $border-color;

        th, td {
          padding: 20px 0;
        }
      }
    }

    th {
      padding: 20px 0 10px;
      background: rgba(255, 255, 255, 0);
      font-weight: normal;
    }

    .price {
      font-family: $font-family-base $font-family-headings;
      padding: 0;
    }
  }

  &.order_details,
  &.customer_details,
  &.woocommerce-checkout-review-order-table {
    .product-total {
      @include text-align-end;
    }
    tr td, tr th {
      @include text-align-start();
    }
    tfoot {
      tr td {
        @include text-align-end();
      }
    }
  }

  &.order-products-table {
    tbody {
      tr {
        border: 0;
        th, td {
          padding: 10px 0;
        }
        td {
          @include text_align_end();
        }
        th {
          font-weight: $font-weight-light;
        }

        &.order-total {
          border-top: 1px solid $border-color;
          border-bottom: 1px solid $border-color;

          th, td {
            padding: 15px 0;
            font-size: px-to-rem($font-size);
          }
          td {
            color: $sale-theme-color;
          }
        }
        &.shipping {
          th, td {
            padding-bottom: 25px;
            @include padding-end(5px);
          }
          td {
            font-weight: $font-weight-regular;
            .shipping-calculator-button {
              font-weight: $font-weight-semibold;
            }
          }
        }
      }
    }
  }

  .product-name {
    width: 25%;
    @include text_align_start();
    .cart-item-details {
      display: table-cell;
      vertical-align: middle;
    }
    a {
      color: $body-text-color;
      font-weight: $font-weight-light;
    }
  }
  .product-thumbnail {
    @include text_align_start();
    width: px-to-rem(55);
  }
  .product-remove {
    padding: 15px;
    span {
      font-size: 0;
    }
  }
}

.coupon-box {
  margin-bottom: px-to-rem(70);
  .apply {
    .button {
      margin-top: 25px;
    }
  }
  .field {
    input {
      margin-bottom: 10px;
    }
  }
}
