// Widget
//* Widget-01 - UI Slider*/
.ui-slider {
  height: 2px;
  background: $border-color;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;

  .ui-slider-range {
    background: $theme-color;
    height: 2px;
    position: absolute;
  }

  .ui-slider-handle {
    background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"><defs><style>.cls-1{fill:#fff;}.cls-2{fill:#{$header-font-color};}</style></defs><circle class="cls-1" cx="5" cy="5" r="4"/><path class="cls-2" d="M10,7a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z" transform="translate(-5 -5)"/></svg>') no-repeat;
    width: 12px;
    height: 12px;
    position: absolute;
    z-index: 2;
    cursor: ew-resize;
    touch-action: none;
    outline: 0;
    top: -4px;
  }
  .button {
    margin-bottom: 0;
  }
}