/*------------------------------------------------------------------
[bbpress Plugin Stylesheet]

Project:	 PixelDima WP-Theme
Version:	 1.0
Primary use: Noor Theme
Direction :  LTR
-------------------------------------------------------------------*/
.bbp-breadcrumb {
  display: none;
}

.bbp-footer {
  display: none;
}

#bbpress-forums .bbp-replies .bbp-header {
  display: none;
}

#bbpress-forums > #subscription-toggle {
  display: none;
}

.bbp-search-results li.bbp-header {
  display: none;
}

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  display: none;
}

#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-replies {
  border: none;
}

#bbpress-forums div.bbp-reply-content {
  padding: 0;
  margin-left: 9.2857142857rem;
  position: relative;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
  padding: 30px;
}

.bbp-forum-title {
  color: #333333 !important;
}

.bbp-forum-title .bbp-topic-permalink {
  color: #333333 !important;
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  clear: none;
  border-top: none;
  background-color: #333333 !important;
  padding: 1.7857142857rem 2.1428571429rem;
  margin-bottom: 1.4047685714rem;
}

li.bbp-body div.hentry {
  padding-bottom: 30px;
}

#bbpress-forums fieldset.bbp-form label,
#bbpress-forums div.bbp-reply-author .bbp-author-role,
span.bbp-admin-links a,
.bbp-topic-tags p,
div.bbp-template-notice p,
.bbp-pagination-count {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 5px;
}

.bbp-admin-links {
  color: rgba(255, 255, 255, 0.6);
}

.bbp-admin-links a:hover {
  color: white;
}

div.bbp-template-notice {
  position: relative;
  margin-bottom: 2.1428571429rem;
  padding: 1.0714285714rem 1.4285714286rem;
  clear: both;
  border: none;
  background-color: #fff8e1 !important;
  color: #ffc107;
}

div.bbp-template-notice a {
  color: #FFF;
  border-bottom: 1px dotted #FFFFFF;
}

div.bbp-template-notice a:hover {
  color: #FFF;
  border-bottom: none;
}

div.bbp-template-notice p {
  color: #ffc107;
  display: inline;
}

div.bbp-template-notice.info {
  background-color: #e3f2fd !important;
}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
  margin-top: 0;
  border-radius: 99em;
  margin-bottom: 15px;
}

#bbpress-forums div.wp-editor-container,
#wp-bbp_reply_content-editor-container {
  border: 1px solid #eeeeee;
}

#bbpress-forums fieldset.bbp-form {
  padding: 0;
  border: none;
}

#bbpress-forums fieldset.bbp-form legend {
  font-family: "Poppins", Helvetica, Georgia, Times, serif;
  font-size: 18px;
  line-height: 1.3em;
  color: #333333;
  font-weight: 700;
  margin-bottom: 1.4285714286rem;
  float: left;
}

#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border: none;
  font-size: 14px;
  line-height: 16px;
}

div.bbp-submit-wrapper {
  float: none;
  margin-top: 2.1428571429rem;
  font-size: 14px;
  line-height: 16px;
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
  padding: 0 13px;
}

#bbpress-forums ul.topic.sticky, #bbpress-forums ul.topic.super-sticky {
  background-color: #fff !important;
  position: relative;
}

#bbpress-forums ul.topic.sticky.odd, #bbpress-forums ul.topic.super-sticky.odd {
  background-color: #fafafa !important;
}

#bbpress-forums ul.topic.sticky:before, #bbpress-forums ul.topic.super-sticky:before {
  position: absolute;
  left: 0;
  top: 3px;
  content: '';
  width: 5px;
  height: 93%;
  background: #4caf50;
}

#bbpress-forums p.bbp-topic-meta,
#bbpress-forums .bbp-forum-info .bbp-forum-content {
  font-size: 14px;
  line-height: 30px;
}

.bbp-search-form,
#bbpress-forums .bbp-search-form #bbp_search,
.bbp-search-form #bbp_search,
#bbpress-forums #bbp-search-form #bbp_search {
  width: 100%;
  font-size: 14px;
}

.bbp-search-form .bbp-topic-freshness a:not('.bbp-author-name'),
#bbpress-forums .bbp-search-form #bbp_search .bbp-topic-freshness a:not('.bbp-author-name'),
.bbp-search-form #bbp_search .bbp-topic-freshness a:not('.bbp-author-name'),
#bbpress-forums #bbp-search-form #bbp_search .bbp-topic-freshness a:not('.bbp-author-name') {
  color: #818181;
}

#bbpress-forums #bbp-search-form #bbp_search {
  margin-bottom: 30px;
}

#bbpress-forums li {
  position: relative;
}

#bbpress-forums li.bbp-header {
  background: #333333;
  color: #FFF;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  padding-bottom: 1.7857142857rem;
  font-weight: 400;
  font-family: "Poppins", Helvetica, Arial, sans-serif "Poppins", Helvetica, Georgia, Times, serif;
  text-align: left;
  padding: 2.1428571429rem 0 2.1428571429rem 2.1428571429rem;
}

#bbpress-forums ul.odd {
  background: #fafafa;
}

#bbpress-forums div.odd {
  background: transparent;
}

#bbpress-forums #bbp-single-user-details {
  width: 100%;
  margin-bottom: 30px;
  float: none;
  text-align: center;
}

#bbpress-forums #bbp-single-user-details .fima-bbp-user-header {
  float: left;
  margin-right: 15px;
}

#bbpress-forums #bbp-user-body {
  margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
  float: left;
  width: 33.33%;
  font-size: 14px;
  text-align: left;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li a {
  color: #818181;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li a:hover {
  color: #333333;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
  width: 90px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
  width: 80px;
  height: 80px;
  border-radius: 99em;
  margin-bottom: 10px;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  background: transparent;
  color: #333333;
}

.bbp-login-form .bbp-submit-wrapper {
  text-align: left;
}

.bbp-topic-tags {
  line-height: 1;
  text-align: center;
}

.bbp-topic-tags span, .bbp-topic-tags a {
  font-size: 14px;
}

.tags .is-subscribed a,
.tags .is-favorite a {
  background: #333333;
  color: #ffffff;
  border-color: #333333;
}

.bbp-topic-tags a,
.dima-bbp-header .actions a {
  display: inline-block;
  margin: 0 0 2.1428571429rem 0;
  font-size: 14px;
  margin-right: 3px;
  margin-left: 0;
  padding: 8px 10px;
  text-transform: capitalize;
  line-height: 100%;
  color: #818181;
  background-color: #fafafa;
  border: 1px solid #eeeeee;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.bbp-topic-tags a:hover,
.dima-bbp-header .actions a:hover {
  color: #fff;
  background-color: #333333;
  border: 1px solid #333333;
}

.bbp-topic-tags a i,
.dima-bbp-header .actions a i {
  margin-right: 3px;
}

.widget.bbp_widget_login h4 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 2px;
}

.widget.bbp_widget_login .logout-link {
  overflow: auto;
  background: transparent;
  margin: 0;
  display: inline;
}

.widget.widget_display_stats dt {
  float: left;
}

.widget.widget_display_stats dd, .widget.widget_display_stats dt {
  font-weight: 400;
  margin: 0;
  padding: 5px 0;
  padding-right: 10px;
}

.widget.widget_display_stats dd strong {
  font-weight: 400;
  color: #333333;
}

.widget.widget_display_stats dd strong:before {
  content: '(';
}

.widget.widget_display_stats dd strong:after {
  content: ')';
}

.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input,
.bbp-login-form .bbp-username input {
  padding: 1.1071428571rem 1.4285714286rem;
}

.dima-bbp-search-form .screen-reader-text {
  display: none;
}

.bbp-reply-form,
.bbp-topic-form,
.bbp-topic-tag-form {
  padding: 2.1428571429rem;
  border: 5px solid #eeeeee !important;
}

.bbp-pagination {
  margin-bottom: 2.1428571429rem;
}

#bbp-your-profile div.bbp-the-content-wrapper,
#bbp-your-profile input[type="text"],
#bbp-your-profile select,
#bbp-your-profile textarea,
#bbp-your-profile .dk-select,
#bbpress-forums div.bbp-the-content-wrapper,
#bbpress-forums input[type="text"],
#bbpress-forums select,
#bbpress-forums textarea,
#bbpress-forums .dk-select {
  margin: 0 0 1.4285714286rem;
}

/*2.6*/
#bbpress-forums #bbp-your-profile fieldset {
  padding: 2.1428571429rem 0;
}

#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
  padding: 15px 20px;
  width: 100%;
  background-color: rgba(218, 218, 218, 0.2);
  border-width: 0;
}

#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
  background: rgba(218, 218, 218, 0.5);
  border-width: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password,
#bbpress-forums #bbp-your-profile fieldset label[for] {
  width: auto;
}

#bbpress-forums #bbp-your-profile fieldset span.description {
  background-color: #e3f2fd;
  color: #2196f3;
  position: relative;
  margin-bottom: 2.1428571429rem;
  padding: 1.7857142857rem;
  clear: both;
  border: none;
  font-size: 14px;
  font-style: normal;
}
