/*------------------------------------------------------------------
[Woocommerce noor Stylesheet]

Project:	 PixelDima WP-Theme
Version:	 1.0
Primary use: Noor Theme
Direction :  RTL
-------------------------------------------------------------------*/
/*  8.1  - Help Classes */
/*----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
	2.2 - Iframes
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
		3.8.1 - Cover Image
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
	3.11 - Widgets
4.0 - Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
#buddypress .pagination {
  background: transparent;
  border: none;
  color: #767676;
  margin: 0;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0;
}

#buddypress .pagination .pag-count {
  float: left;
}

#buddypress .pagination .pagination-links {
  float: right;
  margin-right: 10px;
}

#buddypress .pagination .pagination-links span,
#buddypress .pagination .pagination-links a {
  line-height: 32px;
  margin: 0 2px;
  padding: 0 0.7857142857rem;
  min-width: 2.5rem;
  float: left;
  height: 2.5rem;
  text-align: center;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
  border: 2px solid #eeeeee;
}

#buddypress .pagination .pagination-links span.current, #buddypress .pagination .pagination-links span:hover,
#buddypress .pagination .pagination-links a.current,
#buddypress .pagination .pagination-links a:hover {
  border-color: #333333;
}

#buddypress noscript .pagination {
  margin-bottom: 15px;
}

#buddypress #nav-above {
  display: none;
}

#buddypress .paged #nav-above {
  display: block;
}

/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/
#buddypress img.wp-smiley {
  border: none !important;
  clear: none !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

#buddypress .clear {
  clear: left;
}

/*--------------------------------------------------------------
2.1 - Iframes
--------------------------------------------------------------*/
@media only screen and (max-width: 991px) {
  #buddypress iframe {
    max-height: 480px;
  }
}

@media only screen and (max-width: 767px) {
  #buddypress iframe {
    max-height: 400px;
  }
}

@media only screen and (max-width: 680px) {
  #buddypress iframe {
    max-height: 350px;
  }
}

@media only screen and (max-width: 480px) {
  #buddypress iframe {
    max-height: 300px;
  }
}

@media only screen and (max-width: 400px) {
  #buddypress iframe {
    max-height: 200px;
  }
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
.activity .entry-content {
  padding-top: 0;
}

#buddypress #activity-stream {
  margin-top: -5px;
}

#buddypress #activity-stream p {
  margin: 5px 0;
}

#buddypress #whats-new-form {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.home-page #buddypress #whats-new-form {
  border-bottom: none;
  padding-bottom: 0;
}

.magazine2 #buddypress #whats-new-form {
  padding-top: 30px;
}

#buddypress #whats-new-form #whats-new-avatar {
  float: left;
}

#buddypress #whats-new-form #whats-new-avatar .avatar {
  border-radius: 50%;
}

#buddypress #whats-new-form #whats-new-content {
  margin: 0 0 0 105px;
  padding: 0 0 0 20px;
  position: relative;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

#buddypress #whats-new-form #whats-new-content #whats-new-options {
  height: auto !important;
  display: block !important;
}

#buddypress #whats-new-form #whats-new-content.active {
  margin-bottom: 30px;
}

#buddypress #whats-new-form .activity-greeting {
  line-height: 0.5em;
  margin-bottom: 15px;
  margin-left: 125px;
}

#buddypress #whats-new-form textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #555;
  font-family: inherit;
  font-size: medium;
  line-height: 1.4;
  padding: 6px;
  width: 100%;
  height: 70px !important;
}

#buddypress #whats-new-form #whats-new-options select {
  max-width: 200px;
  margin-top: 12px;
}

#buddypress #whats-new-form #whats-new-submit {
  float: right;
  margin-top: 12px;
}

#buddypress #whats-new-options:after {
  clear: both;
  content: "";
  display: table;
}

#buddypress #whats-new:focus {
  border-color: #333333 !important;
  outline-color: rgba(31, 179, 221, 0.9);
}

#buddypress #whats-new-post-in-box {
  float: left;
  margin-right: 20px;
  margin-top: 7px;
}

body.no-js #buddypress form#whats-new-form textarea {
  height: 50px;
}

body.no-js #buddypress #whats-new-options {
  height: auto;
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
#buddypress .item-list.activity-list li.has-comments {
  padding-bottom: 15px;
}

body.activity-permalink #buddypress .activity-list li.has-comments {
  padding-bottom: 0;
}

#buddypress .activity-list li.mini {
  font-size: 80%;
  position: relative;
}

#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
  height: 20px;
  margin-left: 40px;
  margin-top: 8px;
  width: 20px;
}

#buddypress .activity-permalink #buddypress .activity-list li.mini .activity-avatar img.avatar, #buddypress .activity-permalink
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
  height: auto;
  margin-left: 0;
  width: auto;
}

#buddypress .activity-list > li:not(.load-more):after {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  z-index: 1;
  left: 25px;
  top: 0;
  background-color: #eeeeee;
}

#buddypress .activity-list > li:nth-last-child(2):after, #buddypress .activity-list > li:last-child:not(.load-more):after {
  height: 90%;
}

#buddypress .activity-list > li:nth-last-child(2) .activity-content, #buddypress .activity-list > li:last-child:not(.load-more) .activity-content {
  border-bottom: 0;
}

#buddypress .activity-list li {
  position: relative;
  overflow: hidden;
  padding: 15px 0 0;
  list-style: none;
}

#buddypress .activity-list li:not(.mini) .activity-avatar {
  float: left;
  position: relative;
  z-index: 2;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 0 0 13px #ffffff;
          box-shadow: 0 0 0 13px #ffffff;
}

#buddypress .activity-list li .activity-content {
  position: relative;
  border-bottom: 1px solid #eeeeee;
}

#buddypress .activity-list li.mini .activity-content p {
  margin: 0;
}

#buddypress .activity-list li.mini .activity-comments {
  clear: both;
  font-size: 120%;
}

#buddypress .activity-list li .activity-inreplyto {
  color: #767676;
  font-size: 80%;
}

#buddypress .activity-list li .activity-inreplyto > p {
  margin: 0;
  display: inline;
}

#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto .activity-inner {
  background: none;
  border: none;
  display: inline;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#buddypress .activity-list .activity-content {
  margin: 0 0 0 70px;
}

#buddypress .activity-list .activity-content .activity-header,
#buddypress .activity-list .activity-content .comment-header {
  color: #767676;
  line-height: 220%;
}

#buddypress .activity-list .activity-content .activity-inner img {
  display: block;
  margin: 20px 0 0;
}

#buddypress .activity-header {
  margin-right: 30px;
}

#buddypress .activity-header p a:last-child {
  display: block;
}

@media only screen and (min-width: 480px) {
  #buddypress .activity-header p a:last-child {
    margin-right: 50%;
  }
}

#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
  text-decoration: none;
}

#buddypress .activity-list .activity-content .activity-header img.avatar {
  float: none !important;
  margin: 0 5px -5px 2px !important;
}

#buddypress a.bp-secondary-action,
#buddypress span.highlight {
  padding: 0;
  margin-right: 5px;
  text-decoration: none;
  background: transparent;
  color: #333333;
}

#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
  margin: 10px 10px 5px 0;
  overflow: hidden;
}

#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
  border-left: 2px solid #EAEAEA;
  margin-left: 5px;
  padding-left: 10px;
}

#buddypress .activity-inner > p {
  word-wrap: break-word;
}

#buddypress .activity-inner > .activity-inner {
  margin: 0;
}

#buddypress .activity-inner > blockquote {
  margin: 0;
}

#buddypress .activity-list .activity-content img.thumbnail {
  border: 2px solid #eee;
  float: left;
  margin: 0 10px 5px 0;
}

#buddypress .activity-read-more {
  margin-left: 1em;
  white-space: nowrap;
  word-wrap: normal;
}

#buddypress .activity-list li.load-more,
#buddypress .activity-list li.load-newest {
  padding-bottom: 0;
}

#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a {
  color: #4D4D4D;
  height: 50px;
  line-height: 50px;
  display: block;
  background: #f0f0f0;
  font-size: 110%;
  text-align: center;
  position: relative;
}

#buddypress .activity-list li.load-more a:hover,
#buddypress .activity-list li.load-newest a:hover {
  color: #333333;
}

#buddypress .activity-list li.load-more .spinner,
#buddypress .activity-list li.load-newest .spinner {
  width: 3.1em;
}

#buddypress .activity-list li.load-more .spinner > div,
#buddypress .activity-list li.load-newest .spinner > div {
  width: 0.7em;
  height: 0.7em;
}

#buddypress .activity-list li.load-more .spinner-circle,
#buddypress .activity-list li.load-newest .spinner-circle {
  top: -13px;
  left: -13px;
  height: 26px;
  width: 26px;
  clip: rect(0, 26px, 26px, 13px);
}

#buddypress .activity-list li.load-more .spinner-circle:after,
#buddypress .activity-list li.load-newest .spinner-circle:after {
  left: 0;
  top: 0;
  height: 26px;
  width: 26px;
  clip: rect(0, 26px, 26px, 13px);
}

body.activity-permalink #buddypress li.mini .activity-meta {
  margin-top: 4px;
}

body.activity-permalink #buddypress .activity-list#activity-stream {
  margin: 50px 0;
}

body.activity-permalink #buddypress .activity-list li .activity-header > p {
  margin: 0;
  padding: 5px 0 0 0;
}

body.activity-permalink #buddypress .activity-list > li:first-child {
  padding-top: 0;
}

body.activity-permalink #buddypress .activity-content #buddypress .activity-meta
.activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
  margin-left: 0;
  margin-top: 5px;
}

/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
#buddypress .activity-meta {
  margin: 18px 0 20px;
}

body.activity-permalink #buddypress .activity-meta {
  margin-bottom: 6px;
}

#buddypress .activity-meta a.button {
  padding: 4px 8px;
  background-color: transparent;
  color: #333333 !important;
  line-height: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#buddypress .activity-meta a.button:hover {
  color: #333333 !important;
  border-color: #333333;
  background-color: transparent !important;
}

#buddypress .activity-meta a.button span {
  border-radius: 0;
}

#buddypress .activity-meta a.button.delete-activity-single:hover, #buddypress .activity-meta a.button.delete-activity:hover {
  background-color: #ff5252 !important;
  border-color: #ff5252;
  color: #ffffff !important;
}

#buddypress a.activity-time-since {
  text-decoration: none;
  font-size: 11pxpx;
  line-height: 16.5pxpx;
  font-weight: 400;
  color: #bbb;
}

#buddypress a.activity-time-since:hover {
  color: #767676;
  text-decoration: underline;
}

#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
  margin-right: 5px;
  text-decoration: none;
}

#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
  background: #767676;
  color: #ffffff;
  font-size: 90%;
  margin-left: 2px;
  padding: 0 5px;
}

#buddypress a.bp-primary-action:hover span,
#buddypress #reply-title small a:hover span {
  background: #555;
  color: #fff;
}

#buddypress .activity-comments {
  margin: 0 0 0 70px;
  overflow: hidden;
  /* IE fix */
  position: relative;
  width: auto;
  clear: both;
}

body.activity-permalink #buddypress #buddypress .activity-comments {
  background: none;
  margin-left: 170px;
  width: auto;
}

#buddypress .activity-comments > ul {
  padding: 0 0 0 10px;
}

#buddypress .activity-comments ul,
#buddypress .activity-comments ul li {
  border: none;
  list-style: none;
}

#buddypress .activity-comments ul {
  clear: both;
  margin: 0;
}

#buddypress .activity-comments ul li {
  border-top: 1px solid #333333;
  padding: 10px 0 0;
  opacity: 1 !important;
}

body.activity-permalink #buddypress .activity-list li.mini #buddypress .activity-comments {
  clear: none;
  margin-top: 0;
}

body.activity-permalink #buddypress #buddypress .activity-comments ul li {
  border-width: 1px;
  padding: 10px 0 0 0;
}

#buddypress .activity-comments > ul > li:first-child {
  border-top: none;
}

#buddypress .activity-comments ul li:last-child {
  margin-bottom: 0;
}

#buddypress .activity-comments ul li > ul {
  margin-left: 30px;
  margin-top: 0;
  padding-left: 10px;
}

body.activity-permalink #buddypress #buddypress .activity-comments ul li > ul {
  margin-top: 10px;
}

body.activity-permalink #buddypress #buddypress .activity-comments > ul {
  padding: 0 10px 0 15px;
}

#buddypress .activity-comments .acomment-avatar img {
  border-width: 1px;
  float: left;
  height: 25px;
  margin-right: 10px;
  width: 25px;
}

#buddypress .activity-comments .acomment-content {
  font-size: 90%;
  margin: 5px 0 0 40px;
}

#buddypress .activity-comments .acomment-content .time-since,
#buddypress .activity-comments .acomment-content .activity-delete-link,
#buddypress .activity-comments .acomment-content .comment-header {
  display: none;
}

body.activity-permalink #buddypress .activity-comments #buddypress .activity-comments .acomment-content {
  font-size: 90%;
}

#buddypress .activity-comments .acomment-meta {
  color: #767676;
  font-size: 80%;
}

#buddypress .activity-comments .ac-form {
  display: none;
  padding: 10px;
}

#buddypress .activity-comments li .ac-form {
  margin-right: 15px;
  clear: both;
}

#buddypress .activity-comments form.root {
  margin-left: 0;
}

#buddypress .activity-comments #message {
  margin-top: 15px;
  margin-bottom: 0;
}

#buddypress .activity-comments form .ac-textarea {
  border: 1px solid #333333;
  margin-bottom: 10px;
  padding: 8px;
}

#buddypress .activity-comments form textarea {
  border: none;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #555;
  font-family: inherit;
  font-size: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
}

#buddypress .activity-comments form input {
  margin-top: -2px;
}

#buddypress .activity-comments form .ac-reply-avatar {
  float: left;
}

#buddypress .activity-comments .ac-reply-avatar img {
  border: 1px solid #333333;
}

#buddypress .activity-comments form .ac-reply-content {
  color: #767676;
  margin-left: 50px;
  padding-left: 15px;
}

#buddypress .activity-comments form .ac-reply-content a {
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
}

#buddypress .acomment-options {
  float: left;
  margin: 5px 0 5px 40px;
}

#buddypress .acomment-options a {
  color: #767676;
}

#buddypress .acomment-options a:hover {
  color: inherit;
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
#buddypress .dir-search {
  margin-bottom: 30px;
}

#buddypress .dir-search input[type=submit] {
  float: right;
  margin-left: 30px;
  width: 25%;
}

#buddypress .dir-search input[type="text"] {
  float: left;
  width: calc(75% - 30px);
}

#buddypress #search-message-form {
  margin: 0 -5px;
}

#buddypress #search-message-form input[type="text"],
#buddypress #search-message-form input[type="submit"] {
  font-size: 13px;
  padding: 5px 10px;
  height: 29px;
}

#buddypress #search-message-form input[type="submit"] {
  float: right;
  margin: 0 5px;
}

#buddypress .current-member-type {
  font-style: italic;
}

#buddypress .dir-form {
  clear: both;
}

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
#buddypress #message.updated,
#buddypress #message.warning,
#buddypress #message.error {
  position: relative;
  max-width: 1110px;
  clear: both;
  display: block;
  text-align: left;
}

#buddypress #pass-strength-result {
  background-color: #eee;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  display: none;
  margin: 5px 5px 15px 0;
  padding: 5px;
  text-align: center;
  width: 50%;
}

#buddypress .standard-form #basic-details-section #pass-strength-result {
  width: 50%;
}

#buddypress #pass-strength-result.error, #buddypress #pass-strength-result.bad {
  background-color: #ffb78c;
  border-color: #ff853c !important;
  display: block;
}

#buddypress #pass-strength-result.good {
  background-color: #ffec8b;
  border-color: #fc0 !important;
  display: block;
}

#buddypress #pass-strength-result.short {
  background-color: #ffa0a0;
  border-color: #f04040 !important;
  display: block;
}

#buddypress #pass-strength-result.strong {
  background-color: #c3ff88;
  border-color: #8dff1c !important;
  display: block;
}

#buddypress .standard-form#signup_form div .error {
  background: #faa;
  color: #a00;
  margin: 0 0 10px 0;
  padding: 6px;
  width: 90%;
}

#buddypress .accept,
#buddypress .reject {
  float: left;
  margin-left: 10px;
}

#buddypress ul.button-nav li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
}

#buddypress ul.button-nav li.current a {
  font-weight: bold;
}

#sitewide-notice #message {
  left: 1%;
  bottom: 1%;
  position: fixed;
  max-width: 400px;
  z-index: 9999;
}

#sitewide-notice strong {
  display: block;
  margin-bottom: -1em;
}

#close-notice {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 0;
  color: transparent;
  line-height: 12px;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress select:not([multiple]) {
  height: 3.5714285714rem;
  line-height: 1;
}

#buddypress .standard-form input[type=email] {
  margin-bottom: 30px;
  width: 50%;
}

#buddypress .standard-form input[type=password] {
  margin-bottom: 15px;
  width: 50%;
}

#buddypress .standard-form label,
#buddypress .standard-form span.label {
  display: block;
  margin: 0 0 15px 0;
  width: auto;
}

#buddypress #group-settings-form label {
  margin: 15px 0 5px 0;
}

#buddypress #group-create-body {
  margin-bottom: 0;
}

#buddypress #group-create-body > label {
  margin-bottom: 10px;
}

#buddypress #group-create-body > div:not(.submit) {
  margin-bottom: 20px;
}

#buddypress #group-create-body #header-cover-image {
  height: 400px;
  position: relative;
  background-repeat: no-repeat;
  background-size: auto;
}

#buddypress .standard-form p label,
#buddypress .standard-form #invite-list label {
  font-weight: normal;
  margin: auto;
}

#buddypress .standard-form .checkbox label:nth-child(n+2),
#buddypress .standard-form .radio div label {
  color: #767676;
  font-size: 100%;
  font-weight: normal;
  margin: 5px 0 0 0;
}

#buddypress .standard-form#sidebar-login-form label {
  margin-top: 5px;
}

#buddypress .standard-form input[type=text] {
  width: 100%;
}

#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
  padding: 4px;
  width: 95%;
}

#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
  width: 35%;
}

#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
  width: 90%;
}

#buddypress .standard-form#signup_form .submit {
  float: right;
}

#buddypress #signup-avatar img {
  margin: 0 15px 10px 0;
}

#buddypress .standard-form textarea {
  width: 100%;
  height: 120px;
}

#buddypress .standard-form textarea#message_content {
  height: 200px;
}

#buddypress .standard-form#send-reply textarea {
  width: 97.5%;
}

#buddypress .standard-form p.description {
  color: #767676;
  font-size: 80%;
  margin: 5px 0;
}

#buddypress .standard-form .submit {
  clear: both;
  padding: 15px 0 0 0;
}

#buddypress .standard-form p {
  margin-bottom: 10px;
}

#buddypress .standard-form p.submit {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

#buddypress .standard-form .submit input {
  margin-right: 15px;
}

#buddypress .standard-form:not(#profile-edit-form):not(#send-invite-form) h4 {
  margin-bottom: 20px;
  line-height: 40px;
  border-bottom: 1px solid #333333;
}

#buddypress .standard-form:not(#profile-edit-form):not(#send-invite-form) h4 + p {
  margin-bottom: 10px;
}

#buddypress .standard-form .checkbox,
#buddypress .standard-form .radio {
  margin-bottom: 30px;
}

#buddypress .standard-form .checkbox label,
#buddypress .standard-form .checkbox label + ul,
#buddypress .standard-form .radio label,
#buddypress .standard-form .radio label + ul {
  border: 1px solid #333333;
  border-radius: 0;
  padding: 20px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

#buddypress .standard-form .checkbox label,
#buddypress .standard-form .radio label {
  cursor: pointer;
}

#buddypress .standard-form .checkbox label input[type="radio"],
#buddypress .standard-form .radio label input[type="radio"] {
  margin-right: 15px;
}

#buddypress .standard-form .checkbox label:hover,
#buddypress .standard-form .checkbox label:hover + ul,
#buddypress .standard-form .radio label:hover,
#buddypress .standard-form .radio label:hover + ul {
  background-color: rgba(0, 0, 0, 0.03);
}

#buddypress .standard-form .checkbox label + ul,
#buddypress .standard-form .radio label + ul {
  margin-top: -5px;
  margin-bottom: 15px;
  border-top: 0;
  padding: 20px 20px 20px 50px;
}

#buddypress .standard-form .checkbox ul,
#buddypress .standard-form .radio ul {
  padding: 10px 0 15px 38px;
  list-style: disc;
}

#buddypress .standard-form .checkbox ul li,
#buddypress .standard-form .radio ul li {
  margin-bottom: 5px;
}

#buddypress .standard-form .checkbox label {
  padding: 20px;
  cursor: default;
  border: 1px solid #333333;
}

#buddypress .standard-form .checkbox input[type="checkbox"] {
  margin-right: 15px;
}

#buddypress .standard-form .radio:nth-of-type(2) label {
  padding: 20px;
  border: 1px solid #333333;
  margin-bottom: 15px;
}

#buddypress .standard-form .checkbox {
  margin: 10px 0 20px;
}

#buddypress .standard-form a.clear-value {
  display: block;
  margin-top: 5px;
  outline: none;
}

#buddypress .standard-form .register-section {
  margin-top: 20px;
}

#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
  float: left;
  width: 48%;
}

#buddypress .standard-form #profile-details-section {
  float: right;
}

#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
  background-color: rgba(0, 0, 0, 0.03);
  color: #555;
}

#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
  clear: left;
}

#buddypress button,
#buddypress a.button,
#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress .generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button {
  border-radius: 0;
  font-size: small;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 6px 10px;
  line-height: 18px;
}

#buddypress button:hover,
#buddypress a.button:hover,
#buddypress input[type=submit]:hover,
#buddypress input[type=button]:hover,
#buddypress input[type=reset]:hover,
#buddypress ul.button-nav li a:hover,
#buddypress .generic-button a:hover,
#buddypress .comment-reply-link:hover,
a.bp-title-button:hover {
  background: rgba(0, 0, 0, 0.05);
  opacity: 0.8;
}

#buddypress .generic-button a {
  padding: 5px 10px;
}

#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress button[type=submit],
#buddypress a.button,
#buddypress a#bp-delete-cover-image {
  background: #333333;
  color: #ffffff;
  border: 0;
}

#buddypress input[type=submit]:hover,
#buddypress input[type=button]:hover,
#buddypress button[type=submit]:hover,
#buddypress a.button:hover,
#buddypress a#bp-delete-cover-image:hover {
  background: #333333;
}

#buddypress input[type=submit]:focus,
#buddypress input[type=button]:focus,
#buddypress button[type=submit]:focus {
  background: #333333;
  color: #ffffff;
  border: 0;
}

#buddypress #send-invite-form {
  margin-top: 40px;
}

#buddypress #send-invite-form .submit {
  overflow: hidden;
  padding-top: 0;
}

#buddypress #send-invite-form #submit {
  float: right;
  margin: 0;
}

#buddypress #invite-list {
  border-radius: 0;
  border: 1px solid #333333;
  height: 400px;
  margin: 0 0 10px;
  overflow: auto;
  width: 200px;
}

#buddypress .standard-form .left-menu {
  float: left;
}

#buddypress .standard-form .left-menu #invite-list ul {
  margin: 0;
  list-style: none;
}

#buddypress .standard-form .left-menu #invite-list ul li {
  margin: 0;
  padding: 10px 15px;
  border-bottom: 1px solid #333333;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#buddypress .standard-form .left-menu #invite-list ul li:hover {
  background: rgba(0, 0, 0, 0.05);
}

#buddypress .standard-form .left-menu #invite-list ul li label {
  cursor: pointer;
}

#buddypress .standard-form .main-column {
  margin-left: 230px;
}

#buddypress .standard-form .main-column #pag-top {
  display: none;
}

#buddypress #friend-list {
  border: 1px solid #333333;
  border-radius: 0;
  clear: none;
  float: left;
}

#buddypress #friend-list li {
  border-bottom: 1px solid #333333;
  padding: 15px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#buddypress #friend-list li:last-child {
  border-bottom: 0;
}

#buddypress #friend-list li:hover {
  background: rgba(0, 0, 0, 0.05);
}

#buddypress #friend-list li .action {
  right: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#buddypress #friend-list li a.remove {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: transparent;
  font-size: 0;
}

#buddypress #friend-list li a.remove:hover {
  background: transparent !important;
}

#buddypress #friend-list h4 {
  clear: none;
}

#buddypress #friend-list .avatar {
  margin-right: 20px;
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
  padding: 0 8px 1px;
}

/* Form classes & generic attr styling */
#buddypress form *[disabled="disabled"] {
  cursor: default;
  opacity: .4;
}

.bp-screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
}

#buddypress fieldset {
  padding: 20px;
  border: 1px solid #eeeeee;
  border-radius: 0;
}

body.no-js #buddypress #notifications-bulk-management #select-all-notifications,
body.no-js #buddypress label[for="message-type-select"],
body.no-js #buddypress #message-type-select,
body.no-js #buddypress #delete_inbox_messages,
body.no-js #buddypress #delete_sentbox_messages,
body.no-js #buddypress #messages-bulk-management #select-all-messages {
  display: none;
}

#buddypress #register-page .standard-form label,
#buddypress #register-page .standard-form span.label {
  margin: 15px 0 5px 0;
}

#buddypress #register-page .standard-form input[type=email],
#buddypress #register-page .standard-form input[type=password] {
  width: 90%;
}

/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
#buddypress a.loading,
#buddypress input.loading {
  border-color: transparent;
}

#buddypress a.loading:hover,
#buddypress input.loading:hover {
  color: #767676;
}

#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress input[type="submit"][disabled=disabled],
#buddypress button.pending,
#buddypress button.disabled,
#buddypress .pending a,
#buddypress a.disabled {
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

#buddypress input[type="submit"].pending:hover,
#buddypress input[type="button"].pending:hover,
#buddypress input[type="reset"].pending:hover,
#buddypress input[type="submit"].disabled:hover,
#buddypress input[type="button"].disabled:hover,
#buddypress input[type="reset"].disabled:hover,
#buddypress input[type="submit"][disabled=disabled]:hover,
#buddypress button.pending:hover,
#buddypress button.disabled:hover,
#buddypress .pending a:hover,
#buddypress a.disabled:hover {
  border-color: #eee;
  color: #bbb;
}

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
#buddypress ul#topic-post-list {
  margin: 0;
  width: auto;
}

#buddypress ul#topic-post-list li {
  padding: 15px;
  position: relative;
}

#buddypress ul#topic-post-list li.alt {
  background: #f5f5f5;
}

#buddypress ul#topic-post-list li .poster-meta {
  color: #767676;
  margin-bottom: 10px;
}

#buddypress ul#topic-post-list li .post-content {
  margin-left: 54px;
}

#buddypress .topic-tags {
  font-size: 80%;
}

#buddypress .admin-links {
  color: #767676;
  font-size: 80%;
  position: absolute;
  top: 15px;
  right: 25px;
}

#buddypress #topic-meta {
  margin: 0;
  padding: 5px 19px 30px;
  position: relative;
}

#buddypress #topic-meta .admin-links {
  right: 19px;
  top: -36px;
}

#buddypress #topic-meta h3 {
  margin: 5px 0;
}

#buddypress #new-topic-post {
  display: none;
  margin: 20px 0 0 0;
  padding: 1px 0 0 0;
}

#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum {
  width: 100%;
}

#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr {
  background: rgba(0, 0, 0, 0.05);
}

#buddypress #message-threads {
  clear: both;
}

#buddypress table.profile-fields {
  margin-bottom: 20px;
}

#buddypress table.profile-fields:last-child {
  margin-bottom: 0;
}

#buddypress table.profile-fields p {
  margin: 0;
}

#buddypress table.profile-fields p:last-child {
  margin-top: 0;
}

#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th {
  vertical-align: middle;
}

#buddypress .notifications tr .label,
#buddypress .notifications-settings tr .label,
#buddypress .profile-fields tr .label,
#buddypress .wp-profile-fields tr .label,
#buddypress .messages-notices tr .label,
#buddypress .forum tr td.label {
  border-right: 1px solid #333333;
  font-weight: bold;
  width: 25%;
}

#buddypress #message-threads .thread-info {
  width: 40%;
}

#buddypress table tr td.thread-info p {
  margin: 0;
}

#buddypress table tr td.thread-info p.thread-excerpt {
  color: #767676;
  font-size: 80%;
  margin-top: 3px;
}

#buddypress table.forum td {
  text-align: center;
}

#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
  background: #f5f5f5;
}

#buddypress table.notification-settings,
#buddypress table.notifications,
#buddypress table.messages-notices,
#buddypress table.profile-settings {
  margin-bottom: 30px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

#buddypress table.notification-settings tr:hover,
#buddypress table.notification-settings thead,
#buddypress table.notifications tr:hover,
#buddypress table.notifications thead,
#buddypress table.messages-notices tr:hover,
#buddypress table.messages-notices thead,
#buddypress table.profile-settings tr:hover,
#buddypress table.profile-settings thead {
  background-color: rgba(0, 0, 0, 0.03);
}

#buddypress table.notification-settings th,
#buddypress table.notifications th,
#buddypress table.messages-notices th,
#buddypress table.profile-settings th {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
}

#buddypress table.notification-settings tr,
#buddypress table.notifications tr,
#buddypress table.messages-notices tr,
#buddypress table.profile-settings tr {
  line-height: 20px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

#buddypress table.notification-settings tr.alt td,
#buddypress table.notification-settings tr td,
#buddypress table.notifications tr.alt td,
#buddypress table.notifications tr td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.messages-notices tr td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-settings tr td {
  border-bottom: 1px solid #eeeeee;
  padding: 10px;
  background: transparent;
}

#buddypress table.notification-settings select,
#buddypress table.notifications select,
#buddypress table.messages-notices select,
#buddypress table.profile-settings select {
  height: 20px;
}

#buddypress table.notification-settings thead tr {
  line-height: 40px;
}

#buddypress table.sitewide-notices {
  border: 1px solid #333333;
}

#buddypress table.sitewide-notices tr,
#buddypress table.sitewide-notices tr.alt {
  line-height: 20px;
}

#buddypress table.sitewide-notices tr td,
#buddypress table.sitewide-notices tr.alt td {
  padding: 10px;
}

#buddypress table.sitewide-notices tr td:last-child,
#buddypress table.sitewide-notices tr.alt td:last-child {
  width: 15% !important;
  text-align: right;
}

#buddypress table.sitewide-notices tr td:last-child a,
#buddypress table.sitewide-notices tr.alt td:last-child a {
  color: #333333 !important;
  background: transparent;
  padding: 6px;
  line-height: 1;
}

#buddypress table.sitewide-notices tr td:last-child a:last-child,
#buddypress table.sitewide-notices tr.alt td:last-child a:last-child {
  font-size: 0;
  color: transparent;
}

#buddypress table.sitewide-notices tr td:last-child a:last-child:after,
#buddypress table.sitewide-notices tr.alt td:last-child a:last-child:after {
  font-family: "FontAwesome", "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f014";
  font-size: 12px;
  color: #333333;
}

#buddypress table.sitewide-notices tr td:last-child a:hover,
#buddypress table.sitewide-notices tr.alt td:last-child a:hover {
  color: #333333 !important;
}

#buddypress table.sitewide-notices tr td:last-child a:hover:after,
#buddypress table.sitewide-notices tr.alt td:last-child a:hover:after {
  color: #ffebee;
}

#buddypress table.sitewide-notices tr p,
#buddypress table.sitewide-notices tr.alt p {
  font-size: 90%;
  opacity: 0.9;
}

#buddypress table.sitewide-notices .activity {
  font-size: 90%;
}

#buddypress .notification-actions .delete:hover {
  color: #f44336;
}

#buddypress #groups-notification-settings {
  margin-bottom: 0;
}

#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
  display: none;
}

#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
  width: 80%;
}

#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
  text-align: center;
  width: 40px;
}

#buddypress table.forum {
  margin: 0;
  width: auto;
  clear: both;
}

#buddypress table.forum tr.sticky td {
  font-size: 110%;
  background: #fff9db;
  border-top: 1px solid #ffe8c4;
  border-bottom: 1px solid #ffe8c4;
}

#buddypress table.forum tr.closed td.td-title {
  padding-left: 35px;
}

#buddypress table.forum td p.topic-text {
  color: #767676;
  font-size: 100%;
}

#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
  padding-left: 15px;
}

#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
  padding-right: 15px;
}

#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
  text-align: left;
}

#buddypress table.forum tr td.td-title a.topic-title {
  font-size: 110%;
}

#buddypress table.forum td.td-freshness {
  white-space: nowrap;
  word-wrap: normal;
}

#buddypress table.forum td.td-freshness span.time-since {
  font-size: 80%;
  color: #767676;
}

#buddypress table.forum td img.avatar {
  float: none;
  margin: 0 5px -8px 0;
}

#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group {
  min-width: 140px;
}

#buddypress table.forum th#th-title {
  width: 80%;
}

#buddypress table.forum th#th-freshness {
  width: 25%;
}

#buddypress table.forum th#th-postcount {
  width: 15%;
}

#buddypress table.forum p.topic-meta {
  font-size: 80%;
  margin: 5px 0 0 0;
}

/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
#buddypress .item-body {
  margin: 20px 0;
}

#buddypress span.activity {
  display: inline-block;
  font-size: small;
  opacity: 0.8;
  padding: 5px 0;
}

#buddypress span.user-nicename {
  color: #767676;
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
}

#buddypress #sitewide-notice p,
#buddypress #message p {
  line-height: 30px;
  padding: 0;
}

#buddypress #item-header {
  text-align: center;
  position: relative;
}

#buddypress #item-header:after {
  clear: both;
  content: "";
  display: table;
}

#buddypress #item-header #item-header-avatar {
  width: 100%;
}

#buddypress #item-header #item-header-avatar img {
  float: none;
  display: inline-block;
  margin: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
          box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.05);
}

#buddypress #item-header #item-header-content {
  width: 100%;
}

#buddypress #item-header #item-header-content h2,
#buddypress #item-header #item-header-content a,
#buddypress #item-header #item-header-content .label,
#buddypress #item-header #item-header-content .activity,
#buddypress #item-header #item-header-content h3,
#buddypress #item-header #item-header-content #item-meta,
#buddypress #item-header #item-header-content #item-meta #latest-update a,
#buddypress #item-header #item-header-content span.highlight,
#buddypress #item-header #item-actions h3,
#buddypress #item-header #item-actions h2 {
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

#buddypress #item-header #item-header-content .generic-button a:not(.join-group) {
  background: transparent;
}

#buddypress #item-header #item-header-content .generic-button a:not(.join-group):hover {
  opacity: 0.8;
}

#buddypress #item-header h2 {
  font-size: 36px;
  margin: 10px 0 5px 0;
}

#buddypress #item-header h2 a {
  color: #767676;
  text-decoration: none;
}

#buddypress #item-header h2 span.highlight {
  font-weight: normal;
  display: inline-block;
  background: transparent;
  font-size: 120%;
}

#buddypress #item-header h2 span.highlight span {
  background: #a1dcfa;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 2px;
  padding: 1px 4px;
  position: relative;
  right: -2px;
  top: -2px;
  vertical-align: middle;
}

#buddypress #item-header img.avatar {
  float: left;
  margin: 0 15px 19px 0;
}

#buddypress #item-header #item-meta {
  overflow: hidden;
  margin: 15px 0 0 0;
  padding: 0 30px;
}

#buddypress #item-header #item-meta p {
  margin: 10px 0 0;
}

#buddypress #item-header #item-meta #latest-update a {
  color: #333333;
  font-size: 80%;
}

#buddypress #item-header #item-meta #latest-update a:before {
  content: " - ";
}

#buddypress #item-header #item-actions {
  margin-bottom: 30px;
}

#buddypress #item-header #item-actions h3,
#buddypress #item-header #item-actions h2 {
  font-size: 12pxpx;
  line-height: 18pxpx;
  font-weight: normal;
  display: inline-block;
  margin: 10px;
  line-height: 30px;
}

#buddypress #item-header #item-actions ul {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
}

#buddypress #item-header #item-actions ul li {
  margin: 0;
}

#buddypress #item-header #item-actions ul img {
  border-radius: 50%;
}

#buddypress #item-header ul {
  margin-bottom: 15px;
  overflow: hidden;
}

#buddypress #item-header ul h5,
#buddypress #item-header ul span,
#buddypress #item-header ul hr {
  display: none;
}

#buddypress #item-header ul li {
  float: right;
  list-style: none;
}

#buddypress #item-header ul img.avatar,
#buddypress #item-header ul.avatars img.avatar {
  height: 30px;
  margin: 2px;
  width: 30px;
}

#buddypress #item-header .generic-button,
#buddypress #item-header a.button {
  margin: 10px 5px;
  display: inline-block;
}

#buddypress #item-header #post-mention a,
#buddypress #item-header #send-private-message a,
#buddypress #item-header .friendship-button .remove {
  background: transparent;
  color: #ffffff;
  text-shadow: 0 0 1px #000000;
}

#buddypress #item-header #post-mention a:hover,
#buddypress #item-header #send-private-message a:hover,
#buddypress #item-header .friendship-button .remove:hover {
  opacity: 0.8;
}

#buddypress #item-header #message.info {
  line-height: 80%;
}

#buddypress #item-header #message {
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

#buddypress #item-header #message p {
  padding-left: 20px;
}

#buddypress ul.item-list {
  width: 100%;
  list-style: none;
  clear: both;
  margin: 0;
  padding: 0;
}

#buddypress ul.item-list li {
  padding: 15px 0;
  margin: 0;
  position: relative;
  list-style: none;
}

#buddypress ul.item-list li .avatar {
  float: left;
  border-radius: 50%;
}

#buddypress ul.item-list li .item-title,
#buddypress ul.item-list li h4 {
  font-weight: normal;
  margin: 0;
}

#buddypress ul.item-list li .item-title span {
  color: #767676;
}

#buddypress ul.item-list li .item-desc {
  color: #767676;
  margin: 10px 0 0 60px;
  border-bottom: 1px solid #333333;
}

#buddypress ul.item-list li.group-no-avatar .item-desc {
  margin-left: 0;
}

#buddypress ul.item-list li .action {
  position: absolute;
  top: 15px;
  right: 0;
  text-align: right;
}

#buddypress ul.item-list li .meta {
  color: #767676;
  font-size: 80%;
  margin-top: 10px;
}

#buddypress ul.item-list li h5 span.small {
  float: right;
  font-size: 80%;
  font-weight: normal;
}

#buddypress ul.item-list li .item {
  margin-left: 70px;
}

#buddypress ul.single-line li {
  border: none;
}

#buddypress #item-nav ul,
#buddypress .activity-type-tabs ul {
  text-align: center;
}

#buddypress #item-nav ul li,
#buddypress .activity-type-tabs ul li {
  display: inline-block;
  float: none;
  margin-right: 10px;
  position: relative;
}

#buddypress #item-nav ul li:last-child,
#buddypress .activity-type-tabs ul li:last-child {
  margin-right: 0;
}

#buddypress #item-nav ul li a:before,
#buddypress .activity-type-tabs ul li a:before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress #item-nav ul li a#user-xprofile:before {
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress #item-nav ul li a#user-notifications:before {
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress #item-nav ul li a#user-settings:before, #buddypress #item-nav ul li a#admin:before {
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress #item-nav ul li a#user-messages:before {
  content: "";
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress #item-nav ul li .loading a {
  background-position: 88% 50%;
}

#buddypress .activity-type-tabs ul li {
  margin-right: 10px;
}

#buddypress .activity-type-tabs ul #activity-all a:before,
#buddypress .activity-type-tabs ul #activity-friends a:before,
#buddypress .activity-type-tabs ul #activity-groups a:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress .activity-type-tabs ul #activity-favorites a:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress .item-list-tabs {
  background: transparent;
  clear: left;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 15px;
}

#buddypress .item-list-tabs #groups-all a:before,
#buddypress .item-list-tabs #members-all a:before,
#buddypress .item-list-tabs #groups-personal a:before,
#buddypress .item-list-tabs #members-personal a:before,
#buddypress .item-list-tabs #group-create-nav a:before {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

#buddypress .item-list-tabs #groups-all a:before,
#buddypress .item-list-tabs #members-all a:before,
#buddypress .item-list-tabs #groups-personal a:before,
#buddypress .item-list-tabs #members-personal a:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='30' viewBox='0 0 24 24' width='30' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#buddypress .item-list-tabs #group-create-nav a:before {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M0 20h24v4H0z' fill-opacity='.36'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

body.groups #buddypress .item-list-tabs#object-nav li {
  display: inline-block;
  float: none;
}

#buddypress .item-list-tabs ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#buddypress .item-list-tabs ul li {
  float: left;
  margin: 0 10px 0 0;
  list-style: none;
}

#buddypress .item-list-tabs ul li label {
  margin-right: 10px;
}

#buddypress .item-list-tabs ul li.last {
  float: right;
  margin: 7px 0 0;
}

#buddypress .item-list-tabs ul li.last select {
  max-width: 185px;
}

#buddypress .item-list-tabs ul li a,
#buddypress .item-list-tabs ul li span {
  display: block;
  padding: 0 20px;
  text-decoration: none;
  line-height: 35px;
  position: relative;
}

#buddypress .item-list-tabs ul li a span {
  background: #333333;
  color: #ffffff;
  border-radius: 99rem;
  display: inline-block;
  line-height: 20px;
  margin-left: 17px;
  padding: 0 6px;
  text-align: center;
  font-size: 11px;
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 20px;
}

#buddypress .item-list-tabs ul li a {
  opacity: 0.9;
}

#buddypress .item-list-tabs ul li a:hover,
#buddypress .item-list-tabs ul li.selected a,
#buddypress .item-list-tabs ul li.current a {
  color: #333333;
  opacity: 1;
}

#buddypress .item-list-tabs#object-nav {
  margin-top: 0;
}

#buddypress .item-list-tabs#subnav {
  background: transparent;
  margin: 0 0 30px;
  overflow: hidden;
  padding-top: 25px;
  border-bottom: 0;
}

#buddypress .item-list-tabs#subnav ul li {
  margin-top: 10px;
}

#buddypress .item-list-tabs#subnav ul li.groups-members-search {
  margin-top: 5px;
}

#buddypress .item-list-tabs#subnav ul li a {
  background: transparent;
  color: #333333;
}

#buddypress .item-list-tabs#subnav ul li a:hover {
  color: #333333;
}

#buddypress .item-list-tabs#subnav ul li.last {
  margin-top: 4px;
}

#buddypress .item-list-tabs#subnav ul li.selected a {
  color: #333333;
  border-bottom: 2px solid #333333;
}

@media only screen and (max-width: 679px) {
  #buddypress .item-list-tabs#subnav ul {
    width: 100%;
    text-align: center;
  }
  #buddypress .item-list-tabs#subnav ul li {
    display: inline-block;
    float: none;
    margin-bottom: 10px;
  }
}

#buddypress #admins-list li,
#buddypress #mods-list li,
#buddypress #members-list li {
  overflow: auto;
  list-style: none;
}

#buddypress #item-buttons:empty {
  display: none;
}

body.activity-permalink #buddypress ul.item-list,
body.activity-permalink #buddypress ul.item-list li.activity-item {
  border: none;
}

/*--------------------------------------------------------------
3.8.1 - Cover Image
--------------------------------------------------------------*/
#buddypress #cover-image-container {
  position: relative;
  z-index: 0;
  padding: 80px 0;
  margin-bottom: 30px;
}

#buddypress #header-cover-image {
  background-color: rgba(0, 0, 0, 0.05);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#buddypress #item-header-cover-image {
  position: relative;
  z-index: 2;
  max-width: 970px;
  margin: 0 auto;
}

/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
#buddypress #message-threads {
  border: 1px solid #333333;
}

#buddypress #message-threads tr.unread td {
  background: #fff9db;
  border-top: 1px solid #ffe8c4;
  border-bottom: 1px solid #ffe8c4;
  font-weight: bold;
}

#buddypress #message-threads tr.unread td .thread-excerpt,
#buddypress #message-threads tr.unread td .activity, #buddypress #message-threads tr.unread td.thread-options {
  font-weight: normal;
}

#buddypress #message-threads th.thread-options,
#buddypress #message-threads td.thread-options {
  width: 20%;
  text-align: center;
}

#buddypress #message-threads td {
  padding: 10px;
}

#buddypress #message-threads .thread-from {
  padding-left: 50px;
  line-height: 1.5;
}

#buddypress #message-threads .thread-from a {
  line-height: 1;
}

#buddypress #message-threads img.avatar {
  margin-bottom: -10px;
  margin-right: 5px;
  margin-left: -35px;
}

@media only screen and (max-width: 679px) {
  #buddypress #message-threads .thread-from {
    padding-left: 10px;
  }
  #buddypress #message-threads img.avatar {
    display: none;
  }
}

#buddypress #message-threads span.activity {
  padding: 3px 0;
  font-size: 80%;
  line-height: 1;
  display: block;
}

#buddypress #message-threads .bulk-select-all,
#buddypress #message-threads .bulk-select-check {
  border-right: 1px solid #333333;
}

#buddypress li span.unread-count,
#buddypress tr.unread span.unread-count {
  background: #dd0000;
  color: #fff;
  font-weight: bold;
  padding: 2px 8px;
}

#buddypress .item-list-tabs ul li a span.unread-count {
  padding: 1px 6px;
  color: #fff;
}

#buddypress #message-thread .message-box {
  margin: 0;
  padding: 15px;
}

#buddypress #message-thread .alt {
  background: rgba(0, 0, 0, 0.05);
}

#buddypress #message-thread p#message-recipients {
  margin: 10px 0 20px 0;
}

#buddypress #message-thread #send-reply {
  background: rgba(0, 0, 0, 0.03);
  padding-top: 15px;
  margin-top: 30px;
}

#buddypress #message-thread img.avatar {
  float: left;
  margin: 0 10px 0 0;
  vertical-align: middle;
  border-radius: 50%;
}

#buddypress #message-thread strong {
  font-size: 100%;
  margin: 0;
}

#buddypress #message-thread strong a {
  text-decoration: none;
}

#buddypress #message-thread strong span.activity {
  margin-top: 4px;
}

#buddypress #message-thread .message-metadata {
  overflow: hidden;
}

#buddypress #message-thread .message-content {
  margin-left: 45px;
}

#buddypress #message-thread .message-options {
  text-align: right;
}

#buddypress #message-threads img.avatar {
  max-width: none;
  border-radius: 50%;
}

#buddypress .message-search {
  float: right;
}

#buddypress .message-metadata {
  position: relative;
}

#buddypress .message-star-actions {
  position: absolute;
  right: 0;
  top: 0;
}

#buddypress #send_message_form label {
  margin-bottom: 5px;
}

#buddypress #send_message_form input[type="text"],
#buddypress #send_message_form textarea {
  margin-bottom: 15px;
}

/*--------------------------------------------------------------
 * Stars :: fav/unfav activity - fav messages
--------------------------------------------------------------*/
#buddypress a.fav, #buddypress a.unfav {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0;
  color: transparent;
}

#buddypress a.fav.loading, #buddypress a.unfav.loading {
  -webkit-animation: fa-spin 1.5s infinite linear;
          animation: fa-spin 1.5s infinite linear;
}

#buddypress a.fav.loading:after, #buddypress a.unfav.loading:after {
  content: "\f110";
}

#buddypress a.fav:after, #buddypress a.unfav:after, #buddypress a.message-action-star:after, #buddypress a.message-action-unstar:after {
  font-family: "FontAwesome", "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f006";
  font-size: 13pxpx;
  line-height: 19.5pxpx;
}

#buddypress a.unfav:after, #buddypress a.message-action-unstar:after {
  content: "\f005";
  color: #333333;
}

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/
#buddypress .profile .bp-widget {
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 50px;
  border-bottom: 1px solid #eeeeee;
}

#buddypress .profile .bp-widget:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 20px;
}

#buddypress .profile h4 {
  padding: 10px 0;
  margin-bottom: 0;
}

#buddypress .profile .profile-fields {
  border: 0;
  padding-top: 10px;
  position: relative;
}

#buddypress .profile .profile-fields:before {
  content: "";
  background-color: #eeeeee;
  position: absolute;
  left: 14px;
  height: 100%;
  width: 2px;
}

#buddypress .profile .profile-fields tr {
  padding: 10px;
}

#buddypress .profile .profile-fields tr td {
  display: block;
}

#buddypress .profile .profile-fields tr td.data {
  padding: 0 0 20px 40px;
}

#buddypress .profile .profile-fields tr td.data p {
  padding-left: 0;
}

#buddypress .profile .profile-fields tr,
#buddypress .profile .profile-fields tr:nth-child(even),
#buddypress .profile .profile-fields tr td,
#buddypress .profile .profile-fields tr:nth-child(even) td {
  background: transparent;
  border: 0;
}

#buddypress .profile .profile-fields .label {
  border-right: 0;
  vertical-align: top;
  padding-left: 40px;
  position: relative;
  color: #333333;
  width: 100%;
}

#buddypress .profile .profile-fields .label:before {
  content: "";
  background-color: #FFFFFF;
  border: 3px solid #eeeeee;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  position: absolute;
  left: 2px;
  top: 16px;
  height: 20px;
  width: 20px;
  border-radius: 99rem;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
}

#buddypress .profile .profile-fields .label:hover:before {
  border-color: #333333;
}

#buddypress .profile .profile-fields p {
  padding-left: 15px;
}

#profile-edit-form h4 {
  border: 0;
}

#profile-edit-form > h2 {
  margin-bottom: 20px;
}

#profile-edit-form ul.button-nav {
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  max-height: 42px;
}

#profile-edit-form ul.button-nav li {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
  display: inline-block;
}

#profile-edit-form ul.button-nav li a {
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  background-color: rgba(0, 0, 0, 0.03);
}

#profile-edit-form ul.button-nav li a:hover {
  background-color: transparent;
}

#profile-edit-form ul.button-nav li.current a {
  background-color: transparent;
  color: #333333;
}

#profile-edit-form .editfield {
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #eeeeee;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0.02);
}

#profile-edit-form label {
  margin-top: 10px;
  margin-bottom: 5px;
}

#buddypress .bp-cover-image {
  margin-top: 10px;
}

body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
  display: none;
}

#buddypress .field-visibility-settings {
  display: none;
  margin-top: 10px;
}

body.no-js #buddypress .field-visibility-settings {
  display: block;
}

#buddypress .current-visibility-level {
  font-weight: bold;
  font-style: normal;
}

#buddypress .visibility-toggle-link,
#buddypress .field-visibility-settings-close {
  padding: 2px 5px;
}

#buddypress .field-visibility-settings-close {
  margin-top: 10px;
}

#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
  color: #767676;
  margin-top: 10px;
}

#buddypress .field-visibility-settings a,
#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings-notoggle a {
  font-size: 80%;
}

body.register #buddypress .page ul {
  list-style: none;
}

#buddypress .standard-form .field-visibility-settings label {
  margin: 0;
  font-weight: normal;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
  font-style: italic;
}

#buddypress .field-visibility-settings .radio {
  list-style: none;
  margin-bottom: 0;
}

#buddypress .field-visibility select {
  margin: 0;
}

#buddypress .wp-editor-container {
  border: 1px solid #dedede;
}

#buddypress .html-active button.switch-html {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #f5f5f5;
}

#buddypress .html-active button.switch-tmce {
  border-bottom-color: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #f5f5f5;
}

#buddypress .standard-form .wp-editor-container textarea {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/
.widget.buddypress #groups-list,
.widget.buddypress #members-list,
.widget.buddypress #friends-list {
  border-top: 0;
  margin-left: 0;
  padding-left: 0;
}

.widget.buddypress #groups-list li,
.widget.buddypress #members-list li,
.widget.buddypress #friends-list li {
  width: 100%;
  padding: 0;
  clear: both;
  list-style-type: none;
}

.widget.buddypress #groups-list li:last-child,
.widget.buddypress #members-list li:last-child,
.widget.buddypress #friends-list li:last-child {
  padding: 0;
}

.widget.buddypress #groups-list li .item,
.widget.buddypress #members-list li .item,
.widget.buddypress #friends-list li .item {
  margin-left: 60px;
}

.widget.buddypress .item-avatar img.avatar {
  float: left;
  margin: 0 10px 15px 0;
}

.widget.buddypress span.activity {
  display: inline-block;
  font-size: small;
  opacity: 0.8;
  padding: 0;
}

.widget.buddypress .item-options {
  padding: 15px 0;
  position: relative;
  z-index: 1;
  float: none;
  margin-top: -15px;
  margin-bottom: 5px;
  color: transparent;
}

.widget.buddypress .item-options a {
  border: 1px solid #333333;
  border-radius: 0;
  padding: 0 6px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
}

.widget.buddypress .item-options a.selected, .widget.buddypress .item-options a.loading {
  background: #333333;
  border-color: #333333;
  color: #ffffff !important;
}

.widget.buddypress .item-options span {
  display: none;
}

.widget.buddypress .avatar {
  border-radius: 50%;
}

#buddypress .widget ul.item-list {
  margin-bottom: 0;
}

.widget.widget_bp_core_friends_widget .item-options a {
  margin-left: 0;
  margin-right: 5px;
}

.widget.buddypress .item {
  margin-left: 60px;
}

.widget.buddypress li:not(:last-child) .item {
  padding-bottom: 15px;
}

.widget.buddypress .item-meta,
.widget.buddypress .item-content {
  font-size: 11px;
  line-height: 12px;
}

.widget.buddypress ul.item-list img.avatar {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

.widget.buddypress .item-avatar img {
  height: 40px;
  margin: 1px;
  width: 40px;
}

.widget.buddypress .avatar-block {
  overflow: hidden;
}

.widget.buddypress #bp-login-widget-form {
  overflow: hidden;
}

.widget.buddypress #bp-login-widget-form label {
  display: block;
  margin: 0 0 10px;
}

.widget.buddypress #bp-login-widget-form input[type="text"],
.widget.buddypress #bp-login-widget-form input[type="password"] {
  width: 100%;
  margin-bottom: 10px;
}

.widget.buddypress #bp-login-widget-form #bp-login-widget-submit {
  float: right;
  margin-top: 10px;
  width: 100%;
}

.widget.buddypress #bp-login-widget-form .forgetmenot {
  float: left;
}

.widget.buddypress #bp-login-widget-form .bp-login-widget-register-link {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 10px;
}

.widget.buddypress .bp-login-widget-user-avatar {
  float: left;
}

.bp-login-widget-user-avatar img.avatar {
  height: 40px;
  width: 40px;
}

.widget.buddypress .bp-login-widget-user-links > div {
  padding-left: 60px;
}

.widget.buddypress .bp-login-widget-user-links > div {
  margin-bottom: .5rem;
}

.widget.buddypress .bp-login-widget-user-links > .bp-login-widget-user-link a {
  font-weight: bold;
}

.widget_bp_core_sitewide_messages .bp-site-wide-message #message {
  margin-bottom: 0;
}

#buddypress .widget_bp_core_sitewide_messages .bp-site-wide-message #message {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
 * Group List - memebers list
--------------------------------------------------------------*/
#buddypress #groups-list,
#buddypress #member-list,
#buddypress #members-list {
  margin-left: -15px;
  margin-right: -15px;
  width: auto;
  border: 0;
  overflow: hidden;
}

#buddypress #groups-list > li,
#buddypress #member-list > li,
#buddypress #members-list > li {
  margin: calc(10% / 6);
  float: left;
  width: 30%;
  padding: 30px 10px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  #buddypress #groups-list > li,
  #buddypress #member-list > li,
  #buddypress #members-list > li {
    width: 45%;
    margin: 2.5%;
  }
}

.has-sidebar #buddypress #groups-list > li:nth-child(3n + 1), .has-sidebar
#buddypress #member-list > li:nth-child(3n + 1), .has-sidebar
#buddypress #members-list > li:nth-child(3n + 1) {
  clear: left;
}

@media only screen and (min-width: 992px) {
  .full-width #buddypress #groups-list > li, .full-width
  #buddypress #member-list > li, .full-width
  #buddypress #members-list > li {
    width: 22%;
    margin: calc(12% / 8);
  }
  .full-width #buddypress #groups-list > li:nth-child(4n + 1), .full-width
  #buddypress #member-list > li:nth-child(4n + 1), .full-width
  #buddypress #members-list > li:nth-child(4n + 1) {
    clear: left;
  }
}

#buddypress #groups-list > li .item,
#buddypress #member-list > li .item,
#buddypress #members-list > li .item {
  margin-left: 0;
}

@media only screen and (max-width: 480px) {
  #buddypress #groups-list,
  #buddypress #member-list,
  #buddypress #members-list {
    margin-left: 0;
    margin-right: 0;
  }
  #buddypress #groups-list > li,
  #buddypress #member-list > li,
  #buddypress #members-list > li {
    width: 100%;
    margin: 0 0 30px;
  }
}

#buddypress #groups-list .item-avatar, #buddypress #groups-list .item-avatar a,
#buddypress #member-list .item-avatar,
#buddypress #member-list .item-avatar a,
#buddypress #members-list .item-avatar,
#buddypress #members-list .item-avatar a {
  width: 100%;
  display: block;
}

#buddypress #groups-list .item-avatar img,
#buddypress #groups-list .avatar,
#buddypress #member-list .item-avatar img,
#buddypress #member-list .avatar,
#buddypress #members-list .item-avatar img,
#buddypress #members-list .avatar {
  float: none;
}

#buddypress #groups-list .item-title,
#buddypress #member-list .item-title,
#buddypress #members-list .item-title {
  width: 100%;
  margin-top: 10px;
  font-size: 100%;
}

#buddypress #groups-list span.activity,
#buddypress #member-list span.activity,
#buddypress #members-list span.activity {
  display: inline-block;
  color: #bbb;
}

#buddypress #groups-list .item-desc,
#buddypress #member-list .item-desc,
#buddypress #members-list .item-desc {
  margin: 10px 0 0;
  border: 0;
}

#buddypress #groups-list .action,
#buddypress #member-list .action,
#buddypress #members-list .action {
  position: relative;
  top: 10px;
  text-align: center;
}

#buddypress #groups-list .action a,
#buddypress #member-list .action a,
#buddypress #members-list .action a {
  display: inline-block;
}

#buddypress #member-list li > a,
#buddypress #members-list li > a {
  width: 100%;
  text-align: center;
}

#buddypress #member-list li > a img,
#buddypress #members-list li > a img {
  float: none;
}

#buddypress #member-list li .item-title .update,
#buddypress #members-list li .item-title .update {
  display: block;
}

#buddypress #member-list li h5,
#buddypress #members-list li h5 {
  margin: 0;
}

#buddypress #member-list li .action,
#buddypress #members-list li .action {
  float: none;
}

#buddypress #member-list li span.small a,
#buddypress #members-list li span.small a {
  margin: 5px;
}

header.buddypress-header-outer {
  background: #fafafa;
  border-bottom: 1px solid #333333;
  padding: 25px 0;
}

header.buddypress-header-outer #breadcrumb {
  margin-top: 25px;
}

header.buddypress-header-outer .entry-header {
  padding: 10px 0;
  margin-bottom: 0;
  border-width: 0;
}

header.buddypress-header-outer .entry-header h1 {
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  header.buddypress-header-outer {
    padding-top: 0;
  }
}

/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - tablet
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #buddypress .message-search,
  #buddypress .dir-search {
    float: none;
    margin-bottom: 30px;
  }
  #buddypress .message-search input[type="text"],
  #buddypress .dir-search input[type="text"] {
    width: 100%;
  }
  #buddypress .message-search input[type="submit"],
  #buddypress .dir-search input[type="submit"] {
    width: 100%;
    margin-top: 30px;
  }
  #buddypress .message-search {
    margin: 20px 0 0;
  }
  #buddypress .standard-form .left-menu {
    width: 100%;
  }
  #buddypress .standard-form #invite-list {
    width: 100%;
    height: 186px;
  }
  #buddypress .standard-form .main-column {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  a.bp-title-button {
    margin-left: 10px;
  }
}

/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
  #buddypress #groups-order-select {
    clear: left;
    float: left;
  }
  #buddypress ul.item-list li .action {
    clear: left;
    float: left;
    margin-top: 0;
    margin-left: 70px;
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
  }
  #buddypress ul.item-list li .item-desc {
    clear: left;
    float: left;
    margin: 10px 0 0;
    width: auto;
  }
  #buddypress li .item {
    margin-left: 70px;
    width: auto;
  }
  #buddypress ul.item-list li .meta {
    margin-top: 0;
  }
  #buddypress .item-desc p {
    margin: 0 0 10px;
  }
  #buddypress .pagination .pag-count {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
@media only screen and (max-width: 240px) {
  #buddypress #groups-order-select {
    float: left;
  }
  #buddypress ul.item-list li img.avatar {
    width: 30px;
    height: auto;
  }
  #buddypress ul.item-list li .action,
  #buddypress li .item {
    margin-left: 45px;
  }
  h1 a.bp-title-button {
    clear: left;
    float: left;
    margin: 10px 0 20px;
  }
}

/*--------------------------------------------------------------
4.2 - Avatar
--------------------------------------------------------------*/
body #drag-drop-area {
  border: 2px dashed #eeeeee;
}

body #buddypress p.warning,
body body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning,
body body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning {
  background-color: #fff8e1;
  color: #ffc107;
  padding: 1.0714285714rem 1.4285714286rem;
  border: none;
  font-size: 100%;
}

body #buddypress p.warning a,
body body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning a,
body body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning a {
  border-bottom: 1px dotted #ffc107;
}
