/*------------------------------------------------------------------
[Woocommerce noor Stylesheet]

Project:	 PixelDima WP-Theme
Version:	 1.0
Primary use: Noor Theme
Direction :  RTL
-------------------------------------------------------------------*/
/*  8.1  - Help Classes */
.single-tribe_events .tribe-events-single-event-title, #tribe-geo-results h2.tribe-events-page-title, h2.tribe-events-page-title {
  font-size: 2.5714285714rem;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 300;
}

.tribe-events-schedule h2, #tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-gcal,
.single-tribe_events a.tribe-events-ical, .tribe-this-week-widget-wrapper .tribe-events-page-title,
.tribe-events-meta-group .tribe-events-single-section-title {
  font-size: 1.2857142857rem;
  line-height: 1.8888888889em;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.tribe-bar-views-inner {
  background-color: rgba(255, 255, 255, 0);
  padding: 0;
}

.tribe-bar-views-list {
  display: none;
}

.tribe-bar-date-filter {
  padding-right: 0;
}

/*--------------------------------------------------------------
1 - border
--------------------------------------------------------------*/
#tribe-events-content .tribe-events-calendar td,
.tribe-events-grid .tribe-scroller,
.tribe-grid-allday,
.tribe-week-grid-block div,
.tribe-events-grid .tribe-grid-content-wrap .column,
.tribe-events-grid .tribe-grid-content-wrap .column {
  border-color: #eeeeee;
}

.tribe-week-grid-block div {
  border-bottom-style: dashed;
}

/*--------------------------------------------------------------
2 - Typo
--------------------------------------------------------------*/
.single-tribe_events #tribe-events-content .tribe-events-event-meta dt {
  font-weight: normal;
  color: #333333;
  line-height: 30px;
}

.single-tribe_events .tribe-events-schedule .tribe-events-cost {
  position: relative;
  font-size: 27px;
  line-height: 27px;
  text-align: right;
  left: 0;
  padding: 0;
  top: 0;
  color: #333333;
  margin-top: 10px;
}

#tribe-events .tribe-events-content p,
.tribe-events-after-html p,
.tribe-events-before-html p,
.tribe-events-event-meta address.tribe-events-address,
.tribe-events-list .tribe-events-venue-details {
  line-height: 2.1428571429rem;
}

.tribe-events-event-cost span {
  border-color: #333333;
  color: #333333;
}

.tribe-events-list-event-title a {
  color: #333333;
}

/*--------------------------------------------------------------
3 - List
--------------------------------------------------------------*/
#tribe-events-footer {
  margin: 30px 0;
}

.tribe-events-day .tribe-events-day-time-slot h5 {
  background-color: #333333;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  text-transform: initial;
}

.tribe-updated.published.time-details,
.tribe-event-schedule-details {
  color: #333333;
  font-weight: 400;
}

.tribe-event-schedule-details {
  margin-bottom: 20px;
}

.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap {
  background-color: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
}

.type-tribe_events.tribe-events-photo-event .tribe-events-photo-event-wrap:hover {
  -webkit-box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.07);
}

.tribe-events-list .tribe-events-photo-event .tribe-events-event-details {
  padding: 20px;
}

.tribe-events-list.tribe-events-photo .tribe-events-loop .tribe-events-event-image {
  margin-bottom: 20px;
  margin-left: 0;
  width: 100%;
}

.single-tribe_events .tribe-events-event-meta {
  padding: 10px 0;
}

.tribe-events-notices {
  background-color: #e3f2fd;
  color: #2196f3;
  position: relative;
  margin-bottom: 2.1428571429rem;
  padding: 1.7857142857rem;
  clear: both;
  border: none;
  border-radius: 0;
}

/*--------------------------------------------------------------
4 - form
--------------------------------------------------------------*/
#tribe-bar-form {
  background-color: rgba(255, 255, 255, 0);
}

.tribe-bar-geoloc-filter,
.tribe-events-uses-geolocation .tribe-bar-date-filter,
.tribe-events-uses-geolocation .tribe-bar-search-filter,
.tribe-events-uses-geolocation .tribe-bar-submit {
  padding: 30px;
}

#tribe-events-bar .tribe-bar-date-filter,
#tribe-events-bar .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-search-filter,
#tribe-events-bar .tribe-bar-submit {
  padding-top: 0;
  padding-bottom: 0;
}

#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit,
#tribe-events-bar .tribe-bar-date-filter,
#tribe-events-bar .tribe-bar-geoloc-filter,
#tribe-events-bar .tribe-bar-search-filter {
  padding-right: 0;
}

#tribe-events-bar .tribe-bar-filters .tribe-bar-filters-inner .tribe-bar-submit {
  float: left;
  padding-top: 30px;
  min-width: 25%;
  width: auto;
}

#tribe-bar-form label,
#tribe-bar-form .tribe-bar-views-inner label {
  margin: 0 0 10px;
  padding: 0;
  display: inline-block;
  color: #333333;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}

input[name*=tribe-bar-]::-webkit-input-placeholder {
  color: #333333;
  font-style: normal;
  font-weight: 400;
  line-height: 1.3;
}

#tribe-bar-form input[type=text] {
  margin: 0;
  padding: 1.1071428571rem 1.4285714286rem;
  background-color: rgba(218, 218, 218, 0.2);
  border-width: 0;
  outline: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  height: 50px;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(51, 51, 51, 0.47);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: right;
}

.tribe-events-read-more {
  margin-top: 5px;
  color: #ffffff;
}

.tribe-events-list .type-tribe_events {
  margin-bottom: 6.4285714286rem;
}

#tribe-events .tribe-events-button, .tribe-events-button {
  min-width: 110px;
}

.tribe-events-read-more,
#tribe-events .tribe-events-button, .tribe-events-button,
#tribe-bar-form .tribe-bar-submit input[type=submit] {
  position: relative;
  display: inline-block;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  outline: none;
  margin: 0;
  min-height: 1em;
  padding: 0 10px;
  background-color: #333333;
  font-weight: 400;
  min-width: 12.1428571429rem;
  min-height: 3.5714285714rem;
  line-height: 3.5714285714rem;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  overflow: hidden;
  letter-spacing: 1.5px;
  border-radius: 0;
  letter-spacing: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: order-box;
  box-sizing: order-box;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
  text-transform: uppercase;
  white-space: nowrap;
}

.tribe-events-read-more:hover,
#tribe-events .tribe-events-button:hover, .tribe-events-button:hover,
#tribe-bar-form .tribe-bar-submit input[type=submit]:hover {
  color: #fff;
  background-color: #484848;
}

/*--------------------------------------------------------------
5 - table
--------------------------------------------------------------*/
.tribe-events-calendar thead {
  border-bottom: 0;
}

.tribe-events-calendar thead th {
  background-color: #333333;
  border-width: 0;
  font-weight: 400;
  font-size: 16px;
  text-transform: initial;
}

.tribe-events-calendar thead th:nth-child(odd) {
  background: black;
}

.tribe-events-calendar td div[id*=tribe-events-daynum-] {
  font-weight: 400;
}

#tribe-events .tribe-events-button,
#tribe-events .tribe-events-button:hover,
#tribe_events_filters_wrapper input[type=submit],
.tribe-events-button, .tribe-events-button.tribe-active:hover,
.tribe-events-button.tribe-inactive, .tribe-events-button:hover,
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-present div[id*=tribe-events-daynum-] > a {
  background-color: #333333;
}

.tribe-events-calendar div[id*=tribe-events-daynum-],
.tribe-events-calendar div[id*=tribe-events-daynum-] a {
  background-color: #e1e1e1;
  color: #333333;
}

.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-],
.tribe-events-calendar td.tribe-events-past div[id*=tribe-events-daynum-] > a {
  background-color: #eeeeee;
  color: #333333;
}

#tribe-events-content .tribe-events-tooltip h4,
#tribe_events_filters_wrapper .tribe_events_slider_val,
.single-tribe_events a.tribe-events-gcal,
.single-tribe_events a.tribe-events-ical {
  color: #333333;
}

#tribe-events .tribe-events-cal-links .tribe-events-button {
  margin-left: 25px;
}

/*--------------------------------------------------------------
6 - Pro
--------------------------------------------------------------*/
.tribe-grid-header {
  background: black;
  font-weight: 400;
  font-size: 16px;
}

.tribe-grid-header .tribe-grid-content-wrap > div:nth-child(odd) {
  background-color: #333333;
}

.tribe-events-grid .tribe-grid-header .tribe-week-today {
  background-color: #333333;
}

.tribe-events-grid .tribe-grid-header .tribe-grid-content-wrap .column {
  border-width: 0;
  text-transform: initial;
}

.tribe-events-grid .column.first, .tribe-week-grid-hours {
  margin-right: -70px;
  width: 70px;
  text-align: center;
  color: #333333;
}

.tribe-grid-content-wrap {
  padding-left: 70px;
}

.tribe-grid-allday .tribe-events-week-allday-single,
.tribe-grid-body .tribe-events-week-hourly-single {
  background-color: rgba(51, 51, 51, 0.7);
  border-color: #333333;
  border-radius: 0;
}

.tribe-grid-allday .tribe-events-week-allday-single:hover,
.tribe-grid-body .type-tribe_events .tribe-events-week-hourly-single:hover {
  background-color: #333333;
}

.tribe-grid-header .column a {
  font-weight: 400;
}

.tribe-events-grid .type-tribe_events a {
  color: #ffffff;
}

.tribe-grid-allday {
  background-color: #ffffff;
}

/*---- Widget*/
body .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .duration,
body .tribe-this-week-widget-wrapper .tribe-this-week-widget-day .tribe-venue {
  line-height: 25px;
}

.tribe-events-adv-list-widget .tribe-events-widget-link a,
.tribe-events-back a,
.tribe-events-list-widget .tribe-events-widget-link a,
ul.tribe-events-sub-nav a {
  font-weight: normal;
}

body .tribe-mini-calendar thead {
  border: none;
}

body .tribe-mini-calendar td {
  background-color: #EEEEEE;
}

body .tribe-mini-calendar .tribe-mini-calendar-nav td {
  background-color: #333333;
  border-color: #333333;
  padding-top: 15px;
}

body .tribe-mini-calendar .tribe-mini-calendar-nav span {
  font-weight: 400;
  font-size: 18px;
}

body .tribe-mini-calendar th {
  background-color: #333333;
  border-color: #333333;
  font-weight: 400;
  font-size: 14px;
  padding: 10px 0;
}

body .tribe-mini-calendar .tribe-events-past {
  opacity: 0.8;
}

body .tribe-mini-calendar-no-event {
  font-weight: 400;
  font-size: 14px;
  padding: 8px 0 8px 0;
  color: #c2c2c2;
}

body .tribe-mini-calendar .tribe-events-present,
body .tribe-mini-calendar .tribe-mini-calendar-today {
  background-color: #333333;
}

body .tribe-mini-calendar .tribe-events-present span,
body .tribe-mini-calendar .tribe-mini-calendar-today span {
  color: #ffffff;
}

body .tribe-events-countdown-widget div.tribe-countdown-time,
body .tribe-events-countdown-widget div.tribe-countdown-text {
  padding: 15px;
  border: 1px solid #eeeeee;
}

body .tribe-events-countdown-widget div.tribe-countdown-text {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

body .tribe-events-countdown-widget div.tribe-countdown-time {
  border-top: none;
}

body .tribe-events-countdown-widget div.tribe-countdown-number {
  color: #333333;
  font-size: 36px;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
}

body .this-week-past .tribe-this-week-widget-header-date {
  background-color: #e1e1e1;
  color: #333333;
  font-weight: normal;
}

body .tribe-this-week-widget-vertical .tribe-this-week-widget-day {
  color: #333333;
  font-size: 14px;
}

body .tribe-this-week-widget-header-date,
body .this-week-today .tribe-this-week-widget-header-date {
  background-color: #333333;
  font-weight: normal;
}

body .tribe-this-week-event {
  border-color: #333333;
  line-height: 30px;
}

body .this-week-today .tribe-this-week-event {
  border-color: #333333;
  line-height: 30px;
}

.tribe-events-venue-widget .tribe-event-featured {
  background-color: #333333;
}

.tribe-venue-widget-list .type-tribe_events {
  margin-bottom: 2.1428571429rem;
}

.tribe-events-venue-widget .tribe-event-title {
  padding-top: 15px;
  font-size: 18px;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a {
  color: #333333;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a:hover,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-mini-calendar-event .tribe-events-title a:hover {
  color: #333333;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-duration,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-event-meta,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-duration,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-event-meta,
.tribe-events-adv-list-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured,
.tribe-events-adv-list-widget .tribe-event-featured a,
.tribe-mini-calendar-list-wrapper .tribe-event-featured a {
  color: #818181;
}

.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-duration:hover,
.tribe-events-adv-list-widget .tribe-event-featured .tribe-events-event-meta:hover,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-duration:hover,
.tribe-mini-calendar-list-wrapper .tribe-event-featured .tribe-events-event-meta:hover,
.tribe-events-adv-list-widget .tribe-event-featured:hover,
.tribe-mini-calendar-list-wrapper .tribe-event-featured:hover,
.tribe-events-adv-list-widget .tribe-event-featured a:hover,
.tribe-mini-calendar-list-wrapper .tribe-event-featured a:hover {
  color: #333333;
}

.tribe-events-adv-list-widget .tribe-event-featured .list-info {
  padding: 0;
  line-height: 30px;
}

.tribe-events-adv-list-widget .tribe-event-featured,
.tribe-mini-calendar-list-wrapper .tribe-event-featured {
  border-color: #eeeeee;
  border-style: solid;
}

/*---- !Widget*/
