/*------------------------------------------------------------------
[gravity forms Plugin Stylesheet]

Project:	 PixelDima WP-Theme
Version:	 1.0
Primary use: Noor Theme
Direction :  LTR
-------------------------------------------------------------------*/
body .gform_wrapper {
  max-width: 100%;
  margin: 0 0 1.313em;
}

body .gform_wrapper .gform_heading {
  width: 100%;
}

body .gform_wrapper input[type=text], body .gform_wrapper input[type=url], body .gform_wrapper input[type=email], body .gform_wrapper input[type=tel], body .gform_wrapper input[type=number], body .gform_wrapper input[type=password], body .gform_wrapper select, body .gform_wrapper textarea {
  margin: 0;
  padding: 16px;
  background-color: transparent;
  border: 1px solid #eeeeee;
  outline: none;
  color: #727272;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body .gform_wrapper input[type=text].darck, body .gform_wrapper input[type=url].darck, body .gform_wrapper input[type=email].darck, body .gform_wrapper input[type=tel].darck, body .gform_wrapper input[type=number].darck, body .gform_wrapper input[type=password].darck, body .gform_wrapper select.darck, body .gform_wrapper textarea.darck {
  background-color: rgba(0, 0, 0, 0.6);
}

body .gform_wrapper input[type=text].light, body .gform_wrapper input[type=url].light, body .gform_wrapper input[type=email].light, body .gform_wrapper input[type=tel].light, body .gform_wrapper input[type=number].light, body .gform_wrapper input[type=password].light, body .gform_wrapper select.light, body .gform_wrapper textarea.light {
  background-color: rgba(0, 0, 0, 0.6);
}

body .gform_wrapper .top_label .gfield_label {
  margin: 0 0 10px;
  display: block;
  color: #333333;
  font-family: "Poppins", Helvetica, Arial, sans-serif "Poppins", Helvetica, Georgia, Times, serif;
  font-size: 14px;
  line-height: 14px;
}

body .gform_wrapper .top_label .gfield_label.error {
  color: #C10000;
  font-size: 12px;
  line-height: 11px;
  margin-top: -5px;
  padding: 0;
}

body .gform_wrapper .top_label .gfield_label.required:after {
  content: '*';
  color: #333333;
  margin-left: 5px;
}

body .gform_wrapper div.validation_error,
body .gform_wrapper .top_label .gfield_error,
body .gform_wrapper textarea.medium {
  width: 100%;
}

body .ginput_container {
  clear: both;
  margin: 0 0 30px;
}

body .ginput_container.last {
  margin-bottom: 0;
}

html[dir=rtl] .gform_wrapper input.button.gform_button[type=submit], html[dir=rtl] .gform_wrapper input.button.gform_next_button {
  text-align: center !important;
}
