/*------------------------------------------------------------------
[knowledgebase Plugin Stylesheet]

Project:	 PixelDIma Noor
Version:	 1.0
Primary use: For Noor Demo
Direction :  RTL
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[knowledgebase Plugin Stylesheet]

Project:	 PixelDIma Noor
Version:	 1.0
Primary use: For Noor Demo
Direction :  RTL
-------------------------------------------------------------------*/
.pakb-search input[type=submit] {
  line-height: 30px;
}

.pakb-search input[type=submit]:hover {
  background-color: #080808;
}

.dima-kb {
  overflow: hidden;
  width: 100%;
}

ul.pakb-breadcrumb {
  margin: 20px 0;
  font-size: 110%;
}

.pakb-list li a {
  font-size: 14px;
  margin-right: 1.8em;
  line-height: 30px;
}

.pakb-list li > i {
  right: 0;
  left: auto;
}

.pakb-main.pakb-lists [class*="pakb-col-"] {
  padding: 30px;
  -webkit-box-shadow: 0 6px 1.4285714286rem 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 6px 1.4285714286rem 0 rgba(0, 0, 0, 0.07);
}

.pakb-main h2 {
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
}

.pakb-main h2 i, .pakb-main h2 a {
  color: #333333;
}

.pakb-main h2 i {
  float: right;
  margin-left: 10px;
}

.pakb-list i {
  color: #818181;
}

.pakb-list li a,
.pakb-sidebar ul li a,
.pakb-main a {
  color: #818181;
}

.pakb-list li a:hover,
.pakb-sidebar ul li a:hover,
.pakb-main a:hover {
  text-decoration: none;
}

.pakb-single a {
  color: #333333;
}

.pakb-single a:hover {
  text-decoration: none;
}

.pakb-col-2, .pakb-col-3, .pakb-col-4 {
  margin-left: 4% !important;
  margin-right: 0 !important;
}

.pakb-col-2:last-of-type, .pakb-col-3:last-of-type, .pakb-col-4:last-of-type {
  margin-left: 0 !important;
}

.si-arrow-right4:before {
  content: "\edc3";
}

.si-arrow-left4:before {
  content: "\edbb";
}

.pakb-archive > a {
  background: transparent;
  border: 1px solid #e1e1e1 !important;
}

.pakb-box .pakb-box-icon i, .pakb-box h2 {
  color: #333333 !important;
}

.pakb-archive {
  margin-bottom: 2px;
}

.pakb-archive a {
  color: #333333 !important;
  font-weight: 500;
  font-size: 1rem;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  padding: 17px 40px;
  background: #fafafa;
}

.pakb-archive a:hover {
  color: #333333 !important;
  background: #ffffff;
}

.si-file-text2 {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") center center no-repeat;
  width: 20px;
  height: 20px;
}

.si-file-text2:before {
  content: '';
}

.pakb-archive > a > i {
  right: 1em;
  left: auto;
}

.pakb-list li {
  padding: 5px 0;
}

.pakb-list li i {
  position: relative;
  float: right;
  top: 5px;
}

.widget .pakb-list li {
  padding: 13px 0 !important;
  overflow: hidden;
  border-bottom: 1px solid #eeeeee;
}

.widget .pakb-list li:last-child {
  border-bottom: none;
}

ul.pakb-breadcrumb {
  margin: 0;
  padding: 25px;
  border-bottom: 0;
  background: #333333;
}

.pakb-content {
  margin: 0;
  padding: 25px;
  -webkit-box-shadow: 0 6px 1.4285714286rem 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 6px 1.4285714286rem 0 rgba(0, 0, 0, 0.07);
}

.pakb-meta {
  padding: 2.1428571429rem 0;
  border-top: 0;
}

.pakb-search input[type="text"] {
  border-color: #eeeeee;
}

.pakb-header {
  margin-bottom: 30px;
}

.knowledge_base_categories li a {
  margin-right: 0;
}

.pakb-breadcrumb a:hover, .pakb-breadcrumb a:focus {
  color: #ffffff;
}

.pakb-single a,
.pakb-single a:hover,
.pakb-single a:focus {
  color: #333333;
}

.pakb-meta a:hover,
.pakb-meta a:focus,
.pakb-lists .pakb-view-all a:hover {
  color: #333333;
}
