#dima-wrapper .mejs-container.wp-audio-shortcode .mejs-controls, #dima-wrapper .mejs-container.wp-video-shortcode .mejs-controls {
  background: #333333;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) {
  background: rgba(51, 51, 51, 0.5);
  min-width: 17.1428571429rem !important;
  clear: both;
  outline: none;
  /*mejs-controls*/
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-time-handle, #dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-time-handle-content {
  position: absolute;
  cursor: pointer;
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-time-handle:after, #dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-time-handle-content:after {
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fcfcfc;}.cls-2{fill:%23333333;}%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='5' cy='5' r='4'/%3E%3Cpath class='cls-2' d='M10,7a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z' transform='translate(-5 -5)'/%3E%3C/svg%3E") no-repeat;
  width: 11px;
  height: 11px;
  position: absolute;
  top: -8px;
  right: -8px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls {
  position: relative;
  background: #fcfcfc;
  height: 5.3571428571rem;
  width: auto;
  -webkit-box-shadow: inset 0 0 0 1px #eeeeee;
          box-shadow: inset 0 0 0 1px #eeeeee;
  z-index: 100;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button {
  height: 5.3571428571rem;
  position: relative;
  width: 38px;
  overflow: visible !important;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button button {
  position: relative;
  background: none;
  margin: 0;
  padding: 0 8px;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  overflow: visible;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-play button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M8 5v14l11-7z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-pause button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M6 19h4V5H6v14zm8-14v14h4V5h-4z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-pause button, #dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-play button {
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-pause:hover button, #dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-play:hover button {
  background-color: #eeeeee;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-mute {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='22' viewBox='0 0 22 22' width='22' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-unmute button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='22' viewBox='0 0 22 24' width='22' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M7 9v6h4l5 5V4l-5 5H7z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-playpause-button {
  width: 3.9285714286rem;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-fullscreen-button > button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='22' viewBox='0 0 22 22' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-unfullscreen > button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-volume-button .mejs-volume-slider {
  position: absolute;
  background: #333333;
  text-align: center;
  padding: 10px 12px;
  width: auto;
  z-index: 1000;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(-50%, 6px);
      -ms-transform: translate(-50%, 6px);
          transform: translate(-50%, 6px);
  color: #fff;
  left: 50%;
  bottom: 100%;
  height: 130px;
  top: auto;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button.mejs-volume-button .mejs-volume-current {
  background: #eeeeee;
  top: auto !important;
  bottom: 10px;
  border-radius: 3px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-button:last-child {
  margin-right: 25px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-fullscreen-button,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-unfullscreen {
  width: 30px;
  padding: 0 20px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail span,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail a {
  height: 2px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail {
  padding: 32px 0 0;
  height: 100%;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-current, #dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-handle-content {
  background: #333333;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-hovered {
  background: rgba(51, 51, 51, 0.5);
  z-index: 10;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-float {
  position: absolute;
  background: #333333;
  text-align: center;
  padding: 10px 20px;
  width: auto;
  z-index: 1000;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
  -webkit-transform: translate(-50%, -6px);
      -ms-transform: translate(-50%, -6px);
          transform: translate(-50%, -6px);
  color: #fff;
  bottom: 100%;
  top: auto;
  border: none;
  margin: 0;
  height: auto;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-float-current {
  font: 500 14px/18px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  position: relative;
  width: auto;
  display: inline;
  color: #fff;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-float-current {
  margin: 2px;
  height: auto;
  display: block;
  text-align: center;
  left: 0;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-float-corner {
  position: absolute;
  z-index: 1001;
  content: "";
  background: #333333;
  width: 10px;
  height: 10px;
  top: 100%;
  -webkit-transform-origin: center center;
      -ms-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  left: 50%;
  border-radius: 0 0 3px 0;
  border: none;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time .mejs-currenttime,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time .mejs-duration {
  font: 14px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  line-height: 5.3571428571rem;
  margin: 0;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time.mejs-currenttime-container {
  width: 5.3571428571rem;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time.mejs-duration-container {
  padding: 0 20px 0 10px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time {
  height: 5.3571428571rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 15px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls a.mejs-horizontal-volume-slider {
  margin-top: 1.5714285714rem;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-total {
  background: #eeeeee;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
  background: #333333;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-controls .mejs-time-rail .mejs-time-loaded {
  background: rgba(51, 51, 51, 0.3);
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-mediaelement {
  position: relative;
  height: auto;
  width: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: padding .25s ease;
  transition: padding .25s ease;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-mediaelement video {
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  height: auto !important;
  width: 100% !important;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode):not(.mejs-container-fullscreen) {
  width: auto !important;
  height: auto !important;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode):not(.mejs-container-fullscreen) .mejs-mediaelement video {
  max-width: 1280px;
  max-height: 720px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-container * {
  outline: none;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-overlay .mejs-overlay-button {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23FFFFFF' height='75' viewBox='0 0 24 24' width='75' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a     %3Cpath d='M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z'/%3E\a%3C/svg%3E") no-repeat 50% 50%;
  opacity: .8;
  margin-top: -60px;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-overlay:hover .mejs-overlay-button {
  opacity: 1;
  -webkit-transition: opacity 320ms ease-out;
  transition: opacity 320ms ease-out;
}

#dima-wrapper .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-overlay-loading span {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg version='1.1' id='loader-1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px'\a    width='60px' height='60px' viewBox='0 0 40 40' enable-background='new 0 0 40 40' xml:space='preserve'%3E\a   %3Cpath opacity='0.2' fill='%23FFFFFF' d='M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946\a     s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634\a     c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z'/%3E\a   %3Cpath fill='%23FFFFFF' d='M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0\a     C22.32,8.481,24.301,9.057,26.013,10.047z'%3E\a     %3CanimateTransform attributeType='xml'\a       attributeName='transform'\a       type='rotate'\a       from='0 20 20'\a       to='360 20 20'\a       dur='0.5s'\a       repeatCount='indefinite'/%3E\a     %3C/path%3E\a   %3C/svg%3E") no-repeat 50% 50%;
}

.mejs-poster {
  opacity: 0;
}

/*!Body*/
/* End: Error */
.masonry .mejs__controls,
.masonry .dima-audio.player {
  display: none;
}

.masonry .mejs__overlay-button {
  margin-top: -35px;
}

.hide-controls .mejs-container .mejs-controls {
  display: none !important;
}

.hide-controls .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-overlay .mejs-overlay-button {
  margin-top: 0 !important;
}

@media only screen and (max-width: 679px) {
  .mejs-controls {
    display: none;
  }
  .mejs-overlay-button {
    margin-top: -35px;
  }
}
