td.wishlist-empty {
  text-align: center !important;
  padding: 50px;
  font-size: 2em;
}

.wishlist_table .add_to_cart {
  line-height: 1.3;
  padding: 7px 10px;
}

/* Popup message */
#yith-wcwl-popup-message {
  background: #fff;
  border: 2px solid #eeeeee;
  padding: 15px 0;
  font-size: 120%;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  width: 300px;
  z-index: 10000;
}

.product-details .wishlist-icon {
  width: 100%;
  display: block;
  margin: 10px 0 0 0;
}

.product-details .wishlist-icon .wishlist-button {
  float: right;
}

.product-details .wishlist-icon > p {
  float: right;
  margin-right: 10px;
  line-height: 3.5714285714rem;
}

.product-details .wishlist-icon.wishlist-added > p {
  display: none;
}

.product-details .yith-wcwl-add-to-wishlist {
  display: none;
}

.wishlist-icon {
  position: relative;
  float: right;
  margin-right: 10px;
}

.wishlist-icon .svg_added,
.wishlist-icon .svg_circle {
  display: none;
}

.wishlist-icon .wishlist-button {
  font-size: 22px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  border: 2px solid #eeeeee;
  text-align: center;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
}

.wishlist-icon .wishlist-button.wishlist-added .svg_circle,
.wishlist-icon .wishlist-button.wishlist-added .svg_favorite {
  display: none;
}

.wishlist-icon .wishlist-button.wishlist-added .svg_added {
  display: block;
}

.wishlist-icon .wishlist-button.wishlist-added .svg_added svg {
  fill: #ff5252;
}

.wishlist-icon .wishlist-button.loading .svg_added,
.wishlist-icon .wishlist-button.loading .svg_favorite {
  display: none;
}

.wishlist-icon .wishlist-button.loading .svg_circle {
  display: block;
}

.wishlist-icon .wishlist-button svg {
  fill: #333333;
  width: 24px;
  height: 46px;
}

.wishlist-icon .wishlist-button svg circle {
  stroke: #333333;
}

.wishlist-icon .wishlist-button:hover {
  border-color: #333333;
}

.dima-wishlist {
  display: none;
}

.dima-wishlist .ajax-loading,
.dima-wishlist .feedback {
  display: none !important;
}

.shop_table.wishlist_table {
  margin-top: 6.4285714286rem;
}

.shop_table.wishlist_table .product-thumbnail {
  width: 4.6428571429rem;
}

.yith-wcwl-share .inline li {
  margin-bottom: 8px !important;
}
