/*------------------------------------------------------------------
[Woocommerce noor Stylesheet]

Project:	 PixelDima WP-Theme
Version:	 1.0
Primary use: Noor Theme
Direction :  RTL
-------------------------------------------------------------------*/
/*  8.1  - Help Classes */
.entry-summary:before, .entry-summary:after {
  display: table;
  content: "";
  line-height: 0;
}

.entry-summary:after {
  clear: both;
}

.address h2 {
  font-size: 2.5714285714rem;
  line-height: 1.5em;
  letter-spacing: 0;
  font-weight: 300;
}

.address h3 {
  font-size: 1.9285714286rem;
  line-height: 1.6666666667em;
  letter-spacing: 0;
  font-weight: 300;
}

.comment-respond .comment-reply-title {
  font-size: 1.2857142857rem;
  line-height: 1.8888888889em;
  letter-spacing: 0.01em;
  font-weight: 400;
}

.product-details {
  margin-bottom: 55px;
  overflow: hidden;
}

.product-details .a2a_kit,
.product-details .a2a_menu,
.product-details .a2a_modal,
.product-details .a2a_overlay {
  margin-top: 2.1428571429rem;
  display: block;
}

.product-details .star-rating {
  top: -5px;
}

.product-details .flex-direction-nav a:before {
  color: #333333;
}

.product-details .flex-direction-nav a:hover:before {
  color: #333333;
}

.product-details .product-shop .product-name {
  margin-bottom: 1.1785842857rem;
}

.product-details .product-shop .price {
  position: relative;
  font-size: 27px;
  line-height: 27px;
  text-align: right;
  right: 0;
  padding: 0;
  top: 0;
  left: 1.0714285714rem;
  margin-bottom: 3.5476257143rem;
}

.product-details .product-shop .cart {
  margin-top: 55px;
  margin-bottom: 40px;
  display: block;
}

.product-details .product-shop .cart .quantity {
  width: 175px;
  margin: 0 0 10px 15px;
  float: right;
}

.product-details .product-shop .cart .single_add_to_cart_button {
  float: right;
}

.product-details .product-shop .posted_in,
.product-details .product-shop .tagged_as,
.product-details .product-shop .product_meta {
  margin-top: 5px;
  display: block;
  color: #333333;
}

.product-details .product-shop .posted_in a,
.product-details .product-shop .tagged_as a,
.product-details .product-shop .product_meta a {
  color: rgba(51, 51, 51, 0.47);
}

.product-details .product-shop .posted_in a:hover,
.product-details .product-shop .tagged_as a:hover,
.product-details .product-shop .product_meta a:hover {
  color: #333333;
}

.star-rating {
  height: 23px;
  position: relative;
  width: 115px;
  right: -4px;
  margin-bottom: 1.4047685714rem;
}

.star-rating:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgba(51, 51, 51, 0.47)' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z'/%3E\a     %3Cpath d='M0 0h18v18H0z' fill='none'/%3E\a%3C/svg%3E");
  opacity: .3;
  background-repeat: repeat-x;
  background-size: 23px;
  bottom: 0;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 115px;
}

.star-rating > span {
  display: block;
  text-indent: -10000px;
  width: 115px;
  height: 23px;
  position: absolute;
  overflow: hidden;
}

.star-rating > span:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23818181' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z'/%3E\a     %3Cpath d='M0 0h18v18H0z' fill='none'/%3E\a%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: 23px;
  bottom: 0;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  position: absolute;
  right: 0;
  text-indent: 10000px;
  top: 0;
}

.single-product table tr {
  border-bottom: none;
}

.single-product table tr td {
  padding: 0 0 2px 0;
}

.single-product table tr td .dk-select {
  width: 17.8571428571rem;
}

.single-product .woocommerce-variation-price {
  border-top: 1px solid #eeeeee;
  margin-top: -0.7142857143rem;
  margin-bottom: 1.7857142857rem;
  padding-top: 2.2857142857rem;
  max-width: 23.7857142857rem;
}

.single-product .woocommerce-variation-price .price {
  position: relative;
}

.single-product .reset_variations {
  position: absolute;
  line-height: 2.8571428571rem;
}

.products-grids.products-slide .dima-product, .products-list.products-slide .dima-product {
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  list-style: none;
  width: 100%;
}

.products-grids .dima-product, .products-list .dima-product {
  position: relative;
  display: table;
  z-index: 3;
}

.products-grids .dima-product.isotope-item, .products-list .dima-product.isotope-item {
  margin-bottom: 50px !important;
  padding-bottom: 0;
}

.products-grids .dima-product .product-img .fix-chrome, .products-list .dima-product .product-img .fix-chrome {
  position: relative;
  z-index: 99;
}

.products-grids .dima-product .product-img:hover .product-change-images, .products-list .dima-product .product-img:hover .product-change-images {
  opacity: 1;
}

.products-grids .dima-product .product-img figure, .products-list .dima-product .product-img figure {
  position: relative;
}

.products-grids .dima-product .product-img figure.product-change-images, .products-list .dima-product .product-img figure.product-change-images {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-backface-visibility: hidden;
  width: 100%;
}

.products-grids .dima-product .product-img figure img, .products-list .dima-product .product-img figure img {
  height: auto;
  width: 100%;
}

.products-grids .dima-product .out_of_stock_flash span,
.products-grids .dima-product .onsale span, .products-list .dima-product .out_of_stock_flash span,
.products-list .dima-product .onsale span {
  position: absolute;
  left: 0;
  top: -32px;
  z-index: 10;
  -webkit-backface-visibility: hidden;
}

.products-grids .dima-product .out_of_stock_flash, .products-list .dima-product .out_of_stock_flash {
  color: #333333;
}

.products-grids .dima-product .onsale, .products-list .dima-product .onsale {
  color: #ff5252;
}

.products-grids .dima-product.outofstock .product-img figure, .products-list .dima-product.outofstock .product-img figure {
  opacity: .3;
}

.products-grids .dima-product.outofstock .product-img figure.product-change-images, .products-list .dima-product.outofstock .product-img figure.product-change-images {
  display: none;
}

.products-grids .dima-product .rating span:before, .products-list .dima-product .rating span:before {
  font-size: 16px;
  line-height: 16px;
}

.products-grids .dima-product .product-content, .products-list .dima-product .product-content {
  padding-top: 0.6428657143rem;
}

.products-grids .dima-product .product-name, .products-list .dima-product .product-name {
  margin-bottom: 0.6428657143rem;
}

.products-list.ok-row {
  margin: 0;
}

.products-list .social-media .inline {
  float: right;
}

.products-list .entry-header {
  overflow: hidden;
  width: auto;
}

.products-list .post-content {
  overflow: hidden;
}

.products-list .dima-product {
  margin-bottom: 6.4285714286rem;
}

.products-list .dima-product[class*="ok-xsd"], .products-list .dima-product[class*="ok-sd"], .products-list .dima-product[class*="ok-md"], .products-list .dima-product[class*="ok-ld"], .products-list .dima-product[class*="ok-xld"] {
  width: 100%;
  margin-right: 0;
}

.products-list .dima-product.recipes {
  padding: 0;
  background: #FFFFFF;
}

.products-list .dima-product.recipes .product-content {
  position: static;
  padding: 30px;
}

.products-list .dima-product.recipes p {
  margin-bottom: 10px;
}

.products-list .dima-product .product-img {
  width: 270px;
}

.products-list .dima-product.start .product-img {
  margin-left: 30px;
  margin-right: 0px;
}

.products-list .dima-product.start .product-img, .products-list .dima-product.start .rating {
  float: right;
}

.products-list .dima-product.start .product-content {
  text-align: right;
}

.products-list .dima-product.end .product-img {
  margin-right: 30px;
  margin-left: 0px;
}

.products-list .dima-product.end .product-img, .products-list .dima-product.end .rating {
  float: left;
}

.products-list .dima-product.end .product-content {
  text-align: left;
}

.products-list .dima-product .link_overlay {
  display: none;
}

.products-list .dima-product .product-img {
  display: table;
  float: right;
  margin-left: 30px;
}

.products-list .dima-product .product-img figure {
  position: relative;
}

.products-list .dima-product .product-img figure img {
  float: right;
}

.products-list .dima-product .product-img figure.product-change-images {
  width: auto;
}

.products-list .dima-product .product-content {
  padding: 0;
}

.products-list .dima-product .product-content .product-name {
  font-size: 1.2857142857rem;
  margin-bottom: 1.7857142857rem;
}

.products-list .dima-product .price {
  text-align: right;
  font-size: 18px;
  line-height: 18px;
  top: 0;
}

.products-list .dima-product .product-excerpt-container {
  margin-bottom: 3.5714285714rem;
}

.products-grids .star-rating {
  margin-bottom: 0;
}

.products-grids .post-content {
  display: none;
}

.products-grids .line-hr {
  margin-bottom: 10px;
}

.products-grids .isotope-item .dima-product {
  width: 99.9%;
  list-style: none;
}

.products-grids .dima-product {
  float: right;
}

.products-grids .dima-product .review-link, .products-grids .dima-product p, .products-grids .dima-product .social-media {
  display: none;
}

.products-grids .dima-product .product-name {
  font-size: 1rem;
}

.products-grids .price {
  font-weight: 600;
}

.place-order .button {
  display: block;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#rememberme {
  margin-right: 10px;
}

.lost_password {
  margin-top: 0.6904828571rem;
}

.shop_table.shop_attributes tfoot tr, .shop_table.shop_attributes tbody tr, .shop_table.order_details tfoot tr, .shop_table.order_details tbody tr, .shop_table.customer_details tfoot tr, .shop_table.customer_details tbody tr, .shop_table.woocommerce-checkout-review-order-table tfoot tr, .shop_table.woocommerce-checkout-review-order-table tbody tr {
  border-top: 1px solid #eeeeee;
}

.shop_table.shop_attributes tfoot tr th, .shop_table.shop_attributes tfoot tr td, .shop_table.shop_attributes tbody tr th, .shop_table.shop_attributes tbody tr td, .shop_table.order_details tfoot tr th, .shop_table.order_details tfoot tr td, .shop_table.order_details tbody tr th, .shop_table.order_details tbody tr td, .shop_table.customer_details tfoot tr th, .shop_table.customer_details tfoot tr td, .shop_table.customer_details tbody tr th, .shop_table.customer_details tbody tr td, .shop_table.woocommerce-checkout-review-order-table tfoot tr th, .shop_table.woocommerce-checkout-review-order-table tfoot tr td, .shop_table.woocommerce-checkout-review-order-table tbody tr th, .shop_table.woocommerce-checkout-review-order-table tbody tr td {
  padding: 20px 0;
}

.shop_table.shop_attributes th, .shop_table.order_details th, .shop_table.customer_details th, .shop_table.woocommerce-checkout-review-order-table th {
  padding: 20px 0 10px;
  background: rgba(255, 255, 255, 0);
  font-weight: normal;
}

.shop_table.shop_attributes .price, .shop_table.order_details .price, .shop_table.customer_details .price, .shop_table.woocommerce-checkout-review-order-table .price {
  font-family: "Droid Arabic Naskh", Helvetica, Arial, sans-serif "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  padding: 0;
}

.shop_table.order_details .product-total, .shop_table.customer_details .product-total, .shop_table.woocommerce-checkout-review-order-table .product-total {
  text-align: left;
}

.shop_table.order_details tr td, .shop_table.order_details tr th, .shop_table.customer_details tr td, .shop_table.customer_details tr th, .shop_table.woocommerce-checkout-review-order-table tr td, .shop_table.woocommerce-checkout-review-order-table tr th {
  text-align: right;
}

.shop_table.order_details tfoot tr td, .shop_table.customer_details tfoot tr td, .shop_table.woocommerce-checkout-review-order-table tfoot tr td {
  text-align: left;
}

.shop_table.order-products-table tbody tr {
  border: 0;
}

.shop_table.order-products-table tbody tr th, .shop_table.order-products-table tbody tr td {
  padding: 10px 0;
}

.shop_table.order-products-table tbody tr td {
  text-align: left;
}

.shop_table.order-products-table tbody tr th {
  font-weight: 300;
}

.shop_table.order-products-table tbody tr.order-total {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.shop_table.order-products-table tbody tr.order-total th, .shop_table.order-products-table tbody tr.order-total td {
  padding: 15px 0;
  font-size: 1rem;
}

.shop_table.order-products-table tbody tr.order-total td {
  color: #ff5252;
}

.shop_table.order-products-table tbody tr.shipping th, .shop_table.order-products-table tbody tr.shipping td {
  padding-bottom: 25px;
  padding-left: 5px;
}

.shop_table.order-products-table tbody tr.shipping td {
  font-weight: 400;
}

.shop_table.order-products-table tbody tr.shipping td .shipping-calculator-button {
  font-weight: 600;
}

.shop_table .product-name {
  width: 25%;
  text-align: right;
}

.shop_table .product-name .cart-item-details {
  display: table-cell;
  vertical-align: middle;
}

.shop_table .product-name a {
  color: #818181;
  font-weight: 300;
}

.shop_table .product-thumbnail {
  text-align: right;
  width: 3.9285714286rem;
}

.shop_table .product-remove {
  padding: 15px;
}

.shop_table .product-remove span {
  font-size: 0;
}

.coupon-box {
  margin-bottom: 5rem;
}

.coupon-box .apply .button {
  margin-top: 25px;
}

.coupon-box .field input {
  margin-bottom: 10px;
}

.ui-slider {
  height: 2px;
  background: #eeeeee;
  position: relative;
  margin-bottom: 20px;
  margin-top: 10px;
}

.ui-slider .ui-slider-range {
  background: #333333;
  height: 2px;
  position: absolute;
}

.ui-slider .ui-slider-handle {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}.cls-2{fill:%23333333;}%3C/style%3E%3C/defs%3E%3Ccircle class='cls-1' cx='5' cy='5' r='4'/%3E%3Cpath class='cls-2' d='M10,7a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z' transform='translate(-5 -5)'/%3E%3C/svg%3E") no-repeat;
  width: 12px;
  height: 12px;
  position: absolute;
  z-index: 2;
  cursor: ew-resize;
  -ms-touch-action: none;
      touch-action: none;
  outline: 0;
  top: -4px;
}

.ui-slider .button {
  margin-bottom: 0;
}

.dima-ordering {
  margin-bottom: 5rem;
}

.price {
  position: absolute;
  top: 0.6428657143rem;
  left: 0;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  color: #333333;
}

.amount, ins {
  text-decoration: none;
}

del {
  margin-left: 10px;
  color: rgba(51, 51, 51, 0.47);
}

.order-products img {
  margin-right: 10px;
}

.order-products .radio {
  margin-left: 10px;
}

.myaccount_user {
  margin-bottom: 30px;
}

table.my_account_orders {
  margin-bottom: 30px;
}

table.my_account_orders tbody td {
  text-align: center;
}

.woocommerce-message .button {
  display: block;
  margin: 0 0 0 30px;
  float: left;
  font-size: inherit;
  font-weight: inherit;
}

.woocommerce-message .button:hover {
  color: #FFFFFF;
}

.woocommerce-ordering {
  float: left;
  margin-bottom: 30px;
  width: 240px;
}

.woocommerce-result-count {
  float: right;
  line-height: 50px;
}

a.added_to_cart.wc-forward,
.woocommerce li.product-img .added_to_cart,
.woocommerce-page li.product-img .added_to_cart {
  display: none !important;
}

.add_to_cart_button.loading:before {
  display: inline-block;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.add_to_cart_button.loading .svg_basket,
.add_to_cart_button.loading .svg_circle {
  display: none;
}

.add_to_cart_button.loading .svg_circle {
  display: block;
}

.add_to_cart_button.added .svg_basket,
.add_to_cart_button.added .svg_circle {
  display: none;
}

.add_to_cart_button.added .svg_check {
  display: block;
}

.add_to_cart_button .msg,
.add_to_cart_button .svg_circle,
.add_to_cart_button .svg_check {
  display: none;
}

.add_to_cart_button span {
  display: inline-block;
}

li.dima_add_to_card_btn a {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

td.dima_add_to_card_btn, li.dima_add_to_card_btn {
  float: right;
  border: none;
  padding: 0;
}

td.dima_add_to_card_btn a, li.dima_add_to_card_btn a {
  display: block;
  width: 12.1428571429rem !important;
  line-height: 3.3571428571rem !important;
  color: #FFFFFF;
}

td.dima_add_to_card_btn a svg, li.dima_add_to_card_btn a svg {
  fill: #FFFFFF;
  margin-right: 0;
}

td.dima_add_to_card_btn a circle, li.dima_add_to_card_btn a circle {
  stroke: #FFFFFF;
}

td.dima_add_to_card_btn a span, li.dima_add_to_card_btn a span {
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  font-weight: 400;
  font-size: 14px;
}

td.dima_add_to_card_btn .add_to_cart_button.loading:before, li.dima_add_to_card_btn .add_to_cart_button.loading:before {
  display: inline-block;
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

td.dima_add_to_card_btn .add_to_cart_button.loading .msg,
td.dima_add_to_card_btn .add_to_cart_button.loading .svg_basket,
td.dima_add_to_card_btn .add_to_cart_button.loading .svg_circle, li.dima_add_to_card_btn .add_to_cart_button.loading .msg,
li.dima_add_to_card_btn .add_to_cart_button.loading .svg_basket,
li.dima_add_to_card_btn .add_to_cart_button.loading .svg_circle {
  display: none;
}

td.dima_add_to_card_btn .add_to_cart_button.loading .svg_circle, li.dima_add_to_card_btn .add_to_cart_button.loading .svg_circle {
  display: block;
}

td.dima_add_to_card_btn .add_to_cart_button.added .msg,
td.dima_add_to_card_btn .add_to_cart_button.added .svg_basket,
td.dima_add_to_card_btn .add_to_cart_button.added .svg_circle, li.dima_add_to_card_btn .add_to_cart_button.added .msg,
li.dima_add_to_card_btn .add_to_cart_button.added .svg_basket,
li.dima_add_to_card_btn .add_to_cart_button.added .svg_circle {
  display: none;
}

td.dima_add_to_card_btn .add_to_cart_button.added .svg_check, li.dima_add_to_card_btn .add_to_cart_button.added .svg_check {
  display: block;
}

td.dima_add_to_card_btn .svg_basket,
td.dima_add_to_card_btn .svg_circle,
td.dima_add_to_card_btn .svg_check, li.dima_add_to_card_btn .svg_basket,
li.dima_add_to_card_btn .svg_circle,
li.dima_add_to_card_btn .svg_check {
  display: none;
}

td.dima_add_to_card_btn .add_to_cart_button .msg, li.dima_add_to_card_btn .add_to_cart_button .msg {
  display: inline-block;
  color: #ffffff;
}

#slider.flexslider .slides img {
  border: 1px solid #eeeeee;
}

#carousel.flexslider .slides > li {
  height: auto;
  margin-left: 0;
  margin-bottom: 0;
  margin-top: 2px;
  margin-right: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#carousel .slides {
  padding: 1px;
}

#carousel .slide-item {
  opacity: .7;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

#carousel .slide-item:hover {
  opacity: 1;
}

#carousel .slide-item img {
  width: 100%;
  display: block;
  cursor: pointer;
}

#carousel .flex-active-slide.slide-item {
  opacity: 1;
  cursor: default;
}

.dima-product-content form.track_order .form-row-last, .woocommerce-page form.track_order .form-row-last, .woocommerce form.track_order .form-row-last {
  margin-top: 1.7857142857rem;
}

.dima-product-content form p, .woocommerce-page form p, .woocommerce form p {
  margin-bottom: 1.7857142857rem;
}

.dima-product-content form p, .dima-product-content form .field, .woocommerce-page form p, .woocommerce-page form .field, .woocommerce form p, .woocommerce form .field {
  margin-left: 0;
}

p.stars a {
  position: relative;
  font-weight: 700;
  margin-left: 30px;
  text-indent: -9999px;
  display: inline-block;
}

p.stars a:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='rgba(51, 51, 51, 0.47)' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z'/%3E\a     %3Cpath d='M0 0h18v18H0z' fill='none'/%3E\a%3C/svg%3E");
  opacity: .3;
  background-repeat: repeat-x;
  background-size: 23px;
  bottom: 0;
  content: "";
  display: block;
  height: 23px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
}

p.stars a:hover:before, p.stars a.active:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='18' viewBox='0 0 18 18' width='18' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M9 11.3l3.71 2.7-1.42-4.36L15 7h-4.55L9 2.5 7.55 7H3l3.71 2.64L5.29 14z'/%3E\a     %3Cpath d='M0 0h18v18H0z' fill='none'/%3E\a%3C/svg%3E");
  opacity: 1;
}

.star-1 {
  width: 25px;
  z-index: 10;
}

.star-1:before {
  width: 25px;
}

.star-2 {
  width: 42px;
  z-index: 8;
}

.star-2:before {
  width: 42px;
}

.star-3 {
  width: 70px;
  z-index: 6;
}

.star-3:before {
  width: 70px;
}

.star-4 {
  width: 90px;
  z-index: 4;
}

.star-4:before {
  width: 90px;
}

.star-5 {
  width: 110px;
  z-index: 2;
}

.star-5:before {
  width: 110px;
}

.comment-form-rating label {
  margin-bottom: 20px;
}

.dima-reviews-header {
  margin-bottom: 20px;
}

.shop_attributes th {
  text-align: right;
  width: 30%;
  font-weight: bold;
}

.shop_attributes tr > td {
  text-align: right;
  width: 70%;
}

.woocommerce .update.action-group {
  margin-bottom: 10px;
}

.woocommerce .coupon.action-group {
  margin-bottom: 30px;
}

.woocommerce .coupon .input-text {
  margin-bottom: 10px;
}

.woocommerce .order_details .amount,
.woocommerce .order-total td {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
}

/* for chrome */
.woocommerce input[type=number]::-webkit-inner-spin-button,
.woocommerce input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* for mozilla */
.woocommerce input[type=number] {
  -moz-appearance: textfield;
}

.quantity .qty {
  padding: 0;
  text-align: center;
  height: 50px;
  width: 4.6428571429rem;
  float: right;
  margin: 0 2px;
}

.quantity.buttons_added .plus {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") center center no-repeat;
}

.quantity.buttons_added .minus {
  background: url("data:image/svg+xml;charset=utf8,%3Csvg fill='%23333333' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'%3E\a     %3Cpath d='M19 13H5v-2h14v2z'/%3E\a     %3Cpath d='M0 0h24v24H0z' fill='none'/%3E\a%3C/svg%3E") center center no-repeat;
  background-position: 47% 47%;
}

.quantity.buttons_added .plus,
.quantity.buttons_added .minus {
  font-size: 0px;
  line-height: 0px;
  position: relative;
  display: block;
  float: right;
  text-align: center;
  border: 0;
  color: #333333;
  vertical-align: text-top;
  line-height: 44px;
  font-weight: 600;
  width: 50px;
  height: 50px;
  overflow: visible;
  text-decoration: none;
  cursor: pointer;
  background-color: rgba(218, 218, 218, 0.2);
}

.shipping-calculator-button {
  margin-bottom: 5px;
  display: inline-block;
}

.dima-billing p {
  display: inline-block;
  width: 100%;
  clear: none;
}

.dima-billing p #account_password_field {
  margin-bottom: 0;
}

#billing_address_1_field {
  margin-bottom: 10px;
}

#shipping_first_name_field,
#shipping_last_name_field,
#billing_first_name_field,
#billing_last_name_field,
#billing_email_field,
#billing_phone_field {
  width: 48%;
  float: right;
}

#shipping_first_name_field,
#billing_phone_field,
#billing_first_name_field {
  margin-left: 4%;
}

.select2-container .select2-choice {
  border-radius: 0;
  padding: 12px;
}

.woocommerce-password-strength {
  padding: 10px;
}

.woocommerce-password-strength.strong {
  color: #4caf50 !important;
}

.woocommerce-password-strength.good {
  color: #ffc107 !important;
}

.woocommerce-password-strength.bad, .woocommerce-password-strength.short {
  color: #f44336 !important;
}

.wc_payment_methods.payment_methods {
  margin: 30px 0;
}

.wc_payment_methods.payment_methods li {
  display: block;
  padding: 20px 0;
  overflow: hidden;
  border-top: 1px solid #dadada;
}

.wc_payment_methods.payment_methods li p {
  margin-bottom: 0;
}

.woocommerce-invalid input,
.woocommerce-invalid input,
input.woocommerce-invalid,
.woocommerce-invalid textarea,
textarea.woocommerce-invalid {
  background-color: #ffebee;
  border-color: #ffebee;
  border-right: none;
  color: #f44336;
  padding-right: 1.2em;
}

.about_paypal {
  margin-right: 10px;
}

.order-actions .dima-button {
  min-width: 60px;
  margin: 0 auto;
}

.myaccount_address {
  margin-bottom: 30px;
}

.address h3 {
  margin-bottom: 30px;
}

.address h2 {
  margin-top: 30px;
}

address {
  font-style: italic;
}

.col-1.address {
  margin-left: 4%;
}

.col-1.address, .col-2.address {
  position: relative;
  border: 1px solid #eeeeee;
  padding: 15px;
  width: 48%;
  float: right;
}

.col-1.address .edit, .col-2.address .edit {
  position: absolute;
  top: 15px;
  left: 10px;
}

.woocommerce-tabs {
  margin-top: 60px;
  clear: both;
}

.woocommerce-tabs h2 {
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 30px;
  margin-top: 0;
}

.woocommerce-tabs.columns-2-tab ul.dima-tab-nav li {
  width: 49%;
}

.woocommerce-tabs.columns-3-tab ul.dima-tab-nav li {
  width: 32.33%;
}

.visually-hidden, .screen-reader-text {
  overflow: hidden;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
}

.widget_product_search input[type="submit"] {
  display: none;
}

.widget_price_filter .price_slider_amount {
  padding-top: 10px;
}

.widget_price_filter .price_slider_amount .button {
  width: auto;
  height: 2.8571428571rem;
  min-width: 7.1428571429rem;
  float: right;
  line-height: 2.8571428571rem;
  min-height: 2.8571428571rem;
}

.widget_price_filter .price_slider_amount .price_label {
  line-height: 2.8571428571rem;
  text-align: left;
  font-weight: 700;
  color: #333333;
}

.widget_shopping_cart .total {
  position: relative;
  display: block;
  padding: 20px 0;
  overflow: hidden;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
  color: #333333;
}

.widget_shopping_cart .total .amount {
  float: left;
}

.widget_shopping_cart a.button {
  display: block;
  width: 100%;
  color: #FFF;
  padding-right: 0;
  padding-left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 0;
}

.widget_shopping_cart a.button:first-child {
  background: #333333;
  margin-bottom: 10px;
}

.widget_shopping_cart a.button:first-child:hover {
  background: #212121;
}

.widget_shopping_cart_content .reviewer,
.widget_shopping_cart_content .woocommerce-Price-amount,
.widget_shopping_cart_content .product-title,
.product_list_widget .reviewer,
.product_list_widget .woocommerce-Price-amount,
.product_list_widget .product-title {
  display: block;
}

.widget_shopping_cart_content .reviewer,
.product_list_widget .reviewer {
  margin-top: 5px;
}

.widget_shopping_cart_content ins span,
.widget_shopping_cart_content del span,
.product_list_widget ins span,
.product_list_widget del span {
  display: inline !important;
}

.widget_shopping_cart_content .star-rating,
.product_list_widget .star-rating {
  display: inline-block;
  margin-top: 0.7142857143rem;
  margin-bottom: 0;
}

.widget_shopping_cart_content .total, .widget_shopping_cart_content li,
.product_list_widget .total,
.product_list_widget li {
  position: relative;
  display: block;
  padding: 1.4285714286rem 0;
  border-bottom: 1px solid #eeeeee;
  font-size: 14px;
  line-height: 22px;
  color: #333333;
  overflow: hidden;
}

.widget_shopping_cart_content .total:last-child, .widget_shopping_cart_content li:last-child,
.product_list_widget .total:last-child,
.product_list_widget li:last-child {
  border-bottom: none;
}

.widget_shopping_cart_content .total a, .widget_shopping_cart_content li a,
.product_list_widget .total a,
.product_list_widget li a {
  display: block;
}

.widget_shopping_cart_content .total a .title, .widget_shopping_cart_content li a .title,
.product_list_widget .total a .title,
.product_list_widget li a .title {
  display: inline-block;
  color: #333333;
  margin-top: 5px;
}

.widget_shopping_cart_content .total a img, .widget_shopping_cart_content li a img,
.product_list_widget .total a img,
.product_list_widget li a img {
  float: right;
  width: 5rem;
  margin-left: 1.7857142857rem;
}

.widget_shopping_cart_content .total .item-mount, .widget_shopping_cart_content li .item-mount,
.product_list_widget .total .item-mount,
.product_list_widget li .item-mount {
  position: absolute;
  top: 1.7857142857rem;
  left: 1.4285714286rem;
}

.widget_shopping_cart_content .total .item-quantity, .widget_shopping_cart_content li .item-quantity,
.product_list_widget .total .item-quantity,
.product_list_widget li .item-quantity {
  line-height: 2.1428571429rem;
}

.widget_shopping_cart_content .total.sub-subtotal, .widget_shopping_cart_content li.sub-subtotal,
.product_list_widget .total.sub-subtotal,
.product_list_widget li.sub-subtotal {
  padding: 0 0.7142857143rem;
}

.widget_shopping_cart_content .total.sub-subtotal p, .widget_shopping_cart_content li.sub-subtotal p,
.product_list_widget .total.sub-subtotal p,
.product_list_widget li.sub-subtotal p {
  padding: 1.0714285714rem 0.7142857143rem;
  color: #333333;
  background: #eeeeee;
  margin-top: 0.7142857143rem;
}

.widget_shopping_cart_content .total.sub-cart, .widget_shopping_cart_content li.sub-cart,
.product_list_widget .total.sub-cart,
.product_list_widget li.sub-cart {
  padding: 2px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.widget_shopping_cart_content .total.sub-cart a, .widget_shopping_cart_content li.sub-cart a,
.product_list_widget .total.sub-cart a,
.product_list_widget li.sub-cart a {
  color: #fff;
  text-align: center !important;
  line-height: 3.5714285714rem;
}

.widget_shopping_cart_content .total.sub-cart .dima-button, .widget_shopping_cart_content li.sub-cart .dima-button,
.product_list_widget .total.sub-cart .dima-button,
.product_list_widget li.sub-cart .dima-button {
  width: 50%;
}

.widget_shopping_cart_content .total.sub-cart .dima-cart, .widget_shopping_cart_content li.sub-cart .dima-cart,
.product_list_widget .total.sub-cart .dima-cart,
.product_list_widget li.sub-cart .dima-cart {
  margin-left: 2px !important;
}

.attachment-shop_thumbnail img {
  right: 1.4285714286rem;
  width: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu {
  min-width: 360px;
  padding: 30px;
  right: -150px !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu li a {
  padding: 0;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu li:last-child {
  padding-bottom: 0;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu li .attachment-shop_thumbnail {
  width: 65px;
  margin-left: 20px;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu li .dima-close {
  top: -20px;
  position: absolute;
  left: 0;
  color: white;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .sub-menu p {
  font-size: 18px;
  line-height: 18px;
  color: #333333;
  font-weight: bold;
}

.dima-navbar-wrap.desk-nav .dima-navbar nav .cart_wrapper .total .amount {
  font-weight: 600;
  margin-right: 25px;
}

.dima-navbar-wrap.desk-nav.dima-navbar-center .dima-navbar nav .cart_wrapper .total .amount,
.dima-navbar-wrap.desk-nav.dima-navbar-top .dima-navbar nav .cart_wrapper .total .amount {
  margin-right: 10px;
  font-family: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
}

.products-list .add_to_cart_button svg {
  width: 2.1428571429rem !important;
  height: 2.1428571429rem;
}

.products-list .add_to_cart_button .svg_circle svg {
  margin-top: -1.0714285714rem;
  margin-right: -1.0714285714rem;
}

fieldset {
  margin: 0 0 30px;
}

.woocommerce-MyAccount-navigation {
  margin: 0 0 20px 0;
}

.woocommerce-MyAccount-navigation ul {
  list-style: none;
  margin: 0;
  padding-right: 0;
}

.widget_shopping_cart_content .mini_cart_item a {
  display: block;
}

.widget_shopping_cart_content .mini_cart_item a.remove {
  color: #bbbbbb;
}

.widget_rating_filter .star-rating {
  display: inline-block;
  margin-bottom: 0;
  top: 6px;
}

.widget_rating_filter li a {
  line-height: 3.2142857143rem;
}

.top-footer .widget .product_list_widget .total,
.top-footer .widget .product_list_widget li {
  border-top: 1px solid #292929;
}

.top-footer .widget_shopping_cart_content .amount,
.top-footer .product_list_widget .amount {
  color: #a2a2a2;
}

.top-footer .widget_shopping_cart_content a,
.top-footer .product_list_widget .product-title {
  color: #FFFFFF;
  -webkit-transition: all 320ms ease-out;
  transition: all 320ms ease-out;
}

.top-footer .widget_shopping_cart_content a:hover,
.top-footer .product_list_widget .product-title:hover {
  color: #ffffff;
}

.svg_circle svg {
  -webkit-animation: rotate 2s linear infinite;
          animation: rotate 2s linear infinite;
  -webkit-transform: none !important;
      -ms-transform: none !important;
          transform: none !important;
  padding: 0 !important;
}

.svg_circle svg circle {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite;
          animation: dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
  stroke: #FFFFFF;
  stroke-width: 5px;
}

.dima-plus:before {
  content: "";
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}

.dima-orderby-container .dima-click-dropdown {
  padding-left: 0.7142857143rem;
}

/**
Woo v 3
 */
.slider-nav,
.slider-for {
  margin: 0;
}

.slider-nav .slick-slide {
  margin: 2px 1px;
  opacity: .3;
  cursor: pointer;
  -webkit-transition: opacity 320ms ease-out;
  transition: opacity 320ms ease-out;
}

.slider-nav .slick-slide.slick-current {
  opacity: 1;
}

.woocommerce-product-gallery__trigger img {
  display: none;
}

.woocommerce-NoticeGroup {
  margin-bottom: 4.2857142857rem;
}

.woocommerce-NoticeGroup ul {
  margin-right: 0;
}

.woocommerce-NoticeGroup .fa-times {
  display: none;
}

@media only screen and (max-width: 679px) {
  .wishlist_table thead,
  .shop_table.cart thead {
    display: none;
  }
  .wishlist_table tr,
  .shop_table.cart tr {
    display: block;
    margin-bottom: 4.2857142857rem;
  }
  .wishlist_table tr:last-child,
  .shop_table.cart tr:last-child {
    margin-bottom: 0;
  }
  .wishlist_table tr td,
  .shop_table.cart tr td {
    display: inline-block;
    width: 100% !important;
    padding: 10px !important;
  }
  .wishlist_table tr td img,
  .shop_table.cart tr td img {
    width: 100%;
  }
  .wishlist_table tr td.product-remove svg,
  .shop_table.cart tr td.product-remove svg {
    display: none;
  }
  .wishlist_table tr td.product-remove span,
  .shop_table.cart tr td.product-remove span {
    font-size: 1rem;
  }
  .products-list .dima-product .product-img {
    float: none;
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .dima-ordering .social-medium {
    display: none;
  }
}

.woocommerce-review__author {
  margin-left: 15px;
}
