.dima-author-box {
  margin-bottom: px-to-rem(100);
  .dima-about-image {
    position: relative;
    @extend .start-image;
    @include margin-end(30px);
    margin-top: 0;
    img {
      width: 150px;
      height: 150px;
    }
  }
  .dima-author-info {
    overflow: hidden;
    p {
      margin-bottom: px-to-rem(25);
    }
  }
}

//5: #Mobile (Landscape and ) ================================================== 
@include break(sd-min) {
  .dima-author-box {
    .dima-about-the-author {
    }
    .dima-about-image {
      @include margin-end(20px);
      margin-top: 0;
      margin-bottom: 10px;
      img {
        width: 60px;
        height: 60px;
      }
    }
    .dima-author-info {
      overflow: initial;
    }
  }
}
