//Blog Comments
.page {
  .dima-comments-list {
    margin-top: 30px;
  }
}

.dima-comments-list, .dima-reviews-list {
  //comment header
  .h-comment {
    @include text-align_start();
    padding-bottom: sp_dima($sp_elms, $h4, $h4_lh);
    margin-bottom: 0;
    span {
      background: $body-bg-color;
      display: inline-block;
      position: relative;
      z-index: 3;
      @include padding-end(10px);
      small {
        @include font-size(23, 23);
      }
    }
  }
  //comment content
  .dima-comment {
    margin: 0;
    list-style: none;
    .dima-post-author {
      font-size: 16px;
      font-weight: $p-weight;
      font-style: italic;
      display: block;
      text-align: center;
      padding-top: 10px;
    }
    .dima-comment-awaiting-moderation {
      font-style: italic;
    }
    .content-comment {
      border-bottom: 1px solid $border-color;
      padding: 30px 0;
      overflow: hidden;
    }
    article {
      margin-bottom: px-to-rem(30);
    }
    li {
      .dima-comment-img {
        @extend .start-image;
        img {
          width: px-to-rem(70) !important;
          height: px-to-rem(70) !important;
        }
      }
      .comment-content {
        p {
          margin-bottom: 0;
        }
      }
      .dima-comment-entry {
        position: relative;
        overflow: hidden;
        @include padding-end(5px);
        ul.user-comment-titel {
          margin: 0 0 10px 0;
          display: inline-block;
          @include padding-start(0);
          .dima-comment-author {
            font-style: normal;
            color: $header-font-color;
          }
          li {
            display: inline-block;
            @include margin-end(15px);
            &:last-child {
              @include margin-end(0);
            }
          }

          .star-rating {
            top: 5px;
            margin-bottom: 0;
          }
        }
        svg {
          position: relative;
          top: 3px;
          fill: $header-font-color;
          width: 18px;
          height: 18px;
          @include margin-end(5px);
        }
      }
      .children {
        @include margin-start(89px);
        list-style: none;
        li {
          &:last-child {
            padding-bottom: 0;
          }
        }
      }
      .reply-form {
        a {
          margin-bottom: 10px;
          @include font-size(14, 14);
          display: block;
        }
      }
    }
    > li {
      &:last-child {
        margin-bottom: 70px;
      }
    }
  }
}

.dima-comment-header {
  a {
    color: $header-link-color;
    &:hover {
      color: $theme-color;
    }
  }
  .user-comment-titel.float-end {
    li {
      @include margin-end(25px !important);
      &:last-child {
        @include margin-end(0 !important);
      }
    }
  }
}

.comment-reply-title {
  margin-bottom: sp_dima($sp_elms, $h4, $h4_lh);
}

//wordpress*/
.dima-comments-navigation {
  h6 {
    margin-bottom: 15px;
  }
  margin-bottom: 30px;
}

//--------------------------------------------
@include break(sd-min) {
  .dima-comments-list .dima-comment li {
    .children, .dima-comment-entry {
      margin: 0;
    }
    .dima-comment-entry header .comment-time {
      display: block;
      float: none;
      font-size: 12px;
    }
    .dima-comment-img img {
      width: 60px !important;
      height: 60px !important;
    }
  }
}