///NEW GRIDS BLOG*//
.dima-isotope-container {
  margin: 0 -15px;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.ok-clm-warp {
  margin: 0 -15px;
}

.products-grids,
.dima-isotope-container {

  div.woo-hentry,
  div.hentry,
  article.hentry {
    border-top: 0 solid transparent;
    @include border-end(px-to-rem($sp_elms / 2) solid transparent);
    @include border-start(px-to-rem($sp_elms / 2) solid transparent);
    @include sp_border_bottom($sp_blocks);
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: visible;
  }

  &.slick-no-margin {
    article.hentry {
      border-top: 1px solid transparent;
      @include border-end(1px solid transparent);
      @include border-start(1px solid transparent);
      border-bottom: 1px solid transparent;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      overflow: visible;
    }
  }

}
.columns-2 .woo-hentry,
.columns-2 .hentry {
  width: 50%;
}
.columns-3 .woo-hentry,
.columns-3 .hentry {
  width: 33.3333333%;
}
.columns-4 .woo-hentry,
.columns-4 .hentry {
  width: 25%;
}

@include break(sd-min-sd-max) {
  .columns-3 .woo-hentry,
  .columns-4 .woo-hentry,
  .columns-3 .hentry,
  .columns-4 .hentry {
    width: 50%;
  }
}

@include break(sd-min) {
  [class*="columns-"] .woo-hentry,
  [class*="columns-"] .hentry {
    width: 100%;
  }
}

/*Big Grids*/
.dima-block-slide {
  &.slick-slider {
    margin-bottom: 0 !important;
  }
  .slick-dots {
    margin: 0 !important;
    bottom: px-to-rem(40);
  }
  .slick-slide {
    height: 480px;
  }
  .thumb-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 30px;
    border-radius: 2px;
    .container {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      z-index: 2;
    }
    .thumb-meta {
      margin-bottom: sp_dima($sp_blocks, $base-font-size, $base-line-height + 20);;
    }
    .thumb-title {
      margin-bottom: sp_dima($sp_blocks, $h3, $h3_lh);
    }

    .thumb-title a,
    .thumb-meta, .thumb-meta a {
      color: #ffffff !important;
    }
    .read-more-icon {
      width: 40px;
      height: 40px;
      border: 2px solid #fff;
    }
    .read-more-icon svg {
      fill: #ffffff;
      position: absolute;
      @include start(px-to-rem(6));
      top: px-to-rem(5);
    }
  }
}