.post-content {
  @extend %clearfix;
  ul {
    list-style: initial;
  }
  ul.posts-list {
    margin: 0;
    list-style: none;
  }
}

.boxed-blog {
  &.blog-list {
    &.dima-layout-standard {
      &:not(.blog-single) {
        .post, article {
          &.format-quote,
          &.format-link {
            margin: px-to-rem($sp_small - 26) 0 px-to-rem($sp_small - 26) 0;
          }
        }
      }
    }

    &.slick-slider {
      .post, article {
        margin-bottom: 0;
      }
    }

    .post, article {
      margin-bottom: px-to-rem($sp_small - 49);
      header {
        .entry-title {
          @extend %h3;
          margin-bottom: sp_dima($sp_elms, $h3, $h3_lh);
          a {
            font-weight: inherit;
          }
        }
      }
      &.post_format-post-format-audio {
        > .post-img {
          margin-bottom: 0;
        }
        .post-audio {
          margin-bottom: sp_dima($sp_elms, $h5, $h5_lh);
        }
      }

      .single-post-title {
        margin-bottom: px-to-rem(15);
        font-size: px-to-em($h3);
        line-height: 1.25em;
        @if ($global-direction == "rtl") {
          letter-spacing: 0;
        } @else {
          letter-spacing: 0.025em
        }
        font-weight: $h3-weight;
      }

      &.isotope-item {
        margin-bottom: 0;
        @include float_start();
        .dima-link,
        blockquote.blog-style {
          @include margin-start(0);
          margin-top: px-to-rem(45);
        }
        .dima-blockquote {
          position: relative;
          > span {
            position: absolute;
            top: px-to-rem(-45);
          }
        }
        .post-view {
          display: none;
        }
      }

    }

    &.dima-minimal-style {
      &.minimal_no_margin {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        article {
          margin: 0;
          padding: 0;
          border-width: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &:last-child {
            .box {
              @include border-end-color($border-color !important);
            }
          }
        }
        &.clm-4 {
          article:not(:nth-child(4n)) {
            .box {
              @include border-end-color(transparent);
            }
          }
          article:nth-child(n+5) {
            .box {
              border-top-color: transparent;
            }
          }
        }
        &.clm-3 {
          article:not(:nth-child(3n)) {
            .box {
              @include border-end-color(transparent);
            }
          }
          article:nth-child(n+4) {
            .box {
              border-top-color: transparent;
            }
          }
        }
        &.clm-2 {
          article:not(:nth-child(2n)) {
            .box {
              @include border-end-color(transparent);
            }
          }
          article:nth-child(n+3) {
            .box {
              border-top-color: transparent;
            }
          }
        }
      }

      article {
        border-bottom-width: px-to-rem(30);
        .post-content {
          margin-bottom: px-to-rem(30);
        }
        .box {
          min-height: 345px;
          height: 100%;
          background: $blog-bg-color;
        }
        .post-icon .icons-media li {
          opacity: 1;
        }
        .post-icon, .link_overlay {
          top: -1px;
          @include start(-1px);
        }
        .post-meta {
          position: absolute;
          bottom: px-to-rem(60);
          padding: 0;
          ul li {
            &.post-view, &.post-comments {
              display: none;
            }
          }
        }
      }
    }

    .masonry,
    &.dima-timeline-blog,
    &.dima-minimal-style {
      article {
        header {
          .entry-title {
            @extend %h5;
            margin-bottom: sp_dima($sp_elms, $h5, $h5_lh + $base-line-height/2);
          }
        }
      }
    }
    .masonry {
      margin-bottom: sp_dima($sp_elms, $h5, $h5_lh);
    }
  }

  article, .post {
    &.e-post {
      padding: 20px !important;
      background: $blog-bg-color;
      border: 1px solid $blog-border-color;
      @if $border-radius != 0 {
        @include border-radius($border-radius);
      }
      .box {
        margin-bottom: 0;
        border: 0;
      }
      .post-meta {
        border-bottom: 1px solid $border-color;
        padding: 20px 0 20px 0;
      }
      .post-content {
        padding: 25px 0 5px 0;
      }
    }

    .post-img {
      position: relative;
      height: auto;
      width: auto;
      margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
      img {
        display: block;
        overflow: hidden;
        max-width: 100%;
        width: 100%;
      }
      .single-caption-text {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 5px 10px;
        background: $theme-color;
        color: #ffffff;
        line-height: 1.8;
        font-size: 85%;
      }
    }

    > hr {
      padding: 0;
      margin: 0 0 sp_dima($sp_elms, $base-font-size, $base-line-height);
    }

    .post-meta {
      @include font-size($base-font-size, $base-line-height);
      padding-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
      //background: $blog-bg-color;
      border-bottom: none;
      margin-bottom: 0;
      color: $header-link-color;
      a {
        color: $header-link-color;
        @include transition(all 320ms ease-out);
        &:hover {
          color: $theme-color;
        }
      }
      ul {
        @include text_align_end();
        margin: 0;
        @include padding-start(0);
        overflow: hidden;
        li {
          svg {
            position: relative;
            top: 2px;
            fill: $header-font-color;
            width: 16px;
            height: 16px;
          }
          @include padding-end(10px);
          &:last-child {
            @include padding-end(0);
          }

          display: inline-block;
          &.post-comments {
            @include text_align_start;
          }
          &.post-on {
            @include float_start();
            text-transform: capitalize;
            time {
              color: $header-font-color;
            }
          }
          &.post-view.full {
            padding-top: 10px;
          }
        }
      }
    }
    .post-content {
      position: relative;
      //background: $blog-bg-color;
      &.custom-post {
        padding: 0;
        .single-post-title {
          display: none;
        }
        .social-media {
          padding: 25px;
        }
      }
    }
    //Post Type
    .pad {
      padding: 20px;
      border: 1px solid $border-color;
      border-bottom: none;
      background: $quote-bg;
    }

    &.image-in-side {
      width: 100%;
      @include float_start;
      .post-img {
        @include float_start;
        width: 48%;
        @include margin-end(3.4%);
        z-index: 99;
      }
      .post-meta {
        border: none;
        border-bottom: 1px solid $border-color;
        overflow: hidden;
        padding: 0 0 20px 0;
      }
      .post-content {
        border: none;
        padding: 20px 0 0 0;
      }
      .mejs-container .mejs-controls {
        margin-bottom: 0;
      }
    }
  }

  .sda-post {
    position: relative;
    img {
      margin-bottom: 1px;
    }
  }

}

.related-posts {
  .dima_slick_slider {
    .related-post {
      margin: 0 px-to-rem(15);
    }
  }

  padding-bottom: 0;
  &.related-posts-slide {
    padding-bottom: px-to-rem(70);
    .related-post {
      margin-bottom: 0;
    }
  }
  .related-posts-title {
    margin-bottom: sp_dima($sp_elms, $h4, $h4_lh);
  }
  .related-entry {
    @include box-sizing(box-sizing);

    .related-entry-title {
      .title {
        margin-bottom: 0;
      }
    }
  }
  .noor-line {
    margin-bottom: px-to-rem($sp_blocks);
  }
}

.related-post {
  margin-bottom: 30px;
}

.related-entry-media {
  margin-bottom: 15px !important;
  position: relative;
  overflow: hidden;
  .related-entry-thumbnail {
    img {
      width: 100%;
      height: auto;
    }
  }
}

// codrops
.dima_post_pagination {
  position: absolute;
  left: 0;
  right: 0;
}

.icon-off {
  opacity: 0.25;
}

.nav-reveal {
  height: 80px;
  background: lighten($footer-bg-top, 17.58%);
  margin: 0;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  @include transform(translateY(-50%));
  z-index: 99;
  > div {
    border-right: 1px solid rgba($footer-bg-top, .2);
    &:last-child {
      border-right: 0;
    }
  }

  svg {
    width: 24px;
    height: 80px;
    fill: #FFFFFF;
    display: block;
    margin: 0 auto;
    -webkit-transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    -moz-transition: all 0.3s;
    -moz-backface-visibility: hidden;
    transition: all 0.3s;
    backface-visibility: hidden;
  }

  .center_link {
    span {
      @include start(0);
      top: 100%;
    }
    a {
      &:hover {
        span {
          top: 0;
        }
        svg {
          @include transform(translateY(100%));
        }
      }
    }
  }

  .nav-reveal-prev {
    span {
      @include start(0);
      opacity: 0;
    }
    a {
      &:hover {
        span {
          opacity: 1;
        }
        svg {
          @if ($global-direction == "rtl") {
            @include transform(translateX(300%));
          } @else {
            @include transform(translateX(-300%));
          }
        }
      }
    }
  }

  .nav-reveal-next {
    span {
      @include start(0);
      opacity: 0;
    }
    a {
      &:hover {
        span {
          opacity: 1;
        }
        svg {
          @if ($global-direction == "rtl") {
            @include transform(translateX(-300%));
          } @else {
            @include transform(translateX(300%));
          }
        }
      }
    }
  }

  span {
    position: absolute;
    text-align: center;
    color: #ffffff;
    height: 100%;
    width: 100%;
    line-height: 80px;
    @include transition(all 0.4s);
  }
}

.single-post {
  .dima-link {
    margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
  }
}

.dima-link {
  @include border-start(none);
  position: relative;
  display: block;
  padding: sp_dima($sp_elms, $h4, $h4_lh) px-to-rem($sp_elms) sp_dima($sp_elms, $base-font-size, $base-line-height) px-to-rem($sp_elms);
  border: 5px solid $border-color;
  @include margin-start(60px);
  .entry-title {
    margin-bottom: sp_dima($sp_elms_sd, $h4, $h4_lh);
  }

  p {
    a {
      color: $header-link-color;
      &:hover {
        color: $theme-color;
      }
    }
  }
}

.video-overlay {
  position: absolute;
  top: 0;
  @include end(0);
  bottom: 0;
  @include start(0);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  z-index: 10;
  .video-overlay-hover {
    background: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    transition: all 0.5s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.6);
      .video-play-button {
        transform: scale(1.2, 1.2);
      }
    }
  }
  .video-play-button {
    display: block;
    position: absolute !important;
    z-index: 100;
    @include start(50%);
    top: 50%;
    width: px-to-rem(70);
    height: px-to-rem(70);
    margin-top: px-to-rem(-35);
    @include margin-start(px-to-rem(-35));
    background: svg-uri('<svg fill="#FFF" height="70" viewBox="0 0 24 24" width="70" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 14.5v-9l6 4.5-6 4.5z"/>
</svg>') no-repeat;
    @include transition(320ms ease-out);
  }
}

.post-footer {
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  padding: px-to-rem($sp_elms) 0;
  margin-top: px-to-rem($sp_blocks - $sp_elms_sd);
  &:not(.no-tags) {
    .social-media {
      position: absolute;
      @include end(0);
      margin-top: -5px;
    }
  }
  &.no-tags {
    padding: px-to-rem(50) 0;
    .social-media {
      position: relative;
      margin-bottom: -20px;
      ul {
        display: table;
        //left: 50%;
        @include start(50%);
        position: absolute;
        @if $global-direction == "ltr" {
          transform: translateX(-50%);
        } @else {
          transform: translateX(50%);
        }
      }
    }
  }
}

.post-content > *:last-child {
  margin-bottom: 0;
}

.post-content {
  blockquote, ul li {
    p {
      margin-bottom: 0;
    }
  }
}

.product-img,
article {
  &:hover {
    .dima-admin-edit {
      display: block;
    }
  }
}

.read-more-icon {
  display: table;
  margin-top: 5px;
  svg {
    fill: $header-link-color;
    width: 25px;
    height: 25px;
    transition: all 320ms ease-out;
  }
  &:hover {
    svg {
      fill: $theme-color;
    }
  }
}

/*----------Add To Any-----------*/
.a2a_svg {
  border-radius: 0 !important;
}

/*----------Add To Any-----------*/
.dima-block_video {
  max-width: 100%;
  position: absolute;
}

/* Audio */
.dima-audio {
  &.embed {
    iframe {
      width: 100%;
    }
  }
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  embed, iframe, object, video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.dima-video-wrapper {
  embed, iframe, video {
    position: relative;
    top: 0;
    @include start(0);
    width: 100%;
    margin: 0;
  }
}

.dima-composition {
  margin-top: sp_dima($sp_conected_elms, $base-font-size, $base-line-height);
  margin-bottom: -30px;
  span {
    display: inline-block;
    @include float_start();
  }
}

.single-post {
  .page-section {
    ul,
    ul.list-style,
    blockquote:not(.blog-style):not(.post-quote) {
      padding: sp_dima($sp_blocks - $sp_elms_sd, $quote_size, 34) px-to-rem(100) sp_dima($sp_blocks, $base-font-size, $base-line-height) px-to-rem(100);
    }
  }
}

.dima-search-title {
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding: sp_dima($sp_elms, $h5, $h5_lh) 0;
}

/*
  Responsive
*/

@include break(sd-max) {
  .boxed-blog.dima-minimal-style {

    &.minimal_no_margin {
      &.clm-4,
      &.clm-3 {
        article:not(:nth-child(4n)),
        article:not(:nth-child(3n)) {
          .box {
            @include border-end-color($border-color);
          }
        }
        article:not(:nth-child(2n)) {
          .box {
            @include border-end-color(transparent);
            background: $blog-bg-color;
          }
        }
        article:nth-child(n+3) {
          .box {
            border-top-color: transparent;
          }
        }
      }
    }
  }
  .dima-blockquote.single-blockquote,
  .dima-link {
    @include margin-start(0);
    margin-top: px-to-rem(45);
  }
}

@include break(sd-min) {
  .boxed-blog.dima-minimal-style {
    &.minimal_no_margin {
      &.clm-4,
      &.clm-2,
      &.clm-3 {
        article:not(:nth-child(2n)),
        article:not(:nth-child(4n)),
        article:not(:nth-child(3n)) {
          .box {
            @include border-end-color($border-color);
          }
        }
        article:nth-child(n+2) {
          .box {
            border-top-color: transparent;
          }
        }
      }
    }
  }

  .post-footer:not(.no-tags) {
    padding: px-to-rem($sp_elms_sd) 0 10px 0;
    .social-media {
      position: relative;
      @include float_start();
      margin-top: px-to-rem($sp_elms_sd);
    }
  }

  .single-post .page-section ul,
  .single-post .page-section ul.list-style {
    padding: px-to-rem(40) px-to-rem(0);
  }
  .single-post .page-section blockquote {
    padding: px-to-rem(40) px-to-rem(0) !important;
  }
}

@include break(xsd-min) {
  .post-comments,
  .post-view {
    display: none !important;
  }
}