.tagcloud,
.tags {
  .tags-title {
    color: $header-font-color;
  }
  svg {
    position: relative;
    top: 3px;
    fill: $header-font-color;
    width: 18px;
    height: 18px;
    @include margin-end(5px);
  }
  a {
    display: inline-block;
    @include margin-end(5px);
    @include margin-start(0);
    text-transform: capitalize;
    font-size: px-to-rem($base-font-size) !important;
    line-height: 100%;
    color: $header-link-color;
    @include transition(all 320ms ease-in);
    &:hover {
      color: $theme-color;
    }
    &:after {
      content: ',';
    }
    &:last-child {
      &:after {
        content: '';
      }
    }
  }
}

.dark-bg {
  .tagcloud,
  .tags {
    a {
      background-color: $footer-bordre-color;
      color: rgba(#FFFFFF, .4);
      &:hover {
        color: #FFFFFF;
      }
    }
  }

}

.label {
  padding: 2px 10px;
  background: $header-font-color;
  color: #FFF;
  margin: 1px;
}