.title_container {
  position: relative;
  background: $title_con_bg;
  z-index: 2;
  .header-main-container {
    display: table;
    table-layout: fixed;
    height: 100%;
    padding-bottom: 0;
    .header-content {
      position: relative;
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      width: 100%;
      z-index: 5;
    }
  }

  .dima-subtitle {
    display: block;
  }

  hr {
    padding: 0;
    margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
  }

  .header-title {
    @extend %h3;
  }

  &.start-style {
    .header-title,
    .dima-subtitle {
      width: 50%;
    }
    &:not(.with_sub_title) {
      .header-title {
        margin-bottom: 0;
      }
      .dima-breadcrumbs {
        position: relative;
        top: 10px;
      }
    }
  }

  &.center-style {
    .header-title {
      @extend %h1;
      margin-bottom: sp_dima($sp_elms, $h3, $h3_lh);
    }
  }

  .breadcrumbs-center {
    position: absolute;
    width: 100%;
    bottom: 22px;
  }

  &.start-style, &.center-style {
    &.dima-floating-breadcrumbs {
      .page-section-content {
        padding-top: 220px;
      }
    }
    .dima-breadcrumbs {
      color: $header-font-color;
      z-index: 10;
      &.breadcrumbs-start,
      &.breadcrumbs-end {
        width: 50%;
      }
      > span{
        .sep:last-child{
          display: none;
        }
      }
      a {
        color: $header-link-color;
        @include transition(all 320ms ease-out);
        &:hover {
          color: $header-font-color;
        }
      }
    }
  }
}

.sep {
  position: relative;
  padding: 0 10px;
  svg {
    position: relative;
    top: 6px;
    width: px-to-rem(20);
    height: px-to-rem(20);
    fill: $header-link-color;
  }
}

@include break(sd-min) {

  .title_container.start-style .page-section-content,
  .title_container.center-style .page-section-content {
    padding: $section-padding-mini 0;
  }

  .title_container {
    .header-title {
      text-align: center;
      width: 100% !important;
    }
    &.start-style {
      .dima-breadcrumbs {
        position: relative !important;
        margin-top: 20px !important;
        text-align: center;
        width: 100% !important;
      }
      .page-section-content {
        padding: 30px 0 30px 0 !important;
      }
      .dima-subtitle {
        width: 100%;
        text-align: center;
      }
    }
  }
}

@include break(sd-max) {
  .framed .title_container .page-section-content {
    border-width: 0;
  }
}