.footer-container {
  background: $footer-bg-top;

  .top-footer {
    [class*="ok-md"] {
      padding: 0 px-to-rem($sp_conected_elms);
    }
    position: relative;
    padding: sp_dima($sp_small, $base-font-size, $base-line-height) 0 sp_dima($sp_small - 40, $base-font-size, $base-line-height) 0;
    p {
      color: $footer-color;
      margin-bottom: 0;
    }
    .list-with-line {
      li {
        border-top-color: $footer-bordre-color;
      }
    }

    a {
      color: $footer-link;
      @include transition(all 320ms ease-out);
      &:hover {
        color: $theme-color;
      }
    }
    textarea, select,
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="password"],
    input[type="number"],
    input[type="url"],
    input[type="tel"] {
      border-color: $footer-bordre-color;
    }
    hr {
      border-color: $footer-bordre-color;
      padding: 0;
    }
    h1, h2, h3, h4, h5, h6 {
      color: $footer-header-color;
    }
    .dima-widget {
      .widget {
        margin-bottom: px-to-rem(40);
      }
    }
    .widget {
      &.widget_recent_entries {
        li {
          border-color: $footer-bordre-color;
        }
      }
      &.widget_recent_entries,
      &.widget_categories,
      &.widget_meta,
      &.widget_layered_nav,
      &.widget_nav_menu,
      &.widget_archive,
      &.widget_pages,
      &.twitter-widget,
      &.widget_rss,
      &.widget_product_categories,
      &.widget_recent_comments {

        ul, ol {
          li {
            padding: px-to-rem(7) 0;
            &:first-child {
              padding-top: 0;
            }
            a {
              &:before {
                display: none;
              }
              @include padding-start(px-to-rem(0));
            }
          }
          &.with-border {
            > li {
              border-bottom-width: 0;
              padding: px-to-rem(7) 0 !important;
              &:first-child {
                padding-top: 0 !important;
              }
            }
          }
        }
      }

      &.widget_calendar {
        table th {
          color: #FFFFFF;
        }
        table tr {
          color: $footer-color;
        }
        table thead {
          border-bottom: 1px solid $footer-bordre-color;
        }
        #wp-calendar {
          caption {
            color: $footer-header-color;
            background-color: $footer-bordre-color;
          }
        }
      }

      &.widget_calendar table th {
        color: $footer-header-color;
      }

      &.social-icons-widget {
        overflow: hidden;
      }

      &:not(.social-icons-widget) {
        ul, ol {
          li {
            a {
              color: $footer-link;
              &:hover {
                color: $footer-header-color;
              }
            }
          }
        }
      }

      .widget-title {
        margin-bottom: sp_dima($sp_elms, $h5, $h5_lh);
        color: $footer-header-color;
      }
      &.twitter-widget .fa-twitter {
        color: $footer-link;
      }
    }
    .widget .button, [type="submit"], .dima-button {
      background-color: $footer-bordre-color;
    }
  }
}

footer {
  position: relative;
}

.dima-footer {
  position: relative;
  a {
    color: $footer-bottom-color;
    padding: 5px;
    @include transition(all 320ms ease-out);
    &:hover {
      color: #FFFFFF;
    }
  }
  &.e-footre {
    .copyright {
      margin-top: 7px;
    }
  }
  &.text-center {
    .dima-menu {
      margin-top: 10px;
      text-align: center;
    }
    .copyright {
      float: none;
    }
  }
  border-top: 1px solid $footer-bordre-color;
  color: $footer-color;
  padding: 35px 0;

  .copyright {
    p {
      color: $footer-bottom-color;
      margin-bottom: 0;
    }
  }
}

/**
* Dark Footer
*/
.footer-container {
  &.dark-bg {
    hr {
      border-color: $footer-bordre-color;
      padding: 0;
    }
  }
  footer {
    a {
      color: #FFFFFE;
      &:hover {
        color: #FFFFFE;
      }
    }
  }
}

.fixed-footer-container {
  position: fixed;
  bottom: 0;
  @include start(0);
  @include end(0);
  z-index: 1;
}

.full-width-footer {
  padding: 0 px-to-em(90);
}

.framed {
  .full-width-footer {
    padding: 0 px-to-em(110);
  }
}

.featured_area:not(.featured_area_on_sd) {
  width: 100%;
  background-color: #292929;
  padding: 0 px-to-rem($sp_elms);

}

.second-footer-widget-area {
  margin-top: 20px;
}

/* Responsive*/

@include break(sd-max) {
  .full-width-footer {
    padding: 0 px-to-em(60);
  }

  .framed {
    .full-width-footer {
      padding: 0 px-to-em(80);
    }
  }
}

@include break(sd-min) {
  footer {
    .copyright {
      float: none;
      text-align: center;
    }
  }
}

@include break(xsd-min) {
  .full-width-footer {
    padding: 0 px-to-em(30);
  }

  .framed {
    .full-width-footer {
      padding: 0 px-to-em(30);
    }
  }

  .footer-container .top-footer [class*="ok-xsd"] {
    padding: 0;
  }
}