//        Form
$form-lable-color: $header-font-color;
$form-lable-color-focus: $theme-color;
$form-bg-color: rgba($second-border-color, .3);
$form-border-color: $border-color;
$form-border-color-focus: $theme-color;
$form-color: $header-font-color;

input[type="search"],
textarea, select, input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"] {
  margin: 0;
  padding: px-to-rem(15.5) px-to-rem($sp_conected_elms);
  background-color: $form-bg-color;
  border-width: 0;
  outline: none;
  @include font-size($p, $base-line-height);
  font-weight: 400;
  height: 50px;
  @include transition(all 320ms ease-out);
  @include border-radius($radius-var);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: $header-link-color;
  @include box-sizing(border-box);
  @include text_align_start();
}

.matrial-form {
  input[type="search"],
  textarea, select, input[type="text"], input[type="email"], input[type="date"], input[type="password"], input[type="number"], input[type="url"], input[type="tel"] {
    padding: px-to-rem(10) 0;
    background-color: rgba($form-bg-color, 0);
    @include transition(all 320ms ease-out);
  }
  .textarea, form textarea {
    min-height: px-to-rem(50);
    height: px-to-rem(50);
  }
  .bar {
    @include transition(all 320ms ease-out);
    position: relative;
    border-bottom: 5px solid $border-color;
    display: block;
    &:before {
      content: '';
      height: 5px;
      width: 0;
      left: 50%;
      bottom: -5px;
      position: absolute;
      @include transition(left 320ms ease-out, width 320ms ease-out);
      z-index: 2;
    }
  }
}

form {
  position: relative;
  max-width: 100%;
  font-size: 1em;
  @extend %clearfix;
  &.matrial-form {
    p, .field {
      position: relative;
      margin: 0 0 px-to-rem(30);
      @include margin-end(0);
    }
  }

  p, .field {
    margin: 0 0 2px;
    @include margin-end(2px);
  }

  &.login:not(.matrial-form),
  &.track_order:not(.matrial-form),
  &.comment-form:not(.matrial-form),
  &.dima_contact_form_7:not(.matrial-form) {

    input[type="submit"] {
      margin-top: px-to-rem(30);
    }

  }

  /**Focus**/
  input[type="search"],
  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  input[type="url"],
  input[type="tel"],
  textarea {
    width: 100%;
    &:focus {
      background: rgba($second-border-color, .5);
    }
  }

  &.matrial-form {
    input[type="search"],
    input[type="text"],
    input[type="email"],
    input[type="date"],
    input[type="password"],
    input[type="url"],
    input[type="tel"],
    textarea {
      &:focus {
        background: rgba($second-border-color, .0);
        ~ .bar::before {
          background: $theme-color;
          width: 100%;
          left: 0;
        }
      }
    }

    .textarea, textarea {
      min-height: px-to-rem(100);
      height: px-to-rem(100);
    }

    p, .field {
      margin-bottom: px-to-rem(30) !important;
      /**ERROR**/
      &.error {
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="date"],
        input[type="password"],
        input[type="number"],
        input[type="url"],
        input[type="tel"],
        input[type="text"],
        input[type="email"],
        input[type="date"],
        input[type="password"],
        input[type="number"],
        input[type="url"],
        input[type="tel"] {
          color: $error-color;
          background: transparent;
          ~ .bar::before {
            background: $error-color;
            width: 100%;
            left: 0;
          }
        }
      }
      /**!ERROR**/

      /**success**/
      &.success {
        textarea,
        input[type="text"],
        input[type="email"],
        input[type="date"],
        input[type="password"],
        input[type="number"],
        input[type="url"],
        input[type="tel"],
        input[type="text"],
        input[type="email"],
        input[type="date"],
        input[type="password"],
        input[type="number"],
        input[type="url"],
        input[type="tel"] {
          color: $success-color;
          background: transparent;
          ~ .bar::before {
            background: $success-color;
            width: 100%;
            left: 0;
          }
        }
      }
      /**!success**/
    }
  }

  p, .field {
    /**ERROR**/
    &.error {
      textarea,
      input[type="text"],
      input[type="email"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="url"],
      input[type="tel"],
      input[type="text"],
      input[type="email"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="url"],
      input[type="tel"] {
        background-color: rgba($error-color, .5);
        color: $error-color;
      }
    }
    /**!ERROR**/
    /**success**/
    &.success {
      textarea,
      input[type="text"],
      input[type="email"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="url"],
      input[type="tel"],
      input[type="text"],
      input[type="email"],
      input[type="date"],
      input[type="password"],
      input[type="number"],
      input[type="url"],
      input[type="tel"] {
        background-color: rgba($success-color, .5);
        color: $success-color;
      }
    }
    /**!success**/
  }

  &.login {
    .button {
      margin-top: 0 !important;
    }
  }
}

form {
  /**Disabled**/
  p.disabled label,
  p:disabled,
  p.disabled,
  .field.disabled label,
  .field:disabled,
  .field.disabled {
    opacity: 0.5;
  }

  /**Error Placeholder**/
  .error {
    @include placeholder {
      color: rgba(255, 80, 80, 0.4);
    }
    &:focus {
      color: rgba(255, 80, 80, 0.7);
    }
  }

  /**Input w/ attached Button**/
  input.attached {
    width: auto;
  }

  /** Date Input**/
  p.date > label,
  .date.field > label {
    position: relative;
    &:after {
      font-family: $FontAwesome;
      font-weight: 900;
      position: absolute;
      top: 2em;
      @include end(0.5em);
      content: '\f133';
      font-size: 1.2em;
      color: $header-font-color;
    }
  }

}

p > label,
.field > label {
  margin: 0 0 10px;
  display: inline-block;
  color: $form-lable-color;
  font-family: $font-family-base $font-family-headings;

  @include font-size(14, 14);

  &.error {
    color: $error-color;

    @include font-size(12, 11);

    margin-top: 5px;
    padding: 0;
  }

  &.required {
    &:after {
      content: '*';
      color: $theme-color;

      @include margin-start(5px);
    }
  }
}

select {
  background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>') no-repeat;
  background-size: 22px;
  @include padding-end(35px);
  background-color: rgba(218, 218, 218, 0.3);
  @if ($global-direction != "rtl") {
    background-position: center right;
  } @else {
    background-position: center left;
  }
}

textarea, input[type="checkbox"], input[type="radio"] {
  vertical-align: top;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-appearance: none;
  outline: none;
}

input.checkbox, input[type="checkbox"], input.radio, input[type="radio"] {
  width: 15px;
  height: 15px;
  border: 1px solid $second-border-color;

  @include margin-end(10px);

  font-family: $font-family-base $font-family-headings;
  vertical-align: middle;
}

input.radio, input[type="radio"] {
  @include border-radius(50%);
}

input.checkbox:checked, input[type="checkbox"]:checked,
input.radio:checked, input[type="radio"]:checked {
  &:before {
    display: block;
    content: "\f00c";
    position: relative;
    font-family: $FontAwesome;
    font-weight: 900;
    top: 50%;
    @include start(50%);
    font-size: 10px;
    @include margin-start(-5px);
    margin-top: -5px;
  }
}

input.radio:checked, input[type="radio"]:checked {
  &:before {
    content: "\f111";
    top: 50%;
    @include start(50%);
    font-size: 8px;
    @include margin-start(-3px);
    margin-top: -5px;
  }
}

.textarea, form textarea {
  min-height: px-to-rem(180);
  height: px-to-rem(180);
}

//this
form .message:first-child {
  margin-top: 0;
}

//On Form
form.error .error.message,
form.warning .warning.message {
  display: block;
}

//====CF7====//
.wpcf7 {
  select,
  textarea,
  input[type="text"],
  input[type="password"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="date"],
  input[type="month"],
  input[type="time"],
  input[type="week"],
  input[type="number"],
  input[type="email"],
  input[type="url"],
  input[type="search"],
  input[type="tel"],
  input[type="color"] {
    width: 100%;
  }
}

.wpcf7-display-none {
  display: none;
}

.screen-reader-response ul {
  margin-bottom: 30px;
}

.knowledge_base_search form,
.search-form,
.woocommerce-product-search,
.widget-feedburner-counter {
  &:before {
    content: '';
    position: absolute;
    @include end(px-to-rem($sp_conected_elms));
    top: px-to-rem($sp_elms / 2);
    width: px-to-rem($sp_conected_elms);
    height: px-to-rem($sp_conected_elms);
  }
}

.knowledge_base_search form,
.search-form, .woocommerce-product-search {
  position: relative;
  &:before {
    background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat;
  }
}

@include placeholder {
  color: #b3b3b3;
  @include transition(color 320ms ease-out);
}

.dima-search-center {
  margin: 0 auto;
  width: px-to-rem(370);
  margin-top: sp_dima($sp_blocks, $base-font-size, $base-line-height);
}

.dark-bg {
  .search-form, .woocommerce-product-search {
    &:before {
      background: svg-uri('<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat;
      content: '';
      position: absolute;
      right: 15px;
      top: 15px;
      width: px-to-rem(30);
      height: px-to-rem(30);
    }
  }

  .widget .widget-feedburner-counter form #form-row-wide:before {
    background: svg-uri('<svg fill="#FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat;
  }

  form {
    p {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }

  input[type="search"], textarea, select,
  input[type="text"], input[type="email"],
  input[type="date"], input[type="password"],
  input[type="number"], input[type="url"], input[type="tel"] {
    color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(#fff, .2);
  }

  .matrial-form {

    input[type="search"], textarea, select,
    input[type="text"], input[type="email"],
    input[type="date"], input[type="password"],
    input[type="number"], input[type="url"], input[type="tel"] {
      background-color: rgba(#fff, 0);
    }

    .bar {
      border-color: rgba(#FFFFFF, 0.2);
    }
  }
}

@include break(sd-min) {

  form {
    p, .field {
      margin: 1px 0;
    }
  }
  .wpcf7-submit {
    margin-top: 30px;
  }
  .gform_wrapper input,
  div.ginput_complex.ginput_container.gf_name_has_2 span,
  .gform_wrapper .top_label input,
  .gform_wrapper .top_label select {
    width: 100% !important;
  }

  .gform_wrapper ul li span {
    padding: 0 !important;
  }
}