.dima-container {
  width: percentage(870 / $contentWidth);

  &.full {
    width: 100%;
  }
}

.mini-width {
  position: relative;
  width: 66.66667%;
  margin: 0 auto;
}

.all_content {
  display: block;
  height: 100%;
  table-layout: fixed;
  position: relative;
  background: $content-bg-color;
}

.vertical-menu .container {
  width: 85%;
  padding: 0;
  .page-section-content {
    .container {
      width: 100%;
    }
  }
}

iframe {
  max-width: 100%;
}

@include break(sd-min-sd-max) {
  .mini-width {
    width: 100%;
  }
}

@include break(sd-min) {
  .mini-width {
    width: 100%;
  }
}