header {
  display: block;
  width: 100%;
  position: relative;
}

.dima-main {
  position: relative;
  float: none;
  display: block;
  width: auto;
  z-index: 150;
  background: $body-bg-color;
  .dima-page-wrapper {
    margin-top: 20px;
    padding-bottom: 20px;
  }
}

.footer-parallax {
  .dima-main {
    box-shadow: rgba(0, 0, 0, 0.7) 0 105px 90px -90px;
  }
}

/*Revolution Slaid*/
article {
  &.revolution {
    position: relative;
  }
}