//  Columns offgrid
//  By PixelDima      *
$shift_y: 40;
$shift_x: 40;

$i: 3;

@while $i > 0 {
  .translate_x_#{$i} {
    @include start(px-to-rem($shift_x * $i) !important);
  }
  .translate_x_neg_#{$i} {
    @include start(px-to-rem(-$shift_x * $i) !important);
  }
  .translate_y_#{$i} {
    margin-top: px-to-rem($shift_x * $i) !important;
  }
  .translate_y_neg_#{$i} {
    margin-top: px-to-rem(-$shift_x * $i) !important;
  }
  $i: $i - 1;
}

$i: 10;
@while $i > 0 {
  .z_index_#{$i} {
    z-index: $i;
  }
  $i: $i - 1;
}

@include break(xsd-min) {
}

@include break(sd-min) {
  .translate_y_2:not(.translate_y_fixed),
  .translate_y_3:not(.translate_y_fixed) {
    margin-top: px-to-rem($shift_x * 2) !important;
  }
  .translate_x_1:not(.translate_y_fixed) {
    margin-top: px-to-rem($shift_x) !important;
  }
  .translate_y_neg_2:not(.translate_y_fixed),
  .translate_y_neg_3:not(.translate_y_fixed) {
    margin-top: px-to-rem(-$shift_x * 2) !important;
  }
  .translate_x_neg_1:not(.translate_y_fixed) {
    margin-top: px-to-rem(-$shift_x) !important;
  }
}

//(sd) Tablet Grid  [768px,989px[
@include break(sd-min-sd-max) {

}
