.section {
  position: relative;
  z-index: 10;
}

.dima-section-cover {
  background-color: rgba(37, 37, 37, 0.6);
}

.background-image-holder {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image-hide {
  position: absolute !important;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
  background-position: center center;
  z-index: -2 !important;
}

.background-cover {
  background-size: cover !important;
}

.dima-vimeo,
.dima-youtube {
  iframe {
    @include start(0 !important);
  }
}

.dima-video-container {
  overflow: hidden;
}

.page-section-content {
  position: relative;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding: $section-padding 0;
  background-attachment: fixed;

  @extend %clearfix;

  &.no-padding-section {
    padding: 0;
  }
}

.page-section {
  z-index: 5;
  position: relative;
}

.headline-wrapper {
  padding: 4em 0;
  background-color: #f39c12;
}

.fixed-parallax {
  overflow: visible;

  &.background-image-hide {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
}

@include break(xlld-max) {
  .page-section-content {
    padding: $section-padding-small 0;
  }
}

@include break(xlld-min) {
  .page-section-content {
    padding: $section-padding-mini 0;
  }
}

//-------------

.dima-shape-divider {

  width: 100%;
  display: block;
  position: absolute;
  @include start(0);
  z-index: 10;

  .shape__container {
    position: relative;
    overflow: hidden;
    .shape {
      width: 100%;
      svg {
        display: block
      }
    }
  }


  &.drop-bottom-style .shape__container .shape,
  &.drop-top-style .shape__container .shape {
    width: 100%
  }

  &.drop-bottom-style .shape__container .shape .drop-left,
  &.drop-bottom-style .shape__container .shape .drop-right,
  &.drop-top-style .shape__container .shape .drop-left,
  &.drop-top-style .shape__container .shape .drop-right {
    width: 50%
  }

  &.drop-bottom-style .shape__container .shape .drop-left,
  &.drop-top-style .shape__container .shape .drop-left {
    float: left
  }

  &.drop-bottom-style .shape__container .shape .drop-right,
  &.drop-top-style .shape__container .shape .drop-right {
    float: right
  }

  &.drop-bottom-style.small-size .shape__container .shape .drop-left,
  &.drop-bottom-style.small-size .shape__container .shape .drop-right,
  &.drop-top-style.small-size .shape__container .shape .drop-left,
  &.drop-top-style.small-size .shape__container .shape .drop-right {
    height: 35px
  }

  &.drop-bottom-style.big-size .shape__container .shape .drop-left,
  &.drop-bottom-style.big-size .shape__container .shape .drop-right,
  &.drop-top-style.big-size .shape__container .shape .drop-left,
  &.drop-top-style.big-size .shape__container .shape .drop-right {
    height: 60px
  }

  &.drop-bottom-style.small-size .shape__container .shape .drop-left {
    border-top-right-radius: 35px
  }

  &.drop-bottom-style.small-size .shape__container .shape .drop-right {
    border-top-left-radius: 35px
  }

  &.drop-bottom-style.big-size .shape__container .shape .drop-left {
    border-top-right-radius: 60px
  }

  &.drop-bottom-style.big-size .shape__container .shape .drop-right {
    border-top-left-radius: 60px
  }

  &.drop-top-style.small-size .shape__container .shape .drop-left {
    border-bottom-right-radius: 35px
  }

  &.drop-top-style.small-size .shape__container .shape .drop-right {
    border-bottom-left-radius: 35px
  }

  &.drop-top-style.big-size .shape__container .shape .drop-left {
    border-bottom-right-radius: 60px
  }

  &.drop-top-style.big-size .shape__container .shape .drop-right {
    border-bottom-left-radius: 60px
  }
}

.dima-shape-divider--stick-top {
  top: 0;
}

.dima-shape-divider--stick-bottom {
  bottom: 0
}

