.right-content-sidebar-active {
  .dima-sidebar {
    @include margin-start(percentage(60 / $contentWidth))

  }
}

.left-content-sidebar-active {
  .dima-sidebar {
    @include margin-end(percentage(60 / $contentWidth))
  }
}

.dima-sidebar {
  width: percentage(240 / $contentWidth);
}

.wpb_widgetised_column,
.top-footer,
.dima-sidebar {
  .widget {
    p {
      margin-bottom: px-to-rem($sp_conected_elms);
    }
    .widget_shopping_cart_content li .item-mount {
      position: initial;
    }
  }
}

.wpb_widgetised_column,
.dima-sidebar {
  .widget {
    position: relative;
    background: $widget-bg-color;
    margin-bottom: px-to-rem(55);
    .inline {
      > li {
        @include margin-end(12px);
        margin-bottom: 12px;
        &:last-child {
          @include margin-end(0px);
        }
      }
    }
    .button {
      display: block;
      width: 100%;
      @include padding-end(0);
      @include padding-start(0);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
    .widget-title {
      margin-bottom: sp_dima($sp_conected_elms, $h5, $h5_lh);
    }

    &.dima-tabs {
      background: transparent;
      border: none;
      padding: 0;

      .dima-tab-content .dima-tab_content {
        padding: 30px 30px;
      }
    }

    .dima-testimonial.quote-style blockquote p {
      color: $body-text-color;

      @include font-size(18, 30);

      font-weight: $p-weight;
    }
  }
}