//wordpress*/
div.widget {
  position: relative;
  &.widget_categories,
  &.widget_meta,
  &.widget_layered_nav,
  &.widget_nav_menu,
  &.widget_archive,
  &.widget_pages,
  &.twitter-widget,
  &.widget_rss,
  &.widget_product_categories,
  &.widget_recent_comments,
  &.bbp_widget_login,
  &.widget_display_forums,
  &.widget_display_topics,
  &.widget_display_views,
  &.widget_display_replies {

    a {
      color: rgba($header-font-color, .47);
      &:hover {
        color: $theme-color;
      }
    }
    .count {
      @include float-end;
    }

    ul, ol {
      li {
        display: block;
        padding: 3px 0;
        overflow: hidden;
        > a {
          &:first-child {
            @include padding-start(px-to-rem(25));
            @if $global-direction == "rtl" {
              &:before {
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba($header-font-color,.47)}" width="18" height="18" viewBox="0 0 48 48"><path d="M30.83 32.67l-9.17-9.17 9.17-9.17L28 11.5l-12 12 12 12z"/></svg>') no-repeat;
                @include start(0);
              }
            } @else {
              &:before {
                background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba($header-font-color,.47)}"  width="18" height="18" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>') no-repeat;
                @include start(0);
              }
            }
            &:hover {
              @if $global-direction == "rtl" {
                &:before {
                  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{$body-link-hover-color}" width="18" height="18" viewBox="0 0 48 48"><path d="M30.83 32.67l-9.17-9.17 9.17-9.17L28 11.5l-12 12 12 12z"/></svg>') no-repeat;
                  @include start(0);
                }
              } @else {
                &:before {
                  background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{$body-link-hover-color}"  width="18" height="18" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>') no-repeat;
                  @include start(0);
                }
              }
            }
          }
        }

        a {
          position: relative;
          @include transition(all 320ms ease-out);
          &:before, &:before {
            content: '';
            position: absolute;
            width: 18px;
            height: 18px;
            top: 2px;
          }

        }
        &:last-child {
          padding-bottom: 0;
        }
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
  &.twitter-widget,
  &.widget_display_topics,
  &.widget_display_replies,
  &.widget_recent_entries {

    a {
      display: inline-block;
      color: $header-font-color;
      margin-bottom: px-to-rem($sp_conected_elms - ( $base-line-height - $base-font-size));
      &:hover {
        color: $header-font-color;
      }
      @include padding-start(0 !important);
      &:before {
        display: none;
      }
    }

    li {
      margin-bottom: sp_dima($sp_conected_elms, $base-font-size, $base-line-height);
      padding: 0 0 sp_dima($sp_conected_elms, $base-font-size, $base-line-height) 0 !important;
      border-bottom: 1px solid $widget-border-color;
    }
  }

  &.dima-author-box {
    .dima-about-image, .dima-author-info {
      position: relative;
      z-index: 5;
    }
    .dima-about-image {
      padding: 2px;
      text-align: center;
      margin-bottom: 30px;
      float: none;
      @include margin-end(0);
    }
  }

  &.twitter-widget {
    ul li {
      a {
        padding: 0;
        &:before {
          display: none;
        }
      }
      > a {
        &:first-child {
          @include padding-start(0);
        }
      }
    }
  }

  &.login-widget {
    .dima-user-login-content {
      @include padding-start(80px);
    }
  }

  .line-hr {
    margin-bottom: px-to-rem(20);
  }

  .widget-feedburner-counter {
    > p {
      margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height) !important;
    }

    form {
      #form-row-wide {
        &:before {
          content: '';
          position: absolute;
          @include end(15px);
          top: 15px;
          background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat;
          width: px-to-rem(30);
          height: px-to-rem(30);
        }
      }
    }
  }

  input[type="submit"],
  .dima-button, .button {
    margin-top: 8px;
  }

  ul {
    margin: 0;
    list-style: none;
    @include padding-start(0);
    li {
      .post-date {
        display: block;
      }
      .rss-date {
        display: block;
      }
    }
  }

  &.widget_calendar {
    #wp-calendar {
      caption {
        margin-bottom: px-to-rem(7);
        color: $header-font-color;
        text-align: center;
        font-size: 14px;
        background-color: $section-bg-color;
        padding: px-to-rem(10) 0;
      }
    }
    table {
      width: 100%;
      margin: 0;
      tr {
        border: none;
      }
      th {
        background: transparent;
        padding: 1em 0;
        color: $header-font-color;
        font-size: 14px;
        border: none;
        text-align: center;
        font-weight: $font-weight-semibold;
      }

      td {
        padding: px-to-rem(5);
        text-align: center;
      }

      tfoot {
        display: none;
      }
    }

  }
}

.dark-bg {
  div.widget {
    &.widget_recent_entries,
    &.widget_categories,
    &.widget_meta,
    &.widget_layered_nav,
    &.widget_nav_menu,
    &.widget_archive,
    &.widget_pages,
    &.twitter-widget,
    &.widget_rss,
    &.widget_product_categories,
    &.widget_recent_comments {
      a {
        color: #FFFFFF;
        &:hover {
          color: #FFFFFF;
        }
      }

      ul, ol {
        li {
          a {
            @if $global-direction == "rtl" {
              &:before {
                background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba(#ffffff,.47)}" width="18" height="18" viewBox="0 0 48 48"><path d="M30.83 32.67l-9.17-9.17 9.17-9.17L28 11.5l-12 12 12 12z"/></svg>') no-repeat;
                @include end(0);
              }
            } @else {
              &:before {
                background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba(#ffffff,.47)}"  width="18" height="18" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>') no-repeat;
                @include start(0);
              }
            }
            &:hover {
              @if $global-direction == "rtl" {
                &:before {
                  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba(#ffffff,1)}" width="18" height="18" viewBox="0 0 48 48"><path d="M30.83 32.67l-9.17-9.17 9.17-9.17L28 11.5l-12 12 12 12z"/></svg>') no-repeat;
                  @include end(0);
                }
              } @else {
                &:before {
                  background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" fill="#{rgba(#ffffff,1)}"  width="18" height="18" viewBox="0 0 48 48"><path d="M17.17 32.92l9.17-9.17-9.17-9.17L20 11.75l12 12-12 12z"/></svg>') no-repeat;
                  @include start(0);
                }
              }
            }
          }
        }
      }
    }
    &.widget_display_topics li,
    &.widget_display_replies li,
    &.widget_recent_entries li {
      border-bottom-color: rgba(255, 255, 255, 0.2);
    }
  }
  ul.with-border.first > li {
    border-color: rgba(255, 255, 255, 0.2);
  }
  .twitter-widget .fa-twitter {
    color: #ffffff;
  }
}

.tagcloud {
  display: inline-block;
  padding: 0 !important;
  a {
    padding: px-to-rem(10);
    background-color: $border-color;
    margin-bottom: px-to-rem(5);
    @include float_start();
    &:hover {
      background-color: $theme-color;
      color: #FFFFFF !important;
    }
  }
}

//twitter*/
.twitter-widget {
  .fa-twitter {
    @include padding-end(5px);
    color: $theme-color;
  }
}

//Insta*/
.dima-instagram-images {
  display: table;
  width: 100%;
  table-layout: fixed;
  .dima-instagram-row {
    display: table-row;
    .dima-instagram-image {
      display: table-cell;
      a {
        display: block;
        position: relative;
      }
    }
  }
}

.instagram-button {
  margin-top: 2px !important;
  color: #ffffff !important;
}

.add-bottom-margin {
  margin-bottom: 30px;
}

//Ads*/

.dima-dsa125-widget {
  ul {
    text-align: center;
    margin: 0 -5px -5px;
    li {
      display: inline-block;
      padding: 0;
      margin: 5px;
      width: 125px;
      height: 125px;
    }
  }
}

.dima-dsa300-widget {
  .dima-dsa-cell {
    display: block;
    text-align: center;
    line-height: 0;
  }
  img {
    display: block;
    @include margin-start(auto);
    @include margin-end(auto);
    width: auto;
    height: auto;
  }
}

.dima-dsa-widget-content {
  overflow: hidden;
  margin-bottom: 30px;
  clear: both;
}

.widget {
  .dima-dsa-widget-content {
    margin-bottom: 0;
  }
}

//Login*/
.dima-author-avatar img {
  position: relative;
  @include float_start();
  @include margin-end(30px);
  margin-top: 0;
}

.dima-tabs {
  .dima-author-avatar img {
    @include margin-end(20px);
  }
}

//tab*/
.widget-container {
  ul.dima-tab-nav li a {
    @include padding-start(10px);
    @include padding-end(10px);
  }
}

//helper*/
.a_p_hover {
  a {
    color: $body-text-color !important;
    &:hover {
      color: $theme-color !important;
    }
  }
}

.widget_tag_cloud {
  a:after, .tags a:after {
    content: '';
    display: none;
  }
}

//login*/
.login-widget {
  .dima-author-avatar img {
    width: 60px;
    @include margin-end(20px);
  }
}

.dima-about-image {
  margin: px-to-rem(5) 0 px-to-rem(20) 0;
}

.news-slider-widget {
  .slick-prev, .slick-next {
    top: 85px;
  }
  .dima-meta-info-container {
    padding: sp_dima($sp_conected_elms, $base-font-size, $base-line-height) px-to-rem($sp_conected_elms);
    background-color: $header-font-color;
    h6.entry-title {
      a {
        color: #ffffff;
        &:hover {
          color: #ffffff;
        }
      }
    }
  }
}
