/**/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 999999;
  margin: auto;
}

.loader-animation-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: $theme-color;
  padding: 20px;
  max-width: 100%;
}

.loader-sticker {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 5;
  margin: auto;
  background: #fff;
}

.loader-progress {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 0;
  width: 20px;
  background: $border-color;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 1;
}

.loader-progress--drowed-right-border {
  border-right: 20px solid $border-color;
}

.loader-line-left,
.loader-line-right {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20px;
  margin: auto;
  z-index: 2;
}

.loader-line-left {
  height: 0;
  left: 0;
  background: $border-color;
}

.loader-line-right {
  background: $theme-color;
  right: 0;
  height: 100%;
}

.loader-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  z-index: 10;
  transform: translate(-50%, -50%);

}

.loader-image-container {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 300px;
  width: 300px;
  @include margin-start(-150px);
  margin-top: -200px;
  line-height: 0;
  pointer-events: none;
}

.small .loader-image-container {
  height: 150px;
  width: 150px;
  @include margin-start(-75px);
  margin-top: -100px;
}

.loader-image {
  max-width: 100%;
  height: auto;
}

/*!Border wrapper*/

//Page 404*/
.not-found {
  h6 {
    @include font-size(18, 18);
  }

  p {
    @include opacity(0.9);
  }

  h1 {
    @include font-size(160, 160);

    margin: 20px 0 35px;
  }

  form {
    width: 450px;
    margin: 0 auto;
  }
}

.animated {
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
}

.load-close {
  color: #707070;
  display: block;
  text-align: center;
  letter-spacing: 1px;
  font-weight: $font-weight-light;
  font-family: 'Arial', serif;
  padding: 10px;
  position: absolute;
  line-height: 30px;
  bottom: 20px;
  @include start(50%);
  @include margin-start(-37px);
  margin-top: 0;
  z-index: 99999;
}

/*------------------------------------------------------------------
[Table of contents]

[Noor DEMO]

1. Close
2. Page 404
-------------------------------------------------------------------*/

.clm-bullet {
  .bullet {
    &.clm {
      &:nth-child(2n+3) {
        @include clear_start;

        @include margin-start(0 !important);
      }
    }
  }
}

.bullet {
  cursor: pointer;
  width: 13px;
  height: 13px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.3);
  text-indent: -9999px;
  border: 1px solid #FFF;
  margin: 0 4px 8px 4px !important;

  @include float_start;

  &:hover, &.selected {
    background: #FFFFFF !important;
  }
}

.dima-main {
  .tp-bullets.tp-thumbs {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  .tp-bullets.tp-thumbs .bullet {
    opacity: 1;
    filter: alpha(opacity=1);

    &:hover, &.selected {
      opacity: 0.9;
      filter: alpha(opacity=0.9);
      background-size: cover !important;
    }
  }

  .tp-bullets.tp-thumbs {
    width: 100% !important;
    @include start(0 !important);
    @include margin-start(0 !important);

  }

  .tp-bullets.tp-thumbs .tp-mask .tp-thumbcontainer {
    @include start(50px !important);
  }
}

.flex-caption, .tp-caption {
  z-index: 10 !important;
}

.full-wrapper {
  width: 100%;
  position: relative;
  @include margin-start(auto);
  margin-right: auto;
}

//device-content*/
.topaz-div-bg {
  position: absolute;
  display: block;
  width: 100%;

  @include start(0);
}

// Sections
.with-top-border {
  border-top: 1px solid $border-color;
}

// magnific-popup
.gallery-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 55;
}

.mfp-zoom-in {
  // start state//
  .mfp-with-anim {
    opacity: 0;
    transition: all 320ms ease-out;
    transform: scale(0.8);
  }

  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  // animate in//
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1);
    }

    &.mfp-bg {
      opacity: 0.8;
    }
  }

  // animate out//
  &.mfp-removing {
    .mfp-with-anim {
      transform: scale(0.8);
      opacity: 0;
    }

    &.mfp-bg {
      opacity: 0;
    }
  }
}

button.mfp-close {
  background: #222222;
}

.mfp-close {
  position: fixed;
  @include end(20px);
}

.dima-padding {
  padding: 100px 45px !important;
}

.tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
}

.in-bottom-absolute {
  position: absolute !important;
  top: -($section-padding + 0.125rem);
}

.in-bottom-relative {
  position: relative;
  margin-bottom: -$section-padding;
}

// Scroll Bar
.dima-navbar-vertical#framee {
  overflow: visible !important;
}

.scrollbar {
  position: absolute;
  top: 0;

  @include end(0);

  bottom: 0;
  width: 4px;
  z-index: 100;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
}

.scrollbar .handle {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: #333333;
  cursor: pointer;
}

.navbar_is_dark {
  .scrollbar .handle {
    background-color: rgba(255, 255, 255, 0.4);
  }
}

.dima-navbar.dima-navbar-vertical {
  .scrollbar {
    @include start(0);
  }
}

.vertical-menu-end {
  .dima-navbar-vertical {
    .scrollbar {
      @include end(0);

      @include start(auto);
    }
  }
}

.dima-navbar-vertical {
  &:hover {
    .scrollbar {
      opacity: 1;
    }
  }
}

.quick-view-content {
  position: relative;
  background: #FFFFFF;
  max-width: 930px;
  max-height: 600px;
  height: 100%;
  overflow: hidden;
  margin: 6% auto 0 auto;
}

.default-link {
  position: absolute;
  top: 0;
  @include start(0);
  width: 100%;
  height: 100%;
  z-index: 52;
}

//-------------------!
.infscr-loading {
  position: fixed;
  @include start(46%);
  text-align: center;
  display: block;
  bottom: 30px;
}

//-------------------!
.dima-main {
  .dima-equal {
    height: 100%;
    .ok-row {
      .column_parent {
        display: table-cell;
        height: 100%;
        float: none;
      }
    }
  }
  .dimacoltable {
    display: table;
    table-layout: fixed;
    position: relative;
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
  .dimacell {
    display: table-cell;
    position: relative;
    height: 100%;
    vertical-align: inherit;
    border: 0;
  }
}

@include break(sd-max) {
  .dima-main {
    .dima-equal {
      .ok-row {
        .column_parent {
          display: block;
          @include float_start;
        }
      }
    }
  }
}