@charset "UTF-8";
/*------------------------------------------------------------------
[knowledgebase Plugin Stylesheet]

Project:	 PixelDIma Noor
Version:	 1.0
Primary use: For Noor Demo
Direction :  RTL
-------------------------------------------------------------------*/
@import "../../extensions/modular-scale";
@import "../../base/demo/noor/all_rtl";
@import "../../base/all";

.pakb-search input[type=submit] {
  line-height: 30px;
  &:hover {
    background-color: darken($theme-color, 17%);
  }
}

.dima-kb {
  overflow: hidden;
  width: 100%;
}

ul.pakb-breadcrumb {
  margin: 20px 0;
  font-size: 110%;
}

.pakb-list li a {
  font-size: 14px;
  @include margin-start(1.8em);
  line-height: 30px;
}

.pakb-list li > i {
  @include start(0);
  @include end(auto);
}

.pakb-main {
  &.pakb-lists [class*="pakb-col-"] {
    padding: 30px;
    box-shadow: 0 6px px-to-rem(20) 0 rgba(0, 0, 0, 0.07);
  }
  h2 {
    font-family: $font-family-headings;
    i, a {
      color: $header-font-color;
    }
    i {
      @include float_start();
      @include margin-end(10px);
    }
  }
}

.pakb-list i {
  color: $body-text-color;
}

.pakb-list li,
.pakb-sidebar ul li,
.pakb-main {
  a {
    color: $body-text-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.pakb-single {
  a {
    color: $theme-color;
    &:hover {
      text-decoration: none;
    }
  }
}

.pakb-col-2, .pakb-col-3, .pakb-col-4 {
  @include margin-end(4% !important);
  @include margin-start(0 !important);

  &:last-of-type {
    @include margin-end(0 !important);
  }
}

.si-arrow-right4 {
  &:before {
    @if ($global-direction == "rtl") {
      content: "\edc3";
    } @else {
      content: "\edbb";
    }
  }
}

.si-arrow-left4 {
  &:before {
    @if ($global-direction != "rtl") {
      content: "\edc3";
    } @else {
      content: "\edbb";
    }
  }
}

.pakb-archive > a {
  background: transparent;
  border: 1px solid #e1e1e1 !important;
}

.pakb-box {
  .pakb-box-icon i, h2 {
    color: $header-font-color !important;
  }
}

.pakb-archive {
  margin-bottom: 2px;
  a {
    color: $header-font-color !important;
    font-weight: $font-weight-medium;
    font-size: px-to-rem($base-font-size);
    font-family: $font-family-headings;
    @if ($global-direction != "rtl") {
      padding: 17px 40px;
    } @else {
      padding: 17px 40px;
    }
    background: $section-bg-color;

    &:hover {
      color: $theme-color !important;
      background: #ffffff;
    }
  }
}

.si-file-text2 {
  background: svg-uri('<svg fill="#{$header-font-color}" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 2c-1.1 0-1.99.9-1.99 2L4 20c0 1.1.89 2 1.99 2H18c1.1 0 2-.9 2-2V8l-6-6H6zm7 7V3.5L18.5 9H13z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') center center no-repeat;
  width: 20px;
  height: 20px;
}

.si-file-text2:before {
  content: '';
}

.pakb-archive > a > i {
  @include start(1em);
  @include end(auto);
}

.pakb-list li {
  padding: 5px 0;
  i {
    position: relative;
    @include float_start();
    top: 5px;
  }
}

.widget {
  .pakb-list li {
    padding: 13px 0 !important;
    overflow: hidden;
    border-bottom: 1px solid $widget-border-color;
    &:last-child {
      border-bottom: none;
    }
  }
}

ul.pakb-breadcrumb {
  margin: 0;
  padding: 25px;
  border-bottom: 0;
  background: $theme-color;
}

.pakb-content {
  margin: 0;
  padding: 25px;
  box-shadow: 0 6px px-to-rem(20) 0 rgba(0, 0, 0, 0.07);
}

.pakb-meta {
  padding: px-to-rem($sp_elms) 0;
  border-top: 0;
}

.pakb-search input[type="text"] {
  border-color: $border-color;
}

.pakb-header {
  margin-bottom: 30px;
}

.knowledge_base_categories {
  li a {
    @include margin-start(0);
  }
}

.pakb-breadcrumb a:hover, .pakb-breadcrumb a:focus {
  color: #ffffff;
}

.pakb-single a,
.pakb-single a:hover,
.pakb-single a:focus {
  color: $theme-color;
}

.pakb-meta a:hover,
.pakb-meta a:focus,
.pakb-lists .pakb-view-all a:hover {
  color: $theme-color;
}