@charset "UTF-8";
@import "../../extensions/modular-scale";
@import "../../base/all";

td.wishlist-empty {
  text-align: center !important;
  padding: 50px;
  font-size: 2em;
}

.wishlist_table .add_to_cart {
  line-height: 1.3;
  padding: 7px 10px;
}

/* Popup message */
#yith-wcwl-popup-message {
  background: #fff;
  border: 2px solid $border-color;
  padding: 15px 0;
  font-size: 120%;
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translateX(50%);
  width: 300px;
  z-index: 10000;
}

.product-details {
  .wishlist-icon {
    width: 100%;
    display: block;
    margin: 10px 0 0 0;
    .wishlist-button {
      @include float_start();
    }
    > p {
      @include float_start();
      @include margin-start(10px);
      line-height: px-to-rem(50);
    }
    &.wishlist-added {
      > p {
        display: none;
      }
    }
  }
  .yith-wcwl-add-to-wishlist {
    display: none;
  }
}

.wishlist-icon {
  position: relative;
  @include float_start();
  @include margin-start(10px);
  .svg_added,
  .svg_circle {
    display: none;
  }

  .wishlist-button {
    &.wishlist-added {
      .svg_circle,
      .svg_favorite {
        display: none;
      }
      .svg_added {
        display: block;
        svg {
          fill: $sale-theme-color;
        }
      }
    }
    &.loading {
      .svg_added,
      .svg_favorite {
        display: none;
      }
      .svg_circle {
        display: block;
      }
    }
    font-size: 22px;
    line-height: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: 2px solid $border-color;
    text-align: center;
    -webkit-transition: all 320ms ease-out;
    transition: all 320ms ease-out;
    svg {
      fill: $header-font-color;
      width: 24px;
      height: 46px;
      circle {
        stroke: $header-font-color;
      }
    }
    &:hover {
      border-color: $theme-color;
    }
  }
}

.dima-wishlist {
  display: none;
}

.dima-wishlist .ajax-loading,
.dima-wishlist .feedback {
  display: none !important;
}

.shop_table.wishlist_table {
  margin-top: px-to-rem($sp_small);
  .product-thumbnail {
    width: px-to-rem(65);
  }
}

.yith-wcwl-share {
  .inline {
    li {
      margin-bottom: 8px !important;
    }
  }
}