@import "../../extensions/modular-scale";
@import "../../base/demo/noor/all_ltr";
@import "../../base/all";

$mediaH: 75;
$media-bar-h: 2;
$media-bar-top: ($mediaH - $media-bar-h) / 2;
$mejs_bg_color: #fcfcfc;
$mejs_txt_color: #333333;

#dima-wrapper {

  .mejs-container {
    &.wp-audio-shortcode,
    &.wp-video-shortcode {
      .mejs-controls {
        background: $theme-color;
      }
    }
  }

  .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) {
    background: rgba($theme-color, .5);
    min-width: px-to-rem(240) !important;
    clear: both;
    outline: none;
    .mejs-time-handle, .mejs-time-handle-content {
      position: absolute;
      cursor: pointer;
      transform: translateX(0px);
      &:after {
        content: '';
        background: svg-uri('<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10"><defs><style>.cls-1{fill:#{$mejs_bg_color};}.cls-2{fill:#{$theme-color};}</style></defs><circle class="cls-1" cx="5" cy="5" r="4"/><path class="cls-2" d="M10,7a3,3,0,1,1-3,3,3,3,0,0,1,3-3m0-2a5,5,0,1,0,5,5,5,5,0,0,0-5-5Z" transform="translate(-5 -5)"/></svg>') no-repeat;
        width: 11px;
        height: 11px;
        position: absolute;
        top: -8px;
        @include end(-8px);
      }
    }

    .mejs-controls {
      position: relative;
      background: $mejs_bg_color;
      height: px-to-rem($mediaH);
      width: auto;
      box-shadow: inset 0 0 0 1px $border-color;
      z-index: 100;

      .mejs-button {
        height: px-to-rem($mediaH);
        position: relative;
        width: 38px;
        overflow: visible !important;

        button {
          position: relative;
          background: none;
          margin: 0;
          padding: 0 8px;
          outline: none;
          border: none;
          height: 100%;
          width: 100%;
          overflow: visible;
        }

        &.mejs-play {
          button {
            background: svg-uri('<svg fill="#{$theme-color}" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M8 5v14l11-7z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }
        }

        &.mejs-pause {
          button {
            background: svg-uri('<svg fill="#{$theme-color}" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }
        }
        &.mejs-pause, &.mejs-play {
          button {
            transition: background 0.3s ease;
          }
          &:hover {
            button {
              background-color: $border-color;
            }
          }
        }

        &.mejs-mute {
          background: svg-uri('<svg fill="#{$theme-color}" height="22" viewBox="0 0 22 22" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M3 9v6h4l5 5V4L7 9H3zm13.5 3c0-1.77-1.02-3.29-2.5-4.03v8.05c1.48-.73 2.5-2.25 2.5-4.02zM14 3.23v2.06c2.89.86 5 3.54 5 6.71s-2.11 5.85-5 6.71v2.06c4.01-.91 7-4.49 7-8.77s-2.99-7.86-7-8.77z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
        }

        &.mejs-unmute {
          button {
            background: svg-uri('<svg fill="#{$theme-color}" height="22" viewBox="0 0 22 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M7 9v6h4l5 5V4l-5 5H7z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }
        }

        &.mejs-playpause-button {
          width: px-to-rem(55);
          transition: background 0.3s ease;
        }

        &.mejs-fullscreen-button > button {
          background: svg-uri('<svg fill="#{$theme-color}" height="22" viewBox="0 0 22 22" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M7 14H5v5h5v-2H7v-3zm-2-4h2V7h3V5H5v5zm12 7h-3v2h5v-5h-2v3zM14 5v2h3v3h2V5h-5z"/>
</svg>') no-repeat 50% 50%;
        }

        &.mejs-unfullscreen > button {
          background: svg-uri('<svg fill="#{$theme-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M5 16h3v3h2v-5H5v2zm3-8H5v2h5V5H8v3zm6 11h2v-3h3v-2h-5v5zm2-11V5h-2v5h5V8h-3z"/>
</svg>') no-repeat 50% 50%;
        }
      }

      .mejs-button.mejs-volume-button .mejs-volume-slider {
        position: absolute;
        background: $theme-color;
        text-align: center;
        padding: 10px 12px;
        width: auto;
        z-index: 1000;
        transition: transform 0.3s ease, opacity 0.3s ease;
        transform: translate(-50%, 6px);
        color: #fff;
        left: 50%;
        bottom: 100%;
        height: 130px;
        top: auto;
      }

      .mejs-button.mejs-volume-button .mejs-volume-current {
        background: $border-color;
        top: auto !important;
        bottom: 10px;
        border-radius: 3px;
      }

      .mejs-button:last-child {
        margin-right: 25px;
      }

      .mejs-fullscreen-button,
      .mejs-unfullscreen {
        width: 30px;
        padding: 0 20px;
      }

      .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
      .mejs-horizontal-volume-slider .mejs-horizontal-volume-current,
      .mejs-time-rail span,
      .mejs-time-rail a {
        height: 2px;
      }

      .mejs-time-rail {
        padding: 32px 0 0;
        height: 100%;
        .mejs-time-current, .mejs-time-handle-content {
          background: $theme-color;
        }
        .mejs-time-hovered {
          background: rgba($theme-color, .5);
          z-index: 10;
        }

        .mejs-time-float {
          position: absolute;
          background: $theme-color;
          text-align: center;
          padding: 10px 20px;
          width: auto;
          z-index: 1000;
          transition: transform 0.3s ease, opacity 0.3s ease;
          transform: translate(-50%, -6px);
          color: #fff;
          bottom: 100%;
          top: auto;
          border: none;
          margin: 0;
          height: auto;
        }

        .mejs-time-float-current {
          font: 500 14px/18px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
          margin: 0;
          position: relative;
          width: auto;
          display: inline;
          color: #fff;
        }

        .mejs-time-float-current {
          margin: 2px;
          height: auto;
          display: block;
          text-align: center;
          left: 0;
        }

        .mejs-time-float-corner {
          position: absolute;
          z-index: 1001;
          content: "";
          background: $theme-color;
          width: 10px;
          height: 10px;
          top: 100%;
          transform-origin: center center;
          transform: translate(-50%, -50%) rotate(45deg);
          left: 50%;
          border-radius: 0 0 3px 0;
          border: none;
        }
      }

      .mejs-time .mejs-currenttime,
      .mejs-time .mejs-duration {
        font: 14px "Gotham Rounded A", "Gotham Rounded B", "Gotham Rounded", "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: $mejs_txt_color;
        line-height: px-to-rem($mediaH);
        margin: 0;
      }

      .mejs-time.mejs-currenttime-container {
        width: px-to-rem($mediaH);
      }

      .mejs-time.mejs-duration-container {
        padding: 0 20px 0 10px;
      }

      .mejs-time {
        height: px-to-rem($mediaH);
        box-sizing: border-box;
        padding: 0 15px;
      }

      a.mejs-horizontal-volume-slider {
        margin-top: px-to-rem(22);
      }

      .mejs-horizontal-volume-slider .mejs-horizontal-volume-total,
      .mejs-time-rail .mejs-time-total {
        background: $border-color;
      }

      .mejs-horizontal-volume-slider .mejs-horizontal-volume-current {
        background: $theme-color;
      }

      .mejs-time-rail .mejs-time-loaded {
        background: rgba($theme-color, .3);
      }

    }
    /*mejs-controls*/

    .mejs-mediaelement {
      position: relative;
      height: auto;
      width: auto;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transition: padding .25s ease;
      video {
        display: block;
        margin: 0 auto;
        object-fit: contain;
        object-position: 50% 50%;
        height: auto !important;
        width: 100% !important;
      }
    }

    &:not(.mejs-container-fullscreen) {
      width: auto !important;
      height: auto !important;
    }
    &:not(.mejs-container-fullscreen) .mejs-mediaelement video {
      max-width: 1280px;
      max-height: 720px;
    }
    .mejs-container * {
      outline: none;
    }

    .mejs-overlay {
      .mejs-overlay-button {
        background: svg-uri('<svg fill="#FFFFFF" height="75" viewBox="0 0 24 24" width="75" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M10 16.5l6-4.5-6-4.5v9zM12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
</svg>') no-repeat 50% 50%;
        opacity: .8;
        margin-top: -60px;
      }
      &:hover {
        .mejs-overlay-button {
          opacity: 1;
          @include transition(opacity 320ms ease-out);
        }
      }
    }
    .mejs-overlay-loading span {
      background: svg-uri('<svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   width="60px" height="60px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
  <path opacity="0.2" fill="#FFFFFF" d="M20.201,5.169c-8.254,0-14.946,6.692-14.946,14.946c0,8.255,6.692,14.946,14.946,14.946
    s14.946-6.691,14.946-14.946C35.146,11.861,28.455,5.169,20.201,5.169z M20.201,31.749c-6.425,0-11.634-5.208-11.634-11.634
    c0-6.425,5.209-11.634,11.634-11.634c6.425,0,11.633,5.209,11.633,11.634C31.834,26.541,26.626,31.749,20.201,31.749z"/>
  <path fill="#FFFFFF" d="M26.013,10.047l1.654-2.866c-2.198-1.272-4.743-2.012-7.466-2.012h0v3.312h0
    C22.32,8.481,24.301,9.057,26.013,10.047z">
    <animateTransform attributeType="xml"
      attributeName="transform"
      type="rotate"
      from="0 20 20"
      to="360 20 20"
      dur="0.5s"
      repeatCount="indefinite"/>
    </path>
  </svg>') no-repeat 50% 50%;
    }
  }
}

.mejs-poster {
  opacity: 0;
}

/*!Body*/

/* End: Error */
.masonry {
  .mejs__controls,
  .dima-audio.player {
    display: none;
  }
  .mejs__overlay-button {
    margin-top: -35px;
  }
}

.hide-controls {
  .mejs-container .mejs-controls {
    display: none !important;
  }
  .mejs-container:not(.wp-video-shortcode):not(.wp-audio-shortcode) .mejs-overlay .mejs-overlay-button {
    margin-top: 0 !important;
  }
}

@include break(sd-min) {
  .mejs-controls {
    display: none;
  }
  .mejs-overlay-button {
    margin-top: -35px;
  }
}