.rtl h1, .rtl h2, .rtl h3, .rtl h4, .rtl h5, .rtl h6 {
  font-family: Tahoma, Arial, sans-serif;
}

.pixeldima-header-text {
  @include float_start();
}

.pixeldima-logo {
  position: relative;
  @include float_end();
  margin: 12px 0 0;
  width: 165px;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

#adminmenu li.menu-top.toplevel_page_pixel-dima-dashboard
> a .wp-menu-image:before {
  content: "";
  background: url("../../../images/pixeldima.png") no-repeat center;
}

.pixeldima-header h2 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 600;
  text-align: center;
  color: #3375ff;
}

.title-warp {
  border: 1px solid #e5e5e5;
  border-bottom: 0;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  overflow: hidden;
  text-align: center;

  h4 {
    color: #1565c0;
    margin: 0;
  }
}

li.pixeldima-extension {
  width: calc(33.3333% - 20px);
  margin-bottom: 30px;
  @include margin-end(30px);
  @include float_start();
  min-height: 270px;
  &:nth-child(3n) {
    @include margin-end(0);
  }

}

.pixeldima-extensions-list {
  overflow: hidden;
}

.pixeldima-extension {
  // border: 1px solid #e5e5e5;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pixeldima-extension .img {
  width: 60px;
  margin: 0 0 1em;
}

.pixeldima-extension .pixeldima-extension-content {
  position: relative;
  text-align: center;
  color: #444444;
  padding-top: 20px;
  .info {
    padding: 0 30px;
    p {
      height: 100px;
    }
  }
}

.pixeldima-extension .pixeldima-extension-content .btn {
  margin-top: 30px;
}

.pixeldima-extension .pixeldima-extension-content .title {
  color: #444444;
  font-size: 14px;
  font-weight: 600;
  .plugin-author {
    color: #444444;
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
  }
}

.pixeldima-important-notice {
  position: relative;
  overflow: hidden;
  padding: 15px 30px;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  color: #59A6D4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.pixeldima-notice-side {
  position: absolute;
  @include start(0);
  top: 0;
  padding: 32px 20px;
  height: 100%;
  background: #FFFFFF;
  color: #3375ff;
}

.pixeldima-notice-side span {
  font-size: 25px;
  line-height: 15px;
}

.pixeldima-important-notice p {
  font-size: 14px;
  @include padding-start(32px);
}

.pixeldima-wrap {
  margin-top: 10px;
  margin-bottom: 0;
  @include margin-end(20px);
  @include margin-start(2px);

}

.pixeldima-extension-content .info .status {
  position: absolute;
  top: 10px;
  @include start(10px);
  font-size: 16px;
  padding: 1px 3px;
  color: #d8d8d8;
  font-weight: 600;
}

.pixeldima-extension-content .status.active {
  color: #4caf50;
  font-size: 14px;
}

.pixeldima-extension-content .dima_plugin-required {
  position: absolute;
  font-size: 12px;
  top: 20px;
  @include end(15px);
  border: 1px solid #f44336;
  color: #f44336;
  padding: 5px;
  border-radius: 3px;
}

select:focus {
  outline: none;
}

.about-wrap .nav-tab {
  font-size: 16px;
}

.pixeldima-extension-content .status.active:before {
  font-family: "dashicons";
  content: "\f147";
  @include padding-end(2px);
  position: relative;
  top: 4px;
  font-size: 18px;
}

.pixeldima-home {
  .wrap {
    margin: 0 !important;
  }
  .pixeldima-header-text {
    width: 80%;
  }
  p {
    font-size: 15px;
    line-height: 25px;
  }
  .notice-dismiss {
    &:before {
      color: #ffffff;
    }
  }
}

//box*/
.pixeldima-customizer-backup {
  form {
    overflow: hidden;
  }
  h3 {
    margin: 0;
    svg {
      position: relative;
      top: 5px;
    }
  }
  .customizer-warp {
    @include float_start();
    width: 60%;
  }
  .customizer-button {
    .submit {
      padding-bottom: 0;
      @include float_end();
      width: 40%;
      .button {
        @include float_end();
        width: 150px;
      }
    }
  }

}

.pixeldima-customizer-backup .title {
  color: #FFF;
  background: #3375ff;
  margin: 0;
  padding: 15px;
}

.pixeldima-customizer-backup {
  .inside {
    background: #FFF;
    padding: 30px 40px;
    border-bottom: 1px solid #edf5fd;
    &:last-child {
      border-bottom: none;
    }
  }
}

//Admin Confirm*/

.pixeldima-admin-popup {
  position: fixed;
  display: table;
  @include start(0);
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(35, 40, 45, 0.67);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0.3s;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  ul {
    list-style-position: outside;
    list-style-type: square;
    padding: 0 20px;
  }
}

.pixeldima-admin-popup.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.pixeldima-admin-popup-container {
  clear: both;
  position: fixed;
  top: 9%;
  left: 190px;
  right: 30px;
  bottom: 3%;
  background: #fff;
  -webkit-box-shadow: 0 1px 20px 5px rgba(0, 0, 0, .1);
  z-index: 10000;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  border-radius: .25em .25em .4em .4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.dima-confirm {
  .pixeldima-admin-popup-container {
    position: relative;
    width: 500px;
    top: 150px;
    left: auto;
    right: auto;
    > p {
      padding: 50px 30px;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
    .pixeldima-admin-buttons {
      position: relative;
      list-style: none;
      padding: 0;
      display: table;
      width: 100%;
      border-top-width: 0;
      li {
        display: table-cell;
        &.yes {
          background: #4caf50;
        }
        &.no {
          background: #3375ff;
        }
        a {
          width: 100%;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 500;
          display: block;
          margin: 0;
          padding: 30px 0;
          text-align: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 1680px) {
  .pixeldima-admin-popup-container {
    width: 1450px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .pixeldima-admin-popup-container {
    @include start(65px);
  }
}

@media only screen and (max-width: 780px) {
  .pixeldima-admin-popup-container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 70px 20px 20px;
    border: none;
    z-index: 100000;
    position: fixed;
  }
}

.pixeldima-admin-popup-container {
  .pixeldima-admin-popup-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
  .pixeldima-admin-popup-about {
    a:not(.button) {
      color: #333;
      text-decoration: blink;
      text-decoration: none;
      border-bottom: 1px dashed #e5e5e5;
      padding-bottom: 3px;
      &:hover {
        color: #1565c0;
      }
    }
  }

  .need_help {
    margin-top: 30px;
    @include text_align_start();
  }
  .pixeldima-admin-popup-about {
    position: absolute;
    top: 49px;
    bottom: 57px;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 2% 4% 5% 4%;
    //padding: 3em 1em 2em;
    .demo-info {
      @include float_start();
      width: 52%;
      h3 {
        margin-top: 5px;
      }
    }
    .demo-screenshots {
      @include float_start();
      margin: 0;
      @include margin-end(3%);
      width: 45%;
      max-width: 880px;
      text-align: center;
      img {
        height: auto;
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        border: 1px solid #e5e5e5;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      }
      .button {
        width: 130px;
        margin-top: 15px;
      }
    }
  }
  font-size: 16px;
  .pixeldima-admin-buttons {
    margin-bottom: 0;
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 25px 5px;
    background: #f3f3f3;
    z-index: 30;
    box-sizing: border-box;
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
}

.pixeldima-admin-popup-container .pixeldima-admin-buttons:after {
  content: "";
  display: table;
  clear: both;
}

.pixeldima-admin-popup-container .pixeldima-admin-buttons {
  a {
    width: 130px;
    @include margin-start(5px);
  }
}

.pixeldima-admin-popup-container .pixeldima-admin-popup-close {
  position: absolute;
  top: 8px;
  @include end(8px);
  width: 30px;
  height: 30px;
}

.pixeldima-admin-popup-container .pixeldima-admin-popup-close::before,
.pixeldima-admin-popup-container .pixeldima-admin-popup-close::after {
  content: '';
  position: absolute;
  top: 12px;
  width: 14px;
  height: 3px;
  background-color: #32373C;
}

.pixeldima-admin-popup-container .pixeldima-admin-popup-close::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  @include start(8px);
}

.pixeldima-admin-popup-container .pixeldima-admin-popup-close::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  @include end(8px);
}

.is-visible .pixeldima-admin-popup-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

///
// button
//
[class^="pixeldima-"] .button {
  border: none;
  box-shadow: none;
  padding: 8px;
  height: auto;
  background: #3375ff;
  color: #FFFFFF;
  width: 100%;
  border-radius: 3px;

  &.demo-preview {
    background: #4caf50;
    &:hover {
      background-color: #459948;
    }
  }
}

[class^="pixeldima-"] {

  .custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
  }

  input[type=file] {
    display: inline-block;
    color: #444;
    border-radius: 3px;
    padding: 30px 10px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-size: 10pt;
    @include float_end();
    border: 2px dashed #3375ff;
  }
}

[class^="pixeldima-"] .button:hover {
  background: #1565c0;
  color: #FFFFFF;
}

[class^="pixeldima-"] .button.button-primary[disabled] {
  background: #3375ff !important;
  color: #68a0cf !important;
}

[class^="pixeldima-"] .button.button-primary {
  text-shadow: none;
}

[class^="pixeldima-"] .button.button-primary:hover {
  background: #1565c0;
  box-shadow: none;
}

.feature-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  .three {
    width: 30%;
    @include float_start();
    @include padding-end(3%);
    &:last-child {
      @include padding-end(0);
    }
    .dashicons {
      @include margin-end(5px);
    }
  }
}

.dima-customize-toggel {
  @include end(5px);
  @include start(auto !important);
}

.tab_sortable li {
  list-style: none;
  background: #fafafa;
  padding: 10px;
  border: 1px solid #eee;
  cursor: move;
}

.isactive_theme {
  .status {
    &.active {
      position: absolute;
      @include start(-5px);
      top: -5px;
      width: 40px;
      height: 40px;
      font-size: 14px;
      letter-spacing: 3px;
      background: #4caf50;
      color: #fff;
      text-align: center;
    }
    &.not_active {
      position: absolute;
      font-size: 14px;
      letter-spacing: 3px;
      background: #b5b5b5;
      color: #fff;
      text-align: center;
    }
    &.is_home {
      @include start(10px);
      top: 10px;
      width: 30px;
      height: 30px;

      svg {
        fill: #FFFFFF;
        width: 20px;
        height: 30px;
      }
    }
  }
  svg {
    fill: #FFFFFF;
    width: 25px;
    height: 40px;
  }
}

.pixeldima-demos-list {
  .pixeldima-demo-title {
    position: relative;
    text-align: center;
    padding: 12px;
    margin: 0;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
    background: #fff;

    h4.title {
      font-weight: 400;
      margin: 0;
    }
    .tippy {
      position: absolute;
      @include end(20px);
      top: 10px;
    }
    svg {
      top: 12.5px;
      fill: #d4e4ff;
      width: 20px;
      height: 20px;
      @include float_end();
      &:hover {
        fill: #1565c0;
      }
    }
  }

  .pixeldima-demo {
    position: relative;
    width: calc(33.3333% - 20px);
    @if ($global-direction == "rtl") {
      margin: 0 0 30px 30px;
    } @else {
      margin: 0 30px 30px 0;
    }

    @include float_start();
    &:nth-child(3n) {
      @include margin-end(0);
    }
    .pixeldima-demo-screenshot {
      border: 1px solid #e5e5e5;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .info {
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      .btn {
        display: inline-block;
        width: 50%;
        text-align: center;

        .button {
          border-radius: 0;
          text-transform: uppercase;
          letter-spacing: 2px;
        }
      }
    }

    label {
      display: block;
      margin-top: 6px;
      @include margin-end(10px);
    }
  }
}

//progress*/

.dima-main-progress {
  position: fixed;
  display: table;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 40, 45, 0.67);
  z-index: 999999999;
}

.dima-progress-warp {
  display: table-cell;
  width: 100%;
  height: 100%;
  padding: 25px;
  text-align: center;
  vertical-align: middle;
}

.dima-progress-content {
  position: relative;
  width: 100%;
  margin: 4em auto;
  max-width: 500px;
  padding: 30px 0;
  background: #FFF;
  border-radius: .25em .25em .4em .4em;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-40px);
  -moz-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  -o-transform: translateY(-40px);
  transform: translateY(-40px);
  -webkit-backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  opacity: 1;
}

.dima-progress-title {
  overflow: hidden;
  width: 100%;
  margin: 0 0 30px;
  padding: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  white-space: nowrap;
  color: rgb(51, 134, 242);
}

.dima-progress-bar-outer {
  position: relative;
  overflow: hidden;
  height: 4px;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  background-color: rgb(173, 208, 243);
}

.dima-progress-bar-inner {
  background-color: rgb(51, 134, 242);
  &:before {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  }

  &:after {
    content: '';
    position: absolute;
    background-color: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    will-change: left, right;
    -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
    -webkit-animation-delay: 1.15s;
    animation-delay: 1.15s;
  }
}

.done .dima-progress-content {
  opacity: 0;
  -webkit-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
}

@-webkit-keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

//System Staut
table.dima-status-table {
  margin-bottom: 1em;
  th {
    font-weight: 700;
    padding: 9px;
  }
  td {
    padding: 9px;
    font-size: 14px;
    &:first-child {
      width: 33%;
    }
  }
  tr:nth-child(2n) td,
  tr:nth-child(2n) th {
    background: #fcfcfc;
  }

  .dima-system-status-help {
    width: 20px;
  }

  .dima-system-status-green {
    color: #58AD58;
  }
  .dima-system-status-yellow {
    color: #F2E132;
  }
  .dima-system-status-red {
    color: #f2483a;
  }
  .dima-system-status-info {
    color: #C3C3C3;
  }
}

#dima-debug-report {
  display: none;
  margin: 10px 0;
  padding: 0;
  position: relative;
}

.hide {
  display: none;
}

#dima-debug-report textarea {
  font-family: monospace;
  width: 100%;
  margin: 0;
  height: 300px;
  padding: 20px;
  resize: none;
  font-size: 12px;
  line-height: 20px;
  outline: 0;
}

body .pixeldima-home .three {
  background: #ffffff;
  padding: 1.33em;
  box-sizing: border-box;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 3px;
}

.dima-panel-bg1 {
  background: #141a28 url(../../../images/dashboard-img/welcome-1.jpg) no-repeat;
  background-size: cover;
}

.dima-panel-bg2 {
  background: #141a28 url(../../../images/dashboard-img/welcome-2.jpg) no-repeat;
  background-size: cover;
}

.dima-welcome-panel {
  width: calc(100% - 200px);
  height: 300px;
  padding: 50px 100px;
  margin-top: 12px;
  position: relative;
  .pixeldima-warp-welcome {
    z-index: 20;
  }
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    opacity: .7;
    z-index: 0;
  }

  h1 {
    position: relative;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    margin: 65px 0 20px 0;
  }

  .dima-version {
    color: #ffffff;
    width: 80px;
    height: 80px;
    position: absolute;
    text-align: center;
    @include end(-10px);
    top: -10px;
    background-color: #3375ff;
    font-size: 14px;
    line-height: 80px;
  }
  .dima-dash-logo {
    position: absolute;
    top: 0;
    @include start(0);
    padding: 30px;
  }
  p {
    position: relative;
    color: #ffffff;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    margin: 0 100px;
  }
}

#adminmenu li.wp-has-current-submenu a.toplevel_page_pixel-dima-dashboard,
#adminmenu li a.toplevel_page_pixel-dima-dashboard {
  color: #fff;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  &:hover {
    color: #ffffff;
  }
}

.wp-core-ui .dima-primary-button {
  border: none;
  border-radius: inherit;
  box-shadow: none !important;
  text-shadow: none !important;
  text-transform: uppercase;
  letter-spacing: 2px;
  &.dima-button-blue {
    background: #3375ff;
  }
  &.dima-button-green {
    background: #4caf50;
    &:hover {
      background: #459948;
    }
  }

  &.dima-button-red {
    background: #f44336;
    &:hover {
      background: #f44336;
    }
  }
  &.dima-button-warning {
    background: #ff9e00;
    &:hover {
      background: #f08c11;
    }
  }
}

.centerd-btn {
  text-align: center;
  .button {
    display: inline-block;
    margin: 0 10px;
  }
}

.dima-notice {
  position: relative;
  font-size: 18px;
  line-height: 26px;
  padding: 0 !important;
  background: #ffffff;
  border: none;
  margin: 20px auto;
  max-width: 100%;
  text-align: center;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  p {
    color: #444444;
  }
  &.notice {
    display: block !important;
  }
  .dima-notice-content {
    padding: 20px;
  }
}

#dima-page-overlay {
  background: #000000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  opacity: 0;
  transition: opacity 0.2s;
}

#is-cheating {
  display: block !important;
  z-index: 99999;
  position: fixed;
  @include start(50%);
  top: 150px;
  width: 600px;
  @include margin-start(-300px);

  p {
    color: #444444;
  }
}

.dima-notice h3 {
  position: relative;
  margin: 0;
  padding: 15px 20px;
  border: none;
  line-height: 1.4em;
  font-size: 14px;
  color: #ffffff;
  background: #3375ff;
}

.dima-notice.dima-success h3 {
  background: #65b70e;
}

.dima-notice.dima-warning h3 {
  background: #ff9e00;
}

.dima-notice.dima-error h3 {
  background: #f44336;
}

.dima-message-hint {
  background-color: #e3f2fd;
  border: 0 solid #2196f3;
  @include border-start-width(5px);
  margin: 0 !important;
  padding: 20px;
  line-height: 1.9;
  h4 {
    margin-top: 0;
  }
}

.dima-message-hint.dima-message-error {
  background-color: #FFF8F8;
  border-color: #FFA0A0;
  color: #FF3636;
}

#dima-uninstall-demo {
  @include float_end();
  margin-top: -5px;
  width: auto;
}

#follow-pixeldima {
  line-height: 0.9;
  li {
    display: inline-block;
    padding: 0 2px;
  }
}

.demo-import-form {
  width: 60%;
  @include text_align_start();
  overflow: hidden;

  input[type='checkbox'] {
    top: 4px;
    @include start(0);
  }
  p {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    width: 50%;
    @include float_start();
  }
  label {
    display: inline-block;
  }
}