@charset "UTF-8";
$admin_main_color: #2979ff;
$admin_main_color_two: #2962ff;
$admin_therd_color: #d4e4ff;
$admin_header_color: #222222;
$admin_input_bg: #FFF;
$admin_input_bg_active: rgba(241, 245, 249, 0);
$admin_input_border_color: #d4e4ff;
$admin_input_border_color_active: $admin_main_color;

/*-------- GALLERY ---------*/
li.img-status.ui-sortable-handle {
  position: relative;
  width: 75px;
  text-align: center;
  @include float_start();
  cursor: move;
  margin: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img {
    width: 75px;
    height: 75px;
    cursor: move;
  }
}

.cmb-row.cmb-type-file-list.cmb2-id--post-image-gallery {
  ul {
    overflow: hidden;
  }
  .cmb-td {
    padding: 1rem 0 1rem 1rem;
  }
}

.cmb2-remove-wrapper {
  margin: 5px 0 15px 0;
}

/*-------- !GALLERY ---------*/
.dima-meta-content .dima-meta-field {
  position: relative;
  padding: 25px 0;
  overflow: hidden;
  border-bottom: 1px solid #e8f3f9;
}

.dima-meta-content .dima-meta-field:last-child {
  border-bottom: 0;
}

.dima-meta-data {
  width: 50%;
  @include float_end();
}

.dima-meta-desc strong {
  display: block;
  margin: 4px 0 0;
  font-weight: 700;
}

.dima-meta-desc span {
  display: block;
  margin: 6px 0 1px 0;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.wp-admin select {
  height: auto;
}

.dima_upload_button_container {
  display: table-cell;
  width: 95px;
}

.dima-table-cell {
  display: table;
  width: 100%;
}

input.dima-meta-button {
  margin: 0;
  @include margin-start(5px);
  height: 41px;
  width: 90px;
  background: none repeat scroll 0 0 $admin_main_color_two;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;
}

.form-field .wp-picker-default {
  width: auto;
}

.dima-shortcodes-arrow {
  font-family: $FontAwesome;
  font-weight: 900;
  position: absolute;
  color: $admin_main_color_two;
  top: 36px;
  @include end(10px);
  pointer-events: none;
  z-index: 10;
  text-align: center;
  line-height: 32px;
}

#post_images_container ul li.image {
  width: 80px;
  @include float_start();
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box;
}

#post_images_container ul li.image img {
  width: 100%;
  height: auto;
  display: block;
}

//DIMA METABOX*/
//filde*/
.dima-meta-field {
  color: $admin_main_color_two;
}

.dima-global-desc,
.dima-meta-field span {
  color: $admin_main_color_two;
  opacity: 0.7;
}

.dima-global-desc {
  color: $admin_main_color_two;
  opacity: 0.7;
  border-bottom: 1px solid #e8f3f9;
  padding: 30px 0 40px 0;
}

.dima-global-desc:before {
  position: relative;
  content: "\f348";
  font-family: "dashicons";
  font-size: 25px;
  @include padding-end(10px);
  color: $admin_main_color_two;
  top: 7px;
}

.dima-meta-desc {
  width: 45%;
  @include float_start();
}

/*------------ New --------------*/
[id^="dima-meta-box-"],
[id^="dima-sidebar-meta-"] {
  .cmb-type-title {
    .cmb-td {
      background-color: $admin_main_color !important;
      color: #FFFFFF;
      text-align: center;
      padding: 0 !important;
      border: 1px solid $admin_main_color_two;
      height: 65px;
      h5 {
        font-size: 14px !important;
        margin: 0;
      }
    }
  }

  h2.hndle {
    font-size: 18px !important;
    font-weight: 300;
    padding: 8px 20px !important;
    background: $admin_main_color;
    color: #FFFFFF !important;
  }
  .toggle-indicator:before {
    content: "\f460" !important;
    color: #fff;
    border-radius: 0 !important;
    margin-top: 0 !important;
  }
  &.closed .toggle-indicator:before {
    content: "\f132" !important;
  }
  button {
    outline: 0;
  }
}

[id^="dima-meta-box-"] {
  h2.hndle {
    padding: 20px !important;
    @include padding-end(0 !important);
    @include padding-start(30px !important);
    font-size: 18px !important;
  }
  .toggle-indicator:before {
    background: $admin_main_color_two;
    width: 65px !important;
    height: 65px !important;
    line-height: 65px !important;
  }
  .handlediv {
    width: 65px;
    height: 65px;
  }
}

[id^="dima-sidebar-meta-"] {
  .cmb-row.cmb-type-dima-toggle {
    display: table;
    .cmb-th, .cmb-td {
      padding: 1rem;
      @include float_start();
    }
  }
  .cmb-row {
    display: table;
    width: 100%;
    padding: 2em 1.8em !important;
    margin-bottom: 0 !important;
    .cmb-th, .cmb-td {
      padding: 1.5em;
    }
    .cmb-th {
      padding-bottom: 0;
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid #edf5fd;
    }
    .cmb-td {
      width: auto !important;
    }
  }
  .inside {
    padding: 0;
  }
}

[id^="dima-meta-box-"] {
  border: none;
  background: transparent;
  box-shadow: none;
  .inside {
    margin-top: 0 !important;
  }
  .cmb-td .cmb-row {
    position: relative;
    display: table;
    width: 100%;
    padding: 2em 1.8em !important;
    margin-bottom: 0 !important;
    .cmb-th, .cmb-td {
      position: relative;
      display: table-cell;
      padding: 1.5em;
      width: 20%;
      float: none;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid #edf5fd;
    }
    .cmb-th {
      border-right: 1px solid #edf5fd;
    }
    .cmb-td {
      width: auto !important;
      background-color: #f8fbff;
      vertical-align: middle;
    }
  }
}

.dima-switch-button {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;

  input[type="checkbox"] {
    display: none;
  }

  .button-animation {
    display: block;
    width: 100%;
    height: 100%;
    background: $admin_therd_color;
    border-radius: 32px;
    z-index: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    &:active:before {
      transform: scale(1.15, 0.85);
    }
    &:before {
      position: absolute;
      background: $admin_main_color;
      right: -2px;
      top: -3px;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 100px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      content: '';
      transition: all 0.3s ease;

    }

    &.inactive {
      background: #E5E5E5;
      &:before {
        right: 24px;
        background: #fff;
      }
    }
  }
}

.cmb2-wrap input:not([type=hidden]) + .button,
.cmb2-wrap input:not([type=hidden]) + input,
.cmb2-wrap input:not([type=hidden]) + select {
  @include margin-start(20px);
}

/* buttonset --------- */
.cmb2-buttonset {
  @include margin-end(20px);
  display: table-row;
}

.cmb2-buttonset .state-default {
  background-color: #FFFFFF;
  border: 1px solid $admin_input_border_color;
  @if ($global-direction == "rtl") {
    border-left-width: 0;
  } @else {
    border-right-width: 0;
  }
  box-shadow: none !important;
  font-size: 13px;
  overflow: visible;
  vertical-align: middle;
  -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
  -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
  transition: background .3s ease 0s, border-color .3s ease 0s;
  &:hover {
    background-color: $admin_therd_color;
  }
  &:last-child {
    @if ($global-direction == "rtl") {
      border-left-width: 1px;
    } @else {
      border-right-width: 1px;
    }
  }

}

.cmb2-buttonset label.cmb2-buttonset-label:nth-child(2) {
  @if ($global-direction == "rtl") {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  } @else {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  }
}

.cmb2-buttonset label.cmb2-buttonset-label:nth-last-child(1) {
  @if ($global-direction == "rtl") {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
  } @else {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}

.cmb2-buttonset .cmb2-buttonset-label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 15px 20px;
}

.cmb2-buttonset .cmb2-buttonset-label .buttonset-text {
  display: block;
}

.cmb2-buttonset .cmb2-buttonset-label.selected {
  background-color: $admin_main_color_two !important;
  border-color: $admin_main_color_two !important;
  color: #fff !important;
}

.cmb2-buttonset .cmb2-buttonset-item {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  overflow-wrap: normal !important;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* !buttonset --------- */
/*-----Input------*/
[id^="dima-sidebar-meta-"],
[id^="dima-meta-box-"] {
  .cmb2-upload-button {
    position: relative;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    padding: 0 35px;
    margin-top: 0;
    color: #fff;
    background: $admin_main_color;
    border: none;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background .3s ease 0s;
    -moz-transition: background .3s ease 0s;
    transition: background .3s ease 0s;
    &:hover, &:active {
      background: $admin_main_color_two;
      color: #FFFFFF;
    }
  }
  input[type="text"] {
    height: 45px;
    line-height: 45px;
  }
  input[type="text"]:not(.cmb2-upload-file),
  textarea {
    width: 100%;
  }
  input[type="text"].cmb2-upload-file {
    width: 68%;
  }
  input[type="text"]:not(.cmb2-colorpicker),
  input[type="text"]:not(.cmb2-colorpicker),
  input[type="text"]:not(.cmb2-colorpicker),
  textarea {
    font-size: 13px;
    padding: 3px 15px;
    margin: 0;
    color: #282828;
    background: $admin_input_bg;
    border: 1px solid $admin_input_border_color;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
    -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
    transition: background .3s ease 0s, border-color .3s ease 0s;
    &:focus, &:hover {
      background-color: $admin_input_bg_active;
      border-color: $admin_input_border_color_active;
    }
  }
}

/*Select*/
#normal-sortables select,
#advanced-sortables select,
#side-sortables select {
  width: 100%;
  height: 45px;
  min-height: 45px;
  line-height: 43px;
  padding: 0 10px;
  @if ($global-direction == "rtl") {
    background: $admin_input_bg url(../images/ic_keyboard_arrow_down_black_24px.svg) left 10px center no-repeat;
  } @else {
    background: $admin_input_bg url(../images/ic_keyboard_arrow_down_black_24px.svg) right 10px center no-repeat;
  }
  border: 1px solid $admin_input_border_color;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-transition: background-color .3s ease, border-color .3s ease;
  -moz-transition: background-color .3s ease, border-color .3s ease;
  transition: background-color .3s ease, border-color .3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  &:focus, &:hover {
    background-color: $admin_input_bg_active;
    border-color: $admin_input_border_color_active;
  }
}

/*!Select*/

/* image-select ------------- */
.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list {
  margin: 0 !important;
}

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select input[type="radio"] {
  display: none;
}

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select {
  display: inline-block;
  margin: 0 10px 20px 0;
  min-width: 65px;
}

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select img {
  opacity: .6;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none;
  &:hover {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.15);
  }
}

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select.cmb2-image-select-selected img {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.15);
}

.cmb2-metabox-description {
  font-size: 13px;
  color: #8c9eff;
  font-style: italic;
  margin: 10px 0;
  display: block;
}

/*-----!Input------*/
.dima-help {
  position: relative;
  @include float_end();
  @include margin-start(10px);
  svg {
    fill: $admin_therd_color;
    width: 20px;
    height: 20px;
  }
  &:hover {
    svg {
      fill: $admin_main_color_two;
    }
  }
}

.tippy-tooltip {
  font-style: italic;
  font-size: 13px;
}

/*------------ !New --------------*/
/*------------ TABS ---------------*/

.ui-tabs {
  .inside:after, .ui-tabs-nav:after, &:after {
    clear: both;
  }
  .inside:after, .ui-tabs-nav:after {
    content: ' ';
    display: block;
  }
}

.ui-tabs-vertical .cmb2-wrap .cmb-row:after, .ui-tabs:after {
  content: ' ';
  display: block;
}

div.cmb-type-tabs {
  padding: 0 !important;
  margin: -8px -12px -12px !important;
}

.ui-tabs {
  position: relative;
}

.cmb2-options-page {
  div.cmb-type-tabs {
    padding: 0 !important;
    margin: 0 !important;
  }
  .ui-tabs {
    margin: 0 -10px;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  }
}

.ui-tabs {
  h2.hndle {
    background: #fff;
  }
  .ui-tabs-nav {
    margin: 6px 0 0 10px;
    li {
      list-style: none;
      @include float_start();
      position: relative;
      top: 0;
      margin: 0;
      white-space: nowrap;
      a {
        display: block;
        text-decoration: none;
        font-size: 14px;
        line-height: 18px;
        padding: 10px 20px !important;
        &:focus {
          -webkit-box-shadow: none;
          box-shadow: none;
        }
      }
    }
  }

  &.ui-tabs-horizontal .ui-tabs-nav .ui-tabs-anchor {
    @include float_start();
    padding: .5em 1em;
    text-decoration: none;
  }
  .ui-tabs-nav li {
    &.ui-tabs-active {
      a {
        z-index: 50 !important;
        background-color: #FFF;
      }
    }
    &.ui-state-disabled .ui-tabs-anchor, &.ui-tabs-active .ui-tabs-anchor, &.ui-tabs-loading .ui-tabs-anchor {
      cursor: default;
    }
  }
}

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer;
}

.ui-tabs {
  .ui-tabs-panel {
    display: block;
    border: none;
    border-top: 1px solid #E1E1E1;
    margin: 0;
    background: #fff !important;
    h3 {
      border-bottom: 1px solid #e9e9e9;
    }
  }
  .inside {
    margin: 0 !important;
    padding: 0;
  }
}

.ui-tabs-vertical {
  padding-top: 0;
  .ui-tabs-nav {
    @include float_start();
    width: 20%;
    margin: 0;
    position: relative;
    z-index: 10;
    li {
      width: 100%;
      // @include text_align_end();
      &:first-child {
        a {
          border-top: none;
        }
      }
      &:last-child {
        a {
          @if ($global-direction == "rtl") {
            border-bottom-right-radius: 3px;
          } @else {
            border-bottom-left-radius: 3px;
          }
        }
      }

      a {
        padding: 24px 30px !important;
        background-color: $admin_main_color;
        color: #FFFFFF;
        font-weight: 400;
        border-top: 1px solid $admin_main_color_two;
        -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
        -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
        transition: background .3s ease 0s, border-color .3s ease 0s;
        &:hover {
          background-color: $admin_main_color;
        }

        svg, i {
          @include float_start();
        }
        svg {
          position: relative;
          top: -1px;
          width: 22px;
          height: 20px;
          fill: currentcolor;
          @include margin-end(10px);
          path {
            fill: currentcolor;
          }
        }
      }

      &.ui-tabs-active a {
        z-index: 50 !important;
        background-color: #FFFFFF;
        color: $admin_main_color_two;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
      }
    }
  }
  .ui-tabs-panel {
    position: relative;
    border: none;
    @include float_start();
    width: calc(80%);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 15;
  }
  .cmb2-wrap {
    .cmb-row {
      margin: 6px 0;
      &:after {
        clear: both;
      }
    }
    .cmb-th {
      @include float_start();
      width: 14%;
      min-height: 32px;
      line-height: 32px;
      @include margin-end(1%);
    }
    .cmb-td {
      @include float_start();
      width: 85%;
      span.after_field {
        display: inline-block;
        width: 90px;
        font-size: 13px;
        padding: 0 5px;
      }
    }
  }
}

/*--------Color----------*/
.cmb2-metabox .wp-picker-container .wp-color-result {
  position: relative;
  height: 43px;
  @include padding-start(45px);
  @include margin-end(5px);
  margin-bottom: 0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease;
}

.cmb2-metabox .wp-picker-container .wp-color-result:after,
.vc_ui-panel .wp-picker-container .wp-color-result:after {
  line-height: 43px;
  padding: 0 15px;
  background: #fff;
  @if ($global-direction == "rtl") {
    border-right-style: solid;
  } @else {
    border-left-style: solid;
  }
}

#normal-sortables input[type="text"].cmb2-colorpicker,
#advanced-sortables input[type="text"].cmb2-colorpicker,
#side-sortables input[type="text"].cmb2-colorpicker {
  max-width: 170px !important;
  width: 170px;
}

/* slider meta field ------------------- */
.cmb-type-slider .ui-slider-horizontal {
  height: 5px;
}

.cmb-type-slider .ui-slider-horizontal.ui-widget-content {
  position: relative;
  color: #222222;
  background: $admin_therd_color;
  display: inline-block;
  @include margin-end(25px);
  vertical-align: middle;
  width: 100%;
}

.cmb-type-slider .ui-slider-horizontal .ui-slider-handle {
  @include margin-start(0);
  top: -0.445em;
}

.cmb-type-slider .ui-slider-horizontal .ui-slider-handle:not([style="left: 0%;"]) {
  @include margin-start(-10px);
}

.cmb-type-slider .ui-slider .ui-slider-handle {
  position: absolute;
  height: 20px;
  width: 20px;
  background: $admin_main_color_two !important;
  border-radius: 99rem;
  cursor: default;
  top: -9px;
}

.cmb-type-slider .ui-slider .ui-slider-handle:after {
  @include start(17px);
}

.cmb-type-slider .ui-slider-range.ui-widget-header {
  background: $admin_main_color_two;
  height: 5px;
}

.cmb-type-slider .cmb2-slider-value-display {
  margin-top: 8px;
  @include float_start();
}

.cmb-type-slider .cmb2-slider-field-value-display {
  @include float_end();
  font-weight: 400;
  font-size: 12px;
  color: #888;
  padding-top: .5em;
}

/*--------!Color----------*/

/*Fix Tab on prudeact*/
.cmb2-wrap {
  .ui-widget-content {
    border: none;
    background: inherit;
    color: inherit;
  }
  .ui-tabs,
  .ui-tabs .ui-tabs-panel,
  .ui-tabs .ui-tabs-nav {
    padding: 0;
  }
  .ui-tabs .ui-tabs-nav li {
    margin: 0;
  }
  .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    float: none;
  }
  .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
  .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
  .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
    cursor: pointer;
  }
  .ui-widget-header,
  .ui-state-default, .ui-widget-content .ui-state-default,
  .ui-widget-header .ui-state-default {
    border: none;
    background: none;
    font-weight: normal;
    color: inherit;
  }
}

/* --------- Gutenberg ---------- */
body {
  .editor-layout__metaboxes:not(:empty) .editor-meta-boxes-iframe {
    width: 90%;
  }
  /* After wp 4.9 test it*/
  .wp-core-ui .notice.is-dismissible {
    padding-right: 38px;
    position: relative;
    top: 53px;
    right: 0;
    min-width: 300px;
    max-width: 550px;
    z-index: 9989;
  }
}