/*-------- GALLERY ---------*/
li.img-status.ui-sortable-handle {
  position: relative;
  width: 75px;
  text-align: center;
  float: right;
  cursor: move;
  margin: 10px 10px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  li.img-status.ui-sortable-handle img {
    width: 75px;
    height: 75px;
    cursor: move; }

.cmb-row.cmb-type-file-list.cmb2-id--post-image-gallery ul {
  overflow: hidden; }
.cmb-row.cmb-type-file-list.cmb2-id--post-image-gallery .cmb-td {
  padding: 1rem 0 1rem 1rem; }

.cmb2-remove-wrapper {
  margin: 5px 0 15px 0; }

/*-------- !GALLERY ---------*/
.dima-meta-content .dima-meta-field {
  position: relative;
  padding: 25px 0;
  overflow: hidden;
  border-bottom: 1px solid #e8f3f9; }

.dima-meta-content .dima-meta-field:last-child {
  border-bottom: 0; }

.dima-meta-data {
  width: 50%;
  float: left; }

.dima-meta-desc strong {
  display: block;
  margin: 4px 0 0;
  font-weight: 700; }

.dima-meta-desc span {
  display: block;
  margin: 6px 0 1px 0;
  line-height: 1.5;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease; }

.wp-admin select {
  height: auto; }

.dima_upload_button_container {
  display: table-cell;
  width: 95px; }

.dima-table-cell {
  display: table;
  width: 100%; }

input.dima-meta-button {
  margin: 0;
  margin-right: 5px;
  height: 41px;
  width: 90px;
  background: none repeat scroll 0 0 #2962ff;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px; }

.form-field .wp-picker-default {
  width: auto; }

.dima-shortcodes-arrow {
  font-family: 'FontAwesome';
  position: absolute;
  color: #2962ff;
  top: 36px;
  left: 10px;
  pointer-events: none;
  z-index: 10;
  text-align: center;
  line-height: 32px; }

#post_images_container ul li.image {
  width: 80px;
  float: right;
  cursor: move;
  border: 1px solid #d5d5d5;
  margin: 9px 9px 0 0;
  background: #f7f7f7;
  border-radius: 2px;
  position: relative;
  box-sizing: border-box; }

#post_images_container ul li.image img {
  width: 100%;
  height: auto;
  display: block; }

.dima-meta-field {
  color: #2962ff; }

.dima-global-desc,
.dima-meta-field span {
  color: #2962ff;
  opacity: 0.7; }

.dima-global-desc {
  color: #2962ff;
  opacity: 0.7;
  border-bottom: 1px solid #e8f3f9;
  padding: 30px 0 40px 0; }

.dima-global-desc:before {
  position: relative;
  content: "\f348";
  font-family: "dashicons";
  font-size: 25px;
  padding-left: 10px;
  color: #2962ff;
  top: 7px; }

.dima-meta-desc {
  width: 45%;
  float: right; }

/*------------ New --------------*/
[id^="dima-meta-box-"] .cmb-type-title .cmb-td,
[id^="dima-sidebar-meta-"] .cmb-type-title .cmb-td {
  background-color: #2979ff !important;
  color: #FFFFFF;
  text-align: center;
  padding: 0 !important;
  border: 1px solid #2962ff;
  height: 65px; }
  [id^="dima-meta-box-"] .cmb-type-title .cmb-td h5,
  [id^="dima-sidebar-meta-"] .cmb-type-title .cmb-td h5 {
    font-size: 14px !important;
    margin: 0; }
[id^="dima-meta-box-"] h2.hndle,
[id^="dima-sidebar-meta-"] h2.hndle {
  font-size: 18px !important;
  font-weight: 300;
  padding: 8px 20px !important;
  background: #2979ff;
  color: #FFFFFF !important; }
[id^="dima-meta-box-"] .toggle-indicator:before,
[id^="dima-sidebar-meta-"] .toggle-indicator:before {
  content: "\f460" !important;
  color: #fff;
  border-radius: 0 !important;
  margin-top: 0 !important; }
[id^="dima-meta-box-"].closed .toggle-indicator:before,
[id^="dima-sidebar-meta-"].closed .toggle-indicator:before {
  content: "\f132" !important; }
[id^="dima-meta-box-"] button,
[id^="dima-sidebar-meta-"] button {
  outline: 0; }

[id^="dima-meta-box-"] h2.hndle {
  padding: 20px !important;
  padding-left: 0 !important;
  padding-right: 30px !important;
  font-size: 18px !important; }
[id^="dima-meta-box-"] .toggle-indicator:before {
  background: #2962ff;
  width: 65px !important;
  height: 65px !important;
  line-height: 65px !important; }
[id^="dima-meta-box-"] .handlediv {
  width: 65px;
  height: 65px; }

[id^="dima-sidebar-meta-"] .cmb-row.cmb-type-dima-toggle {
  display: table; }
  [id^="dima-sidebar-meta-"] .cmb-row.cmb-type-dima-toggle .cmb-th, [id^="dima-sidebar-meta-"] .cmb-row.cmb-type-dima-toggle .cmb-td {
    padding: 1rem;
    float: right; }
[id^="dima-sidebar-meta-"] .cmb-row {
  display: table;
  width: 100%;
  padding: 2em 1.8em !important;
  margin-bottom: 0 !important; }
  [id^="dima-sidebar-meta-"] .cmb-row .cmb-th, [id^="dima-sidebar-meta-"] .cmb-row .cmb-td {
    padding: 1.5em; }
  [id^="dima-sidebar-meta-"] .cmb-row .cmb-th {
    padding-bottom: 0; }
  [id^="dima-sidebar-meta-"] .cmb-row:not(:last-of-type) {
    border-bottom: 1px solid #edf5fd; }
  [id^="dima-sidebar-meta-"] .cmb-row .cmb-td {
    width: auto !important; }
[id^="dima-sidebar-meta-"] .inside {
  padding: 0; }

[id^="dima-meta-box-"] {
  border: none;
  background: transparent;
  box-shadow: none; }
  [id^="dima-meta-box-"] .inside {
    margin-top: 0 !important; }
  [id^="dima-meta-box-"] .cmb-td .cmb-row {
    position: relative;
    display: table;
    width: 100%;
    padding: 2em 1.8em !important;
    margin-bottom: 0 !important; }
    [id^="dima-meta-box-"] .cmb-td .cmb-row .cmb-th, [id^="dima-meta-box-"] .cmb-td .cmb-row .cmb-td {
      position: relative;
      display: table-cell;
      padding: 1.5em;
      width: 20%;
      float: none; }
    [id^="dima-meta-box-"] .cmb-td .cmb-row:not(:last-of-type) {
      border-bottom: 1px solid #edf5fd; }
    [id^="dima-meta-box-"] .cmb-td .cmb-row .cmb-th {
      border-right: 1px solid #edf5fd; }
    [id^="dima-meta-box-"] .cmb-td .cmb-row .cmb-td {
      width: auto !important;
      background-color: #f8fbff;
      vertical-align: middle; }

.dima-switch-button {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease; }
  .dima-switch-button input[type="checkbox"] {
    display: none; }
  .dima-switch-button .button-animation {
    display: block;
    width: 100%;
    height: 100%;
    background: #d4e4ff;
    border-radius: 32px;
    z-index: 0;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    transition: all .3s ease 0s; }
    .dima-switch-button .button-animation:active:before {
      transform: scale(1.15, 0.85); }
    .dima-switch-button .button-animation:before {
      position: absolute;
      background: #2979ff;
      right: -2px;
      top: -3px;
      display: block;
      width: 26px;
      height: 26px;
      border-radius: 100px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      content: '';
      transition: all 0.3s ease; }
    .dima-switch-button .button-animation.inactive {
      background: #E5E5E5; }
      .dima-switch-button .button-animation.inactive:before {
        right: 24px;
        background: #fff; }

.cmb2-wrap input:not([type=hidden]) + .button,
.cmb2-wrap input:not([type=hidden]) + input,
.cmb2-wrap input:not([type=hidden]) + select {
  margin-right: 20px; }

/* buttonset --------- */
.cmb2-buttonset {
  margin-left: 20px;
  display: table-row; }

.cmb2-buttonset .state-default {
  background-color: #FFFFFF;
  border: 1px solid #d4e4ff;
  border-left-width: 0;
  box-shadow: none !important;
  font-size: 13px;
  overflow: visible;
  vertical-align: middle;
  -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
  -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
  transition: background .3s ease 0s, border-color .3s ease 0s; }
  .cmb2-buttonset .state-default:hover {
    background-color: #d4e4ff; }
  .cmb2-buttonset .state-default:last-child {
    border-left-width: 1px; }

.cmb2-buttonset label.cmb2-buttonset-label:nth-child(2) {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px; }

.cmb2-buttonset label.cmb2-buttonset-label:nth-last-child(1) {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px; }

.cmb2-buttonset .cmb2-buttonset-label {
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  line-height: normal;
  padding: 15px 20px; }

.cmb2-buttonset .cmb2-buttonset-label .buttonset-text {
  display: block; }

.cmb2-buttonset .cmb2-buttonset-label.selected {
  background-color: #2962ff !important;
  border-color: #2962ff !important;
  color: #fff !important; }

.cmb2-buttonset .cmb2-buttonset-item {
  border: 0 none;
  clip: rect(0px, 0px, 0px, 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  overflow-wrap: normal !important;
  padding: 0;
  position: absolute;
  width: 1px; }

/* !buttonset --------- */
/*-----Input------*/
[id^="dima-sidebar-meta-"] .cmb2-upload-button,
[id^="dima-meta-box-"] .cmb2-upload-button {
  position: relative;
  font-weight: bold;
  height: 45px;
  line-height: 45px;
  padding: 0 35px;
  margin-top: 0;
  color: #fff;
  background: #2979ff;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .3s ease 0s;
  -moz-transition: background .3s ease 0s;
  transition: background .3s ease 0s; }
  [id^="dima-sidebar-meta-"] .cmb2-upload-button:hover, [id^="dima-sidebar-meta-"] .cmb2-upload-button:active,
  [id^="dima-meta-box-"] .cmb2-upload-button:hover,
  [id^="dima-meta-box-"] .cmb2-upload-button:active {
    background: #2962ff;
    color: #FFFFFF; }
[id^="dima-sidebar-meta-"] input[type="text"],
[id^="dima-meta-box-"] input[type="text"] {
  height: 45px;
  line-height: 45px; }
[id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-upload-file),
[id^="dima-sidebar-meta-"] textarea,
[id^="dima-meta-box-"] input[type="text"]:not(.cmb2-upload-file),
[id^="dima-meta-box-"] textarea {
  width: 100%; }
[id^="dima-sidebar-meta-"] input[type="text"].cmb2-upload-file,
[id^="dima-meta-box-"] input[type="text"].cmb2-upload-file {
  width: 68%; }
[id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-sidebar-meta-"] textarea,
[id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker),
[id^="dima-meta-box-"] textarea {
  font-size: 13px;
  padding: 3px 15px;
  margin: 0;
  color: #282828;
  background: #FFF;
  border: 1px solid #d4e4ff;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
  -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
  transition: background .3s ease 0s, border-color .3s ease 0s; }
  [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):focus, [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):focus,
  [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):focus,
  [id^="dima-sidebar-meta-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-sidebar-meta-"] textarea:focus,
  [id^="dima-sidebar-meta-"] textarea:hover,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):focus,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):focus,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):focus,
  [id^="dima-meta-box-"] input[type="text"]:not(.cmb2-colorpicker):hover,
  [id^="dima-meta-box-"] textarea:focus,
  [id^="dima-meta-box-"] textarea:hover {
    background-color: rgba(241, 245, 249, 0);
    border-color: #2979ff; }

/*Select*/
#normal-sortables select,
#advanced-sortables select,
#side-sortables select {
  width: 100%;
  height: 45px;
  min-height: 45px;
  line-height: 43px;
  padding: 0 10px;
  background: #FFF url(../images/ic_keyboard_arrow_down_black_24px.svg) left 10px center no-repeat;
  border: 1px solid #d4e4ff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 3px;
  -webkit-transition: background-color .3s ease, border-color .3s ease;
  -moz-transition: background-color .3s ease, border-color .3s ease;
  transition: background-color .3s ease, border-color .3s ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  #normal-sortables select:focus, #normal-sortables select:hover,
  #advanced-sortables select:focus,
  #advanced-sortables select:hover,
  #side-sortables select:focus,
  #side-sortables select:hover {
    background-color: rgba(241, 245, 249, 0);
    border-color: #2979ff; }

/*!Select*/
/* image-select ------------- */
.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list {
  margin: 0 !important; }

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select input[type="radio"] {
  display: none; }

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select {
  display: inline-block;
  margin: 0 10px 20px 0;
  min-width: 65px; }

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select img {
  opacity: .6;
  -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  transition: all 250ms;
  -webkit-appearance: none;
  -moz-appearance: none;
  box-shadow: none; }
  .cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select img:hover {
    opacity: 1;
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.15); }

.cmb-row.cmb-type-dima-image-select .cmb2-image-select-list .cmb2-image-select.cmb2-image-select-selected img {
  opacity: 1;
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.15); }

.cmb2-metabox-description {
  font-size: 13px;
  color: #8c9eff;
  font-style: italic;
  margin: 10px 0;
  display: block; }

/*-----!Input------*/
.dima-help {
  position: relative;
  float: left;
  margin-right: 10px; }
  .dima-help svg {
    fill: #d4e4ff;
    width: 20px;
    height: 20px; }
  .dima-help:hover svg {
    fill: #2962ff; }

.tippy-tooltip {
  font-style: italic;
  font-size: 13px; }

/*------------ !New --------------*/
/*------------ TABS ---------------*/
.ui-tabs .inside:after, .ui-tabs .ui-tabs-nav:after, .ui-tabs:after {
  clear: both; }
.ui-tabs .inside:after, .ui-tabs .ui-tabs-nav:after {
  content: ' ';
  display: block; }

.ui-tabs-vertical .cmb2-wrap .cmb-row:after, .ui-tabs:after {
  content: ' ';
  display: block; }

div.cmb-type-tabs {
  padding: 0 !important;
  margin: -8px -12px -12px !important; }

.ui-tabs {
  position: relative; }

.cmb2-options-page div.cmb-type-tabs {
  padding: 0 !important;
  margin: 0 !important; }
.cmb2-options-page .ui-tabs {
  margin: 0 -10px;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04); }

.ui-tabs h2.hndle {
  background: #fff; }
.ui-tabs .ui-tabs-nav {
  margin: 6px 0 0 10px; }
  .ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: right;
    position: relative;
    top: 0;
    margin: 0;
    white-space: nowrap; }
    .ui-tabs .ui-tabs-nav li a {
      display: block;
      text-decoration: none;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 20px !important; }
      .ui-tabs .ui-tabs-nav li a:focus {
        -webkit-box-shadow: none;
        box-shadow: none; }
.ui-tabs.ui-tabs-horizontal .ui-tabs-nav .ui-tabs-anchor {
  float: right;
  padding: .5em 1em;
  text-decoration: none; }
.ui-tabs .ui-tabs-nav li.ui-tabs-active a {
  z-index: 50 !important;
  background-color: #FFF; }
.ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: default; }

.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor {
  cursor: pointer; }

.ui-tabs .ui-tabs-panel {
  display: block;
  border: none;
  border-top: 1px solid #E1E1E1;
  margin: 0;
  background: #fff !important; }
  .ui-tabs .ui-tabs-panel h3 {
    border-bottom: 1px solid #e9e9e9; }
.ui-tabs .inside {
  margin: 0 !important;
  padding: 0; }

.ui-tabs-vertical {
  padding-top: 0; }
  .ui-tabs-vertical .ui-tabs-nav {
    float: right;
    width: 20%;
    margin: 0;
    position: relative;
    z-index: 10; }
    .ui-tabs-vertical .ui-tabs-nav li {
      width: 100%; }
      .ui-tabs-vertical .ui-tabs-nav li:first-child a {
        border-top: none; }
      .ui-tabs-vertical .ui-tabs-nav li:last-child a {
        border-bottom-right-radius: 3px; }
      .ui-tabs-vertical .ui-tabs-nav li a {
        padding: 24px 30px !important;
        background-color: #2979ff;
        color: #FFFFFF;
        font-weight: 400;
        border-top: 1px solid #2962ff;
        -webkit-transition: background .3s ease 0s, border-color .3s ease 0s;
        -moz-transition: background .3s ease 0s, border-color .3s ease 0s;
        transition: background .3s ease 0s, border-color .3s ease 0s; }
        .ui-tabs-vertical .ui-tabs-nav li a:hover {
          background-color: #2979ff; }
        .ui-tabs-vertical .ui-tabs-nav li a svg, .ui-tabs-vertical .ui-tabs-nav li a i {
          float: right; }
        .ui-tabs-vertical .ui-tabs-nav li a svg {
          position: relative;
          top: -1px;
          width: 22px;
          height: 20px;
          fill: currentcolor;
          margin-left: 10px; }
          .ui-tabs-vertical .ui-tabs-nav li a svg path {
            fill: currentcolor; }
      .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active a {
        z-index: 50 !important;
        background-color: #FFFFFF;
        color: #2962ff;
        box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05); }
  .ui-tabs-vertical .ui-tabs-panel {
    position: relative;
    border: none;
    float: right;
    width: calc(80%);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
    z-index: 15; }
  .ui-tabs-vertical .cmb2-wrap .cmb-row {
    margin: 6px 0; }
    .ui-tabs-vertical .cmb2-wrap .cmb-row:after {
      clear: both; }
  .ui-tabs-vertical .cmb2-wrap .cmb-th {
    float: right;
    width: 14%;
    min-height: 32px;
    line-height: 32px;
    margin-left: 1%; }
  .ui-tabs-vertical .cmb2-wrap .cmb-td {
    float: right;
    width: 85%; }
    .ui-tabs-vertical .cmb2-wrap .cmb-td span.after_field {
      display: inline-block;
      width: 90px;
      font-size: 13px;
      padding: 0 5px; }

/*--------Color----------*/
.cmb2-metabox .wp-picker-container .wp-color-result {
  position: relative;
  height: 43px;
  padding-right: 45px;
  margin-left: 5px;
  margin-bottom: 0;
  border-style: solid;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.cmb2-metabox .wp-picker-container .wp-color-result:after,
.vc_ui-panel .wp-picker-container .wp-color-result:after {
  line-height: 43px;
  padding: 0 15px;
  background: #fff;
  border-right-style: solid; }

#normal-sortables input[type="text"].cmb2-colorpicker,
#advanced-sortables input[type="text"].cmb2-colorpicker,
#side-sortables input[type="text"].cmb2-colorpicker {
  max-width: 170px !important;
  width: 170px; }

/* slider meta field ------------------- */
.cmb-type-slider .ui-slider-horizontal {
  height: 5px; }

.cmb-type-slider .ui-slider-horizontal.ui-widget-content {
  position: relative;
  color: #222222;
  background: #d4e4ff;
  display: inline-block;
  margin-left: 25px;
  vertical-align: middle;
  width: 100%; }

.cmb-type-slider .ui-slider-horizontal .ui-slider-handle {
  margin-right: 0;
  top: -0.445em; }

.cmb-type-slider .ui-slider-horizontal .ui-slider-handle:not([style="left: 0%;"]) {
  margin-right: -10px; }

.cmb-type-slider .ui-slider .ui-slider-handle {
  position: absolute;
  height: 20px;
  width: 20px;
  background: #2962ff !important;
  border-radius: 99rem;
  cursor: default;
  top: -9px; }

.cmb-type-slider .ui-slider .ui-slider-handle:after {
  right: 17px; }

.cmb-type-slider .ui-slider-range.ui-widget-header {
  background: #2962ff;
  height: 5px; }

.cmb-type-slider .cmb2-slider-value-display {
  margin-top: 8px;
  float: right; }

.cmb-type-slider .cmb2-slider-field-value-display {
  float: left;
  font-weight: 400;
  font-size: 12px;
  color: #888;
  padding-top: .5em; }

/*--------!Color----------*/
/*Fix Tab on prudeact*/
.cmb2-wrap .ui-widget-content {
  border: none;
  background: inherit;
  color: inherit; }
.cmb2-wrap .ui-tabs,
.cmb2-wrap .ui-tabs .ui-tabs-panel,
.cmb2-wrap .ui-tabs .ui-tabs-nav {
  padding: 0; }
.cmb2-wrap .ui-tabs .ui-tabs-nav li {
  margin: 0; }
.cmb2-wrap .ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  float: none; }
.cmb2-wrap .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor,
.cmb2-wrap .ui-tabs .ui-tabs-nav li.ui-state-disabled .ui-tabs-anchor,
.cmb2-wrap .ui-tabs .ui-tabs-nav li.ui-tabs-loading .ui-tabs-anchor {
  cursor: pointer; }
.cmb2-wrap .ui-widget-header,
.cmb2-wrap .ui-state-default, .cmb2-wrap .ui-widget-content .ui-state-default,
.cmb2-wrap .ui-widget-header .ui-state-default {
  border: none;
  background: none;
  font-weight: normal;
  color: inherit; }

/* --------- Gutenberg ---------- */
body {
  /* After wp 4.9 test it*/ }
  body .editor-layout__metaboxes:not(:empty) .editor-meta-boxes-iframe {
    width: 90%; }
  body .wp-core-ui .notice.is-dismissible {
    padding-right: 38px;
    position: relative;
    top: 53px;
    right: 0;
    min-width: 300px;
    max-width: 550px;
    z-index: 9989; }

/*# sourceMappingURL=meta-rtl.css.map */
