.bbp-breadcrumb {
  display: none;
}

.bbp-footer {
  display: none;
}

#bbpress-forums .bbp-replies .bbp-header {
  display: none;
}

#bbpress-forums {
  > #subscription-toggle {
    display: none;
  }
}

.bbp-search-results {
  li.bbp-header {
    display: none;
  }
}

#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  display: none;
}

#bbpress-forums ul.bbp-search-results,
#bbpress-forums ul.bbp-replies {
  border: none;
}

#bbpress-forums div.bbp-reply-content {
  padding: 0;
  @include margin-start(px-to-rem(130));
  position: relative;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
  padding: 30px;
}

.bbp-forum-title {
  color: $header-font-color !important;
  .bbp-topic-permalink {
    color: $header-font-color !important;
  }
}

div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  clear: none;
  border-top: none;
  background-color: $header-font-color !important;
  padding: px-to-rem($sp_elms - 5) px-to-rem($sp_elms);
  margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
}

li.bbp-body div.hentry {
  padding-bottom: 30px;
}

#bbpress-forums fieldset.bbp-form label,
#bbpress-forums div.bbp-reply-author .bbp-author-role,
span.bbp-admin-links a,
.bbp-topic-tags p,
div.bbp-template-notice p,
.bbp-pagination-count {
  font-size: $base-font-size+px;
  line-height: $base-font-size+px;
  margin-bottom: 5px;
}

.bbp-admin-links {
  color: rgba(#fff, 0.6);
  a {
    &:hover {
      color: rgba(#fff, 1);
    }
  }
}

div.bbp-template-notice {
  position: relative;
  margin-bottom: px-to-rem($sp_elms);
  padding: px-to-rem($sp_elms_sd - 5) px-to-rem($sp_elms_sd);
  clear: both;
  border: none;
  background-color: $warning-color !important;
  color: $warning-color-txt;

  a {
    color: #FFF;
    border-bottom: 1px dotted #FFFFFF;
    &:hover {
      color: #FFF;
      border-bottom: none;
    }
  }
  p {
    color: $warning-color-txt;
    display: inline;
  }
  &.info {
    background-color: $info-color !important;
  }

}

#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
  margin-top: 0;
  border-radius: 99em;
  margin-bottom: 15px;
}

#bbpress-forums div.wp-editor-container,
#wp-bbp_reply_content-editor-container {
  border: 1px solid $border-color;
}

#bbpress-forums fieldset.bbp-form {
  padding: 0;
  border: none;
}

#bbpress-forums fieldset.bbp-form legend {
  font-family: $font-family-headings;
  font-size: 18px;
  line-height: 1.3em;
  color: $header-font-color;
  font-weight: $h-weight;
  margin-bottom: px-to-rem($sp_conected_elms);
  @include float_start();
}

//Border color*/
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results,
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border: none;
  @include font-size($base-font-size, 16);
}

div.bbp-submit-wrapper {
  float: none;
  margin-top: px-to-rem(30);
  @include font-size($base-font-size, 16);
}

.bbp-pagination-links a,
.bbp-pagination-links span.current {
  padding: 0 13px;
}

#bbpress-forums ul.topic {
  &.sticky, &.super-sticky {
    background-color: #fff !important;
    position: relative;
    &.odd {
      background-color: $title_con_bg !important;
    }
    &:before {
      position: absolute;
      @include start(0);
      top: 3px;
      content: '';
      width: 5px;
      height: 93%;
      background: #4caf50;
    }
  }
}

#bbpress-forums p.bbp-topic-meta,
#bbpress-forums .bbp-forum-info .bbp-forum-content {
  @include font-size($p, $base-line-height);
}

.bbp-search-form,
#bbpress-forums .bbp-search-form #bbp_search,
.bbp-search-form #bbp_search,
#bbpress-forums #bbp-search-form #bbp_search {
  width: 100%;
  font-size: $base-font-size+px;
  .bbp-topic-freshness {
    a:not('.bbp-author-name') {
      color: $body-text-color;
    }
  }
}

#bbpress-forums #bbp-search-form #bbp_search {
  margin-bottom: 30px;
}

#bbpress-forums li {
  position: relative;
  &.bbp-header {
    background: $header-font-color;
    color: #FFF;
    text-align: center;
    vertical-align: middle;
    font-size: 18px;
    padding-bottom: px-to-rem(25);
    font-weight: $p-weight;
    font-family: $font-family-base $font-family-headings;
    @include text_align_start();
    @if $global-direction == "rtl" {
      padding: px-to-rem(30) px-to-rem(30) px-to-rem(30) 0;
    } @else {
      padding: px-to-rem(30) 0 px-to-rem(30) px-to-rem(30);
    }

  }
}

#bbpress-forums ul.odd {
  background: $title_con_bg;
}

#bbpress-forums div.odd {
  background: transparent;
}

//account*/
#bbpress-forums #bbp-single-user-details {
  width: 100%;
  margin-bottom: 30px;
  float: none;
  text-align: center;

  .fima-bbp-user-header {
    @include float_start();
    @include margin-end(15px);
  }
}

#bbpress-forums #bbp-user-body {
  margin: 0;
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
  @include float_start();
  width: 33.33%;
  font-size: $base-font-size+px;
  @include text_align_start();

  a {
    color: $body-text-color;
    &:hover {
      color: $theme-color;
    }
  }
}

#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
  width: 90px;
  img.avatar {
    width: 80px;
    height: 80px;
    border-radius: 99em;
    margin-bottom: 10px;
  }
}

#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  background: transparent;
  color: $theme-color;
}

.bbp-login-form .bbp-submit-wrapper {
  @include text_align_start();
}

.bbp-topic-tags {
  line-height: 1;
  text-align: center;
  span, a {
    font-size: $base-font-size+px;
  }
}

.tags {
  .is-subscribed,
  .is-favorite {
    a {
      background: $theme-color;
      color: #ffffff;
      border-color: $theme-color;
    }
  }
}

.bbp-topic-tags,
.dima-bbp-header .actions {
  a {
    display: inline-block;
    margin: 0 0 px-to-rem($sp_elms) 0;
    font-size: $base-font-size+px;
    @include margin-end(3px);
    @include margin-start(0);
    padding: 8px 10px;
    text-transform: capitalize;
    line-height: 100%;
    color: $body-text-color;
    background-color: $section-bg-color;
    border: 1px solid $widget-border-color;
    @include transition(all .2s ease-in);
    &:hover {
      color: #fff;
      background-color: $theme-color;
      border: 1px solid $theme-color;
    }
    i {
      @include margin-end(3px);
    }
  }
}

.widget {
  &.bbp_widget_login {
    h4 {
      font-size: 18px;
      font-weight: $p-weight;
      margin-bottom: 2px;
    }
    .logout-link {
      overflow: auto;
      background: transparent;
      margin: 0;
      display: inline;
    }
  }

  &.widget_display_stats {
    dt {
      @include float_start();
    }
    dd, dt {
      font-weight: $p-weight;
      margin: 0;
      padding: 5px 0;
      @include padding-end(10px);
    }
    dd strong {
      font-weight: 400;
      color: $header-font-color;
      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }
    }
  }
}

.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input,
.bbp-login-form .bbp-username input {
  padding: px-to-rem(15.5) px-to-rem($sp_conected_elms);
}

.dima-bbp-search-form {
  .screen-reader-text {
    display: none;
  }
}

.bbp-reply-form,
.bbp-topic-form,
.bbp-topic-tag-form {
  padding: px-to-rem($sp_elms);
  border: 5px solid $sub-border-color !important;
}

.bbp-pagination {
  margin-bottom: px-to-rem($sp_elms);
}

#bbp-your-profile,
#bbpress-forums {
  div.bbp-the-content-wrapper,
  input[type="text"],
  select,
  textarea,
  .dk-select {
    margin: 0 0 px-to-rem($sp_conected_elms);
  }
}

/*2.6*/
$form-bg-color: rgba($second-border-color, .2);
#bbpress-forums #bbp-your-profile fieldset {
  padding: px-to-rem($sp_elms) 0;
}

#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
  padding: 15px 20px;
  width: 100%;
  background-color: $form-bg-color;
  border-width: 0;
  &:focus {
    background: rgba(218, 218, 218, 0.5);
    border-width: 0;
    box-shadow: none;
  }
}

#bbpress-forums #bbp-your-profile fieldset fieldset.password,
#bbpress-forums #bbp-your-profile fieldset label[for] {
  width: auto;
}

#bbpress-forums #bbp-your-profile fieldset span.description {
  background-color: #e3f2fd;
  color: #2196f3;
  position: relative;
  margin-bottom: px-to-rem(30);
  padding: px-to-rem(25);
  clear: both;
  border: none;
  font-size: 14px;
  font-style: normal;
}
