//*---[Theme Color]---*/
$theme-color: #333333;
$second-theme-color: #FFFFFF;
$sale-theme-color: #ff5252;
$border-color: #eeeeee;
$second-border-color: #dadada;
$base-border-radius: 0 !default;

// [User Interface Colors]
$body-bg-color: #FFFFFF;
$content-bg-color: #FFFFFF;
$section-bg-color: #fafafa; //in prices tables style two
$box-bg-color: #fafafa;

// [Typo Colors]
$header-font-color: #333333;
$header-link-color: rgba(#333333, 0.47);
$body-text-color: #818181;
$body-link-color: $theme-color;
$body-link-hover-color: darken($body-link-color, 15%);

// [Blog  Colors]
$blog-bg-color: $content-bg-color;
$blog-text-color: $body-text-color;
$blog-header-color: $header-font-color;
$widget-bg-color: $blog-bg-color;
$widget-border-color: $border-color;
$blog-border-color: $border-color;
$box-bg: #FFFFFF;

// [menu Colors]
$topbar-bg-color: $section-bg-color;
$topbar-text-color: $body-text-color;
$topbar-icon-text-color: $header-font-color;
$nav-bg-color: #fafafa;
$nav-bg-color-top-style: #FFFFFF;
$nav-text-color: $header-font-color;
$nav-text-hover-color: $theme-color;
$nav-shadow: rgba(161, 161, 161, 0.25);
$sub-border-color: #eeeeee;

// Vertical menu
$navbar-vertical-bg: $nav-bg-color;
$navbar-vertical-bordre-color: $border-color;

//Response Menu Icon*/
$bt-color: #919191;
$bt-bg-color: #FFFFFF;
$bt-bg-hover: #FFFFFF;

// [Search Box Colors]
$search-box-bg: $theme-color;
$search-box-text: #FFFFFF;

// [Container Title (bottom of the header)]
$title_con_bg: #fafafa;
$title_con_color: $header-font-color;

// [Divider Colors]
$hr-color: $border-color;

// Button
$radius-var: 0;
$btn-border-color: $theme-color;
$default-btn-bg-color: $theme-color;
$default-btn-color: #fff;
$border: 1px;
$btn_bg_header: $header-font-color;

// --- colors fill---*/
$fill-btn-color: #fff;
$fill-btn-color-hover: #fff;

// --- colors stroke---*/
$btn-stroke-color: $btn-border-color;
$btn-stroke-color-hover: #fff;

// [Tabs Colors]
$tab-nav-bg: #f7f7f7;
$tab-nav-bg-active: #FFFFFF;
$tab-nav-color: $header-font-color;
$tab-nav-color-active: $nav-text-color;
$tab-nav-border-color: $theme-color;
$tab-cnt-bg: #FFFFFF;

// [Code Colors]
$code-color: $body-text-color;
$code-bg: $section-bg-color;
$pre-bg: $section-bg-color;

// PRICING TABLE
$pricing-body-bg: #FFFFFF;
$pricing-header-bg: $header-font-color;
$pricing-button-bg: $pricing-header-bg;
$pricing-separator-border: $widget-border-color;

// [Alert Colors]
$info-color: #e3f2fd;
$error-color: #ffebee;
$warning-color: #fff8e1;
$success-color: #e8f5e9;

$info-color-txt: #2196f3;
$error-color-txt: #f44336;
$warning-color-txt: #ffc107;
$success-color-txt: #4caf50;

// [Tooltips Colors]
$tooltip-bg: #333333;
$tooltip-color: #FFFFFF;
$tooltip-boredr-color: $tooltip-bg;

// [Quote  Color]
$quote-bg: $header-font-color;
$quote-text-color: #FFFFFF;

// [Testimonial Color]
$testimonial-bg: #FFFFFF;

// Footer Colors
//Bottom Footer
$footer-bg-bottom: #333333;
$footer-bottom-color: #a2a2a2;
$footer-bg-top: #333333;
$footer-color: #a2a2a2;
$footer-link: #FFFFFF;
$footer-header-color: #FFFFFF;
$footer-bordre-color: #292929;

//media
$media-bg: $section-bg-color;
$media-color: #333333;
$media-border: $border-color;