$global-direction: ltr !default;

//For RTL
$font-family-base: "Poppins", Helvetica, Arial, sans-serif;
$font-family-headings: "Poppins", Helvetica, Georgia, Times, serif;
$font-family-btn: "Maven Pro", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome", "Font Awesome 5 Free";