$global-direction: rtl !default;
//For RTL
$font-family-base: "Droid Arabic Naskh", Helvetica, Arial, sans-serif;
$font-family-headings: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
$font-family-btn: "Droid Arabic Kufi", Helvetica, Georgia, Times, serif;
$FontAwesome: "FontAwesome", "Font Awesome 5 Free";
$dimaIcon: "Dima-Icons";