$section-padding: 10.7142rem;
$section-padding-small: 7.7142rem;
$section-padding-mini: 10.7142rem/2;
$page-title-padding: 10.7142rem;
$border-radius: 0;

// Default menu
$framed_border: 20;
$framed_border_small: 20;
$framed_border_bg: #ffffff;

$a-height: 80;
$a-height-tablet: 80;
$a-height-small: 70;
$top-bar-height: 34px;
$sub-menu-top: $a-height - 10;
$sub-menu-top-small: $a-height-small - 10;
$font-size: 14;
$logo-height: 95;
$sub-menu: 260px;
$sup-menu-top: 0;
$menu-itms-gutter: 25px;

// Vertical menu
$navbar-vertical-w: 310;