
//768 x 989 (+300) (px)
@include break(v-sd-min-sd-max) {
    .vertical-menu {
        .with-margin{
            .isotope-item {
               padding: 0 0.7% 10px 0.7% !important;
            }
        }
        //Pricing Table
        
        div {
            &.di_1_of_4 {
                width: 48.5%;
            }
            &.di_1_of_4:nth-child(4n+3) {
                margin-top: 30px;
                @include margin-start(0);
            }
            &.di_1_of_4:nth-child(4n) {
                margin-top: 30px;
            }
        }
        //IconBox
        .no-box.box-square header i,
        .box-circle header i {
            width: 85px;
            height: 85px;
            font-size: 45px;
            line-height: 85px;
        }
        .no-box.features-start.box-square .features-content,
        .features-start.box-circle .features-content {
            @include padding-start(110px);
        }
        .no-box.features-end.box-square .features-content,
        .features-end.box-circle .features-content {
            @include padding-end(110px);
        }
        //TimeLine
        .dima-timeline {
            &.dima-timeline-blog {
                .post-meta ul li.post-comments, .post-meta ul li.post-view {
                    display: none;
                }
            }
        }
        .dima-timeline-list li:before {
            @include start(42.5px);
            padding-top: 85px;
        }
    }
}