/*  8.1  - Help Classes */
%clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

//Word-Wrap
%breakword {
  word-wrap: break-word;
}

%normal-wrap {
  word-wrap: normal;
}

%auto-wrap {
  word-wrap: auto;
}