/*   8.2  - Utility */
.text-center {
  text-align: center;
}

.text-start {
  @include text_align_start();
}

.text-end {
  @include text_align_end();
}

.float-start {
  @include float-start();
}

.float-end {
  @include float-end();
}

.mag-elms {
  margin-bottom: px-to-rem($sp_elms);
  clear: both;
}

.float-center {
  position: relative;
  @include float_start();
  @include start(50%);
  @if ($global-direction == "rtl") {
    transform: translate(50%, 0);
  } @else {
    transform: translate(-50%, 0);
  }
}

.float-center_two {
  margin: 0 auto;
}

.hide-text {
  font: 0/0 a;
  color: transparent !important;
  text-shadow: none;
  background-color: transparent !important;
  border: 0;
}

strong {
  font-weight: bold;
}

.through {
  text-decoration: line-through;
}

.uppercase {
  text-transform: uppercase !important;
}

.no-bottom-margin {
  margin-bottom: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.no-top-padding {
  padding-top: 0;
}

.no-bottom-padding {
  padding-bottom: 0;
}

.opacity-zero {
  opacity: 0
}

.show {
  opacity: 1;
}

.hide {
  display: none;
}

.no-shadow {
  @include box-shadow(none !important);
}

.theme-color {
  color: $theme-color;
}

.header-color {
  color: $header-font-color;
}

.red_color {
  color: #ff3d00;
}

.orange_color {
  color: #ffab40;
}

.header-link-color {
  color: $header-link-color;
  @include transition(color 320ms ease-out);
  &:hover {
    color: $theme-color;
  }
}

.all-over-thumb-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  @include start(0);
  z-index: 2;
}

ul.inline {
  margin: 0;
  @include padding-start(0);
}

.inline {
  > li {
    display: inline-block;
    @include margin-end(8px);
    margin-bottom: 8px;
    &:last-child {
      @include margin-end(0px);
    }
  }
}

.text-vertical-center {
  bottom: 50% !important;
  top: auto !important;
  -webkit-transform: translateY(50%) !important;
  -ms-transform: translateY(50%) !important;
  transform: translateY(50%) !important;
}

.vertical-middle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

// Position
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.unset {
  overflow: unset;
}

.full-width {
  width: 100%;
}

//hirsontal line

.no-border {
  border: none;
}

.circle {
  @include border-radius(100%);
  overflow: hidden;
  > img, .dima-img, .gm-style {
    @include border-radius(100%);
    overflow: hidden;
  }
}

.rounded {
  @include border-radius(6px);
  > img, .dima-img, .gm-style {
    @include border-radius(6px);
    overflow: hidden;
  }
}

.dima-box-shadow {
  @include box-shadow(0px 10px 20px 0px rgba(0, 0, 0, 0.07));
  border: none;
}

.list-with-line {
  li {
    display: block;
    padding: 13px 0;
    overflow: hidden;
    border-top: 1px solid $widget-border-color;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.h5 {
  font-family: $font-family-headings;
  font-weight: $h-weight;
  @include font-size($h5, $h5);
  color: $header-font-color;
  text-rendering: optimizeLegibility;
  margin-bottom: .5em;
}

#infscr-loading {
  position: absolute;
  z-index: 999;
  bottom: 0;
  @include start(50%);
  border-bottom: 2px solid #e4e4e4;
  @include border-end(2px solid $theme-color);
  @include border-end(2px solid #e4e4e4);
  border-top: 2px solid $theme-color;
  border-radius: 100%;
  height: 60px;
  width: 60px;
  @include margin-start(-30px);
  margin-top: -30px;
  -webkit-animation: fa-spin .6s infinite linear;
  -moz-animation: fa-spin .6s infinite linear;
  -ms-animation: fa-spin .6s infinite linear;
  -o-animation: fa-spin .6s infinite linear;
  animation: fa-spin .6s infinite linear;
  text-align: center;
  display: block;
  text-indent: -9999px;
}

.btm_dashed {
  border-bottom: 1px dashed $second-border-color;
}

.btm_solid {
  border-bottom: 1px solid $second-border-color;
}

.btm_dotted {
  border-bottom: 1px dotted $second-border-color;
}

// CLEARING

.container:after {
  clear: both;
}

.container {
  zoom: 1;

  .container {
    width: 100% !important;
  }
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

.clearfix:after {
  clear: both;
}

// Use clearfix class on parent to clear nested columns//
.clear,
.dima-container, .boxed-blog,
.blog-list, .container {
  @extend %clearfix;
}

svg:not(:root) {
  overflow: inherit
}

// You can also use a <br class="clear" /> to clear columns//

.dima-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  padding-bottom: 15px;
}

.double-clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  padding-bottom: 30px;
}

.clear-section {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
  padding-bottom: px-to-rem($sp_small);
}

.overflow-hidden {
  position: relative;
  overflow: hidden;
}

.stream-item {
  &.float-start {
    @include margin-end(px-to-rem($sp_elms));
  }
  &.float-end {
    @include margin-start(px-to-rem($sp_elms));
  }
  text-align: center;
  position: relative;

  &.stream-item-above-post {
    margin: 0 auto 30px;
  }

  &.stream-item-below-post {
    margin: 30px auto;
  }

  img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
  }
}