/* *   8.3  - WordPress classes */
//WordPress classes that aren't covered in other
.boxed-blog article.sticky .post-meta,
.boxed-blog article.sticky .post-content{
  background-color: $box-bg-color;
}
.sticky {
  position: relative;
  background-color: $box-bg-color;
}

.dima-timeline-blog {
  .sticky {
    background-color: transparent;
    .post-content,
    .box {
      background-color: $box-bg-color;
    }
  }
}

.dima-layout-standard,
.dima-layout-masonry,
.dima-layout-grid {
  .sticky {
    .entry-content {
      background-color: $box-bg-color !important;
      padding: 0 sp_dima($sp_elms) sp_dima($sp_elms, $base-font-size, $base-line-height);
    }
    .post-meta {
      margin: 0 sp_dima($sp_elms) 0 sp_dima($sp_elms);
      background-color: $box-bg-color !important;
    }
  }
}

.dima-layout-standard {
  .sticky {
    border: 1px solid $border-color;
    .entry-title {
      margin: sp_dima(40) sp_dima($sp_elms) 0 sp_dima($sp_elms);
    }
    .entry-title-hr {
      @include margin-start(30px);
      width: calc(100% - 60px);
    }
  }
}

.dima-layout-masonry,
.dima-layout-grid {
  .sticky {
    border: 1px solid $border-color;
    .entry-title {
      margin: sp_dima($sp_elms, $h3, $h3_lh) sp_dima($sp_elms) 0 sp_dima($sp_elms);
    }
    .entry-content {
      background-color: $box-bg-color !important;
      padding: 0 sp_dima($sp_elms) sp_dima($sp_elms, $base-font-size, $base-line-height);
    }

    .post-meta {
      margin: 0 sp_dima($sp_elms) 0 sp_dima($sp_elms);
      background-color: $box-bg-color !important;
    }
  }
}

.alignright {
  float: right;
  margin: 0.35em 0 0.35em 30px;
}

.alignleft {
  float: left;
  margin: 0.35em 30px 0.35em 0;
}

.alignnone {
  float: none;
  margin: 0 0 30px 0;
}

.aligncenter {
  display: block;
  margin: 0 auto 30px;
}

// Shared styles.
.wp-caption,
.gallery-item {
  max-width: 100%;
  > .wp-caption-text,
  > .wp-caption-text:last-child {
    display: block;
    margin: 10px 0 5px;
    padding: 0 5%;
    line-height: 1.2;
    font-style: italic;
  }
}

/* WordPress Gallery
------------------------------------------ */
.gallery {
  @include margin-start(-0.5em);
  @include margin-end(-0.5em);
}

.gallery:after {
  display: table;
  content: "";
  clear: both;
}

.gallery-item {
  @include float_start();
  padding: 1px;
  margin-bottom: px-to-rem($sp_small_sd);
}

.gallery-item img {
  width: 100%;
}

.gallery-columns-1 .gallery-item {
  width: 100%;
  float: none;
}

.gallery-columns-2 .gallery-item {
  width: 50%;
}

.gallery-columns-3 .gallery-item {
  width: 33.3333%;
}

.gallery-columns-4 .gallery-item {
  width: 25%;
}

.gallery-columns-5 .gallery-item {
  width: 20%;
}

.gallery-columns-6 .gallery-item {
  width: 16.6667%;
}

.gallery-columns-7 .gallery-item {
  width: 14.2857%;
}

.gallery-columns-8 .gallery-item {
  width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  width: 11.1111%;
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
  @include clear_start();
}

// Classes needed by Theme Check//
.wp-caption-text {
  font-weight: normal;
}

.gallery-caption {
  font-weight: normal;
}

.bypostauthor {
  font-weight: normal;
}

dl {
  dt {
    color: $header-font-color;
  }
}

/* Accessabiltiy :Screen reader text --*/
.says,
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
//* Gutenberg *//
.wp-block-embed-vimeo,
.wp-block-embed-ted,
.wp-block-embed-kickstarter,
.wp-block-embed-youtube {
  padding-top: 56.25%;
  position: relative;
  iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}

.wp-block-embed-twitter {
  twitterwidget {
    margin: 0 auto;
  }
}