/*----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
	1.1 - Pagination
2.0 - WordPress
	2.1 - Images
	2.2 - Iframes
3.0 - BuddyPress
	3.1 - Activity
		3.1.1 - Activity Listing
		3.1.2 - Activity Comments
	3.2 - Toolbar
	3.3 - Directories - Members, Groups, Blogs, Forums
	3.4 - Error / Success Messages
	3.5 - Forms
	3.6 - Ajax Loading
	3.7 - Topics and Tables - Forums and General
	3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
		3.8.1 - Cover Image
	3.9 - Private Messaging Threads
	3.10 - Extended Profiles
	3.11 - Widgets
4.0 - Media Queries
	4.1 - Smartphones Landscape
	4.2 - Smartphones Portrait
	4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
#buddypress .pagination {
  background: transparent;
  border: none;
  color: #767676;
  margin: 0;
  position: relative;
  display: block;
  @include float_start();
  width: 100%;
  padding: 10px 0;

  .pag-count {
    @include float_start();
  }

  .pagination-links {
    @include float_end();
    @include margin_end(10px);
  }

  .pagination-links span,
  .pagination-links a {
    line-height: 32px;
    margin: 0 2px;
    padding: 0 0.7857142857rem;
    min-width: 2.5rem;
    @include float_start();
    height: 2.5rem;
    text-align: center;
    font-weight: 400;
    text-decoration: none;
    color: #333333;
    -webkit-transition: all 320ms ease-out;
    transition: all 320ms ease-out;
    border: 2px solid $border-color;
    &.current,
    &:hover {
      border-color: $header-font-color;
    }
  }

}

#buddypress {
  noscript .pagination {
    margin-bottom: 15px;
  }

  #nav-above {
    display: none;
  }

  .paged #nav-above {
    display: block;
  }
}

/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/
#buddypress {
  img.wp-smiley {
    border: none !important;
    clear: none !important;
    float: none !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  .clear {
    @include clear_start();
  }
}

/*--------------------------------------------------------------
2.1 - Iframes
--------------------------------------------------------------*/
#buddypress {
  iframe {
    @media only screen and (max-width: 991px) {
      max-height: 480px;
    }
    @media only screen and (max-width: 767px) {
      max-height: 400px;
    }
    @media only screen and (max-width: 680px) {
      max-height: 350px;
    }
    @media only screen and (max-width: 480px) {
      max-height: 300px;
    }
    @media only screen and (max-width: 400px) {
      max-height: 200px;
    }
  }
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
.activity {
  .entry-content {
    padding-top: 0;
  }
}

#buddypress {
  #activity-stream {
    margin-top: -5px;

    p {
      margin: 5px 0;
    }
  }

  #whats-new-form {
    margin: 0;
    padding: 0;
    margin-bottom: 50px;

    .home-page & {
      border-bottom: none;
      padding-bottom: 0;
    }

    .magazine2 & {
      padding-top: 30px;
    }

    #whats-new-avatar {
      @include float_start();
      .avatar {
        border-radius: 50%;
      }
    }

    #whats-new-content {
      margin: 0 0 0 105px;
      padding: 0 0 0 20px;
      position: relative;
      transition: 0.15s;

      #whats-new-options {
        height: auto !important;
        display: block !important;
      }

      &.active {
        margin-bottom: 30px;
      }
    }

    .activity-greeting {
      line-height: 0.5em;
      margin-bottom: 15px;
      @include margin-start(125px);
    }

    textarea {
      box-sizing: border-box;
      color: #555;
      font-family: inherit;
      font-size: medium;
      line-height: 1.4;
      padding: 6px;
      width: 100%;
      height: 70px !important;
    }

    #whats-new-options select {
      max-width: 200px;
      margin-top: 12px;
    }

    #whats-new-submit {
      @include float_end();
      margin-top: 12px;
    }
  }

  #whats-new-options:after {
    clear: both;
    content: "";
    display: table;
  }

  #whats-new:focus {
    border-color: $theme-color !important;
    outline-color: rgba(31, 179, 221, 0.9);
  }

  #whats-new-post-in-box {
    @include float_start();
    @include margin_end(20px);
    margin-top: 7px;
  }
}

body.no-js #buddypress {
  form#whats-new-form textarea {
    height: 50px;
  }

  #whats-new-options {
    height: auto;
  }
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
#buddypress {

  .item-list.activity-list li.has-comments {
    padding-bottom: 15px;
  }

  @at-root body.activity-permalink #buddypress .activity-list li.has-comments {
    padding-bottom: 0;
  }

  .activity-list li.mini {
    font-size: 80%;
    position: relative;

    .activity-avatar {
      img.avatar,
      img.FB_profile_pic {
        height: 20px;
        @include margin-start(40px);
        margin-top: 8px;
        width: 20px;

        #buddypress .activity-permalink & {
          height: auto;
          @include margin-start(0);
          width: auto;
        }
      }
    }
  }

  .activity-list > li {
    &:not(.load-more):after {
      content: "";
      width: 1px;
      height: 100%;
      position: absolute;
      z-index: 1;
      @include start(25px);
      top: 0;
      background-color: $border-color;
    }

    &:nth-last-child(2),
    &:last-child:not(.load-more) {
      &:after {
        height: 90%;
      }

      .activity-content {
        border-bottom: 0;
      }
    }
  }

  .activity-list li {
    position: relative;
    overflow: hidden;
    padding: 15px 0 0;
    list-style: none;

    &:not(.mini) .activity-avatar {
      @include float_start();
      position: relative;
      z-index: 2;
      width: 50px;
      height: 50px;
      box-shadow: 0 0 0 13px #ffffff;
    }

    .activity-content {
      position: relative;
      border-bottom: 1px solid $border-color;
    }

    &.mini {
      .activity-content p {
        margin: 0;
      }

      .activity-comments {
        clear: both;
        font-size: 120%;
      }
    }

    .activity-inreplyto {
      color: #767676;
      font-size: 80%;
    }

    .activity-inreplyto > p {
      margin: 0;
      display: inline;
    }

    .activity-inreplyto blockquote,
    .activity-inreplyto .activity-inner {
      background: none;
      border: none;
      display: inline;
      margin: 0;
      overflow: hidden;
      padding: 0;
    }
  }

  .activity-list .activity-content {
    margin: 0 0 0 70px;

    .activity-header,
    .comment-header {
      color: #767676;
      line-height: 220%;
    }

    .activity-inner img {
      display: block;
      margin: 20px 0 0;
    }
  }

  .activity-header {
    @include margin_end(30px);
    p a:last-child {
      display: block;

      @media only screen and (min-width: 480px) {
        @include margin_end(50%);
      }
    }
  }

  .activity-header a,
  .comment-meta a,
  .acomment-meta a {
    text-decoration: none;
  }

  .activity-list .activity-content .activity-header img.avatar {
    float: none !important;
    margin: 0 5px -5px 2px !important;
  }

  a.bp-secondary-action,
  span.highlight {
    padding: 0;
    @include margin_end(5px);
    text-decoration: none;
    background: transparent;
    color: $theme-color;
  }

  .activity-list .activity-content {
    .activity-inner,
    blockquote {
      margin: 10px 10px 5px 0;
      overflow: hidden;
    }
  }

  .activity-list li.new_forum_post .activity-content .activity-inner,
  .activity-list li.new_forum_topic .activity-content .activity-inner {
    @include border-start(2px solid #EAEAEA);
    @include margin-start(5px);
    @include padding-start(10px);
  }

  .activity-inner {
    > p {
      word-wrap: break-word;
    }

    > .activity-inner {
      margin: 0;
    }

    > blockquote {
      margin: 0;
    }
  }

  .activity-list .activity-content img.thumbnail {
    border: 2px solid #eee;
    @include float_start();
    margin: 0 10px 5px 0;
  }

  .activity-read-more {
    @include margin-start(1em);
    white-space: nowrap;
    word-wrap: normal; // IE fix
  }

  .activity-list {
    li.load-more,
    li.load-newest {
      padding-bottom: 0;

      a {
        color: #4D4D4D;
        height: 50px;
        line-height: 50px;
        display: block;
        background: #f0f0f0;
        font-size: 110%;
        text-align: center;
        position: relative;

        &:hover {
          color: $theme-color;
        }
      }

      .spinner {
        width: 3.1em;

        > div {
          width: 0.7em;
          height: 0.7em;
        }
      }
      // spinner circle width
      @include spinner-width(26px);
    }
  }
}

body.activity-permalink #buddypress {
  li.mini .activity-meta {
    margin-top: 4px;
  }

  .activity-list {
    &#activity-stream {
      margin: 50px 0;
    }

    li {
      .activity-header > p {
        margin: 0;
        padding: 5px 0 0 0;
      }
    }

    > li:first-child {
      padding-top: 0;
    }
  }

  .activity-content {
    #buddypress .activity-meta
    .activity-inner,
    blockquote {
      @include margin-start(0);
      margin-top: 5px;
    }
  }
}

/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
#buddypress .activity-meta {
  margin: 18px 0 20px;
}

body.activity-permalink #buddypress .activity-meta {
  margin-bottom: 6px;
}

#buddypress {
  .activity-meta a.button {
    padding: 4px 8px;
    background-color: transparent;
    color: $theme-color !important;
    line-height: 1;
    transition: 0.2s;

    &:hover {
      color: $theme-color !important;
      border-color: $theme-color;
      background-color: transparent !important;
    }

    span {
      border-radius: $base-border-radius;
    }

    &.delete-activity-single,
    &.delete-activity {
      &:hover {
        background-color: #ff5252 !important;
        border-color: #ff5252;
        color: #ffffff !important;
      }
    }
  }

  a.activity-time-since {
    text-decoration: none;
    @include font-size(11px);
    font-weight: 400;
    color: #bbb;
  }

  a.activity-time-since:hover {
    color: #767676;
    text-decoration: underline;
  }

  a.bp-primary-action,
  #reply-title small a {
    @include margin_end(5px);
    text-decoration: none;
    span {
      background: #767676;
      color: #ffffff;
      font-size: 90%;
      @include margin-start(2px);
      padding: 0 5px;
    }

    &:hover span {
      background: #555;
      color: #fff;
    }
  }

  .activity-comments {
    margin: 0 0 0 70px;
    overflow: hidden; /* IE fix */
    position: relative;
    width: auto;
    clear: both;

    body.activity-permalink #buddypress & {
      background: none;
      @include margin-start(170px);
      width: auto;
    }

    > ul {
      padding: 0 0 0 10px;
    }

    ul,
    ul li {
      border: none;
      list-style: none;
    }

    ul {
      clear: both;
      margin: 0;

      li {
        border-top: 1px solid $theme-color;
        padding: 10px 0 0;
        opacity: 1 !important;
      }
    }

    body.activity-permalink #buddypress .activity-list li.mini & {
      clear: none;
      margin-top: 0;
    }

    body.activity-permalink #buddypress & {
      ul li {
        border-width: 1px;
        padding: 10px 0 0 0;
      }
    }

    > ul > li:first-child {
      border-top: none;
    }

    ul li:last-child {
      margin-bottom: 0;
    }

    ul li > ul {
      @include margin-start(30px);
      margin-top: 0;
      @include padding-start(10px);
    }

    body.activity-permalink #buddypress & {
      ul li > ul {
        margin-top: 10px;
      }
    }

    body.activity-permalink #buddypress & {
      > ul {
        padding: 0 10px 0 15px;
      }
    }

    .acomment-avatar img {
      border-width: 1px;
      @include float_start();
      height: 25px;
      @include margin_end(10px);
      width: 25px;
    }

    .acomment-content {
      font-size: 90%;
      margin: 5px 0 0 40px;

      .time-since,
      .activity-delete-link,
      .comment-header {
        display: none;
      }

      body.activity-permalink #buddypress .activity-comments & {
        font-size: 90%;
      }
    }

    .acomment-meta {
      color: #767676;
      font-size: 80%;
    }

    .ac-form {
      display: none;
      padding: 10px;
    }

    li .ac-form {
      @include margin_end(15px);
      clear: both;
    }

    form.root {
      @include margin-start(0);
    }

    #message {
      margin-top: 15px;
      margin-bottom: 0;
    }

    form .ac-textarea {
      border: 1px solid $theme-color;
      margin-bottom: 10px;
      padding: 8px;
    }

    form textarea {
      border: none;
      background: transparent;
      box-shadow: none;
      outline: none;
      color: #555;
      font-family: inherit;
      font-size: 100%;
      height: 60px;
      padding: 0;
      margin: 0;
      width: 100%;
    }

    form input {
      margin-top: -2px;
    }

    form .ac-reply-avatar {
      @include float_start();
    }

    .ac-reply-avatar img {
      border: 1px solid $theme-color;
    }

    form .ac-reply-content {
      color: #767676;
      @include margin-start(50px);
      @include padding-start(15px);
    }

    form .ac-reply-content a {
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
    }
  }

  .acomment-options {
    @include float_start();
    margin: 5px 0 5px 40px;

    a {
      color: #767676;

      &:hover {
        color: inherit;
      }
    }
  }
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
#buddypress {
  .dir-search {
    margin-bottom: 30px;
    input[type=submit] {
      @include float_end();
      @include margin-start(30px);
      width: 25%;
    }
    input[type="text"] {
      @include float_start();
      width: calc(75% - 30px);
    }
  }

  #search-message-form {
    margin: 0 -5px;

    input[type="text"],
    input[type="submit"] {
      font-size: 13px;
      padding: 5px 10px;
      height: 29px;
    }

    input[type="submit"] {
      @include float_end();
      margin: 0 5px;
    }
  }

  .dir-search input[type=text],
  li.groups-members-search input[type=text] {

  }

  .current-member-type {
    font-style: italic;
  }

  .dir-form {
    clear: both;
  }

}

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
#buddypress {
  #message.updated,
  #message.warning,
  #message.error {
    position: relative;
    max-width: ($screen-ld-min - 30px);
    clear: both;
    display: block;
    @include text_align_start();
  }

  #pass-strength-result {
    background-color: #eee;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    display: none;
    margin: 5px 5px 15px 0;
    padding: 5px;
    text-align: center;
    width: 50%;
  }

  .standard-form #basic-details-section #pass-strength-result {
    width: 50%;
  }

  #pass-strength-result {
    &.error,
    &.bad {
      background-color: #ffb78c;
      border-color: #ff853c !important;
      display: block;
    }

    &.good {
      background-color: #ffec8b;
      border-color: #fc0 !important;
      display: block;
    }

    &.short {
      background-color: #ffa0a0;
      border-color: #f04040 !important;
      display: block;
    }

    &.strong {
      background-color: #c3ff88;
      border-color: #8dff1c !important;
      display: block;
    }
  }

  .standard-form#signup_form div .error {
    background: #faa;
    color: #a00;
    margin: 0 0 10px 0;
    padding: 6px;
    width: 90%;
  }

  .accept,
  .reject {
    @include float_start();
    @include margin-start(10px);
  }

  ul.button-nav li {
    @include float_start();
    margin: 0 10px 10px 0;
    list-style: none;

    &.current a {
      font-weight: bold;
    }
  }
}

#sitewide-notice {
  #message {
    @include start(1%);
    bottom: 1%;
    position: fixed;
    max-width: 400px;
    z-index: 9999;
  }

  strong {
    display: block;
    margin-bottom: -1em;
  }
}

#close-notice {
  position: absolute;
  @include end(10px);
  top: 10px;
  font-size: 0;
  color: transparent;
  line-height: 12px;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
#buddypress select:not([multiple]) {
  height: px-to-rem(50px);
  line-height: 1;
}

#buddypress .standard-form input[type=email] {
  margin-bottom: 30px;
  width: 50%;
}

#buddypress .standard-form input[type=password] {
  margin-bottom: 15px;
  width: 50%;
}

#buddypress .standard-form label,
#buddypress .standard-form span.label {
  display: block;
  margin: 0 0 15px 0;
  width: auto;
}

#buddypress #group-settings-form label {
  margin: 15px 0 5px 0;
}

#buddypress #group-create-body {
  margin-bottom: 0;

  > label {
    margin-bottom: 10px;
  }

  > div:not(.submit) {
    margin-bottom: 20px;
  }

  #header-cover-image {
    height: 400px;
    position: relative;
    background-repeat: no-repeat;
    background-size: auto;
  }
}

#buddypress .standard-form p label,
#buddypress .standard-form #invite-list label {
  font-weight: normal;
  margin: auto;
}

#buddypress .standard-form .checkbox label:nth-child(n+2),
#buddypress .standard-form .radio div label {
  color: #767676;
  font-size: 100%;
  font-weight: normal;
  margin: 5px 0 0 0;
}

#buddypress .standard-form#sidebar-login-form label {
  margin-top: 5px;
}

#buddypress .standard-form input[type=text] {
  width: 100%;
}

#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
  padding: 4px;
  width: 95%;
}

#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
  width: 35%;
}

#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
  width: 90%;
}

#buddypress .standard-form#signup_form .submit {
  @include float_end();
}

#buddypress #signup-avatar img {
  margin: 0 15px 10px 0;
}

#buddypress .standard-form textarea {
  width: 100%;
  height: 120px;
}

#buddypress .standard-form textarea#message_content {
  height: 200px;
}

#buddypress .standard-form#send-reply textarea {
  width: 97.5%;
}

#buddypress .standard-form p.description {
  color: #767676;
  font-size: 80%;
  margin: 5px 0;
}

#buddypress .standard-form .submit {
  clear: both;
  padding: 15px 0 0 0;
}

#buddypress .standard-form p {
  margin-bottom: 10px;
}

#buddypress .standard-form p.submit {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

#buddypress .standard-form .submit input {
  @include margin_end(15px);
}

#buddypress .standard-form {
  &:not(#profile-edit-form):not(#send-invite-form) h4 {
    margin-bottom: 20px;
    line-height: 40px;
    border-bottom: 1px solid $theme-color;

    + p {
      margin-bottom: 10px;
    }
  }

  .checkbox,
  .radio {
    margin-bottom: 30px;

    label,
    label + ul {
      border: 1px solid $theme-color;
      border-radius: $base-border-radius;
      padding: 20px;
      transition: background-color 0.3s;
    }

    label {
      cursor: pointer;

      input[type="radio"] {
        @include margin_end(15px);
      }

      &:hover,
      &:hover + ul {
        background-color: rgba(#000000, 0.03);
      }
    }

    label + ul {
      margin-top: -5px;
      margin-bottom: 15px;
      border-top: 0;
      padding: 20px 20px 20px 50px;
    }

    ul {
      padding: 10px 0 15px 38px;
      list-style: disc;

      li {
        margin-bottom: 5px;
      }
    }
  }

  .checkbox {
    label {
      padding: 20px;
      cursor: default;
      border: 1px solid $theme-color;
    }

    input[type="checkbox"] {
      @include margin_end(15px);
    }
  }

  .radio:nth-of-type(2) {
    label {
      padding: 20px;
      border: 1px solid $theme-color;
      margin-bottom: 15px;
    }
  }

  .checkbox {
    margin: 10px 0 20px;
  }

  a.clear-value {
    display: block;
    margin-top: 5px;
    outline: none;
  }

  .register-section {
    margin-top: 20px;
  }

  #basic-details-section,
  #blog-details-section,
  #profile-details-section {
    @include float_start();
    width: 48%;
  }
  #profile-details-section {
    @include float_end();
  }

  input:focus,
  textarea:focus,
  select:focus {
    background-color: rgba(#000000, 0.03);
    color: #555;
  }
}

#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
  @include clear_start();
}

#buddypress button,
#buddypress a.button,
#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress .generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button {
  border-radius: $base-border-radius;
  font-size: small;
  cursor: pointer;
  outline: none;
  text-align: center;
  text-decoration: none;
  background: #ffffff;
  border: 1px solid $border-color;
  padding: 6px 10px;
  line-height: 18px;
  &:hover {
    background: rgba(#000000, 0.05);
    opacity: 0.8;
  }
}

#buddypress .generic-button a {
  padding: 5px 10px;
}

#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress button[type=submit],
#buddypress a.button,
#buddypress a#bp-delete-cover-image {
  background: $theme-color;
  color: color-contrast($theme-color);
  border: 0;

  &:hover {
    background: $header-font-color;
  }
}

#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress button[type=submit] {
  &:focus {
    background: $theme-color;
    color: color-contrast($theme-color);
    border: 0;
  }
}

#buddypress #send-invite-form {
  margin-top: 40px;

  .submit {
    overflow: hidden;
    padding-top: 0;
  }

  #submit {
    @include float_end();
    margin: 0;

  }
}

#buddypress #invite-list {
  border-radius: $base-border-radius;
  border: 1px solid $theme-color;
  height: 400px;
  margin: 0 0 10px;
  overflow: auto;
  width: 200px;
}

#buddypress .standard-form {
  .left-menu {
    @include float_start();

    #invite-list ul {
      margin: 0;
      list-style: none;

      li {
        margin: 0;
        padding: 10px 15px;
        border-bottom: 1px solid $theme-color;
        transition: background-color 0.2s;

        &:hover {
          background: rgba(#000000, 0.05);
        }

        label {
          cursor: pointer;
        }
      }
    }
  }

  .main-column {
    @include margin-start(230px);

    #pag-top {
      display: none;
    }
  }
}

#buddypress #friend-list {
  border: 1px solid $theme-color;
  border-radius: $base-border-radius;
  clear: none;
  @include float_start();

  li {
    border-bottom: 1px solid $theme-color;
    padding: 15px;
    transition: background-color 0.2s;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background: rgba(#000000, 0.05);
    }

    .action {
      @include end(15px);
      @include center(y);
    }

    a.remove {
      background: transparent;
      box-shadow: none;
      color: transparent;
      font-size: 0;

      &:hover {
        background: transparent !important;
      }
    }
  }

  h4 {
    clear: none;
  }

  .avatar {
    @include margin_end(20px);
  }
}

/* Overrides for embedded WP editors */
#buddypress .wp-editor-wrap a.button,
#buddypress .wp-editor-wrap button,
#buddypress .wp-editor-wrap input[type=submit],
#buddypress .wp-editor-wrap input[type=button],
#buddypress .wp-editor-wrap input[type=reset] {
  padding: 0 8px 1px;
}

/* Form classes & generic attr styling */
#buddypress form *[disabled="disabled"] {
  cursor: default;
  opacity: .4;
}

.bp-screen-reader-text {
  position: absolute;
  margin: -1px;
  padding: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  word-wrap: normal !important;
}

#buddypress {
  fieldset {
    padding: 20px;
    border: 1px solid $border-color;
    border-radius: $base-border-radius;
  }
}

body.no-js #buddypress {
  #notifications-bulk-management #select-all-notifications,
  label[for="message-type-select"],
  #message-type-select,
  #delete_inbox_messages,
  #delete_sentbox_messages,
  #messages-bulk-management #select-all-messages {
    display: none;
  }
}

#buddypress #register-page .standard-form {
  label,
  span.label {
    margin: 15px 0 5px 0;
  }

  input[type=email],
  input[type=password] {
    width: 90%;
  }
}

/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
#buddypress {
  a.loading,
  input.loading {
    border-color: transparent;

    &:hover {
      color: #767676;
    }
  }

  input[type="submit"].pending,
  input[type="button"].pending,
  input[type="reset"].pending,
  input[type="submit"].disabled,
  input[type="button"].disabled,
  input[type="reset"].disabled,
  input[type="submit"][disabled=disabled],
  button.pending,
  button.disabled,
  .pending a,
  a.disabled {
    border-color: #eee;
    color: #bbb;
    cursor: default;

    &:hover {
      border-color: #eee;
      color: #bbb;
    }
  }
}

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
#buddypress {
  ul#topic-post-list {
    margin: 0;
    width: auto;

    li {
      padding: 15px;
      position: relative;

      &.alt {
        background: #f5f5f5;
      }

      .poster-meta {
        color: #767676;
        margin-bottom: 10px;
      }

      .post-content {
        @include margin-start(54px);
      }
    }
  }

  .topic-tags {
    font-size: 80%;
  }

  .admin-links {
    color: #767676;
    font-size: 80%;
    position: absolute;
    top: 15px;
    @include end(25px);
  }

  #topic-meta {
    margin: 0;
    padding: 5px 19px 30px;
    position: relative;

    .admin-links {
      @include end(19px);
      top: -36px;
    }

    h3 {
      margin: 5px 0;
    }
  }

  #new-topic-post {
    display: none;
    margin: 20px 0 0 0;
    padding: 1px 0 0 0;
  }

  table.notifications,
  table.notifications-settings,
  table.profile-settings,
  table.profile-fields,
  table.wp-profile-fields,
  table.messages-notices,
  table.forum {
    width: 100%;

    thead tr {
      background: rgba(#000000, 0.05);
    }
  }

  #message-threads {
    clear: both;
  }

  table.profile-fields {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }

    p {
      margin: 0;

      &:last-child {
        margin-top: 0;
      }
    }
  }

  table.notifications tr td,
  table.notifications-settings tr td,
  table.profile-settings tr td,
  table.profile-fields tr td,
  table.wp-profile-fields tr td,
  table.messages-notices tr td,
  table.forum tr td,
  table.notifications tr th,
  table.notifications-settings tr th,
  table.profile-fields tr th,
  table.wp-profile-fields tr th,
  table.messages-notices tr th,
  table.forum tr th {
    vertical-align: middle;
  }

  .notifications tr .label,
  .notifications-settings tr .label,
  .profile-fields tr .label,
  .wp-profile-fields tr .label,
  .messages-notices tr .label,
  .forum tr td.label {
    @include border-end(1px solid $theme-color);
    font-weight: bold;
    width: 25%;
  }

  #message-threads .thread-info {
    width: 40%;
  }

  table tr td.thread-info p {
    margin: 0;

    &.thread-excerpt {
      color: #767676;
      font-size: 80%;
      margin-top: 3px;
    }
  }

  table.forum td {
    text-align: center;
  }

  table.notifications tr.alt td,
  table.notifications-settings tr.alt td,
  table.profile-settings tr.alt td,
  table.profile-fields tr.alt td,
  table.wp-profile-fields tr.alt td,
  table.messages-notices tr.alt td,
  table.forum tr.alt td {
    background: #f5f5f5;
  }

  table.notification-settings,
  table.notifications,
  table.messages-notices,
  table.profile-settings {
    margin-bottom: 30px;
    @include text_align_start();
    width: 100%;
    border-collapse: collapse;

    tr:hover,
    thead {
      background-color: rgba(#000000, 0.03);
    }

    th {
      border-bottom: 1px solid $border-color;
      padding: 10px;
    }

    tr {
      line-height: 20px;
      transition: background-color 0.2s;

      &.alt td,
      td {
        border-bottom: 1px solid $border-color;
        padding: 10px;
        background: transparent;
      }
    }

    select {
      height: 20px;
    }
  }

  table.notification-settings thead tr {
    line-height: 40px;
  }

  table.sitewide-notices {
    border: 1px solid $theme-color;

    tr,
    tr.alt {
      line-height: 20px;

      td {
        padding: 10px;
      }

      td:last-child {
        width: 15% !important;
        @include text_align_end();
        a {
          color: $theme-color !important;
          background: transparent;
          padding: 6px;
          line-height: 1;

          &:last-child {
            font-size: 0;
            color: transparent;

            &:after {
              font-family: $FontAwesome;
              font-weight: 900;
              content: "\f014";
              font-size: 12px;
              color: $theme-color;
            }
          }

          &:hover {
            color: $theme-color !important;

            &:after {
              color: $error-color;
            }
          }
        }
      }

      p {
        font-size: 90%;
        opacity: 0.9;
      }
    }

    .activity {
      font-size: 90%;
    }
  }

  .notification-actions {
    .delete:hover {
      color: $error-color-txt;
    }
  }

  #groups-notification-settings {
    margin-bottom: 0;
  }

  table.notifications th.icon,
  table.notifications td:first-child,
  table.notification-settings th.icon,
  table.notification-settings td:first-child {
    display: none;
  }

  table.notification-settings th.title,
  table.profile-settings th.title {
    width: 80%;
  }

  table.notification-settings {
    .yes,
    .no {
      text-align: center;
      width: 40px;
    }
  }

  table.forum {
    margin: 0;
    width: auto;
    clear: both;

    tr.sticky td {
      font-size: 110%;
      background: #fff9db;
      border-top: 1px solid #ffe8c4;
      border-bottom: 1px solid #ffe8c4;
    }

    tr.closed td.td-title {
      @include padding-start(35px);
    }

    td p.topic-text {
      color: #767676;
      font-size: 100%;
    }

    tr > td:first-child,
    tr > th:first-child {
      @include padding-start(15px);
    }

    tr > td:last-child,
    tr > th:last-child {
      @include padding-end(15px);
    }

    tr th#th-title,
    tr th#th-poster,
    tr th#th-group,
    td.td-poster,
    td.td-group,
    td.td-title {
      @include text_align_start();
    }

    tr td.td-title a.topic-title {
      font-size: 110%;
    }

    td.td-freshness {
      white-space: nowrap;
      word-wrap: normal; // IE fix
    }

    td.td-freshness span.time-since {
      font-size: 80%;
      color: #767676;
    }

    td img.avatar {
      float: none;
      margin: 0 5px -8px 0;
    }

    td.td-poster,
    td.td-group {
      min-width: 140px;
    }

    th#th-title {
      width: 80%;
    }

    th#th-freshness {
      width: 25%;
    }

    th#th-postcount {
      width: 15%;
    }

    p.topic-meta {
      font-size: 80%;
      margin: 5px 0 0 0;
    }
  }
}

/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
#buddypress {
  .item-body {
    margin: 20px 0;
  }

  span.activity {
    display: inline-block;
    font-size: small;
    opacity: 0.8;
    padding: 5px 0;
  }

  span.user-nicename {
    color: #767676;
    display: inline-block;
    font-size: 120%;
    font-weight: bold;
  }

  #sitewide-notice p,
  #message p {
    line-height: 30px;
    padding: 0;
  }

  #item-header {
    text-align: center;
    position: relative;

    &:after {
      clear: both;
      content: "";
      display: table;
    }

    #item-header-avatar {
      width: 100%;

      img {
        float: none;
        display: inline-block;
        margin: 0;
        border-radius: 50%;
        box-shadow: 0 0 0 5px rgba(#000000, 0.05);
      }
    }

    #item-header-content {
      width: 100%;
    }

    #item-header-content h2,
    #item-header-content a,
    #item-header-content .label,
    #item-header-content .activity,
    #item-header-content h3,
    #item-header-content #item-meta,
    #item-header-content #item-meta #latest-update a,
    #item-header-content span.highlight,
    #item-actions h3,
    #item-actions h2 {
      color: #ffffff;
      text-shadow: 0 0 4px rgba(#000000, 0.6);
    }

    #item-header-content .generic-button a:not(.join-group) {
      background: transparent;

      &:hover {
        opacity: 0.8;
      }
    }

    h2 {
      font-size: 36px;
      margin: 10px 0 5px 0;
      a {
        color: #767676;
        text-decoration: none;
      }

      span.highlight {
        font-weight: normal;
        display: inline-block;
        background: transparent;
        font-size: 120%;

        span {
          background: #a1dcfa;
          color: #fff;
          cursor: pointer;
          font-weight: bold;
          font-size: 80%;
          margin-bottom: 2px;
          padding: 1px 4px;
          position: relative;
          @include end(-2px);
          top: -2px;
          vertical-align: middle;
        }
      }
    }

    img.avatar {
      @include float_start();
      margin: 0 15px 19px 0;
    }

    #item-meta {
      overflow: hidden;
      margin: 15px 0 0 0;
      padding: 0 30px;

      p {
        margin: 10px 0 0;
      }

      #latest-update a {
        color: $theme-color;
        font-size: 80%;

        &:before {
          content: " - ";

        }
      }
    }

    #item-actions {
      margin-bottom: 30px;

      h3,
      h2 {
        @include font-size(12px);
        font-weight: normal;
        display: inline-block;
        margin: 10px;
        line-height: 30px;
      }

      ul {
        display: inline-block;
        margin: 0;
        vertical-align: middle;

        li {
          margin: 0;
        }

        img {
          border-radius: 50%;
        }
      }
    }

    ul {
      margin-bottom: 15px;
      overflow: hidden;

      h5,
      span,
      hr {
        display: none;
      }

      li {
        @include float_end();
        list-style: none;
      }

      img.avatar,
      &.avatars img.avatar {
        height: 30px;
        margin: 2px;
        width: 30px;
      }
    }

    .generic-button,
    a.button {
      margin: 10px 5px;
      display: inline-block;
    }

    #post-mention a,
    #send-private-message a,
    .friendship-button .remove {
      background: transparent;
      color: #ffffff;
      text-shadow: 0 0 1px #000000;

      &:hover {
        opacity: 0.8;
      }
    }

    #message.info {
      line-height: 80%;
    }

    #message {
      position: absolute;
      bottom: 30px;
      @include start(50%);
      transform: translateX(-50%);
      p {
        @include padding-start(20px);
      }
    }
  }

  ul.item-list {
    width: 100%;
    list-style: none;
    clear: both;
    margin: 0;
    padding: 0;

    li {
      padding: 15px 0;
      margin: 0;
      position: relative;
      list-style: none;

      .avatar {
        @include float_start();
        border-radius: 50%;
      }

      .item-title,
      h4 {
        font-weight: normal;
        margin: 0;
      }

      .item-title span {
        color: #767676;
      }

      .item-desc {
        color: #767676;
        margin: 10px 0 0 60px;
        border-bottom: 1px solid $theme-color;
      }

      &.group-no-avatar .item-desc {
        @include margin-start(0);
      }

      .action {
        position: absolute;
        top: 15px;
        @include end(0);
        @include text_align_end();
      }

      .meta {
        color: #767676;
        font-size: 80%;
        margin-top: 10px;
      }

      h5 span.small {
        @include float_end();
        font-size: 80%;
        font-weight: normal;
      }

      .item {
        @include margin-start(70px);
      }
    }
  }

  ul.single-line li {
    border: none;
  }

  #item-nav,
  .activity-type-tabs {
    ul {
      text-align: center;

      li {
        display: inline-block;
        float: none;
        @include margin_end(10px);
        position: relative;

        &:last-child {
          @include margin_end(0);
        }

        a {
          &:before {
            content: '';
            display: block;
            width: 30px;
            height: 30px;
            margin: 0 auto;
            background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }
        }

      }
    }
  }

  #item-nav {
    ul {
      li {
        a {
          &#user-xprofile:before {
            content: "";
            background: svg-uri('<svg fill="#{$header-font-color}" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 12c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm0 2c-2.67 0-8 1.34-8 4v2h16v-2c0-2.66-5.33-4-8-4z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }

          &#user-notifications:before {
            content: "";
            background: svg-uri('<svg fill="#{$header-font-color}" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z"/>
</svg>') no-repeat 50% 50%;
          }

          &#user-settings:before,
          &#admin:before {
            content: "";
            background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19.43 12.98c.04-.32.07-.64.07-.98s-.03-.66-.07-.98l2.11-1.65c.19-.15.24-.42.12-.64l-2-3.46c-.12-.22-.39-.3-.61-.22l-2.49 1c-.52-.4-1.08-.73-1.69-.98l-.38-2.65C14.46 2.18 14.25 2 14 2h-4c-.25 0-.46.18-.49.42l-.38 2.65c-.61.25-1.17.59-1.69.98l-2.49-1c-.23-.09-.49 0-.61.22l-2 3.46c-.13.22-.07.49.12.64l2.11 1.65c-.04.32-.07.65-.07.98s.03.66.07.98l-2.11 1.65c-.19.15-.24.42-.12.64l2 3.46c.12.22.39.3.61.22l2.49-1c.52.4 1.08.73 1.69.98l.38 2.65c.03.24.24.42.49.42h4c.25 0 .46-.18.49-.42l.38-2.65c.61-.25 1.17-.59 1.69-.98l2.49 1c.23.09.49 0 .61-.22l2-3.46c.12-.22.07-.49-.12-.64l-2.11-1.65zM12 15.5c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5z"/>
</svg>') no-repeat 50% 50%;
          }

          &#user-messages:before {
            content: "";
            background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
          }
        }

        .loading a {
          background-position: 88% 50%;
        }
      }
    }
  }

  .activity-type-tabs {
    ul {
      li {
        @include margin_end(10px);
      }

      #activity-all a:before,
      #activity-friends a:before,
      #activity-groups a:before {
        content: '';
        background: svg-uri('<svg fill="#{$header-font-color}" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
</svg>') no-repeat 50% 50%;
      }

      #activity-favorites a:before {
        content: '';
        background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M20 2H4c-1.1 0-1.99.9-1.99 2L2 22l4-4h14c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-2 12H6v-2h12v2zm0-3H6V9h12v2zm0-3H6V6h12v2z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>') no-repeat 50% 50%;
      }
    }
  }

  .item-list-tabs {
    background: transparent;
    @include clear_start();
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    padding-bottom: 15px;
    #groups-all a:before,
    #members-all a:before,
    #groups-personal a:before,
    #members-personal a:before,
    #group-create-nav a:before {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto;
    }

    #groups-all a:before,
    #members-all a:before,
    #groups-personal a:before,
    #members-personal a:before {
      content: '';
      background: svg-uri('<svg fill="#{$header-font-color}" height="30" viewBox="0 0 24 24" width="30" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M16 11c1.66 0 2.99-1.34 2.99-3S17.66 5 16 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm-8 0c1.66 0 2.99-1.34 2.99-3S9.66 5 8 5C6.34 5 5 6.34 5 8s1.34 3 3 3zm0 2c-2.33 0-7 1.17-7 3.5V19h14v-2.5c0-2.33-4.67-3.5-7-3.5zm8 0c-.29 0-.62.02-.97.05 1.16.84 1.97 1.97 1.97 3.45V19h6v-2.5c0-2.33-4.67-3.5-7-3.5z"/>
</svg>') no-repeat 50% 50%;
    }

    #group-create-nav a:before {
      content: '';
      background: svg-uri('<svg fill="#{$header-font-color}" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M17.75 7L14 3.25l-10 10V17h3.75l10-10zm2.96-2.96c.39-.39.39-1.02 0-1.41L18.37.29c-.39-.39-1.02-.39-1.41 0L15 2.25 18.75 6l1.96-1.96z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M0 20h24v4H0z" fill-opacity=".36"/>
</svg>') no-repeat 50% 50%;
    }

    &#object-nav {
      li {
        body.groups & {
          display: inline-block;
          float: none;
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        @include float_start();
        margin: 0 10px 0 0;
        list-style: none;

        label {
          @include margin-end(10px);
        }
        &.last {
          @include float_end();
          margin: 7px 0 0;

          select {
            max-width: 185px;
          }
        }

        a,
        span {
          display: block;
          padding: 0 20px;
          text-decoration: none;
          line-height: 35px;
          position: relative;
        }

        a span {
          background: $theme-color;
          color: color-contrast($theme-color);
          border-radius: 99rem;
          display: inline-block;
          line-height: 20px;
          @include margin-start(17px);
          padding: 0 6px;
          text-align: center;
          font-size: 11px;
          position: absolute;
          @include start(50%);
          top: 0;
          width: auto;
          height: 20px;
        }

        a {
          opacity: 0.9;
        }
        a:hover,
        &.selected a,
        &.current a {
          color: $theme-color;
          opacity: 1;
        }

      }
    }

    &#object-nav {
      margin-top: 0;
    }

    &#subnav {
      background: transparent;
      margin: 0 0 30px;
      overflow: hidden;
      padding-top: 25px;
      border-bottom: 0;

      ul li {
        margin-top: 10px;

        &.groups-members-search {
          margin-top: 5px;
        }

        a {
          background: transparent;
          color: $theme-color;

          &:hover {
            color: $theme-color;
          }
        }

        &.last {
          margin-top: 4px;
        }

        &.selected {
          a {
            color: $header-font-color;
            border-bottom: 2px solid $theme-color;
          }
        }
      }
      @include break(sd-min) {
        ul {
          width: 100%;
          text-align: center;

          li {
            display: inline-block;
            float: none;
            margin-bottom: 10px;
          }
        }
      }
    }
  }

  #admins-list li,
  #mods-list li,
  #members-list li {
    overflow: auto;
    list-style: none;
  }

  #item-buttons:empty {
    display: none;
  }
}

body.activity-permalink #buddypress ul.item-list {
  &,
  li.activity-item {
    border: none;
  }
}

/*--------------------------------------------------------------
3.8.1 - Cover Image
--------------------------------------------------------------*/

#buddypress {
  #cover-image-container {
    position: relative;
    z-index: 0;
    padding: 80px 0;
    margin-bottom: 30px;
  }

  #header-cover-image {
    background-color: rgba(#000000, 0.05);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    border: 0;
    display: block;
    @include end(0);
    @include start(0);
    top: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
    pointer-events: none;
  }
  #item-header-cover-image {
    position: relative;
    z-index: 2;
    max-width: $MediumDevices;
    margin: 0 auto;
  }
}

/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
#buddypress {
  #message-threads {
    border: 1px solid $theme-color;

    tr.unread td {
      background: #fff9db;
      border-top: 1px solid #ffe8c4;
      border-bottom: 1px solid #ffe8c4;
      font-weight: bold;

      .thread-excerpt,
      .activity,
      &.thread-options {
        font-weight: normal;
      }
    }

    th.thread-options,
    td.thread-options {
      width: 20%;
      text-align: center;
    }

    td {
      padding: 10px;
    }

    .thread-from {
      @include padding-start(50px);
      line-height: 1.5;

      a {
        line-height: 1;
      }
    }

    img.avatar {
      margin-bottom: -10px;
      @include margin_end(5px);
      @include margin-start(-35px);
    }

    @include break(sd-min) {
      .thread-from {
        @include padding-start(10px);
      }

      img.avatar {
        display: none;
      }
    }

    span.activity {
      padding: 3px 0;
      font-size: 80%;
      line-height: 1;
      display: block;
    }

    .bulk-select-all,
    .bulk-select-check {
      @include border-end(1px solid $theme-color);
    }
  }

  li span.unread-count,
  tr.unread span.unread-count {
    background: #dd0000;
    color: #fff;
    font-weight: bold;
    padding: 2px 8px;
  }

  .item-list-tabs ul li a span.unread-count {
    padding: 1px 6px;
    color: #fff;
  }

  #message-thread {
    .message-box {
      margin: 0;
      padding: 15px;
    }

    .alt {
      background: rgba(#000000, 0.05);
    }

    p#message-recipients {
      margin: 10px 0 20px 0;
    }

    #send-reply {
      background: rgba(#000000, 0.03);
      padding-top: 15px;
      margin-top: 30px;
    }

    img.avatar {
      @include float_start();
      margin: 0 10px 0 0;
      vertical-align: middle;
      border-radius: 50%;
    }

    strong {
      font-size: 100%;
      margin: 0;

      a {
        text-decoration: none;
      }

      span.activity {
        margin-top: 4px;
      }
    }

    .message-metadata {
      overflow: hidden;
    }

    .message-content {
      @include margin-start(45px);
    }

    .message-options {
      @include text_align_end();
    }
  }

  #message-threads img.avatar {
    max-width: none;
    border-radius: 50%;
  }

  .message-search {
    @include float_end();
  }

  .message-metadata {
    position: relative;
  }

  .message-star-actions {
    position: absolute;
    @include end(0);
    top: 0;
  }

  #send_message_form {
    label {
      margin-bottom: 5px;
    }

    input[type="text"],
    textarea {
      margin-bottom: 15px;
    }

    ul.acfb-holder li {
    }
  }
}

/*--------------------------------------------------------------
 * Stars :: fav/unfav activity - fav messages
--------------------------------------------------------------*/
#buddypress {
  a {
    &.fav,
    &.unfav {
      position: absolute;
      @include end(0);
      top: 0;
      font-size: 0;
      color: transparent;

      &.loading {
        animation: fa-spin 1.5s infinite linear;

        &:after {
          content: "\f110";
        }
      }
    }

    &.fav,
    &.unfav,
    &.message-action-star,
    &.message-action-unstar {
      &:after {
        font-family: $FontAwesome;
        font-weight: 900;
        content: "\f006";
        @include font-size(13px);
      }
    }

    &.unfav,
    &.message-action-unstar {
      &:after {
        content: "\f005";
        color: $theme-color;
      }
    }
  }
}

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/

#buddypress {
  .profile {
    .bp-widget {
      margin-bottom: 30px;
      position: relative;
      padding-bottom: 50px;
      border-bottom: 1px solid $border-color;

      &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 20px;
      }
    }

    h4 {
      padding: 10px 0;
      margin-bottom: 0;
    }

    .profile-fields {
      border: 0;
      padding-top: 10px;
      position: relative;

      &:before {
        content: "";
        background-color: $border-color;
        position: absolute;
        @include start(14px);
        height: 100%;
        width: 2px;
      }

      tr {
        padding: 10px;

        td {
          display: block;

          &.data {
            padding: 0 0 20px 40px;

            p {
              @include padding-start(0);
            }
          }
        }
      }

      tr,
      tr:nth-child(even),
      tr td,
      tr:nth-child(even) td {
        background: transparent;
        border: 0;
      }

      .label {
        @include border-end(0);
        vertical-align: top;
        @include padding-start(40px);
        position: relative;
        color: $theme-color;
        width: 100%;

        &:before {
          content: "";
          background-color: #FFFFFF;
          border: 3px solid $border-color;
          box-sizing: content-box;
          position: absolute;
          @include start(2px);
          top: 16px;
          height: 20px;
          width: 20px;
          border-radius: 99rem;
          transition: all 320ms ease-out;
        }

        &:hover {
          &:before {
            border-color: $theme-color;
          }
        }

      }

      p {
        @include padding-start(15px);
      }
    }
  }
}

#profile-edit-form {
  h4 {
    border: 0;
  }

  > h2 {
    margin-bottom: 20px;
  }

  ul.button-nav {
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    max-height: 42px;

    li {
      margin-bottom: 0;
      position: relative;
      z-index: 2;
      display: inline-block;

      a {
        display: inline-block;
        padding: 0 10px;
        line-height: 40px;
        background-color: rgba(#000000, 0.03);

        &:hover {
          background-color: transparent;
        }
      }

      &.current {
        a {
          background-color: transparent;
          color: $theme-color;
        }
      }
    }
  }

  .editfield {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid $border-color;
    border-radius: $base-border-radius;
    background-color: rgba(#000000, 0.02);
  }

  label {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

#buddypress .bp-cover-image {
  margin-top: 10px;
}

body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
  display: none;
}

#buddypress .field-visibility-settings {
  display: none;
  margin-top: 10px;
}

body.no-js #buddypress .field-visibility-settings {
  display: block;
}

#buddypress .current-visibility-level {
  font-weight: bold;
  font-style: normal;
}

#buddypress .visibility-toggle-link,
#buddypress .field-visibility-settings-close {
  padding: 2px 5px;
}

#buddypress .field-visibility-settings-close {
  margin-top: 10px;
}

#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
  color: #767676;
  margin-top: 10px;

  a {
    font-size: 80%
  }
}

body.register #buddypress .page ul {
  list-style: none;
}

#buddypress .standard-form .field-visibility-settings label {
  margin: 0;
  font-weight: normal;
  padding: 5px 10px;
  margin-bottom: 5px;
}

#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
  font-style: italic;
}

#buddypress .field-visibility-settings .radio {
  list-style: none;
  margin-bottom: 0;
}

#buddypress .field-visibility select {
  margin: 0;
}

#buddypress .wp-editor-container {
  border: 1px solid #dedede;
}

#buddypress .html-active button {
  &.switch-html {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #f5f5f5;
  }

  &.switch-tmce {
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: #f5f5f5;
  }
}

#buddypress .standard-form .wp-editor-container textarea {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/
.widget.buddypress {
  #groups-list,
  #members-list,
  #friends-list {
    border-top: 0;
    @include margin-start(0);
    @include padding-start(0);

    li {
      width: 100%;
      padding: 0;
      clear: both;
      list-style-type: none;

      &:last-child {
        padding: 0;
      }

      .item {
        @include margin-start(60px);
      }
    }
  }
}

.widget.buddypress .item-avatar img.avatar {
  @include float_start();
  margin: 0 10px 15px 0;
}

.widget.buddypress {
  span.activity {
    display: inline-block;
    font-size: small;
    opacity: 0.8;
    padding: 0;
  }

  .item-options {
    padding: 15px 0;
    position: relative;
    z-index: 1;
    float: none;
    margin-top: -15px;
    margin-bottom: 5px;
    color: transparent;

    a {
      border: 1px solid $theme-color;
      border-radius: $base-border-radius;
      padding: 0 6px;
      @include margin_end(5px);
      margin-bottom: 10px;
      display: inline-block;

      &.selected,
      &.loading {
        background: $theme-color;
        border-color: $theme-color;
        color: color-contrast($theme-color) !important;
      }
    }

    span {
      display: none;
    }
  }

  .avatar {
    border-radius: 50%;
  }
}

#buddypress .widget ul.item-list {
  margin-bottom: 0;
}

.widget.widget_bp_core_friends_widget {
  .item-options {
    a {
      @include margin-start(0);
      @include margin_end(5px);
    }
  }
}

.widget.buddypress .item {
  @include margin-start(60px);
}

.widget.buddypress li:not(:last-child) .item {
  padding-bottom: 15px;
}

.widget.buddypress .item-meta,
.widget.buddypress .item-content {
  font-size: 11px;
  line-height: 12px;
}

.widget.buddypress ul.item-list img.avatar {
  height: 40px;
  @include margin_end(10px);
  width: 40px;
}

.widget.buddypress .item-avatar img {
  height: 40px;
  margin: 1px;
  width: 40px;
}

.widget.buddypress .avatar-block {
  overflow: hidden;
}

.widget.buddypress #bp-login-widget-form {
  overflow: hidden;

  label {
    display: block;
    margin: 0 0 10px;
  }

  input[type="text"],
  input[type="password"] {
    width: 100%;
    margin-bottom: 10px;
  }

  #bp-login-widget-submit {
    @include float_end();
    margin-top: 10px;
    width: 100%;
  }

  .forgetmenot {
    @include float_start();
  }

  .bp-login-widget-register-link {
    width: 100%;
    @include float_start();
    text-align: center;
    margin-top: 10px;
  }
}

.widget.buddypress .bp-login-widget-user-avatar {
  @include float_start();
}

.bp-login-widget-user-avatar img.avatar {
  height: 40px;
  width: 40px;
}

.widget.buddypress .bp-login-widget-user-links > div {
  @include padding-start(60px);
}

.widget.buddypress .bp-login-widget-user-links > div {
  margin-bottom: .5rem;
}

.widget.buddypress .bp-login-widget-user-links > .bp-login-widget-user-link a {
  font-weight: bold;
}

.widget_bp_core_sitewide_messages {
  .bp-site-wide-message {
    #message {
      margin-bottom: 0;

      #buddypress & {
        margin-bottom: 0;
      }
    }
  }
}

/*--------------------------------------------------------------
 * Group List - memebers list
--------------------------------------------------------------*/
#buddypress {
  #groups-list,
  #member-list,
  #members-list {
    @include margin-start(-15px);
    @include margin_end(-15px);
    width: auto;
    border: 0;
    overflow: hidden;

    > li {
      margin: calc(10% / 6);
      @include float_start();
      width: 30%;
      padding: 30px 10px;
      text-align: center;

      @media only screen and (max-width: 768px) {
        width: 45%;
        margin: 2.5%;
      }

      .has-sidebar &:nth-child(3n + 1) {
        @include clear_start();
      }

      @media only screen and (min-width: 992px) {
        .full-width & {
          width: 22%;
          margin: calc(12% / 8);

          &:nth-child(4n + 1) {
            @include clear_start();
          }
        }
      }
      .item {
        @include margin-start(0);
      }
    }

    @media only screen and (max-width: 480px) {
      @include margin-start(0);
      @include margin_end(0);

      > li {
        width: 100%;
        margin: 0 0 30px;
      }
    }

    .item-avatar {
      &, a {
        width: 100%;
        display: block;
      }
    }

    .item-avatar img,
    .avatar {
      float: none;
    }

    .item-title {
      width: 100%;
      margin-top: 10px;
      font-size: 100%;
    }

    span.activity {
      display: inline-block;
      color: #bbb;
    }

    .item-desc {
      margin: 10px 0 0;
      border: 0;
    }
    .action {
      position: relative;
      top: 10px;
      text-align: center;

      a {
        display: inline-block;
      }
    }
  }

  #member-list,
  #members-list {
    li {
      > a {
        width: 100%;
        text-align: center;

        img {
          float: none;
        }
      }

      .item-title {
        .update {
          display: block;
        }
      }

      h5 {
        margin: 0;
      }

      .action {
        float: none;
      }

      span.small {
        a {
          margin: 5px;
        }
      }
    }
  }
}

header.buddypress-header-outer {
  background: $section-bg-color;
  border-bottom: 1px solid $theme-color;
  padding: 25px 0;

  #breadcrumb {
    margin-top: 25px;
  }

  .entry-header {
    padding: 10px 0;
    margin-bottom: 0;
    border-width: 0;

    h1 {
      margin-bottom: 0;
    }
  }

  @media only screen and (max-width: 768px) {
    padding-top: 0;
  }
}

/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
4.1 - tablet
--------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #buddypress {
    .message-search,
    .dir-search {
      float: none;
      margin-bottom: 30px;

      input[type="text"] {
        width: 100%;
      }

      input[type="submit"] {
        width: 100%;
        margin-top: 30px;
      }
    }

    .message-search {
      margin: 20px 0 0;
    }

    .standard-form {
      .left-menu {
        width: 100%;
      }

      #invite-list {
        width: 100%;
        height: 186px;
      }

      .main-column {
        @include margin-start(0);
      }
    }
  }
}

/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  a.bp-title-button {
    @include margin-start(10px);
  }
}

/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
  #buddypress #groups-order-select {
    @include clear_start();
    @include float_start();

  }
  #buddypress ul.item-list li .action {
    @include clear_start();
    @include float_start();
    margin-top: 0;
    @include margin-start(70px);
    position: relative;
    top: 0;
    @include end(0);
    @include text_align_start();
  }
  #buddypress ul.item-list li .item-desc {
    @include clear_start();
    @include float_start();
    margin: 10px 0 0;
    width: auto;
  }
  #buddypress li .item {
    @include margin-start(70px);
    width: auto;
  }
  #buddypress ul.item-list li .meta {
    margin-top: 0;
  }
  #buddypress .item-desc p {
    margin: 0 0 10px;
  }
  #buddypress .pagination .pag-count {
    @include margin-start(0);
  }
}

/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
@media only screen and (max-width: 240px) {
  #buddypress #groups-order-select {
    @include float_start();
  }
  #buddypress ul.item-list li img.avatar {
    width: 30px;
    height: auto;
  }
  #buddypress ul.item-list li .action,
  #buddypress li .item {
    @include margin-start(45px);
  }
  h1 a.bp-title-button {
    @include clear_start();
    @include float_start();
    margin: 10px 0 20px;
  }
}

/*--------------------------------------------------------------
4.2 - Avatar
--------------------------------------------------------------*/

body {
  #drag-drop-area {
    border: 2px dashed $border-color;
  }

  #buddypress p.warning,
  body.profile_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning,
  body.users_page_bp-profile-edit.modal-open #TB_ajaxContent p.warning {
    background-color: $warning-color;
    color: $warning-color-txt;
    padding: px-to-rem($sp_conected_elms - 5) px-to-rem($sp_conected_elms);
    border: none;
    font-size: 100%;
    a {
      border-bottom: 1px dotted $warning-color-txt;
    }
  }
}