$quote_size: 16;
blockquote {
  position: relative;
  margin: 1.3em 0;
  line-height: px-to-em(20);
  color: $header-font-color;
  //padding: px-to-em(30);
  padding: sp_dima($sp_elms, $quote_size, 20) px-to-rem($sp_elms);
  @include box-shadow(0px 0px 0px 1px $border-color);
  @include border-start(5px solid $theme-color);

  svg {
    fill: $theme-color;
  }

  > span {
    color: $theme-color;
    svg {
      fill: currentcolor;
    }
  }

  p {
    font-size: px-to-rem($quote_size);
    line-height: px-to-rem(34, $quote_size);
    color: $header-font-color;
    position: relative;
    overflow: hidden;
  }
  a {
    color: $header-font-color;
    &:hover {
      color: $header-font-color;
    }
  }

  cite {
    display: block;
    font-size: px-to-rem($base-font-size);
    line-height: px-to-rem($base-font-size);
    @if ($global-direction == "rtl") {
      letter-spacing: 0;
    } @else {
      letter-spacing: 0.05em;
    }
    color: rgba($body-text-color, .6);
    margin-top: px-to-em(10);
    font-style: normal;
    a {
      color: $body-text-color;
      &:visited {
        color: $body-text-color;
      }
    }
    &:before {
      content: "-";
    }
  }

  &.blog-style {
    @include border-start(none);
    position: relative;
    display: block;
    padding: sp_dima($sp_elms, $quote_size, 20) px-to-rem($sp_elms);
    border: 5px solid $border-color;
    @include margin-start(px-to-rem($sp_blocks));
    cite {
      display: inline-block;
    }
  }
  &.sample-quote,
  &.post-quote {
    span {
      svg {
        position: relative;
        @include float_start();
        height: 48px;
        width: 48px;
        top: -6px;
        @include margin-end(10px);
        @include start(-8px);
      }
    }
  }
  &.sample-quote {
    @include box-shadow(none);
    border: none;
    padding: 0;
  }

}

article {
  blockquote {
    margin: 0;
  }
}

.dima-blockquote {
  > span {
    @include float_start();
    position: relative;
    fill: $header-font-color;
    height: 48px;
    width: 48px;
    top: -14px;
    @include start(-8px);
  }
  &.single-blockquote {
    margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
  }
}

.dark-bg {
  blockquote > span svg {
    fill: #ffffff;
  }
}

// +Noor RESPONSIVE
@include break(sd-max) {
  blockquote.blog-style {
    @include margin-start(0);
  }
  .dima-blockquote > span {
    top: -45px;
    @include start(-8px);
  }
}