pre code {
  @extend %normal-wrap;
  @include white-space(pre-wrap);
}

pre {
  @include white-space(pre);
}



code, pre {
  font-family: Monospace;
  color: $code-color;
  border: 1px solid $border-color;
  background-color: $code-bg;
  max-width: 100%;
  display: inline-block;
  overflow: auto;
  vertical-align: middle;
  line-height: 1.3;
  padding: 0 2px;
}

pre {
  display: block;
  padding: 0.786em px-to-em(15);
  margin: 0 0 px-to-em(30);
  line-height: $base-line-height+px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: $pre-bg;
  @include box-shadow(inset px-to-em(5) 0 0 0 $border-color);
  code {
    color: $code-color;
    background-color: $code-bg;
    font-size: 1em;
    padding: 0;
    border: 0;
    overflow: hidden;
  }
}

code {
  @include white-space(pre);
  font-family: monospace;
}