.dropcap {
  position: relative;
  top: 5px;
  display: block;
  @include float_start();
  @include margin-end(px-to-rem(20));
  width: px-to-rem(70);
  height: px-to-rem(70);
  font-size: px-to-rem(45);
  @if ($global-direction == "rtl") {
    line-height: px-to-rem(60);
  } @else {
    line-height: px-to-rem(71);
  }
  &.dropcap-1 {
    text-align: center;
    color: $theme-color;
    @include box-shadow(0px 0px 0px 5px $border-color);
  }

  &.dropcap-3 {
    background: $theme-color;
    color: $second-theme-color;
    text-align: center;
  }

}