html {
  font-size: $base-font-size+px;
  line-height: $base-line-height+px;
  font-family: $font-family-base;
  font-weight: $font-weight-regular;
  @include text_align_start;
  -webkit-font-smoothing: antialiased;
}

html, body {
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-kerning: normal;
  -moz-font-kerning: normal;
  font-kerning: normal;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga", "kern";
  font-feature-settings: "liga", "kern";
}

body {
  direction: $global-direction;
  color: $body-text-color;
  background-color: $body-bg-color;
  line-height: $base-line-height+px;
  background-repeat: repeat;
  background-attachment: fixed;
  overflow-x: hidden;
  background-position: 0 0;
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  color: $header-font-color;
  text-rendering: optimizeLegibility;
  margin-bottom: .5em;
  a {
    color: $header-font-color;
    &:hover {
      color: $header-font-color;
    }
  }
}

a {
  h1, h2, h3, h4, h5, h6 {
    color: $header-font-color;
  }
  &:hover {
    h1, h2, h3, h4, h5, h6 {
      color: $header-font-color;
    }
  }
}

.dima-custom-heading {
  i {
    @include margin-end(15px);
  }
  svg {
    stroke: currentColor;
    height: 100%;
  }
  @at-root {
    h1#{&} {
      svg {
        width: px-to-rem($h1 - 10);
      }
    }

    h2#{&} {
      svg {
        width: px-to-rem($h2 - 10);
      }
    }

    h4#{&} {
      svg {
        width: px-to-rem($h4 - 5);
      }
    }

    h5#{&} {
      svg {
        width: px-to-rem($h5 - 5);
      }
    }

    h6#{&} {
      svg {
        width: px-to-rem($h6 - 5);
      }
    }
  }

}

.article {
  h3, h4, h5, h6 {
    padding: 1.5em 0 .5em;
  }
}

p {
  font-size: $base-font-size+px;
  line-height: $base-line-height+px;
  font-family: $font-family-base;
  font-weight: $p-weight;
  color: $body-text-color;
  margin-bottom: sp_dima($sp_conected_elms, $base-font-size, $base-line-height);
  letter-spacing: 0.01em;
  word-spacing: 0.01em;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

caption {
  font-size: px-to-rem($base-font-size)
}

small {
  font-size: px-to-rem($base-font-size - 2)
}

a {
  color: $body-link-color;
  text-decoration: none;
  font-weight: $font-weight-regular;
  outline: 0;
  line-height: inherit;
  max-width: 100%;
  max-width: none \9
;
  &:hover {
    color: $body-link-hover-color;
  }
}

a:hover, a:focus, a:visited {
  outline: 0;
}

p a, p a:visited {
  line-height: inherit;
}

//Highlighted Colors
::-webkit-selection {
  background-color: $theme-color;
  color: #FFFFFF;
}

::-moz-selection {
  background-color: $theme-color;
  color: #FFFFFF;
}

::selection {
  background-color: $theme-color;
  color: #FFFFFF;
}

body {
  @extend %breakword;
}

abbr[title], acronym {
  cursor: help;
  border-bottom: 1px dashed #E1E1E1;
  text-decoration: none !important;
}

big {
  font-size: larger;
}

em, cite {
  font-style: italic;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
  vertical-align: super;
  font-size: smaller;
}

sub, sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

.bg-dark {
  h1, h2, h3, h4, h5, h6 {
    color: #ffffff !important;
  }
}

@include break(sd-min) {
  .title_container.center-style .header-title,
  h1 {
    font-size: px-to-rem(35);
    &.dima-custom-heading svg {
      width: px-to-rem(30);
    }
  }
  h2 {
    font-size: px-to-rem(31);
    &.dima-custom-heading svg {
      width: px-to-rem(25);
    }
  }
  h3 {
    font-size: px-to-rem(24);
  }
  h4 {
    font-size: px-to-rem(20);
  }
  h5 {
    font-size: px-to-rem(14);
  }
  h6 {
    font-size: px-to-rem(12);
  }
}