ul {
  &.icon-list {
    margin: 0 !important;
    @include padding-start(0 !important);

    li {
      position: relative;
      overflow: hidden;
      margin-bottom: 5px;
      @include padding-start(px-to-rem(30));
      line-height: $base-line-height+px;
      list-style: none;
      i {
        position: absolute;
        @include start(0);
        text-align: center;
        top: 8px;
        font-size: 15px;
      }
      svg {
        fill: currentColor;
        position: absolute;
        @include start(0);
        text-align: center;
        top: 7px;
        width: 17px;
        height: 17px;
      }
    }
  }

  &.with-border {
    margin: 0;
    &.dotted-border {
      li {
        border-bottom: 1px dotted $border-color;
      }
    }

    &.dashed-border {
      li {
        border-bottom: 1px dashed $border-color;
      }
    }

    &.first {
      li {
        border: none;
        padding: 0;
      }
      > li {
        border-bottom: 1px solid $widget-border-color;
        display: block;
        padding: sp_dima($sp_elms, $base-font-size, $base-line-height) 0;
        overflow: hidden;
      }
    }

    > li {
      display: block;
      padding: sp_dima($sp_elms, $base-font-size, $base-line-height) 0;
      overflow: hidden;
      border-bottom: 1px solid $widget-border-color;

      strong {
        font-weight: bold;
        color: $header-font-color;
      }
      &:last-child {
        padding-bottom: px-to-rem(sp_dima($sp_elms, $base-font-size, $base-line-height)) !important;
      }
      &:first-child {
        padding-top: 0;
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  ul.children {
    @include padding-start(20px !important);
    margin-bottom: -20px;
  }

  &.list-style {
    margin: 0 !important;
    @include padding-start(0 !important);
    li {
      position: relative;
      overflow: hidden;
      margin-bottom: 10px;
      @include padding-start(px-to-rem(30));
      list-style: none;

      &:before {
        content: "\f111";
        font-family: $FontAwesome;
        font-weight: 900;
        position: absolute;
        top: 0;
        @include start(0);
        font-size: 12px;
        color: $theme-color;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &.no-icon {
        &:before {
          content: "";
        }
      }
    }
  }

  &.stars {
    li {
      &:before {
        content: "\f005";
      }
    }
  }
  &.circle_list {
    li {
      @include padding-start(px-to-rem(25));
      &:before {
        @include start(1px);
        font-size: 8px;
      }
    }
  }

  &.angle {
    li {
      &:before {
        @if $global-direction == "ltr" {
          content: "\f054";
        } @else {
          content: "\f053";
        }

      }
    }
  }

  &.check {
    li {
      &:before {
        content: "\f00c";
      }
    }
  }

  &.thumb-tack {
    li {
      &:before {
        content: "\f08d";
      }
    }
  }
}

ul, ol {
  padding: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

ol {
  list-style: decimal;
}

ul {
  list-style: none;
}

dt {
  font-weight: $h-weight;
}

dd {
  @include margin-start(25px);
}

.dima-click-dropdown {
  position: relative;
  &.active {
    > div {
      top: 0;
      height: auto;
      max-height: 600px;
      opacity: 1;
      visibility: visible;
      transform: scaleY(1) translateY(-10%);
    }
    > a span {
      display: block;
    }
  }
  > a {
    position: relative;
    display: block;
    min-width: px-to-rem(250);
    line-height: px-to-rem(50);
    @if $global-direction == "ltr" {
      padding: 0 100px 0 20px;
    } @else {
      padding: 0 20px 0 100px;
    }
    color: $header-font-color;
    background-color: rgba($second-border-color, .2);;
    transform: perspective(0px);
    transition: all .3s ease;
    span {
      display: none;
      position: fixed;
      top: -3000px;
      bottom: -3000px;
      left: -3000px;
      right: -3000px;
      z-index: 5;
    }
    &:before {
      content: '';
      position: absolute;
      @include end(px-to-rem(20));
      top: 50%;
      border: solid transparent;
      border-width: 0.3571428571rem 0.3571428571rem 0;
      border-top-color: #333333;
    }
  }
  > div {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    background-color: rgba($second-border-color, .2);;
    height: auto;
    min-width: px-to-rem(250);
    max-height: px-to-rem(100);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 7;
    transform: scaleY(.5) translateY(0);
    transform-origin: 50% 50%;
    transition: all .3s ease-in-out;
    ul {
      position: relative;
      margin-bottom: 0;
      max-height: 600px;
      list-style: none;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: #FFFFFF;
      li {
        overflow: hidden;
        line-height: px-to-rem(50);
        padding: 0 px-to-rem(15);
        color: $header-font-color;
        background: #F8F8F8;
        transition: background .3s ease-in-out, color .3s ease-in-out, border .3s ease-in-out;
        margin-bottom: 1px;
        &:hover {
          background-color: #ececec;
        }
        a {
          display: block;
          color: inherit;
        }
      }
    }
  }
}

.post-content ol,
.post-content ul {
  //margin-bottom: px-to-rem($sp_elms_sd);
  @include padding-start(px-to-rem($sp_elms_sd));
  @include margin-start(px-to-rem(5));
}