%h1 {
  font-size: px-to-rem($h1);
  line-height: px-to-em($h1_lh, $h1);
  @if ($global-direction == "rtl") {
    letter-spacing: 0;
  } @else {
    letter-spacing: 0.05em;
  }
  font-weight: $h2-weight;
}

%h2 {
  font-size: px-to-rem($h2);
  line-height: px-to-em($h2_lh, $h2);
  font-weight: $h2-weight;
}

%h3 {
  font-size: px-to-rem($h3);
  line-height: px-to-em($h3_lh, $h3);
  @if ($global-direction == "rtl") {
    letter-spacing: 0;
  } @else {
    letter-spacing: 0.025em
  }
  font-weight: $h3-weight;
}

%h4 {
  font-size: px-to-rem($h4);
  line-height: px-to-em($h4_lh, $h4);
  @if ($global-direction == "rtl") {
    letter-spacing: 0;
  } @else {
    letter-spacing: 0.025em
  }
  font-weight: $h4-weight;
}

%h5 {
  font-size: px-to-rem($h5);
  line-height: px-to-em($h5_lh, $h5);
  letter-spacing: 0.01em;
  font-weight: $h5-weight;
}

%h6 {
  font-size: px-to-rem($h6);
  line-height: px-to-em($h6_lh, $h6);
  font-weight: $h6-weight;
}