// Menu of categories filters
.filters {
  display: block;
  text-align: center;
  margin-bottom: sp_dima($sp_small, $base-font-size, $base-line-height);
  ul {
    padding: 0;
    margin: 0;
    li {
      cursor: pointer;
      a {
        color: $header-font-color;
        font-weight: $p-weight;
        height: auto;
        box-shadow: none;
        @include transition(color .2s ease-in);
        &:hover {
          color: $theme-color;
          text-decoration: none;
        }
      }
    }
  }
}

//  Style Two
.filters-box {
  &.filters {
    ul {
      border: none;
      margin: 0;
      li {
        position: relative;
        display: inline-block;
        a {
          color: $header-link-color;
          display: inline-block;
          width: 100%;
          padding: 0 25px 0 25px;

          &:hover {
            color: $theme-color;
            span {
              color: $theme-color;
            }
          }
        }
        span {
          color: #ccc;
          position: absolute;
          top: -12px;
          @include end(12px);
          @include transition(color .2s ease-in);
        }
      }
      .current {
        a {
          color: $theme-color;
        }
      }
    }
  }
}

@include break(sd-min) {
  .filters-box.filters ul {
    border: none;
    margin: 0 auto;
    width: 95%;
  }
}

@include break(xsd-min) {
  .filters-box {
    &.filters {
      margin-bottom: sp_dima($sp_small_sd, $base-font-size, $base-line-height);
    }
  }
}