////******************************************************************************************/
// PROTFOLIO /
////******************************************************************************************/

$protfolio-border: 0px;

.dima-isotope-container {
  &.isotope-with-margin {
    margin: 0 -15px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    .isotope-item {
      border-top: 0 solid transparent;
      @include border-end(15px solid transparent);
      @include border-start(15px solid transparent);
      border-bottom: 30px solid transparent;
      background-clip: padding-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }
  }
}

.isotope-item {
  //overflow: hidden; it mak issue with blog and shop slide
  @include border-start($protfolio-border solid #fff);
  border-bottom: $protfolio-border solid #fff;
  @include box-sizing(content-box);
  margin: 0;
  padding: 0 !important;
  &[class*="ok-xsd"],
  &[class*="ok-sd"],
  &[class*="ok-md"],
  &[class*="ok-ld"],
  &[class*="ok-xld"] {
    margin-bottom: 0;
  }
  .work-item {
    width: 100%;
    z-index: 45;
    position: relative;
    img {
      @include box-shadow(inset 0px -10px 0px #fff);
      width: 100%;
      @if $border-radius != 0 {
        @include border-radius($border-radius);
      }
    }
    .project-info {
      margin-top: 15px;

      .porftfolio-cat {
        margin: 0;
        color: $header-link-color;
        @include padding-start(0);
        li {
          display: inline-block;
          a {
            color: $header-link-color;
            &:hover {
              color: $header-font-color;
            }
          }
          .sep {
            padding: 0 1px;
          }
          &:last-child {
            .sep {
              display: none;
            }
          }
        }

      }
    }

    &.dima_title_btm {
      .project-info {
        .project-name {
          margin-bottom: 5px;
        }
        .dima-divider {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }

    &.dima_go_inside {
      .project-info {
        position: absolute;
        bottom: px-to-rem($sp_elms - 10);
        @include start(px-to-rem(30));
        overflow: hidden;
      }
      .project-name {
        margin-bottom: sp_dima($sp_conected_elms, $h5, $h5_lh + 10);
      }
      .porftfolio-cat,
      .project-name {
        opacity: 0;
        transform: translateY(125%);
        transition: transform 0.6s, opacity 0.6s;
      }
    }
    &:hover {
      &.dima_go_inside {
        .project-name {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.1s;
        }
        .porftfolio-cat {
          opacity: 1;
          transform: translateY(0);
          transition-delay: 0.3s;
        }
      }
    }
  }
}

.portfolio-body {
  padding-bottom: px-to-rem(50);
}

.details-right,
.details-left {
  .info-content {
    padding-bottom: sp_dima($sp_blocks, $base-font-size, $base-line-height);
  }
}

.dima-full-width-active {
  .details-modern {
    margin-top: sp_dima($sp_small, $base-font-size, $base-line-height);;
  }
}

.details-modern {
  p {
    margin-bottom: sp_dima($sp_elms, $base-font-size, $base-line-height);
  }
}

.classic-on-bottom {
  margin-top: sp_dima($sp_blocks, $base-font-size, $base-line-height);
}

.details-box {
  .detail-container {
    display: table;
    table-layout: fixed;
    padding-bottom: 10px;
    word-break: break-all;
    &:last-child {
      padding-bottom: 0;
    }
  }
}

.detail-container .detail-value {
  display: table-cell;
  position: relative;
  svg {
    position: absolute;
    fill: $header-font-color;
    width: 24px;
    top: -9px;
    + a {
      @include padding-start(px-to-rem(30));
    }
  }
}

.detail-container .detail-label {
  min-width: 108px;
  display: table-cell;
}

.detail-label {
  color: $header-font-color;
  font-weight: 400;
}

.section.related-portfolio {
  background-color: $section-bg-color;
}

////****************************/
//   Cases 4 Column Portfolio   //
////****************************/

.column_4 {
  display: block;
}

// Responsive
@media only screen and (max-width: 1280px) and (min-width: 800px) {
  .dima-container {
    &.full {
      .dima-isotope-container.clm-4 .isotope-item {
        width: 33.333332%;
      }
    }
  }
}